<!DOCTYPE html>
<html>
<head>
    #set($version="201709291526")
    #set($commonUrl="https://f.51fanbei.com/h5")
    <title>国庆提钱玩</title>
    <link rel="stylesheet" type="text/css" href="/dist/css/app/getmymoney.css?version=$version">
</head>
<body>
  <div class="content">
    <div class="borrowmoney"></div>
    <div id="getmymoney">
      <div class="bg1"></div>
      <div class="bg2">
      </div>
      <div class="bg3">
        <div class="roll">
          <ul>
          </ul>
        </div>
        <div class="rule">
          每日成功借钱的第10、100、1000、10000名用户，不管你借多少！通通免掉！
        </div>
      </div>
      <div class="bg4">
        <div class="content">
          <div class="tit"></div>
          <div class="body">
            <p>1.活动时间2017年10月1日-8日；</p>
            <p>2.活动期间，每日成功借钱的第10、100、1000、10000名用户，将给予免单奖励；</p>
            <p>3.获得借钱免单奖励的用户，系统会自动发放相应账单全额还款抵扣金，还款时即可选择抵扣；</p>
            <p>4.活动期间禁止任何作弊行为，包括但并不限于通过软件进行批量操作、刷单等行为，一经发现平台将有权取消其奖励；</p>
            <p>5.本活动最终解释权归爱上街所有，如有疑问，请拨打客服热线400-002-5151或联系在线客服咨询。</p>
          </div>
        </div>
      </div>
      <div class="bg5">
      </div>
    </div>
  </div>


  <script>
    const prearr = [
      '18069770724',
      '13735249428',
      '17602119265',
      '13033616513',
      '13043486766',
      '18368035253',
      '18758014805',
      '15869186137',
      '17839218825',
      '13067764915',
      '15839790051',
      '18155379075',
      '18258023758',
      '18557515753',
      '13735497028',
      '18868876946',
      '13175074311',
      '15858176131',
      '15968196088',
      '13735401056',
      '13588469645',
      '15990182307',
      '18730627127',
      '18142012081',
      '18705182249',
      '18850843825',
      '15968109556',
      '18668428602',
      '13606507603'
    ]

    let changenum = (str)=>{
      let arr = str.split('')
      arr.splice(3,4,'****')
      return arr.join('')
    }

    let rolls = (prearr)=>{
      return prearr.map((a)=>{
        return '<li>恭喜'+ changenum(a) + '获得借钱免单机会</li>'
      })
    }

    let nextarr = rolls(prearr)


    let timesmp = Date.parse('2017-10-01 00:00:00')

    if(!timesmp) timesmp = Date.parse('2017/10/01 00:00:00')

    let count = (timesmp)=>{
      let nowdate = Date.parse(new Date())
      let des = nowdate - timesmp
      if( des < 0) return 1
      let oneday = 24*60*60*1000
      let fir = 2*60*1000
      let two = 1*60*60*1000
      let thr = 5*60*60*1000
      let four = 18*60*60*1000
      let days = parseInt(des / oneday)
      let last = des - days*oneday

      let sex = (last)=>{
          if(last>=four) return 4
          if(last>=thr) return 3
          if(last>=sec) return 2
          if(last>=fir) return 1
        if(last<fir) return 0
      }

      return 4*days + sex(last) + 1
    }

    let letitmove = (nextarr)=>{
      var timer = setInterval(()=>{
        $('.roll ul').animate({'top': '-=0.43rem'})
      }, 2000)

      setInterval(()=>{
        $('.roll ul').css({'top': '0.43rem'})
      }, (nextarr.slice(0, count(timesmp)).length)*2000-100)
    }


    window.onload = ()=>{
      $('.borrowmoney').on('click', ()=>{
        window.location.href="/fanbei-web/opennative?name=BORROW_MONEY"
      })
      
      $('.roll ul').append(nextarr.slice(0, count(timesmp)))

      letitmove(nextarr)
    }

  </script>
</body>
</html>

