<!DOCTYPE html>
<html lang="en">
    <head>
        #set($commonUrl="https://f.51fanbei.com/h5/app/images/sys")
		<title>提交成功</title>
        <meta charset="UTF-8">
	    <style type="text/css">
         .mobileOperator{
          margin-top: 2.4rem;
	    	}
         .kong{
             width:100%;
             height:.1rem;
             background:#eeeeee;
         }
        .mobileOperator .bgs_f {
             width: 3.72rem;
             height: 3rem;
             background: url('$commonUrl/chengg001.png') no-repeat;
             -webkit-background-size: cover;
             background-size: cover;
         }
         .mobileOperator .bgs_c {
             background: url('$commonUrl/chengg002.png') no-repeat;
             -webkit-background-size: cover;
             background-size: cover;
             display: none;
         }
        .mobileOperator p{
          margin-top: 0.6rem;
          color:#5f5c5c;
        }
        .mobileOperator_btn{
          width: 4.0rem;
          height: 0.9rem;
          line-height: 0.9rem;
          text-align: center;
          border-radius: 0.1rem;
          margin: .34rem auto 0;
          background-color: #ff6e35;
        }
        .mobileOperator_btn a{
          color: #fff;
        }
	    </style>
    </head>
    <body> 
    <input type="hidden"  id="processResult" value="$!{processResult}" name="processResult"/>
        <div class="kong"></div>
    	<div class="tac mobileOperator">
            <span class="bgs_f"></span>
            <span class="bgs_f bgs_c"></span>
            <p id="warnMsgInfo">运营商认证失败，请返回重试</p>
            <div class="mobileOperator_btn"><a href='/app/sys/authBack?fbapiNeedRefreshCurrData={"refreshStatus":"1"}'>返回信用认证</a></div>
        </div>
    </body>

    <script>
		$(function(){
            var processResult = $("#processResult").val();
            if(processResult == 'true'){
                $('#warnMsgInfo').html('运营商认证申请已提交，请耐心等待审核结果');
                $('.bgs_f').hide();
                $('.bgs_c').show();
            }
        })
	</script>
</html>
