<!DOCTYPE html>
<html>
<head>
    #set($version="201708212130")
    #set($commonUrl="https://f.51fanbei.com/h5")
    <title>吃玩住行0元享</title>
    <link rel="stylesheet" type="text/css" href="/dist/css/app/ggentry.css?version=$version">
</head>

<body>
	<div>
		<img src="https://f.51fanbei.com/h5/app/activity/09/gg1.jpg" />
		<div class="content">
			<div class="coupon">
				<div class="yuan">¥</div>
				<div class="cost">5</div>
				<div class="t1">无门槛优惠券</div>
				<div class="t2">逛逛专区通用</div>
				<img src="https://f.51fanbei.com/h5/app/activity/09/gg2.png" />
				<div class="button unpending">立即领取</div>
			</div>
			<div class="trades">
				<div class="trade ele">
					<div class="tag"></div>
					<div class="desc">
						<p>好食不贵 惠吃百味</p>
						<h4>（买外卖 拿返利）</h4>
					</div>
					<div class="button">去逛逛</div>
				</div>
				<div class="trade yiguo">
					<div class="tag"></div>
					<div class="desc">
						<p>甜蜜果香 遍寻天下鲜</p>
						<h4>（全场返利高达5%）</h4>
					</div>
					<div class="button">去逛逛</div>
				</div>
				<div class="trade lumama">
					<div class="tag"></div>
					<div class="desc">
						<p>放肆驴行 门票放价</p>
						<h4>（走的再远 也要放）</h4>
					</div>
					<div class="button">去逛逛</div>
				</div>
				<div class="trade xiecheng">
					<div class="tag"></div>
					<div class="desc">
						<p>醉美酒店 因你而魅</p>
						<h4>（全场返利1%）</h4>
					</div>
					<div class="button">去逛逛</div>
				</div>
			</div>
			<div class="rule">
				<div class="title"></div>
				<ul>
					<li>
						<p>1</p>
						<p>该通用券可与商家优惠同时享用<span>（注：因消费场景的特殊性，鲜花预定、西十区暂不能使用此券）；</span></p>
					</li>
					<li>
						<p>2</p>
						<p>此红包每个用户仅可领取1次；</p>
					</li>
					<li>
						<p>3</p>
						<p>此活动所有解释权归爱上街所有；</p>
					</li>
					<li>
						<p>4</p>
						<p>如有疑问请咨询爱上街官方：400-002-5151；</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="bottom"></div>
	</div>
<script type="text/javascript" src="/dist/js/app/ggentry.js?version=$version"></script>
</body>
</html>

