<!DOCTYPE html>
<html lang="en">

<head>
    #set($src="https://f.51fanbei.com/h5/app/activity/12")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>双12提前嗨购</title>

    <link rel="stylesheet" type="text/css" href="https://img.51fanbei.com/h5/static/swiper-3.4.2.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/activity/12/aheadDouble.css">
</head>

<body>
    <div class="main" id="main" v-cloak>
        <div class="banner"></div>
        <div class="coupon-box flex fd-column ai-c">
##            <div class="flex fd-row ai-c title-box">
##                <div class="line"></div>
##                <div class="chunk"></div>
##                <div class="line-title">福利专区</div>
##                <div class="chunk"></div>
##                <div class="line"></div>
##            </div>
            <ul class="coupon-ul flex fw-w">
                <li class="coupon-li" v-for="(item,index) in couponData" @click="couponClick(item,index)" :class="[(item.drawStatus=='N')?'coupon-active':'coupon-quiet']">
                    <div class="coupon-price">￥<span>{{item.amount}}</span></div>
                    <div class="coupon-tip">满{{item.limitAmount}}全场通用</div>
                    <div class="coupon-get">{{item.drawStatus=='Y'?'已领取':'立即领取'}}</div>
                </li>
            </ul>
        </div>
        <div class="brand-box flex fd-column ai-c">
            <div class="flex fd-row ai-c title-box">
                <div class="line line-color"></div>
                <div class="chunk line-color"></div>
                <div class="line-title line-title-color">热销品牌</div>
                <div class="chunk line-color"></div>
                <div class="line line-color"></div>
            </div>
        </div>

        <div class="good_con">
            <div class="rule"></div>
            <div class="good_tab">
                <div v-for="(tab, i) in tabs" @click="changetab(i)" class="tab" :class="nowkey == i ? 'active' : ''">
                    {{tab.tab}}
                </div>
            </div>
            <div class="goods">
                <div class="goodpi">
                    <div v-for="(item, i) in goods" class="goodeach">
                        <div v-for="good in item" @click="linkto(good)" class="good">
                            <img :src="good.img"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="https://img.51fanbei.com/h5/static/swiper-3.4.2.jquery.min.js"></script>
<!-- <script type="text/javascript" src="https://img.51fanbei.com/h5/static/jquery-2.1.4.min.js"></script> -->
<script type="text/javascript" src="/dist/js/jquery.pin.js"></script>
<script type="text/javascript" src="/dist/activity/12/aheadDouble.js?version=$version"></script>


</html>