<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="2017091102")
    <meta charset="UTF-8">
    <title>纸尿裤品牌专区</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/09/babePants.css?version=$version">
</head>
<body>
    <div id="babePants" v-cloak>
        <img class="lazy" :data-original="content.bannerUrl">
        <div class="neLevelGoods">
            <ul class="clearfix">
                <li @click="goGoodsDetail(content.oneLevelGoodsInfo.goodsList[0])">
                    <img :src="content.oneLevelGoodsInfo.goodsList[0].goodsIcon">
                    <div class="right">
                        <p class="title">{{content.oneLevelGoodsInfo.goodsList[0].goodName}}</p>
                        <div class="priceWrap">
                            <span class="saleAmount">¥{{content.oneLevelGoodsInfo.goodsList[0].saleAmount}}</span>
                            <span class="rebateAmount"><i></i>¥{{content.oneLevelGoodsInfo.goodsList[0].rebateAmount}}</span>
                        </div>
                        <p class="monthPay1" v-if="content.oneLevelGoodsInfo.goodsList[0].nperMap.isFree==='0'">月供：¥{{content.oneLevelGoodsInfo.goodsList[0].nperMap.amount}}</p>
                        <p class="monthPay1" v-if="content.oneLevelGoodsInfo.goodsList[0].nperMap.isFree==='1' || content.oneLevelGoodsInfo.goodsList[0].nperMap.isFree==='2'">月供：¥{{content.oneLevelGoodsInfo.goodsList[0].nperMap.freeAmount}}</p>
                        <span class="goBuyBtn">立即抢购</span>
                    </div>
                </li>
                <li @click="goGoodsDetail(content.oneLevelGoodsInfo.goodsList[1])">
                    <div class="right" style="float:left;">
                        <p class="title">{{content.oneLevelGoodsInfo.goodsList[1].goodName}}</p>
                        <div class="priceWrap">
                            <span class="saleAmount">¥{{content.oneLevelGoodsInfo.goodsList[1].saleAmount}}</span>
                            <span class="rebateAmount"><i></i>¥{{content.oneLevelGoodsInfo.goodsList[1].rebateAmount}}</span>
                        </div>
                        <p class="monthPay1" v-if="content.oneLevelGoodsInfo.goodsList[1].nperMap.isFree==='0'">月供：¥{{content.oneLevelGoodsInfo.goodsList[1].nperMap.amount}}</p>
                        <p class="monthPay1" v-if="content.oneLevelGoodsInfo.goodsList[1].nperMap.isFree==='1' || content.oneLevelGoodsInfo.goodsList[1].nperMap.isFree==='2'">月供：¥{{content.oneLevelGoodsInfo.goodsList[1].nperMap.freeAmount}}</p>
                        <span class="goBuyBtn">立即抢购</span>
                    </div>
                    <img :src="content.oneLevelGoodsInfo.goodsList[1].goodsIcon" style="float: right;">
                </li>
                <li @click="goGoodsDetail(content.oneLevelGoodsInfo.goodsList[2])">
                    <img :src="content.oneLevelGoodsInfo.goodsList[2].goodsIcon">
                    <div class="right">
                        <p class="title">{{content.oneLevelGoodsInfo.goodsList[2].goodName}}</p>
                        <div class="priceWrap">
                            <span class="saleAmount">¥{{content.oneLevelGoodsInfo.goodsList[2].saleAmount}}</span>
                            <span class="rebateAmount"><i></i>¥{{content.oneLevelGoodsInfo.goodsList[0].rebateAmount}}</span>
                        </div>
                        <p class="monthPay1" v-if="content.oneLevelGoodsInfo.goodsList[2].nperMap.isFree==='0'">月供：¥{{content.oneLevelGoodsInfo.goodsList[2].nperMap.amount}}</p>
                        <p class="monthPay1" v-if="content.oneLevelGoodsInfo.goodsList[2].nperMap.isFree==='1' || content.oneLevelGoodsInfo.goodsList[2].nperMap.isFree==='2'">月供：¥{{content.oneLevelGoodsInfo.goodsList[2].nperMap.freeAmount}}</p>
                        <span class="goBuyBtn">立即抢购</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="twoLevelGoods">
            <h2>更多好物</h2>
            <ul class="clearfix">
                <li v-for="item in content.twoLevelGoodsInfo.goodsList" @click="goGoodsDetail(item)">
                    <img :src="item.goodsIcon">
                    <div class="contentTxt">
                        <p class="title">{{item.goodName}}</p>
                        <div class="priceWrap">
                            <span class="saleAmount">¥{{item.saleAmount}}</span>
                            <span class="rebateAmount"><i></i>¥{{item.rebateAmount}}</span>
                        </div>
                    </div>
                    <p class="monthPay" v-if="item.nperMap.isFree==='0'">月供{{item.nperMap.amount}}起</p>
                    <p class="monthPay" v-if="item.nperMap.isFree==='1' || item.nperMap.isFree==='2'">月供{{item.nperMap.freeAmount}}起</p>
                </li>
            </ul>
        </div>
    </div>
</body>
<script type="text/javascript">
    var activityId=getUrl('activityId');
    console.log(activityId);
    new Vue({
        el:'#babePants',
        data:{
            content:{}
        },
        created:function () {
            this.init();
            loading();
        },
        methods:{
            init() {
                //获取页面初始化信息
                var self = this;
                jQuery.ajax({
                    type: 'post',
                    url: '/fanbei-web/newEncoreActivityInfo',
                    data: {'activityId': activityId},
                    success: function (data) {
                        self.content=(JSON.parse(data)).data;
                        console.log(self.content);

                        self.$nextTick(function () {
                            $(".loadingMask").fadeOut(); // 取消loading
                            $("img.lazy").lazyload({
                                placeholder : "https://f.51fanbei.com/h5/common/images/bitmap1.png",  //用图片提前占位
                                effect : "fadeIn",  // 载入使用的效果
                                threshold: 200 // 提前开始加载
                            });
                        })
                    },
                    error: function () {
                        requestMsg("哎呀，出错啦！");
                    }
                });
            },
            goGoodsDetail(item){
                console.log(item);
                if ( item.source=="SELFSUPPORT" ) {
                    window.location.href='/fanbei-web/opennative?name=GOODS_DETAIL_INFO&params={"privateGoodsId":"'+item.goodsId+'"}'
                } else {
                    window.location.href='/fanbei-web/opennative?name=GOODS_DETAIL_INFO&params={"goodsId":"'+item.goodsId+'"}'
                }
            }
        }
    })
</script>
</html>