<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="20180306")
    #set($src="https://f.51fanbei.com/h5/app/activity/11/image")
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/11/barginLogin.css?version=$version">
</head>
<body>
    <div id="login" class="login">     
        <div class="phone">
            <input maxLength=11 minLength=11 type="tel" id='yhinp' placeholder="请输入登录手机号" class="pinp">
            <!-- <span class="xxicon"><img src="$src/fork.png" alt=""></span> -->
        </div>
        <div class="pcheck phone">
            <input maxlength="18"  type="password"   placeholder="请输入密码"  class="check pinp">
            <!--<span class="checkbtn">获取验证码</span>!-->
        </div>
        <div class="loginbtn">立即登录</div>
        <div class="lspdiv">
            <span class="spl"><a id="gg_register">我要注册</a></span>
            <span class="spr"><a id="gg_forget">忘记密码</a></span>
        </div>
        <div style="height:3rem;"></div>
    </div>     
</body>
<script type="text/javascript">
    var _saber={};
</script>
<script type="text/javascript" src="/dist/js/core.js"></script>
<script type="text/javascript" src="/dist/js/md5.js"></script>
<script type="text/javascript" src="/dist/js/saber.js?version=$version"></script>
<script type="text/javascript" src="/dist/activity/11/barginLogin.js?version=$version"></script>
</body>
</html>