<!DOCTYPE html>
<html lang="en">

<head>
    #set($version="2017110102")
    #set($commonUrl="https://f.51fanbei.com/h5/app/activity/11/image")
    <meta charset="UTF-8">
    <title>砍价首页</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/11/bargin.css?version=$version">

</head>

<body>
    <div class="loadingMask"><i class="loading"></i></div>
    <div class="por" id="barginIndex">
        <div class="top-bg">
            <div class="top-pic">
                <img src="$commonUrl/bargin01.png">
                <div class="showRuleBtn" @click="showRule()">活<br>动<br>规<br>则<br>←</div>
            </div>
            <div class="main flex fd-column ai-c">
                <!-- 开奖倒计时 -->
                <div class="countdown flex fd-row">
                    <img class="cd-icon" src="$commonUrl/bargin02.png">
                    <p class="cd-txt">开奖
                        <br>倒计时</p>
                    <div class="flex fd-row ai-c ml10">
                        <div class="day flex fd-row ai-c" v-if="downTime.d>=0">
                            <div class="cd-time">{{downTime.d}}</div>
                            <span class="cd-time-txt">天</span>   
                        </div>
                        <div class="hour flex fd-row ai-c" v-if="downTime.h>=0">
                            <div class="cd-time">{{downTime.h}}</div>
                            <span class="cd-time-txt">时</span>   
                        </div>
                        <div class="minute flex fd-row ai-c" v-if="downTime.m>=0">
                            <div class="cd-time">{{downTime.m}}</div>
                            <span class="cd-time-txt">分</span>   
                        </div>
                        <div class="second flex fd-row ai-c" v-if="downTime.s>=0">
                            <div class="cd-time">{{downTime.s}}</div>
                            <span class="cd-time-txt">秒</span>   
                        </div>
                    </div>
                </div>
                <div v-for="goods in totalData.goodsList" v-if="goods.type==1">
                    <!-- 商品图片 -->
                    <div class="product-pic" @click="toProduct(goods.goodsPriceId, 'iPhone')">
                        <img class="lazy" :src="goods.thumbnailIcon">
                    </div>
                    <div class="flex jc-c fd-column">
                        <!-- 砍价部分 -->
                        <div class="product-info2">
                            <img src="$commonUrl/bargin13.png">
                            <div class="product-txt2 flex fd-column ai-c">
                                <div class="product-name2">{{goods.name}}</div>
                                <div class="product-price2 flex fd-row jc-c">
                                    <div class="price-txt" style="margin-right:.2rem;">奖品价格：<span>￥{{goods.originalPrice}}</span></div>
                                    <div class="price-txt">被砍价格：<span>￥{{goods.cutPrice}}</span></div>
                                </div>
                                <div class="flex fd-row jc-c" style="margin-top: .1rem;width: 100%">
                                    <div class="person-btns" @click="share(goods.goodsPriceId,'iPhone',goods.share)"></div>
                                    <div style="width:.5rem"></div>
                                    <div class="person-btns" @click="toList(goods.goodsPriceId)"></div>
                                </div>
                                <div class="person-num person-num3">参与人数：{{totalData.totalCount}}</div>
                            </div>
                        </div>
                        <!-- 优惠券 -->
                        <div class="coupon">
                            <ul class="coupon-ul flex fd-row jc-sb">
                                <li class="coupon-li" v-for="(clist,index) in couponData" @click="couponClick(clist,index)">
                                    <img src="$commonUrl/barginCoupon1.png" v-if="index==0">
                                    <img src="$commonUrl/barginCoupon2.png" v-if="index==1">
                                    <img src="$commonUrl/barginCoupon3.png" v-if="index==2">
                                    <div class="btn-get1" v-if="clist.state==2">点击领取</div>
                                    <div class="btn-get1" v-if="clist.state==1">已领取</div>
                                    <div class="btn-get2" v-if="clist.state==0">不可领取</div>
                                </li>
                            </ul>
                        </div>
                        <div class="progress-box flex fd-column ai-c">
                            <div>
                                <img src="$commonUrl/barginProgress0.png" v-if="firstGoods.cutCount<3">
                                <img src="$commonUrl/barginProgress1.png" v-if="firstGoods.cutCount>=3 && firstGoods.cutCount<10">
                                <img src="$commonUrl/barginProgress2.png" v-if="firstGoods.cutCount>=10 && firstGoods.cutCount<30">
                                <img src="$commonUrl/barginProgress3.png" v-if="firstGoods.cutCount>=30">
                            </div>
                            <div class="progress-txt flex fd-row jc-sa">
                                <span>3人帮砍</span>
                                <span>10人帮砍</span>
                                <span>30人帮砍</span>
                            </div>
                        </div>
                        <div class="friend-box flex fd-column ai-c">
                            <div class="ranking flex fd-column ai-c">
                                <div class="ranking-top">更多砍价商品</div>
                                <ul class="more-ul flex fd-column ai-c">
                                    <li class="flex fd-row ai-c" v-for="goods in totalData.goodsList" v-if="goods.type==0">
                                        <div class="m-product-box" @click="toProduct(goods.goodsPriceId, 'product')">
                                            <img class="m-product lazy" :src="goods.image">
                                        </div>
                                        <div class="m-right flex fd-column">
                                            <div class="mtxt1">{{goods.name}}</div>
                                            <div class="mtxt2">奖品价格：<span>￥{{goods.originalPrice}}</span></div>
                                            <div class="mtxt3">被砍价格：<span>￥{{goods.cutPrice}}</span></div>
                                            <div class="mimg1" v-if="goods.share==0" @click="share(goods.goodsPriceId, 'product',goods.share)"><img src="$commonUrl/bargin16.png"></div>
                                            <div class="mimg2 flex fd-row" v-else>
                                                <img class="btn-m1" src="$commonUrl/bargin17.png" @click="share(goods.goodsPriceId, 'product',goods.share)">
                                                <img src="$commonUrl/bargin18.png" @click="buy(goods.goodsId)">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
        <div class="shadow flex fd-column ai-c" v-show="ruleFlag" class="animated">
            <div class="rule-box flex fd-column ai-c">
                <div class="rule-title">
                    <img src="$commonUrl/bargin08.png">
                    <div>活动规则</div>
                </div>
                <ul class="rule">
                    <li>1.活动时间：2017年11月1日——2017年11月11日;</li>
                    <li>2.iPhone X与其他商品的砍价规则不同，具体细看iPhoneX 砍价页面规则;</li>
                    <li>3.砍价商品数量有限，每人只能发起5个商品砍价;</li>
                    <li>4.点击商品右上方我要砍价即可发起砍价. 发送链接至朋友圈，邀请朋友帮自己砍价;</li>
                    <li>5.单个商品每位好友只能帮你砍1次，参与砍价的活动价格最终根据你砍掉后的金额而定;</li>
                    <li>6.每个普通砍价商品，每人限购一件;</li>
                    <li>7.如发现恶意刷单等作弊行为，将取消活动资格，情节严重者并做封号处理;</li>
                    <li>8.此次活动最终解释权归爱上街所有。</li>
                </ul>
            </div>
            <div class="btn-close" @click="closeRule()"><img src="$commonUrl/barginClose.png"></div>
        </div>
        <div class="shadow flex fd-column ai-c" v-show="sureFlag" class="animated">
            <div class="tip-box2 flex fd-column ai-c">
                <div class="rule-title">
                    <img src="$commonUrl/bargin08.png">
                    <div>疯狂砍价</div>
                </div>
                <p class="tip">亲，您总共能发起<span>5个商品</span>砍价，请慎重选择!</p>
                <div class="btn-box2 flex flex-row jc-sb">
                    <div class="btn-sure" @click="shareFn()"></div>
                    <div class="btn-cancel" @click="closeSure()"></div>
                </div>
            </div>
            <div class="btn-close" @click="closeSure()"><img src="$commonUrl/barginClose.png"></div>
        </div>
        <div class="shadow flex fd-column ai-c shadow2" v-show="shareFlag" class="animated" @click="closeShare()">
            <div class="sharebox">
                <img src="$commonUrl/share.png">
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="https://img.51fanbei.com/h5/static/base64.js"></script>
<script type="text/javascript" src="/dist/activity/11/barginIndex.js?version=$version"></script>
<script type="text/javascript" src="/dist/activity/11/wxshare.js?version=$version"></script>


</html>