<!DOCTYPE html>
<html lang="en" style="font-size:50px">

<head>
    #set($version="2017110102")
    #set($commonUrl="https://f.51fanbei.com/h5/app/activity/11/image")
    <meta charset="UTF-8">
    <title>砍价榜单</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/11/bargin.css?version=$version">
</head>

<body>
    <!-- <div class="loadingMask"><i class="loading"></i></div> -->
    <div class="por" id="barginList">
        <div class="top-bg">
            <div class="top-pic">
                <img src="$commonUrl/bargin01.png">
                <div class="showRuleBtn" @click="showRule()">活<br>动<br>规<br>则<br>←</div>
            </div>
            <div class="main flex fd-column ai-c">
                <!-- 开奖倒计时 -->
                <div class="countdown flex fd-row">
                    <img class="cd-icon" src="$commonUrl/bargin02.png">
                    <p class="cd-txt">开奖
                        <br>倒计时</p>
                    <div class="flex fd-row ai-c ml10">
                        <div class="day flex fd-row ai-c" v-if="downTime.d>=0">
                            <div class="cd-time">{{downTime.d}}</div>
                            <span class="cd-time-txt">天</span>   
                        </div>
                        <div class="hour flex fd-row ai-c" v-if="downTime.h>=0">
                            <div class="cd-time">{{downTime.h}}</div>
                            <span class="cd-time-txt">时</span>   
                        </div>
                        <div class="minute flex fd-row ai-c" v-if="downTime.m>=0">
                            <div class="cd-time">{{downTime.m}}</div>
                            <span class="cd-time-txt">分</span>   
                        </div>
                        <div class="second flex fd-row ai-c" v-if="downTime.s>=0">
                            <div class="cd-time">{{downTime.s}}</div>
                            <span class="cd-time-txt">秒</span>   
                        </div>
                    </div>
                </div>
                <!-- 商品图片 -->
                <div class="product-pic">
                    <img :src="goodsData.image">
                </div>
                <div class="flex jc-c fd-column">
                    <!-- 砍价部分 -->
                    <div class="product-info">
                        <img src="$commonUrl/bargin14.png">
                        <div class="product-txt2 flex fd-column ai-c">
                            <div class="product-name2">{{goodsData.name}}</div>
                            <div class="person-num person-num2">参与人数：{{goodsData.totalCount}}</div>
                        </div>
                    </div>
                    <div class="friend-box flex fd-column ai-c">
                        <!-- 亲友团 -->
                        <div class="ranking flex fd-column ai-c">
                            <div class="ranking-top">排行榜单</div>
                            <div class="ranking-box">
                                <div class="r-title flex fd-row">
                                    <div class="rt1">排名</div>
                                    <div class="rt2">手机号</div>
                                    <div class="rt3">被砍次数</div>
                                    <div class="rt4">被砍价格</div>
                                </div>
                            </div>
                            <ul class="f-ul flex fd-column ai-c">
                                <li class="r-list flex fd-row ai-c" v-for="list in listData">
                                    <div class="rt1 flex jc-c">
                                        <img src="$commonUrl/barginList01.png" v-if="list.index==1">
                                        <img src="$commonUrl/barginList02.png" v-if="list.index==2">
                                        <img src="$commonUrl/barginList03.png" v-if="list.index==3">
                                        <div class="r-num" v-if="list.index!=1 && list.index!=2 &&list.index!=3">{{list.index}}</div>
                                    </div>
                                    <div class="rt2 r-phone">{{list.phone}}</div>
                                    <div class="rt3 r-time">{{list.cutCount}}次</div>
                                    <div class="rt4 r-price">-{{list.cutPrice}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shadow flex fd-column ai-c" v-show="ruleFlag" class="animated">
            <div class="rule-box flex fd-column ai-c rule-box2">
                <div class="rule-title">
                    <img src="$commonUrl/bargin08.png">
                    <div>活动规则</div>
                </div>
                <ul class="rule">
                    <li>1.活动时间：2017年11月1日——2017年11月11日;</li>
                    <li>2.3个人砍价可获100元代金券，10个人砍价可获200元代金券，30个人砍价可获300元代金券(仅购买iPhone X时可使用);</li>
                    <li>3. iphone X不能在砍价页面直接购买，可用砍到的代金券去iphoneX专题页购买;</li>
                    <li>4.砍价排名前三即可获得实物iphone X，排行榜先根据砍价次数，再根据砍价金额来判定名次;</li>
                    <li>5.如发现恶意刷单等作弊行为，将取消活动资格，情节严重者并做封号处理;</li>
                    <li>6.此次活动最终解释权归爱上街所有。</li>
                </ul>
            </div>
            <div class="btn-close" @click="closeRule()"><img src="$commonUrl/barginClose.png"></div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/dist/activity/11/barginList.js?version=$version"></script>

</html>