<!DOCTYPE html>
<html lang="en">

<head>
    #set($version="2017110102")
    #set($commonUrl="https://f.51fanbei.com/h5/app/activity/11/image")
    <meta charset="UTF-8">
    <title>商品页</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/11/bargin.css?version=$version">

<body>
    <div class="loadingMask"><i class="loading"></i></div>
    <div class="por" id="barginProduct">
        <div class="top-bg">
            <div class="top-pic">
                <img src="$commonUrl/bargin01.png">
                <div class="showRuleBtn" @click="showRule()">活<br>动<br>规<br>则<br>←</div>
            </div>
            <div class="main flex fd-column ai-c">
                <!-- 开奖倒计时 -->
                <div class="countdown flex fd-row">
                    <img class="cd-icon" src="$commonUrl/bargin02.png">
                    <p class="cd-txt">开奖
                        <br>倒计时</p>
                    <div class="flex fd-row ai-c ml10">
                        <div class="cd-time">{{downTime.d}}</div>
                        <span class="cd-time-txt">天</span>   
                        <div class="cd-time">{{downTime.h}}</div>
                        <span class="cd-time-txt">时</span>                        
                        <div class="cd-time">{{downTime.m}}</div>
                        <span class="cd-time-txt">分</span>                         
                        <div class="cd-time">{{downTime.s}}</div>
                        <span class="cd-time-txt">秒</span>                        
                    </div>
                </div>
                <!-- 商品图片 -->
                <div class="product-pic">
                    <img :src="goodsData.image">
                </div>
                <div class="flex jc-c fd-column">
                    <!-- 砍价部分 -->
                    <div class="product-price">
                        <img src="$commonUrl/bargin05.png">
                        <div class="product-txt flex fd-column ai-c">
                            <div class="product-name">{{goodsData.name}}</div>
                            <div class="has-bargin" :style="{'margin-left':tipLeft+'rem'}">已砍￥{{goodsData.cutPrice}}</div>
                            <div class="bar-box">
                                <div class="progress-bar"></div>
                                <div class="bar-hide" :style="{width: progressWidth + 'rem'}"></div>
                            </div>
                            <div class="original-price flex fd-row jc-sb">
                                <div>0元</div>
                                <div>{{goodsData.originalPrice}}元</div>
                            </div>
                            <div class="person-num">参与人数：{{goodsData.totalCount}}</div>
                        </div>
                    </div>
                    <div class="friend-box flex fd-column ai-c">
                        <!-- 亲友团 -->
                        <div class="f-top">亲友团</div>
                        <div class="friends">
                            <div class="f-title flex fd-row">
                                <div class="ft1">亲友圈</div>
                                <div class="ft2">砍掉价格</div>
                                <div class="ft3">砍后价格</div>
                            </div>
                            <ul class="f-ul flex fd-column ai-c">
                                <li class="f-list flex fd-row ai-c" v-for="friend in friendData">
                                    <div class="flex fd-row ai-c f-head">
                                        <img :src="friend.headImgUrl">
                                        <span>{{friend.nickName}}</span>
                                    </div>
                                    <div class="f-cut-price">￥{{friend.cutPrice}}</div>
                                    <div class="f-cut-price2">￥{{friend.remainPrice}}</div>
                                </li>
                            </ul>
                        </div>
                        <div style="height:1.5rem;">
                            <!-- <div class="progressBox"></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shadow flex fd-column ai-c" v-show="ruleFlag" class="animated">
            <div class="rule-box flex fd-column ai-c rule-box2">
                <div class="rule-title">
                    <img src="$commonUrl/bargin08.png">
                    <div>活动规则</div>
                </div>
                <ul class="rule"  v-if="productType=='iPhone' || productType=='shareiPhone'">
                    <li>1.活动时间：2017年11月1日——2017年11月11日;</li>
                    <li>2.3个人砍价可获100元代金券，10个人砍价可获200元代金券，30个人砍价可获300元代金券(仅购买iPhone X时可使用);</li>
                    <li>3. iphone X不能在砍价页面直接购买，可用砍到的代金券去iphoneX专题页购买;</li>
                    <li>4.砍价排名前三即可获得实物iphone X，排行榜先根据砍价次数，再根据砍价金额来判定名次;</li>
                    <li>5.如发现恶意刷单等作弊行为，将取消活动资格，情节严重者并做封号处理;</li>
                    <li>6.此次活动最终解释权归爱上街所有。</li>
                </ul>
                <ul class="rule"  v-if="productType=='product' || productType=='shareproduct'">
                    <li>1.活动时间：2017年11月1日——2017年11月11日;</li>
                    <li>2.点击‘朋友帮砍价’即可发送分享链接至朋友圈，好友可直接帮你砍价1-200元不等;</li>
                    <li>3.单个商品每位好友只能帮你砍1次，参与砍价的活动价格最终根据你砍掉后的金额而定;</li>
                    <li>4.砍价期间参与者可根据砍价后的商品价随时进行下单购买，数量有限先到先得;</li>
                    <li>5.每个普通砍价商品，每人限购一件;</li>
                    <li>6.如发现恶意刷单等作弊行为，将取消活动资格，情节严重者并做封号处理;</li>
                    <li>7.此次活动最终解释权归爱上街所有。</li>
                </ul>

            </div>
            <div class="btn-close" @click="closeRule()"><img src="$commonUrl/barginClose.png"></div>
        </div>
        <div class="shadow flex fd-column ai-c" v-show="barginFlag" class="animated">
            <div class="tip-box flex fd-column ai-c">
                <div class="rule-title">
                    <img src="$commonUrl/bargin08.png">
                    <div>疯狂砍价</div>
                </div>
                <p class="tip" v-if="cutData.code==1">成功帮好友砍掉&nbsp;<span>{{cutData.cutPrice}}元</span></p>
                <p class="tip" v-if="cutData.code==2">你已经帮助好友砍价</p>
                <p class="tip" v-if="cutData.code==3">已砍至最低价，无法完成本次砍价</p>
                <p class="tip" v-if="cutData.code==4">已经买了此商品，不能砍价</p>
                <p class="tip" v-if="cutData.code==5">活动时间已经结束，不能砍价</p>
                <img class="tip-icon" src="$commonUrl/barginCut.png">
                <div class="btn-box2 flex flex-row jc-sb">
                    <div class="btn-go" @click="toLogin()">发起我的砍价</div>
                    <div class="btn-next" @click="closeBargin()">下次再说</div>
                </div>
            </div>
        </div>
        <div class="shadow flex fd-column ai-c shadow2" v-show="shareFlag" class="animated" @click="closeShare()">
            <div class="sharebox">
                <img src="$commonUrl/share.png">
            </div>
        </div>

        <!-- 商品详情页 -->
        <div class="btn-fixed flex fd-row ai-c jc-sa" v-if="productType=='iPhone' || productType=='product'">
            <!-- 发起砍价 -->
            <img class="btn-bargin" src="$commonUrl/bargin15.png" @click="share()">
            <!-- iPhone砍价榜单 -->
            <img class="btn-list" src="$commonUrl/bargin12.png" @click="toList()" v-if="productType=='iPhone'">
            <!-- 立即购买（普通商品） -->
            <img class="btn-list" src="$commonUrl/bargin10.png"  v-if="productType=='product'" @click="buy()">
        </div>
        <!-- 微信分享iPhone页 -->
        <div class="btn-fixed flex fd-row ai-c jc-sa" v-if="productType=='shareiPhone'">
            <!-- 帮砍一刀 -->
            <img class="btn-type" src="$commonUrl/bargin21.png" @click="cut()">
            <img class="btn-type" src="$commonUrl/bargin20.png" @click="toList()">
            <img class="btn-type" src="$commonUrl/bargin19.png" @click="toLogin()">
        </div>
        <!-- 微信分享商品页 -->
        <div class="btn-fixed flex fd-row ai-c jc-sa" v-if="productType=='shareproduct'">
            <img class="btn-bargin" src="$commonUrl/bargin09.png" @click="cut()">
            <img class="btn-bargin" src="$commonUrl/bargin15.png" @click="toLogin()">
        </div>
    </div>
</body>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="https://img.51fanbei.com/h5/static/base64.js"></script>
<script type="text/javascript" src="/dist/activity/11/barginProduct.js?version=$version"></script>
<script type="text/javascript" src="/dist/activity/11/wxshare.js?version=$version"></script>

</html>