<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="20170919")
    #set($src="https://f.51fanbei.com/h5/app/activity/09")
    <meta charset="UTF-8">
    <title>初秋美妆种草季</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/09/beauty.css">
</head>
<body>
<div id="beauty"  class="beauty">
    <div class="loadingMask"><i class="loading"></i></div>
    <div class="banner first"><img src="$src/beauty01.jpg"></div>
    <div class="couponList clearFix">
        <div class="coupon clearFix" v-for="(item,index) in couponCont.couponInfoList" @click="couponClick(index)">
            <p class="couponAmount"><span>￥</span><span>{{item.amount}}</span><br/><span class="couponDes">优惠券</span></p>
            <p class="couponLimit" v-if="item.limitAmount>0">满{{item.limitAmount}}元可用</p>
            <p class="couponLimit" v-else>无门槛</p>
            <p class="couponStatus">立即领取</p>
        </div>
    </div>
    <div class="firstList">
        <div class="firstTitle"><img src="$src/beauty04.png"></div>
        <div class="firstCont clearFix" v-for="item in content.firstList" @click="goodClick(item)">
            <p class="goodImg"><img class="lazy" :data-original="item.goodsIcon"></p>
            <p class="goodName">{{txtFix(item.goodName,10)}}</p>
            <p>
                <span class="salePrice">￥{{item.saleAmount}}</span>
                <span class="fan"></span>
                <span class="fanMoney">￥{{item.rebateAmount}}</span>
            </p>
            <p class="monthPrice" v-if="item.nperMap.isFree==='0'">月供 ￥{{item.nperMap.amount}}起</p>
            <p class="monthPrice" v-if="item.nperMap.isFree==='1' || item.nperMap.isFree==='2'">月供 ￥{{item.nperMap.freeAmount}}起</p>
            <p class="buyNow">立即购买</p>
        </div>
    </div>
    <div class="secondList">
        <div class="secondTitle"><img src="$src/beauty03.png"></div>
        <div class="secondCont clearFix">
            <div class="cont"  v-for="item in content.secondList"  @click="goodClick(item)">
                <p class="goodImg"><img class="lazy" :data-original="item.goodsIcon"></p>
                <p class="goodName">{{txtFix(item.goodName,10)}}</p>
                <p>
                    <span class="salePrice">￥{{item.saleAmount}}</span>
                    <span class="fan"></span>
                    <span class="fanMoney">￥{{item.rebateAmount}}</span>
                </p>
                <p class="monthPrice" v-if="item.nperMap.isFree==='0'">月供 ￥{{item.nperMap.amount}}起</p>
                <p class="monthPrice" v-if="item.nperMap.isFree==='1' || item.nperMap.isFree==='2'">月供 ￥{{item.nperMap.freeAmount}}起</p>
                <p class="buyNow">立即抢购</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/dist/activity/09/beauty.js?version=$version"></script>
</body>
</html>