<!DOCTYPE html>
<html lang="en">
<head>
    #set($commonUrl="https://fs.51fanbei.com/h5/app/activity/08")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>借钱10亿活动</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/08/billion.css?version=$version">
</head>
<body>
    <div id="billion">
        <!--顶部文字滚动 !-->
         <div class="box" id="scroll_div">
                <div class="personAmount" id="scroll_begin"><p>恭喜用户<span class="light"></span>获得万元现金大奖</p>></div>
                <div class="personAmount" id="scroll_end"></div>     
                <!--<div class="personAmount"><p>已有<span class="light"></span>22222222222</p></div>!-->
        </div>
        <!--破15亿!-->
        <div id="money">
            <div class="imgOne">
               <img class="totalMoney" src="$commonUrl/billion_06.gif" alt="">
               <span class="numOne">1</span>
               <span class="numTwo">2</span>
               <span class="numThree">3</span>
               <span class="numFour">4</span>
               <span class="numFive">5</span>
               <span class="numSix">6</span>
               <span class="numSeven">7</span>
               <span class="numEight">8</span>
               <span class="numNine">9</span>
               <!--<span class="numTen">0</span>!-->
            </div>
            <div class="imgTwo">
                <p class="circle">
                    <span class="circleOne">
                        <i class="date">9月4日</i><br/>
                        <i class="circleMoney">600元</i>
                    </span>
                    <span class="circleTwo">
                        <i class="date change">9月5日</i><br/>
                        <i class="circleMoney change">700元</i>
                    </span>
                    <span class="circleThree">
                        <i class="date">9月6日</i><br/>
                        <i class="circleMoney">800元</i>
                    </span>
                    <span class="circleFour">
                        <i class="date">9月7日</i><br/>
                        <i class="circleMoney">900元</i>
                    </span>
                    <span class="circleFive">
                        <i class="date">9月8日</i><br/>
                        <i class="circleMoney">1000元</i>
                    </span>
                    <!--<span class="circleSix">
                        <i class="date">9.9</i><br/>
                        <i class="circleMoney">600元</i>
                    </span>!-->
                </p>
            </div>
        </div>
        <!--开奖倒计时!-->
        <div id="time">
            <img src="$commonUrl/billion_05.png" alt="">
            <div class="oneLine">
                <i class="left"><i>.</i><i>.</i><i>.</i></i>
                <i class="right"><i>.</i><i>.</i><i>.</i></i>
            </div>
            <div class="twoLine"></div>
            <div class="cash clearFix">
                <p class="timeMoney">600元现金</p>
                <p class="award">开奖倒计时</p>
                <p class="countDown">05:55:55</p>
            </div>
            <!--现金中奖用户!-->  
    <!--<div class="winningUser clearFix">
                <ul>
                    <h3>600元现金中奖用户</h3>
                    <li>
                        <span class="left">18898789989</span><span class="right">17898898898</span>
                    </li>
                    <button>查看更多</button>
                </ul> 
            </div>!-->
        </div>
        <!--活动规则部分!-->
        <div id="rule">
            <p class="ruleHead"><i class="left"></i>活动规则<i class="right"></i></p> 
            <p>1. 活动期间，将从每日借款成功用户中随机抽取10名赠送现金红包；</p>
            <p>2. 每日中奖名单将于次日上午10点在活动页进行公布，破10亿用户将在累积借款金额破10亿时，即时公布，敬请留意；</p>
            <p>3. 本次活动现金红包均发放至“我的-返现”；</p>
            <p>4. 活动期间禁止任何作弊行为，包括但并不限于通过软件进行批量操作、刷单等行为，一经发现平台将有权取消其奖励；</p>
            <p>5. 本活动最终解释权归51返呗所有，如有疑问，请拨打客服热线400-002-5151或联系在线客服咨询。</p> 
            <p class="btn">
                <img src="$commonUrl/billion_03.png" alt="">
                <!--<span>立即借钱</span>!-->
            </p>                      
        </div>
        <!--弹窗部分 !-->
        <div class="mask">
            <div class="alertRule">
                <!--<p class="ruleTitle"><span class="dian"></span><span class="word">活动规则</span><span class="dian"></span></p>
                <p class="ruleCont"></p>!-->
                <ul class="winningDetail">
                    <li>
                        <p class="title">600元现金中奖用户</p>
                        <div class="number">
                            <div><span class="left">188890988889</span><span class="right">188890988880</span></div>
                            <div><span class="left">188890988889</span><span class="right">188890988880</span></div>
                            <div><span class="left">188890988889</span><span class="right">188890988880</span></div>
                            <div><span class="left">188890988889</span><span class="right">188890988880</span></div>
                            <div><span class="left">188890988889</span><span class="right">188890988880</span></div>
                        </div>
                    </li>
                    <li>
                        <p class="title">700元现金中奖用户</p>
                        <div class="number">
                            <div><span class="left">188890988889</span><span class="right">188890988880</span></div>
                            <div><span class="left">188890988889</span><span class="right">188890988880</span></div>
                            <div><span class="left">188890988889</span><span class="right">188890988880</span></div>
                            <div><span class="left">188890988889</span><span class="right">188890988880</span></div>
                            <div><span class="left">188890988889</span><span class="right">188890988880</span></div>
                        </div>
                    </li>
                </ul>
                <p class="close">X</p>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/dist/activity/08/billion.js?version=$version"></script>
</html>