<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="2017052302")
    #set($commonUrl="https://f.51fanbei.com/h5/app/activity/09")
<title>借贷超市</title>
<link rel="stylesheet" type="text/css" href="/dist/activity/09/borrowDetails.css">
</head>
<body>
<div id="vueCon">
    <img src="$commonUrl/borrowDetails1.png">
    <div class="schedule">
        <ul>
            <li class="day" @click="prize(data)" :class="data.style" v-for="data of day"><img :src="'$commonUrl/borrowDetails'+data.img"><p>{{data.txt}}</p></li>
        </ul>
    </div>
    <div class="btn" @click="go()">{{content.buttonString}}</div>
    <p><i></i>活动规则<i></i></p>
    <ul class="rule">
        <li>1.签到一天 ：注册和浏览借贷超市4个不同产品以上算完成签到，当天浏览和注册大于4个时，只有前4个有效。</li>
        <li>2.签到15天不能重复浏览和注册同一个产品，必须是不同产品，否则不计算在内，当天完成任务系统会提示你已经完成任务。</li>
        <li>3.在活动时间内签到1天可获得5元券包。</li>
        <li>4.在活动时间内签到5天可获得20元券包和3元现金。</li>
        <li>5.在活动时间内签到10天可获得50元券包和15元现金。</li>
        <li>6.在活动时间内签到15天即可获得75元券包、25元现金，并且有机会获得888现金。</li>
        <li>7.签到1天用户可以选择领取奖励，也可以选择继续签到领取更多奖励，签到5天亦是如此，以此类推，一个用户只能领取一次奖励。</li>
        <li>8.活动时间：10月9号至12月9号。</li>
        <li>9.活动期间所所有用户只能参与一次活动。</li>
        <li>10.如发现作弊，取消参加活动资格。</li>
        <li>11.本活动最终解释权归爱上街所有。</li>
    </ul>
    <div class="shadow" v-if="dialog.show"></div>
    <div class="prizeConfirm" v-if="dialog.show">
        <div class="headerImg">温馨提示</div>
        <p>领取奖励后签到活动结束。继续签到可获取更多奖励，确认领取吗？</p>
        <div class="okBtn" @click="receive()">立即领取</div>
        <div class="goBtn" @click="dialog.show=false">继续签到</div>
        <div class="close" @click="dialog.show=false"></div>
    </div>
    <div class="shadow" v-if="dialog.prizeShow"></div>
    <div class="knowConfirm" v-if="dialog.prizeShow">
        <div class="headerImg">恭喜您</div>
        <p>{{dialog.txt}}</p>
        <div class="know" @click="dialog.prizeShow=false">知道了</div>
        <odiv class="close" @click="dialog.prizeShow=false"></odiv>
    </div>
</div>
</body>
<script src="/dist/activity/09/borrowDetails.js"></script>
</html>