<!DOCTYPE html>
<html lang="en">

<head>
    #set($version="20171117") #set($src="https://f.51fanbei.com/h5/app/activity/11")
    <meta charset="UTF-8">
    <title>信用卡中心</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/11/card.css?version=$version">
    <link rel="stylesheet" type="text/css" href="https://img.51fanbei.com/h5/static/swiper-3.4.2.min.css">
</head>

<body>
    <div class="main" id="bankBox">
        <div class="banner">
            <div class="swiper-container bannerSwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="(item,index) in allData.lunbanner">
                        <img :src="item.value" @click="jump(item.value2,item.name,'topBanner')">
                    </div>
                </div>
                <div class="swiper-pagination mypagination1" v-show="topLen>1"></div>
            </div>
        </div>
        <div class="devide"></div>
        <div class="recommend-box">
            <div class="title">今日推荐</div>
            <div class="swiper-box">
                <div class="swiper-container bankSwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide card-slide flex fd-row jc-sb" v-for="(item,index) in allData.creditbanner" v-if="index%2==0">
                            <div class="card-box flex fd-column ai-c" @click="jump(item.value2,item.name,'creditBanner')">
                                <img :src="item.value">
                                <p class="name">{{item.name}}</p>
                                <p class="desc">{{item.description}}</p>
                            </div>
                            <div class="card-box flex fd-column ai-c" v-if="index+1<allData.creditbanner.length" @click="jump(allData.creditbanner[index+1].value2,allData.creditbanner[index+1].name,'creditBanner')">
                                <img :src="allData.creditbanner[index+1].value">
                                <p class="name">{{allData.creditbanner[index+1].name}}</p>
                                <p class="desc">{{allData.creditbanner[index+1].description}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination mypagination2" v-show="len>2"></div>
                </div>
            </div>
        </div>
        <div class="devide"></div>
        <div class="bank-box">
            <div class="title">热门银行</div>
            <div>
                <ul class="flex bank-ul">
                    <li class="bank-li flex fd-row" v-for="hotBank in allData.hotbanner" @click="jump(hotBank.value2,hotBank.name,'hotBank')">
                        <img class="bank-img" :src="hotBank.value" alt="银行">
                        <div class="bank-txt">
                            <p class="bank-name">{{hotBank.name}}<i class="tip" v-if="hotBank.value3!=''">{{hotBank.value3}}</i></p>
                            <p class="bank-intro">{{hotBank.description}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="https://img.51fanbei.com/h5/static/swiper-3.4.2.jquery.min.js"></script>
<script type="text/javascript" src="/dist/activity/11/card.js?version=$version"></script>

</html>