<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="20170717")
    #set($src="https://fs.51fanbei.com/h5/app/activity/07")
    <meta charset="UTF-8">
    <title>领券中心</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/07/couponCenter.css?version=$version">
</head>

<body>
<div id="couponCenter">
<div id="tabNav">
    <ul class="navList">
        <li v-for="(item,index) in content.couponCategoryList">
            <span @click="liClick(index)">{{item.name}}</span>
        </li>
        <!-- <li><span>年中大促</span></li>
        <li><span>数码相机</span></li>
        <li><span>水果生鲜</span></li>
        <li><span>家居产品</span></li>
        <li><span>母婴玩具</span></li> -->
    </ul>
</div>
<div id="content">
   <div class="banner">图片</div>
   <div id="tabCont">
       <ul class="contList">
           <li v-for="items in content.couponCategoryList" @click="couponClick()">
              <div class="everyCont" v-for="item in items.couponInfoList">
                 <div class="left">
                     <p>￥<span>{{item.amount}}</span></p>
                     <p>{{item.useRule}}</p>
                 </div>
                 <div class="right">
                     <p v-if="item.type==='MOBILE'" style="background: #fab677;">充值券</p>
                     <p v-if="item.type==='REPAYMENT'" style="background: #38d7c2;">还款券</p>
                     <p v-if="item.type==='FULLVOUCHER'" style="background: #5c99d7;">满减券</p>
                     <p v-if="item.type==='CASH'" style="background: #fab677;">现金券</p>
                     <p v-if="item.type==='ACTIVITY'" style="background: #fc8aa4;">会场券</p>
                     <p v-if="item.type==='FREEINTEREST'" style="background: #fab677;">免息券</p>
                     <p>{{item.useRange}}</p>
                     <p>{{item.name}}</p>
                     <p>{{item.start}}-{{item.end}}</p>
                     <p>点我领取</p>
                     <p v-if="item.state==='timeOver'"></p>
                 </div>
              </div>  
           </li>
       </ul>
   </div> 
</div>
</div>
<script src="/dist/activity/07/couponCenter.js?version=$version"></script>
</body>
</html>