<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="20170717")
    #set($src="https://fs.51fanbei.com/h5/app/activity/07")
    <meta charset="UTF-8">
    <title>领券中心</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/07/couponCenter.css?version=$version">
</head>

<body>
<div id="couponCenter">
<div id="tabNav">
    <ul class="navList">
        <li v-for="(item,index) in content.couponCategoryList">
            <span @click="liClick(index)">{{item.name}}</span>
        </li>
    </ul>
</div>
<div id="content">
   <div class="banner"><img :src="content.bannerImage"></div>
   <div id="tabCont">
       <ul class="contList">
           <li v-for="items in content.couponCategoryList">
              <div v-if="item.isOver==='N'" class="everyCont" v-for="item in items.couponInfoList" @click="couponClick(item)">
                 <div class="left">
                     <p>￥<span>{{item.amount}}</span></p>
                     <p>{{item.useRule}}</p>
                 </div>
                 <div class="right">
                     <p v-if="item.type==='MOBILE'" style="background: #fab677;">充值券</p>
                     <p v-if="item.type==='REPAYMENT'" style="background: #38d7c2;">还款券</p>
                     <p v-if="item.type==='FULLVOUCHER'" style="background: #5c99d7;">满减券</p>
                     <p v-if="item.type==='CASH'" style="background: #fab677;">现金券</p>
                     <p v-if="item.type==='ACTIVITY'" style="background: #fc8aa4;">会场券</p>                    
                     <p>{{item.useRange}}</p>
                     <p>{{item.name}}</p>
                     <p>{{item.start}}-{{item.end}}</p>
                     <p class="clickMe" v-if="item.isDraw==='Y'&&(item.type==='FULLVOUCHER' || item.type==='CASH' || item.type==='ACTIVITY')">点我领取</p>
                     <p class="clickMe01" v-else-if="item.isDraw==='N'&&(item.type==='FULLVOUCHER' || item.type==='CASH' || item.type==='ACTIVITY')">去用券</p>
                     <p class="clickMe01" v-else>已领券</p>             
                     <p v-if="item.state==='timeOver'"></p>
                 </div>
              </div>
              <!--已领完-->
              <div v-if="item.isOver==='Y'" class="everyCont" v-for="item in items.couponInfoList">
                 <div class="left">
                     <p style="color:#d8d8d8">￥<span>{{item.amount}}</span></p>
                     <p style="color:#d8d8d8">{{item.useRule}}</p>
                 </div>
                 <div class="right">
                     <p v-if="item.type==='MOBILE'" style="background:#d8d8d8;color:#fff;">充值券</p>
                     <p v-if="item.type==='REPAYMENT'" style="background:#d8d8d8;color:#fff;">还款券</p>
                     <p v-if="item.type==='FULLVOUCHER'" style="background:#d8d8d8;color:#fff;">满减券</p>
                     <p v-if="item.type==='CASH'" style="background:#d8d8d8;color:#fff;">现金券</p>
                     <p v-if="item.type==='ACTIVITY'" style="background:#d8d8d8;color:#fff;">会场券</p>                     
                     <p style="color:#d8d8d8">{{item.useRange}}</p>
                     <p style="color:#d8d8d8">{{item.name}}</p>
                     <p style="color:#d8d8d8">{{item.start}}-{{item.end}}</p>              
                     <p style="color:#d8d8d8;border:1px solid #d8d8d8;">已领完</p>              
                 </div>
              </div> 
              <!--已领完-->   
           </li>
       </ul>
   </div> 
</div>
</div>
<script src="/dist/activity/07/couponCenter.js?version=$version"></script>
</body>
</html>