<!DOCTYPE html>
<html lang="en">
<head>
    #set($src="https://f.51fanbei.com/h5/app/activity/10")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no ">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>信用卡中心</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/10/creditCard.css">
</head>
<body>
    <div id="creditCard">
        <div class="credit-one">
            <img class="first-one" src="$src/credit-03.png" alt="">
        </div>
        <div class="credit-two" @click="clickOne()">
            <img class="credit-img" src="$src/credit-01.png" alt="">
            <span class="zheshang">浙商银行</span>
            <span class="zheshang-word">信用卡</span>
            <span class="zheshang-des">最长免息56天，5元看大片，5折享美食</span>
        </div>
        <div class="credit-five" @click="clickThree()">
            <img class="zhaoshang-img" src="$src/credit-10.png" alt="">
            <span class="zhaoshang">招商银行</span>
            <span class="zhaoshang-word">信用卡</span>
            <span class="zhaoshang-des">高额度，免年费，极速发卡</span>
        </div>
        <div class="zhongXinBank" @click="zhongXinBankClick()">
            <img src="$src/credit101.png">
            <span class="bankName">中信银行</span>
            <span class="bankCard">信用卡</span>
            <span class="bankDes">9元享看海量视频，周三周六消费5折</span>
        </div>
        <div class="credit-three" @click="clickTwo()">
            <img class="nonghang-img" src="$src/credit-02.png" alt="">
            <span class="nonghang">浦发银行</span>
            <span class="nonghang-word">信用卡</span>
            <span class="nonghang-des">享1-5折随机食惠，新户刷卡送刷卡金</span>
        </div>
        <div class="credit-four">
            <img class="last-img" src="$src/credit-07.png" alt="">
            <span class="four-word">敬请期待</span>
        </div>
    </div>
</body>
<script type="text/javascript" src="/dist/activity/10/creditCard.js?version=$version"></script>
</html>


