<!DOCTYPE html>
<html lang="en">
<head>
    #set($src="https://f.51fanbei.com/h5/app/activity/10")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>申请信用卡</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/10/creditCard.css">
</head>
<body>
    <div id="creditCard">
        <div class="credit-one">
            <img class="first-one" src="$src/credit-03.png" alt="">
        </div>
        <div class="credit-two">
            <img class="credit-img" src="$src/credit-01.png" alt="">
            <span class="zheshang">浙商银行</span>
            <span class="zheshang-word">信用卡</span>
            <span class="zheshang-des">最长免息56天，5元看大片，5折享美食</span>
        </div>
        <div class="credit-three">
            <img class="nonghang-img" src="$src/credit-02.png" alt="">
            <span class="nonghang">中国民生银行</span>
            <span class="nonghang-word">信用卡</span>
            <span class="nonghang-des">外币交易、体现0手续费，多重优惠</span>
        </div>
        <div class="credit-four">
            <img class="last-img" src="$src/credit-07.png" alt="">
        </div>
    </div>
</body>
<script type="text/javascript" src="/dist/activity/10/creditCard.js?version=$version"></script>
</html>