<!DOCTYPE html>
<html lang="en">

<head>
    #set($version="20180306")
    #set($src="https://f.51fanbei.com/h5/app/activity/12")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>双12欢乐购</title>

    <link rel="stylesheet" type="text/css" href="https://img.51fanbei.com/h5/static/swiper-3.4.2.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/activity/12/doubleTwelve.css?version=$version">
</head>

<body>
    <div class="loadingMask">
        <i class="loading"></i>
    </div>
    <div class="main" id="main">
        <div class="banner">
            <div class="top-box flex fd-row jc-c">
                <div class="top flex fd-column ai-c" :class="{current:topFalg==1}">
                    <div class="line"></div>
                    <div class="txt1">双12欢乐购</div>
                    <div class="txt2">12.01-12.04</div>
                </div>
                <div class="top flex fd-column ai-c" :class="{current:topFalg==2}">
                    <div class="line"></div>
                    <div class="txt1">秒大牌抢神券</div>
                    <div class="txt2">12.05-12.09</div>
                </div>
                <div class="top flex fd-column ai-c" :class="{current:topFalg==3}">
                    <div class="line"></div>
                    <div class="txt1">疯狂红包雨</div>
                    <div class="txt2">12.10-12.12</div>
                </div>
            </div>
        </div>
        <div class="coupon-box flex fd-column ai-c">
            <div class="flex fd-row ai-c title-box">
                <div class="line-left-1"></div>
                <div class="line-title">每日10点 / 限量神券</div>
                <div class="line-right-1"></div>
            </div>
            <div class="txt">12月05日开始</div>
            <div class="couponHeight1" id="couponBox">
                <ul class="coupon-ul flex fw-w" id="couponUl">
                <!-- <ul class="coupon-ul flex fw-w" :class="{couponHeight1:couponFlag}" id="couponUl"> -->
                    <li class="coupon-li" v-for="(item,index) in couponData" @click="couponClick(item,index)" :class="[(item.ishas=='Y'&&item.isGet=='N')?'coupon-active':'coupon-quiet']">
                        <div class="coupon-price">￥<span>{{item.amount}}</span></div>
                        <div class="coupon-tip">满{{item.limitAmount}}元可使用</div>
                        <div class="coupon-get got" v-if="item.ishas=='Y'&&item.isGet=='Y'">已领取</div>
                        <div class="coupon-get" v-if="item.ishas=='Y'&&item.isGet=='N'">立即领取</div>
                        <div class="coupon-get got" v-if="item.ishas=='N'">本场已抢完</div>
                    </li>
                </ul>
            </div>
            <div class="more flex jc-c ai-c" @click="changeFlag()" v-show="couponFlag"><p>查看更多</p></div>
            <div class="more flex jc-c ai-c" @click="changeFlag()" v-show="!couponFlag"><p>点击收起</p></div>
        </div>
        <div class="seckill-box flex fd-column ai-c">
            <div class="flex fd-row ai-c title-box">
                <div class="line-left-1"></div>
                <div class="line-title">超级秒杀 / 1212元秒iPhoneX</div>
                <div class="line-right-1"></div>
            </div>
            <div class="super-txt">每日10点开抢</div>
            <div class="day-box" id="dayBox">
                <ul class="day-ul flex fd-row" id="dayUl">
                    <li class="day-li por" v-for="(value,key) in goodsData" :class="{'status-1':value.type=='E','status-2':key==triangleFlag,'status-3':value.type=='N'||value.type=='O'}"
                        @click="changeProduct(key)">
                    <!-- <li class="day-li por" v-for="(value,key) in goodsData" :class="{'status-1':value.type=='E','status-2':value.type=='O','status-3':value.type=='N'}"
                        @click="changeProduct(key)"> -->
                        <p class="date-box">
                            12月{{key}}日
                        </p>
                        <p v-if="value.type=='E'">已结束</p>
                        <p v-if="value.type=='O'">秒杀中</p>
                        <p v-if="value.type=='N'">即将开始</p>
                        <div class="triangle triangle-2" v-show="key==triangleFlag"></div>
                    </li>
                </ul>
            </div>
            <div class="product-box">
                <div class="product-li flex fd-row" v-for="item in currentData.goodsList">
                    <div class="seckill-image">
                        <img :src="item.goodsIcon">
                        <i class="seckill-icon"></i>
                        <div class="seckill-end" v-if="currentData.type=='E' || item.count==0"></div>
                    </div>
                    <div class="intro-box">
                        <p class="p-title">{{item.goodsName}}</p>
                        <div class="p-price flex fd-row ai-c">
                            <span class="p-price-1">￥{{item.realAmount}}</span>
                            <span class="p-price-2">原价
                                <i>￥{{item.saleAmount}}</i>
                            </span>
                        </div>
                        <div class="p-button flex fd-row ai-c">
                            <div class="p-left p-status-1 flex jc-c ai-c" v-if="currentData.type=='E'">
                                <p>还剩0件</p>
                            </div>
                            <div class="p-left flex jc-c ai-c" :class="[(currentData.type=='E' || item.count==0)?'p-status-1':'p-status-2']" v-else>
                                <p>还剩{{item.count}}件</p>
                                <i class="progress" :style="{width: 1.6*(item.count/item.stockCount)+'rem' }"></i>
                            </div>
                            <div class="buy-btn buy-btn-2 flex jc-c ai-c" v-if="currentData.type=='E'"><p>已结束</p></div>
                            <div class="buy-btn buy-btn-2 flex jc-c ai-c" v-if="currentData.type=='O' && item.count==0"><p>秒杀完</p></div>
                            <div class="buy-btn buy-btn-1 flex jc-c ai-c" v-if="currentData.type=='O'" @click="buy(item.numId)"><p>去秒杀</p></div>
                            <div class="buy-btn buy-btn-3 flex jc-c ai-c" v-if="currentData.type=='N'">
                                <p>即将开始</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="redRain-box flex jc-c">
            <div class="redRain-bg">
                <div class="redRain-bg-end" v-if="redRainData.startTime==0"></div>
                <div class="time-box flex fd-row jc-c" v-else>
                    <div class="time">{{downTime.d}}</div>
                    <div class="space-1"></div>
                    <div class="time">{{downTime.h}}</div>
                    <div class="space-1"></div>
                    <div class="time">{{downTime.m}}</div>
                    <div class="space-1"></div>
                    <div class="time">{{downTime.s}}</div>
                    <div class="space-2"></div>
                </div>
            </div>
        </div>
        <div class="brand-box flex fd-column ai-c">
            <div class="flex fd-row ai-c title-box2">
                <div class="line-left-2"></div>
                <div class="line-title-2">品牌大咖 / 玩转潮流</div>
                <div class="line-right-2"></div>
            </div>
            <div class="super-txt-2">双十二秒get大牌</div>
        </div>

        <div class="good_con">
            <div class="rule"></div>
            <div class="good_tab">
                <div v-for="(tab, i) in tabs" @click="changetab(i)" class="tab" :class="nowkey == i ? 'active' : ''">
                    {{tab.tab}}
                </div>
            </div>
            <div class="goods">
                <div class="goodpi">
                    <div v-for="(item, i) in goods" class="goodeach">
                        <div v-for="good in item" @click="linkto(good)" class="good">
                            <img :src="good.img"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    var _saber={};
</script>
<script type="text/javascript" src="https://img.51fanbei.com/h5/static/swiper-3.4.2.jquery.min.js"></script>
<!-- <script type="text/javascript" src="https://img.51fanbei.com/h5/static/jquery-2.1.4.min.js"></script> -->
<script type="text/javascript" src="/dist/js/jquery.pin.js"></script>
<script type="text/javascript" src="/dist/js/saber.js?version=$version"></script>
<script type="text/javascript" src="/dist/activity/12/doubleTwelve.js?version=$version"></script>


</html>