<!DOCTYPE html>
<html lang="en">
<head>
    #set($src="https://f.51fanbei.com/h5/app/activity/11")    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>惊艳双11 一触即发</title>
    <link rel="stylesheet" type="text/css"  href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://img.51fanbei.com/h5/static/swiper-3.4.2.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/activity/11/doubleEleven.css">
    <style>
    * {
        margin: 0;
        padding: 0;
    }
    
    .swiper-container {
        width: 7.5rem;
        height: 3.7rem;
    }
    .swiper-slide{
        width: 7.5rem !important;
        margin-left: 0.02rem;
    }
    .swiper-button-prev{
        opacity:0.7;
    }
    .swiper-button-next{
        color:#8e8e8e !important;
        opacity:0.7;
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
        background-image:none !important;
    }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
        background-image:none !important;
    } 
    #content-detail{
        overflow:initial !important;
    }
    </style>
</head>
<body>
    <div id="doubleEleven">
        <div class="doubleEleven-top" id="doubleEleven-top">
            <div class="topLeft">
                <span class="top-word">全民砍价</span>
                <span class="top-num">11.1-11.11</span>
                <span class="vertical-line"></span>
                <span class="cutdown-word">活动倒计时：</span>
                <span class="countDown-one">
                    <span class="black-blank blankOne">00</span>
                    <span>:</span>
                    <span class="black-blank blankTwo">00</span>
                    <span>:</span>
                    <span class="black-blank blankThree">00</span>
                    <span>:</span>
                    <span class="black-blank blankFour">00</span>
                </span>
            </div>
            <p class="calender">
                <img class="calender-img" src="$src/meeting_06.png" alt="" @click="noShow()">
                <span class="calender-word">活动日历</span>
            </p>
            <div class="processBar">
                <span class="dateOne active active01">11.1-11.11<span class="tangle"><img class="tangleTwo" src="$src/tangle.png" alt=""></span></span>
                <span class="dateTwo active">11.9-11.11<span class="tangle"><img class="tangleTwo" src="$src/tangle.png" alt=""></span></span>
                <span class="dateThree active">11.11狂欢盛<span class="tangle"><img class="tangleTwo" src="$src/tangle.png" alt=""></span></span>
                <span class="dateFour active">11.13<span class="tangle"><img class="tangleTwo" src="$src/tangle.png" alt=""></span></span>
                <img class="line" src="$src/meeting_14.png" alt="">
                <span class="wordOne">全民砍价</span>
                <span class="wordTwo">千万红包雨</span>
                <span class="wordThree">分期+返利</span>
                <span class="wordFour">'再'见双十一</span>
            </div>
        </div>
        <!--banner部分!-->
        <div class="doubleEleven-banner" id="doubleEleven-banner">
            <div class="marquee"><img src="$src/meeting_01.png" alt=""></div>
            <div class="marqueeBling"><img src="$src/meeting_05.gif" alt=""></div>
            <div class="fireworks"><img src="$src/meeting_12.gif" alt=""></div>
        </div>
        <div class="doubleEleven-activity" id="doubleEleven-activity">
            <!--优惠券部分!-->         
            <div class="coupon" v-for="item in m"  @click="flag && couponClick(item)">
                <span class="ten">神劵不是天天有！00:00开抢</span>
                <span class="couponPrice"><i class="daiwei">￥</i>{{item.amount}} <i class="yuan">元</i></span>
                <span class="all">全场通用</span>
                <span class="full">满{{item.limitAmount}}使用</span>
                <span class="end">（每日限1000张，抢完为止！）</span>
                <span class="click">点击<br/>领取</span>
            </div>
            <div class="bargain">
                <span class="makeDown">全民砍价</span>
                <span class="leave">距离活动结束还剩</span>
                <span class="countTwo">00天：00时：00分：00秒</span>
            </div>
            <div class="redRain">
                <span class="makeDown">天降红包雨</span>
                <span class="leave">即将开始</span>
                <span class="countThree">00天：00时：00分：00秒</span>
            </div>
             <!--品牌专题!-->
            <div class="doubleEleven-brand">
                <div class="brandTitle">各大品牌专题</div>
                <div class="brandBox">
                    <div class="swiper-container" id="swiperBox">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" v-for="item in arr">
                                <li v-for="i in item">
                                    <a class="brandProduct" :href="i.src">
                                        <img class="brand-img" :src="i.img" alt="">
                                        <span class="brandDes">{{i.name}}</span>
                                    </a>
                                </li>
                            </div>
                        </div>
                        <!-- 如果需要分页器 -->
                        <!--<div class="swiper-pagination"></div>!-->
                        <!-- 如果需要导航按钮 -->
                        <span class="arrowLeft swiper-button-prev"><</span>
                        <span class="arrowRight swiper-button-next">></span>
                    </div>
                    <!-- 如果需要滚动条 -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </div>
        <!--商品详情部分!-->
        <div class="product-detail clearFix">
            <div class="product-nav" id="navScroll"><!--tab栏!-->
                <div class="slidBox">
                    <div class="xiba">
                        <span :class="i+1 ===tab?'bottomLine wordColor': ''" v-for="(item,i) in productList" @click="tabClick(i)">{{item.name}}</span>
                    </div>
                </div>
                <i class="arrow-end" @click="tabClickTwo()"><img src="$src/arrow_end.png" alt=""></i>
            </div>
            <div id="content-detail"><!--商品!-->
                <div id="detailScroll">
                    <div class="cont" v-for="(item,i) in productList" :class="i+1 ===tab?'':'hide'">
                        <div class="contentDetail" v-for="p in item.activityGoodsList" @click="goodClick(p)">
                            <p class="goodImg"><img class="lazy" :src="p.goodsIcon"></p>
                            <div class="product-bottom">
                                <p class="goodName">{{p.goodName}}</p>
                                <p class="price">
                                    <span class="salePrice">￥{{p.saleAmount}}</span>
                                    <span class="fan-img">返</span>
                                    <span class="fanMoney">￥{{p.rebateAmount}}</span>
                                </p>
                                <p class="monthPrice" v-if="p.nperMap.isFree==='0'">月供 ￥{{p.nperMap.amount}} 起</p>
                                <p class="monthPrice" v-if="p.nperMap.isFree==='1' || p.nperMap.isFree==='2'">月供 ￥{{p.nperMap.freeAmount}} 起</p>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>    
        </div>
        <div class="backTop" @click="toTop()"><i class="fa fa-arrow-up"></i></div>
    </div>
</body>
<script type="text/javascript" src="https://img.51fanbei.com/h5/static/swiper-3.4.2.jquery.min.js"></script>
<script type="text/javascript" src="https://img.51fanbei.com/h5/static/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/dist/activity/11/doubleEleven.js?version=$version"></script>
</html>