<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>双旦活动</title>
    <link rel="stylesheet" type="text/css" href="https://img.51fanbei.com/h5/static/swiper-3.4.2.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/activity/12/doubleEgg.css">
</head>

<body>
    <!-- <div class="loadingMask">
        <i class="loading"></i>
    </div> -->
    <div class="main" id="main">
        <div class="banner">
            <div class="gif" @click="location.href='https://app.51fanbei.com/fanbei-web/activity/newSpecial?linkType=doubleEgg'"></div>
        </div>
        <div class="coupon-box flex fd-column ai-c">
            <div class="flex fd-row jc-sb ai-c title-box">
                <div class="line-div"></div>
                <div class="flex fd-row ai-c">
                    <div class="snow-1"></div>
                    <div class="line-title">神券天天领</div>
                    <div class="snow-1"></div>
                </div>
                <div class="line-div"></div>
            </div>
            <div class="txt">每日10:00限量抢！</div>
            <div class="coupondiv" id="couponBox">
                <ul class="coupon-ul flex fd-row" id="couponUl">
                    <li class="coupon-li flex fd-column ai-c" v-for="(item,index) in couponData" @click="couponClick(item,index)">
                        <div class="coupon-price">￥
                            <span>{{item.amount}}</span>
                        </div>
                        <div class="coupon-tip">满{{item.limitAmount}}元可使用</div>
                        <div class="coupon-get got" v-if="item.isShow=='N'">限时抢券</div>
                        <div class="coupon-get got" v-if="item.isShow=='Y' && item.ishas=='N'">本场已抢完</div>
                        <div class="coupon-get" v-if="item.isShow=='Y' && item.ishas=='Y' && item.isGet=='N'">限时抢券</div>
                        <div class="coupon-get" v-if="item.isShow=='Y' && item.ishas=='Y' && item.isGet=='Y'">已抢购</div>
                    </li>
                    <li style="width:.2rem;height: .2rem;">&nbsp;</li>
                </ul>
            </div>
        </div>
        <div class="seckill-box flex fd-column ai-c">
            <div class="flex fd-row ai-c jc-c title-box">
                <div class="snow-2"></div>
                <div class="line-title-2">超级秒杀99元秒Dior</div>
                <div class="snow-2"></div>
            </div>
            <div class="super-txt">每日10:00限量开抢</div>
            <div class="day-box" id="dayBox">
                <ul class="day-ul flex fd-row" id="dayUl">
                    <li class="day-li por" v-for="(item,key) in secondKillData" :class="{'status-1':item.type==0,'status-2':key==triangleFlag,'status-3':item.type==1||item.type==2}"
                        @click="changeProduct(key)">
                        <p class="date-box">
                            {{item.date}}
                        </p>
                        <p class="day-txt2" v-if="item.type==0">已结束</p>
                        <p class="day-txt2" v-if="item.type==1">秒杀中</p>
                        <p class="day-txt2" v-if="item.type==2">即将开始</p>
                        <div class="triangle triangle-2" v-show="key==triangleFlag"></div>
                    </li>
                </ul>
            </div>
            <div class="product-box">
                <div class="product-ul flex fd-row">
                    <div class="product-li" v-for="(item,i) in currentData.goodsListForDate" @click="productFn(item,i)">
                        <div class="seckill-image">
                            <img :src="item.goodsIcon">
                            <i class="bookend-icon" v-if="item.status==3"></i>
                            <i class="booked-icon" v-if="item.status==1"></i>
                            <i class="book-icon" v-if="item.status==0"></i>
                            <div class="seckill-end-box flex jc-c ai-c" v-if="currentData.type==0 || item.count==0">
                                <div class="seckill-end"></div>
                            </div>
                        </div>
                        <div class="intro-box">
                            <p class="p-title">{{item.goodsName}}</p>
                            <div class="num-box flex fd-row ai-c">
                                <div class="p-left flex jc-c ai-c" :class="[(currentData.type==0 || item.count==0)?'p-status-1':'p-status-2']">
                                    <i class="progress" :style="{width: 1.5*(item.count/item.stockCount)+'rem' }"></i>
                                </div>
                                <p class="p-right" :class="{'p-right-2':(currentData.type==0 || item.count==0)}">还剩{{item.count}}件</p>
                            </div>
                            <div class="p-price flex fd-row ai-c">
                                <span class="p-price-1">￥{{item.realAmount}}</span>
                                <span class="p-price-2">
                                    <i>￥{{item.saleAmount}}</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="brand-box flex fd-column ai-c">
            <div class="flex fd-row ai-c title-box2">
                <div class="snow-2"></div>
                <div class="line-title-2">特卖品牌</div>
                <div class="snow-2"></div>
            </div>
        </div>
        <div class="good_con">
            <div class="rule"></div>
            <div id="tabBox">
                <div class="good_tab">
                    <div class="tab-scroll flex fd-row">
                        <div v-for="(tab, i) in brandList" @click="changetab(i)" class="tab" :class="nowkey == i ? 'active' : ''">
                            {{tab.firstCategoryName}}
                        </div>
                    </div>
                </div>
                <div class="bgc">
                    <div class="good_tab2">
                        <div class="tab" v-for="(tab, i) in secondBrandList" @click="changetab2(i)" :class="nowkey2 == i ? 'active' : ''" v-if="i<=3 && secondBrandList.length>5">{{tab.secondCategoryName}}</div>
                        <div class="tab" v-for="(tab, i) in secondBrandList" @click="changetab2(i)" :class="nowkey2 == i ? 'active' : ''" v-if="secondBrandList.length<=5">{{tab.secondCategoryName}}</div>
                        <div class="tab more-tab" v-if="secondBrandList.length>5" @click="showMore()" v-show="!tabFlag">更多>>></div>
                        <div class="tab" v-for="(tab, i) in secondBrandList" @click="changetab2(i)" :class="nowkey2 == i ? 'active' : ''" v-if="i>3"
                            v-show="tabFlag">{{tab.secondCategoryName}}</div>
                        <div class="close-tab" v-if="secondBrandList.length>5" v-show="tabFlag" @click="closeMore()">收起>>></div>
                    </div>

                </div>
            </div>
            <div class="goods">
                <div class="goodpi">
                    <div class="good-box goodeach" v-for="(good, i) in currentGood" @click="buy(good.goodsId)">
                        <img class="img" :src="good.goodsIcon" />
                        <div class="good-intro">
                            <p class="title">{{good.goodName}}</p>
                            <div class="price-box flex fd-row ai-c">
                                <div class="price-1">￥{{good.priceAmount}}</div>
                                <div class="fan">返</div>
                                <div class="price-2">￥{{good.saleAmount}}</div>
                            </div>
                            <div class="price-3">月供 ￥{{good.rebateAmount}}起</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="https://img.51fanbei.com/h5/static/swiper-3.4.2.jquery.min.js"></script>
<script type="text/javascript" src="/dist/js/jquery.pin.js"></script>
<script type="text/javascript" src="/dist/activity/12/doubleEgg.js"></script>

</html>