<!DOCTYPE html>
<html lang="en">

<head>
    #set($src="https://f.51fanbei.com/h5/app/activity/11")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>惊艳双11 一触即发</title>

    <link rel="stylesheet" type="text/css" href="https://img.51fanbei.com/h5/static/swiper-3.4.2.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/activity/11/doubleTwelve.css">
</head>

<body>
    <div class="main">
        <div class="banner">
            <div class="top-box flex jc-sa">
                <div class="flex fd-column ai-c">
                    <div class="line"></div>
                    <p class="txt1">双12欢乐购</p>
                    <p class="txt2">12.01-12.04</p>
                </div>
                <div class="flex fd-column ai-c current">
                    <div class="line"></div>
                    <p class="txt1">秒打牌抢神券</p>
                    <p class="txt2">12.05-12.09</p>
                </div>
                <div class="flex fd-column ai-c">
                    <div class="line"></div>
                    <p class="txt1">疯狂红包雨</p>
                    <p class="txt2">12.10-12.12</p>
                </div>

            </div>
        </div>
        <div class="coupon-box flex fd-column ai-c">
            <div>每日10点</div>
            <div class="txt">12月05日开始</div>
            <ul class="coupon-ul flex fw-w">
                <li class="coupon-li"></li>
                <li class="coupon-li"></li>
                <li class="coupon-li"></li>
                <li class="coupon-li"></li>
                <li class="coupon-li"></li>
            </ul>
            <div class="more">查看更多</div>
        </div>
        <div class="seckill-box flex fd-column ai-c">
            <div class="super-icon">超级秒杀</div>
            <div class="super-txt">双十二秒get大牌</div>
            <div class="day-box">
                <ul class="day-ul flex fd-row">
                    <li class="day-li status-1">12月6日
                        <p>已结束</p>
                    </li>
                    <li class="day-li status-1">12月7日
                        <p>已结束</p>
                    </li>
                    <li class="day-li status-2">12月8日
                        <p>秒杀中</p>
                    </li>
                    <li class="day-li status-3">12月9日
                        <p>即将开始</p>
                    </li>
                    <li class="day-li status-3">12月10日
                        <p>即将开始</p>
                    </li>
                    <li class="day-li status-3">12月11日
                        <p>即将开始</p>
                    </li>
                    <li class="day-li status-3">12月12日
                        <p>即将开始</p>
                    </li>
                </ul>
            </div>
            <div class="product-box">
                <div class="product-li flex fd-row">
                    <img src="http://f.51fanbei.com/online/2dac9099210d99f5.jpg">
                    <div class="intro-box">
                        <p class="p-title">iPhoneX全网通官方正品马上发货</p>
                        <div class="p-price">
                            <span class="p-price-1">￥1253</span>
                            <span class="p-price-2">原价
                                <i>￥1533</i>
                            </span>
                        </div>
                        <div class="p-button flex fd-row ai-c">
                            <div class="p-left p-status-1">
                                还剩5件
                                <i class="progress"></i>
                            </div>
                            <div class="buy-btn buy-btn-2">已结束</div>
                        </div>
                    </div>
                </div>
                <div class="product-li flex fd-row">
                    <img src="http://f.51fanbei.com/online/bffbcba7405e55ea.jpg">
                    <div class="intro-box">
                        <p class="p-title">iPhoneX全网通官方正品马上发货</p>
                        <div class="p-price">
                            <span class="p-price-1">￥1253</span>
                            <span class="p-price-2">原价
                                <i>￥1533</i>
                            </span>
                        </div>
                        <div class="p-button flex fd-row ai-c">
                            <div class="p-left p-status-2">
                                还剩5件
                                <i class="progress"></i>
                            </div>
                            <div class="buy-btn buy-btn-1">去秒杀</div>
                        </div>
                    </div>
                </div>
                <div class="redRain-box">
                    <div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</body>
<script type="text/javascript" src="https://img.51fanbei.com/h5/static/swiper-3.4.2.jquery.min.js"></script>
<!-- <script type="text/javascript" src="https://img.51fanbei.com/h5/static/jquery-2.1.4.min.js"></script> -->
<script type="text/javascript" src="/dist/activity/11/doubleTwelve.js?version=$version"></script>

</html>