<!DOCTYPE html>
<html lang="en">

<head>
    #set($src="https://f.51fanbei.com/h5/app/activity/12")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>双12欢乐购</title>

    <link rel="stylesheet" type="text/css" href="https://img.51fanbei.com/h5/static/swiper-3.4.2.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/activity/12/doubleTwelve.css">
</head>

<body>
    <div class="main" id="main">
        <div class="banner"></div>
        <div class="coupon-box flex fd-column ai-c">
            <div class="flex fd-row ai-c title-box">
                <div class="line-left-1"></div>
                <div class="line-title">每日10点 / 限量神券</div>
                <div class="line-right-1"></div>
            </div>
            <div class="txt">12月05日开始</div>
            <ul class="coupon-ul flex fw-w" :class="{couponHeight1:couponFlag}">
                <li class="coupon-li" v-for="item in couponData" @click="couponClick(item)" :class="[(item.ishas=='Y'&&item.isGet=='N')?'coupon-active':'coupon-quiet']">
                    <div class="coupon-price">￥
                        <span>{{item.amount}}</span>
                    </div>
                    <div class="coupon-tip">{{item.threshold}}</div>
                    <div class="coupon-get" v-if="item.ishas=='Y'&&item.isGet=='Y'">已领取</div>
                    <div class="coupon-get" v-if="item.ishas=='Y'&&item.isGet=='N'">立即领取</div>
                    <div class="coupon-get" v-if="item.ishas=='N'">本场已抢完</div>
                </li>
            </ul>
            <div class="more" @click="changeFlag()" v-show="couponFlag">查看更多</div>
            <div class="more" @click="changeFlag()" v-show="!couponFlag">点击收起</div>
        </div>
        <div class="seckill-box flex fd-column ai-c">
            <div class="flex fd-row ai-c title-box">
                <div class="line-left-1"></div>
                <div class="line-title">超级秒杀 / 1212元秒iPhoneX</div>
                <div class="line-right-1"></div>
            </div>
            <div class="super-txt">双十二秒get大牌</div>
            <div class="day-box">
                <ul class="day-ul flex fd-row">
                    <li class="day-li" v-for="(value,key) in goodsData" :class="{'status-1':value.type=='E','status-2':value.type=='O','status-3':value.type=='N', }"
                        @click="changeProduct(key)">12月{{key}}日
                        <p v-if="value.type=='E'">已结束</p>
                        <p v-if="value.type=='O'">秒杀中</p>
                        <p v-if="value.type=='N'">即将开始</p>
                    </li>
                </ul>
            </div>
            <div class="product-box">
                <div class="product-li flex fd-row" v-for="item in currentData.goodsList">
                    <div class="seckill-image">
                        <img :src="item.goodsIcon">
                        <i class="seckill-icon"></i>
                        <div class="seckill-end" v-if="currentData.type=='E'"></div>
                    </div>
                    <div class="intro-box">
                        <p class="p-title">{{item.goodsName}}</p>
                        <div class="p-price">
                            <span class="p-price-1">￥{{item.realAmount}}</span>
                            <span class="p-price-2">原价
                                <i>￥{{item.saleAmount}}</i>
                            </span>
                        </div>
                        <div class="p-button flex fd-row ai-c">
                            <div class="p-left" :class="[currentData.type=='E'?'p-status-1':'p-status-2']">
                                还剩{{item.count}}件
                                <i class="progress" :style="{width: 1.6*(item.count/item.stockCount)+'rem' }"></i>
                            </div>
                            <div class="buy-btn buy-btn-2" v-if="currentData.type=='E'">已结束</div>
                            <div class="buy-btn buy-btn-1" v-if="currentData.type=='O'">去秒杀</div>
                            <div class="buy-btn buy-btn-3" v-if="currentData.type=='N'">即将开始</div>
                        </div>
                    </div>
                </div>
                <!-- <div class="product-li flex fd-row">
                    <div class="seckill-image">
                        <img src="$src/double12_product.png">
                        <i class="seckill-icon"></i>
                    </div>
                    <div class="intro-box">
                        <p class="p-title">iPhoneX全网通官方正品马上发货</p>
                        <div class="p-price">
                            <span class="p-price-1">￥1253</span>
                            <span class="p-price-2">原价
                                <i>￥1533</i>
                            </span>
                        </div>
                        <div class="p-button flex fd-row ai-c">
                            <div class="p-left p-status-2">
                                还剩5件
                                <i class="progress"></i>
                            </div>
                            <div class="buy-btn buy-btn-1">去秒杀</div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="product-li flex fd-row">
                    <div class="seckill-image">
                        <img src="$src/double12_product.png">
                        <i class="seckill-icon"></i>
                    </div>
                    <div class="intro-box">
                        <p class="p-title">iPhoneX全网通官方正品马上发货</p>
                        <div class="p-price">
                            <span class="p-price-1">￥1253</span>
                            <span class="p-price-2">原价
                                <i>￥1533</i>
                            </span>
                        </div>
                        <div class="p-button flex fd-row ai-c">
                            <div class="p-left p-status-3">
                                还剩5件
                                <i class="progress"></i>
                            </div>
                            <div class="buy-btn buy-btn-1">去秒杀</div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="product-li flex fd-row">
                    <div class="seckill-image">
                        <img src="$src/double12_product.png">
                        <i class="seckill-icon"></i>
                    </div>
                    <div class="intro-box">
                        <p class="p-title">iPhoneX全网通官方正品马上发货</p>
                        <div class="p-price">
                            <span class="p-price-1">￥1253</span>
                            <span class="p-price-2">原价
                                <i>￥1533</i>
                            </span>
                        </div>
                        <div class="p-button flex fd-row ai-c">
                            <div class="p-left p-status-2">
                                还剩5件
                                <i class="progress"></i>
                            </div>
                            <div class="buy-btn buy-btn-3">即将开始</div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="redRain-box flex jc-c">
            <div class="redRain-bg">
                <div class="time-box flex fd-row jc-c">
                    <div class="time">2</div>
                    <div class="time">20</div>
                    <div class="time">59</div>
                    <div class="time">60</div>
                </div>
            </div>
        </div>
        <div class="brand-box flex fd-column ai-c">
            <div class="flex fd-row ai-c title-box">
                <div class="line-left-2"></div>
                <div class="line-title-2">品牌大咖 / 玩转潮流</div>
                <div class="line-right-2"></div>
            </div>
            <div class="super-txt-2">双十二秒get大牌</div>
        </div>
    </div>
</body>
<script type="text/javascript" src="https://img.51fanbei.com/h5/static/swiper-3.4.2.jquery.min.js"></script>
<!-- <script type="text/javascript" src="https://img.51fanbei.com/h5/static/jquery-2.1.4.min.js"></script> -->
<script type="text/javascript" src="/dist/activity/12/doubleTwelve.js?version=$version"></script>

</html>