<!DOCTYPE html>
<html>
<head>
	#set($commonUrl="https://fs.51fanbei.com/h5/app/activity/05")
    <meta charset="UTF-8">
    <title>浓情放粽</title>
</head>
<body>
	<img src="$commonUrl/DragonBoat_01.jpg">
	<img src="$commonUrl/DragonBoat_02.jpg">
	<img src="$commonUrl/DragonBoat_03.jpg">
	<img src="$commonUrl/DragonBoat_04.jpg">
	<img src="$commonUrl/DragonBoat_05.jpg">
	<img src="$commonUrl/DragonBoat_06.jpg">
	<img src="$commonUrl/DragonBoat_07.jpg">
	<img src="$commonUrl/DragonBoat_08.jpg">
	<img src="$commonUrl/DragonBoat_09.jpg">
	<img onclick="borrow()" style="width:6.82rem;height:1.08rem;position: fixed;left:.34rem;bottom:.2rem" src="$commonUrl/button.png">
</body>
<script>
	function borrow() {

        // 开始时间的时间戳
        var startDate = new Date("May 26,2017 10:00:00");
        var startStamp = startDate.valueOf();
        var endDate = new Date("May 31,2017 00:00:00")
        var endStamp = endDate.valueOf();

        // 获取当前时间的时间戳
        var now = new Date();
        var nowTimeStamp = now.valueOf();

		var appVersion = getInfo().appVersion.replace(/\./g,"");
        var appSystem = getInfo().id.substr(0,2);

        if (startStamp <= nowTimeStamp && nowTimeStamp <= endStamp) {

            if ( appSystem == "i_" ) {

                if ( appVersion <= "350" ) {
                    requestMsg("你的版本过低请升级");
                } else {
                    window.location.href = '/fanbei-web/opennative?name=BORROW_MONEY';
                }
            } else if( appSystem == "a_" ){

                if ( appVersion <= "351" ) {
                    requestMsg("你的版本过低请升级");
                } else {
                    window.location.href = '/fanbei-web/opennative?name=BORROW_MONEY';
                }
            }
        } else{
            requestMsg("活动尚未开始，敬请期待！");
        }
    }
</script>
</html>
