<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="20171018")
    #set($src="https://f.51fanbei.com/h5/app/activity/10")
    <meta charset="UTF-8">
    <title>秋季养生好物</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/10/fallHealth.css">
</head>
<body>
<div id="fallHealth">
    <div class="banner"><img :src="content.bannerUrl"></div>
    <div class="firstCont clearFix" style="margin-top:.2rem;">
        <div class="contTitle"><img src="$src/fallHealth01.png"></div>
        <div class="good" v-for="item in content.oneLevelGoodsInfo.goodsList" @click="goodClick(item)">
            <p class="noteImg" v-if="item.source==='SELFSUPPORT'"></p>
            <p class="goodImg"><img class="lazy" :data-original="item.goodsIcon"></p>
            <p class="goodDes">{{txtFix(item.goodName,8)}}</p>
            <p class="goodPrice clearFix">￥{{item.saleAmount}}</p>
            <div style="padding-left:.22rem;" class="clearFix">
                <p class="fanMoney">返<span>{{item.rebateAmount}}</span>元</p>
                <p class="monthPrice" v-if="item.nperMap.isFree==='0'">月供<span>{{item.nperMap.amount}}</span>元起</p>
                <p class="monthPrice" v-if="item.nperMap.isFree==='1' || item.nperMap.isFree==='2'">月供<span>{{item.nperMap.freeAmount}}</span>元起</p>
            </div>
        </div>
    </div>
    <div class="firstCont secondCont clearFix">
        <div class="contTitle"><img src="$src/fallHealth02.png"></div>
        <div class="good" v-for="item in content.twoLevelGoodsInfo.goodsList" @click="goodClick(item)">
            <p class="noteImg" v-if="item.source==='SELFSUPPORT'"></p>
            <p class="goodImg"><img class="lazy" :data-original="item.goodsIcon"></p>
            <p class="goodDes">{{txtFix(item.goodName,8)}}</p>
            <p class="goodPrice clearFix">￥{{item.saleAmount}}</p>
            <div style="padding-left:.22rem;" class="clearFix">
                <p class="fanMoney">返<span>{{item.rebateAmount}}</span>元</p>
                <p class="monthPrice" v-if="item.nperMap.isFree==='0'">月供<span>{{item.nperMap.amount}}</span>元起</p>
                <p class="monthPrice" v-if="item.nperMap.isFree==='1' || item.nperMap.isFree==='2'">月供<span>{{item.nperMap.freeAmount}}</span>元起</p>
            </div>
        </div>
    </div>
    <div class="firstCont thirdCont clearFix">
        <div class="contTitle"><img src="$src/fallHealth03.png"></div>
        <div class="good" v-for="item in content.threeLevelGoodsInfo.goodsList" @click="goodClick(item)">
            <p class="noteImg" v-if="item.source==='SELFSUPPORT'"></p>
            <p class="goodImg"><img class="lazy" :data-original="item.goodsIcon"></p>
            <p class="goodDes">{{txtFix(item.goodName,8)}}</p>
            <p class="goodPrice clearFix">￥{{item.saleAmount}}</p>
            <div style="padding-left:.22rem;" class="clearFix">
                <p class="fanMoney">返<span>{{item.rebateAmount}}</span>元</p>
                <p class="monthPrice" v-if="item.nperMap.isFree==='0'">月供<span>{{item.nperMap.amount}}</span>元起</p>
                <p class="monthPrice" v-if="item.nperMap.isFree==='1' || item.nperMap.isFree==='2'">月供<span>{{item.nperMap.freeAmount}}</span>元起</p>
            </div>
        </div>
    </div>
    <div class="firstCont fourthCont clearFix">
        <div class="contTitle"><img src="$src/fallHealth04.png"></div>
        <div class="good" v-for="item in content.fourLevelGoodsInfo.goodsList" @click="goodClick(item)">
            <p class="noteImg" v-if="item.source==='SELFSUPPORT'"></p>
            <p class="goodImg"><img class="lazy" :data-original="item.goodsIcon"></p>
            <p class="goodDes">{{txtFix(item.goodName,8)}}</p>
            <p class="goodPrice clearFix">￥{{item.saleAmount}}</p>
            <div style="padding-left:.22rem;" class="clearFix">
                <p class="fanMoney">返<span>{{item.rebateAmount}}</span>元</p>
                <p class="monthPrice" v-if="item.nperMap.isFree==='0'">月供<span>{{item.nperMap.amount}}</span>元起</p>
                <p class="monthPrice" v-if="item.nperMap.isFree==='1' || item.nperMap.isFree==='2'">月供<span>{{item.nperMap.freeAmount}}</span>元起</p>
            </div>
        </div>
    </div>
    <p class="wordDes"><span>养胃小贴士：</span>早餐要吃好，俗话说秋饮豆浆，滋阴润燥，调和阴阳，早餐尽可能饮豆浆或吃一些温热粥、药膳粥，尤其是脾胃虚，消化吸收功能较差的人，吃粥有主键脾胃补中。百合粥、银耳粥、莲子粥、芝麻糊等，都是很好的养胃早餐。</p>
</div>
<script type="text/javascript" src="/dist/activity/10/fallHealth.js?version=$version"></script>
</body>
</html>