<!DOCTYPE html>
<html lang="en">
<head>
	#set($commonUrl="https://fs.51fanbei.com/h5/app/activity/06")
	<meta charset="UTF-8">
	<title>年中盛宴攻略</title>
	<style type="text/css">
		.feastRaiders2{
			position: relative;
		}
		a{
			position: absolute;
			right: 1.54rem;
			bottom: 0.6rem;
			width: 2.05rem;
			height: 0.6rem;
		}
	</style>
</head>
<body>
	<img src="$commonUrl/feastRaiders1.jpg">
	<img src="$commonUrl/feastRaiders2.jpg">
	<div class="feastRaiders2">
		<img src="$commonUrl/feastRaiders3.jpg">
		<a href="game"></a>
	</div>
	<img src="$commonUrl/feastRaiders4.jpg">
	<img src="$commonUrl/feastRaiders5.jpg">
	<img src="$commonUrl/feastRaiders6.jpg">
	<img src="$commonUrl/feastRaiders7.jpg">
	<script type="text/javascript">

		// 获取cookie中的apihost
		var apihost = getCookie("apihost");
		apihost = apihost.replace("\"","").replace("\"",""); //测试环境可能会在cookie上加双引号，这里做下兼容

		// app调用web的方法
		function alaShareData(){
			// 分享内容
			var dataObj = {
				//'appLogin': 'Y', // 是否需要登录，Y需要，N不需要
				'type': 'share', // 此页面的类型
				'shareAppTitle': '51返呗618购物狂欢节攻略来啦！',  // 分享的title
				'shareAppContent': '分期免息“购”优惠，嗨购全球高佣好货，你要的攻略在这里！',  // 分享的内容
				'shareAppImage': 'https://fs.51fanbei.com/h5/common/icon/midyearCorner.png',  // 分享右边小图
				'shareAppUrl': apihost+'/fanbei-web/activity/feastRaidersShare'  // 分享后的链接
				//'isSubmit': 'Y', // 是否需要向后台提交数据，Y需要，N不需要
				//'sharePage': 'gameShare' // 分享的页面
			};

			var dataStr = JSON.stringify(dataObj);  // json数组转换成json对象
			return dataStr;
		};
	</script>
</body>
</html>
