<!DOCTYPE html>
<html lang="en">
<head>
	#set($commonUrl="http://f.51fanbei.com/h5/app/activity/06")
	<meta charset="UTF-8">
	<title>年中盛宴攻略</title>
	<style type="text/css">
		.feastRaiders2{
			position: relative;
		}
		a{
			position: absolute;
			right: 1.54rem;
			bottom: 0.6rem;
			width: 2.05rem;
			height: 0.6rem;
		}
	</style>
</head>
<body>
	<img src="$commonUrl/feastRaiders1.jpg">
	<img src="$commonUrl/feastRaiders2.jpg">
	<div class="feastRaiders2">
		<img src="$commonUrl/feastRaiders3.jpg">
		<a href="gameShare"></a>
	</div>
	<img src="$commonUrl/feastRaiders4.jpg">
	<img src="$commonUrl/feastRaiders5.jpg">
	<img src="$commonUrl/feastRaiders6.jpg">
	<img src="$commonUrl/feastRaiders7.jpg">
</body>
</html>
