<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="2017072502")
    #set($commonUrl="https://fs.51fanbei.com/h5/app/activity/07")
    <meta charset="UTF-8">
    <title>火热暑假 比价购机更优惠</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/07/freeHome.css?version=$version">
</head>
<body>
    <div id="freeHome">
        <img src="$commonUrl/freeHome1.jpg">
        <img src="$commonUrl/freeHome2.jpg">
        <ul class="discount clearfix">
            <li v-for="item in discountMap" @click="goGoodsDetail(item)">
                <img :src="item.goodsIcon">
                <div class="discountRight">
                    <p class="discountRightTitle">{{item.goodName}}</p>
                    <p class="priceAmount">京东售价：<span>¥{{item.priceAmount}}</span></p>
                    <div class="priceWrap">
                        <span class="saleAmount">¥{{item.saleAmount}}</span>
                        <span class="rebateAmount"><i></i>¥{{item.rebateAmount}}</span>
                    </div>
                    <span class="goBuyBtn">立即抢购</span>
                </div>
            </li>
        </ul>
        <img src="$commonUrl/freeHome3.jpg">
        <ul class="rebate clearfix">
            <li v-for="item in rebateMap" @click="goGoodsDetail(item)">
                <img :src="item.goodsIcon">
                <div class="rebateRight">
                    <p class="rebateRightTitle">{{item.goodName}}</p>
                    <p class="remark">{{item.remark}}</p>
##                    <p class="priceAmount">京东售价：<span>¥{{item.priceAmount}}</span></p>
                    <div class="priceWrap">
                        <span class="saleAmount">¥{{item.saleAmount}}</span>
                        <span class="rebateAmount"><i></i>¥{{item.rebateAmount}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>
<script type="text/javascript" src="/dist/activity/07/freeHome.js?version=$version"></script>
</html>