<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="201712071100")
    #set($src="http://f.51fanbei.com/h5/app/activity/11")
    <meta charset="UTF-8">
    <title>充值服务</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/11/gamePay.css?version=$version">
</head>
<body>
<div id="gamePay" class="gamePay">
    <div class="allTop">
        <div class="gameName" v-if="allDataLen===1">
            <p>游戏名称</p>
            <span>{{fixCont.gameName}}</span>
        </div>
        <div class="gameName" @click="gameNameClick()" v-else>
            <p>游戏名称</p>
            <span>{{fixCont.gameName}}</span>
            <i> > </i>
        </div>
        <div class="gamePass gameName" v-if="dataType==='B'">
            <p class="nameDesc"></p>
            <input type="text" class="nameDesc01" placeholder=""/>
        </div>
        <div class="gamePass gameName" v-if="dataType==='B'">
            <p class="nameconfirmDesc"></p>
            <input type="text" class="nameconfirmDesc01" placeholder=""/>
        </div>
        <div class="needGameNum gameName" v-show="needGameNumShow">
            <p>游戏账号</p>
            <input type="text" placeholder="请输入游戏账号"/>
        </div>
        <div class="gameNum gameName" v-if="fixCont.accountType">
            <p>{{fixCont.accountType}}</p>
            <input type="text" placeholder=" "/>
        </div>
        <div class="gameArea gameName clearFix" @click="gameAreaClick()">
            <p>游戏分区</p>
            <span>{{fixCont.initArea}}</span>
            <i> > </i>
        </div>
        <div class="gameService gameName clearFix" @click="gameServiceClick()">
            <p>服务器</p>
            <span>{{fixCont.initService}}</span>
            <i> > </i>
        </div>
        <div class="kong"></div>
        <div class="payType gameType">
            <p class="title01">充值类型</p>
            <ul class="typeList clearFix">
                <li v-for="(item,index) in fixCont.typeNameList" @click="gameTypeClick(index)">
                    <p class="typeName">{{item}}</p>
                </li>
            </ul>
        </div>
        <div class="gameMoney">
            <p class="title01">面额</p>
            <ul class="moneyList clearFix">
                <li v-for="(item,index) in initPriceList.list" @click="gameMoneyClick(index)">
                    <p class="typeName"><i class="goodsNum">{{item.chargeNum}}</i>{{initPriceList.chargeNumName}}</p>
                    <p class="typePrice"><i class="pricePay">{{fixNum((item.quantity)*(initPriceList.priceTimes)*discout)}}</i>元</p>
                </li>
            </ul>
        </div>
        <div class="kong01"></div>
    </div>
    <div class="footer clearFix">
        <div class="left">
            <p class="payMoney">实付：<span><i></i>元</span></p>
            <p class="fanMoney">充值成功后再返<span><i></i>元</span></p>
        </div>
        <div class="sure" @click="sureClick()">确认充值</div>
    </div>
    <div class="mask" v-show="maskShow" @click="maskClick()"></div>
    <div class="nameCont sameCont">
        <div class="chooseAreaTitle">
            <p class="back" @click="maskClick"> < </p>
            <p>选择游戏名称</p>
        </div>
        <ul class="nameList sameList">
            <li v-for="(item,index) in allData" @click="chooseName(index,item)">{{item.gameName}}</li>
        </ul>
    </div>
    <div class="areaCont sameCont">
        <div class="chooseAreaTitle">
            <p class="back" @click="maskClick"> < </p>
            <p>选择游戏分区</p>
        </div>
        <ul class="areaList sameList" v-if="fixCont.areaslen==1">
            <li v-for="(item,index) in fixCont.areasList" @click="chooseArea(index)">{{item}}</li>
        </ul>
        <ul class="areaList sameList" v-else>
            <li v-for="(item,index) in fixCont.areasList" @click="chooseArea(index)">{{item.text}}</li>
        </ul>
    </div>
    <div class="serviceCont sameCont">
        <div class="chooseAreaTitle">
            <p class="back" @click="maskClick01()"> < </p>
            <p>选择服务器</p>
        </div>
        <ul class="serviceList sameList">
            <li v-for="(item,index) in serviceList" @click="chooseService(index)">{{item}}</li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="/dist/activity/11/gamePay.js?version=$version"></script>
</body>
</html>
