<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="201712071531")
    #set($src="http://f.51fanbei.com/h5/app/activity/11")
    <meta charset="UTF-8">
    <title>订单详情</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/11/gameOrderDetail.css?version=$version">
</head>
<body>
<div id="gameOrderDetail" class="gameOrderDetail">
    <div class="allTop">
        <div class="banner">
            <p class="orderStatus" v-if="content.orderStatus==='NEW'">待付款</p>
            <p class="orderStatus" v-if="content.orderStatus==='DEALING'">支付中</p>
            <p class="orderStatus" v-if="content.orderStatus==='PAYFAIL'">支付失败</p>
            <p class="orderStatus" v-if="content.orderStatus==='PAID'">已支付</p>
            <p class="orderStatus" v-if="content.orderStatus==='REVIEW'">代买审核中</p>
            <p class="orderStatus" v-if="content.orderStatus==='AGENCYCOMPLETED'">代买完成,等待确认完成</p>
            <p class="orderStatus" v-if="content.orderStatus==='DELIVERED'">已发货</p>
            <p class="orderStatus" v-if="content.orderStatus==='FINISHED'">订单完成</p>
            <p class="orderStatus" v-if="content.orderStatus==='REBATED'">返利成功</p>
            <p class="orderStatus" v-if="content.orderStatus==='CLOSED' && (!content.gmtPay)">订单关闭(未付款)</p>
            <p class="orderStatus" v-if="content.orderStatus==='CLOSED' && (content.gmtPay)">订单关闭(退款成功)</p>
            <p class="orderStatus" v-if="content.orderStatus==='WAIT_REFUND'">等待退款</p>
            <p class="orderStatus" v-if="content.orderStatus==='DEAL_REFUNDING'">退款中</p>
            <p class="timeOut" v-if="content.orderStatus==='NEW'">还剩支付时间 <i>{{showTimerS(diff)}}</i></p>
        </div>
        <div class="firstCont">
            <p class="serviceName" v-if="content.orderType==='GAME'">游戏充值</p>
            <p class="serviceName" v-if="content.orderType==='AMUSEMENT'">娱乐充值</p>
            <p class="cont">
                <span v-if="content.goodsName">游戏名称：{{content.goodsName}}；</span>
                <span v-if="content.acctType">账号类型：{{content.acctType}}；</span>
                <span v-if="content.userName">充值用户名：{{content.userName}}；</span>
                <span v-if="content.gameType">充值类型：{{content.gameType}}；</span>
                <span v-if="content.gameAcct">游戏账号：{{content.gameAcct}}；</span>
                <span v-if="content.gameArea">游戏选区：{{content.gameArea}}；</span>
                <span v-if="content.gameSrv">游戏服务器：{{content.gameSrv}}；</span>
            </p>
        </div>
        <div class="secondCont">
            <div class="top clearFix">
                <div class="img"><img :src="content.goodsIcon"></div>
                <p class="gameName">{{content.goodsName}}充值</p>
                <p class="chargeNum">{{content.goodsCount}} {{content.gameType}}</p>
            </div>
            <p class="totalPrice clearFix"><span>订单总价</span><span>￥{{content.actualAmount}}</span></p>
            <p class="fanMoney clearFix"><span>返利金额</span><span>￥{{content.rebateAmount}}</span></p>
        </div>
        <div class="thirdCont">
            <p class="orderNum">订单编号：<span>{{content.orderNo}}</span></p>
            <p class="createTime">创建时间：<span>{{content.orderStartTime}}</span></p>
            <p class="payTime" v-if="content.gmtPay">付款时间：<span>{{content.payTime}}</span></p>
        </div>
    </div>
    <div class="footer">
        <p class="deleteOrder" @click="deleteOrder()">删除订单</p>
        <p class="goPay" @click="goPay()" v-if="content.orderStatus==='NEW'">去支付</p>
    </div>
</div>
<script type="text/javascript" src="/dist/activity/11/gameOrderDetail.js?version=$version"></script>
</body>
</html>
