<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="201711301009")
    #set($src="http://f.51fanbei.com/h5/app/activity/11")
    <meta charset="UTF-8">
    <title>订单详情</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/11/gameOrderDetail.css?version=$version">
</head>
<body>
<div id="gameOrderDetail" class="gameOrderDetail">
   <div class="banner">
       <p class="bannerWord">订单关闭<br/><span>还剩支付时间 23:59:24</span></p>

   </div>
</div>
<script type="text/javascript" src="/dist/activity/11/gameOrderDetail.js?version=$version"></script>
</body>
</html>
