<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="201711270950")
    #set($src="http://f.51fanbei.com/h5/app/activity/11")
    <meta charset="UTF-8">
    <title>游戏充值</title>
    <link rel="stylesheet" type="text/css" href=/common/mui.min.css?version=$version">
    <link rel="stylesheet" type="text/css" href="/common/mui.picker.min.css?version=$version" />
    <link rel="stylesheet" type="text/css" href="/dist/activity/11/gamePay.css?version=$version">
</head>
<body>
<div id="gamePay" class="gamePay">
    <div class="gameName" v-if="gameNameShow==='Y'" @click="gameNameClick()">
       <p>游戏名称</p>
        <span>请选择游戏名称</span>
        <i> > </i>
   </div>
    <div class="gameName" v-if="gameNameShow==='N'">
        <p>游戏名称</p>
        <input type="text" placeholder="请输入游戏名称"/>
    </div>
    <div class="gamePass gameName">
        <p>游戏通行证</p>
        <input type="text" placeholder="请输入游戏通行证"/>
    </div>
    <div class="gameNum gameName">
        <p>充值账号</p>
        #*<input type="text" placeholder="请输入充值账号"/>*#
        <p>{{fixCont.accountType}}</p>
    </div>
    <div class="gameArea gameName clearFix" @click="gameAreaClick()">
        <p>游戏区服</p>
        <span>请输入游戏区服</span>
        <i> > </i>
    </div>
    <div class="gameType">
        <p class="title">充值类型</p>
        <ul class="typeList clearFix">
            <li v-for="item in fixCont.typeNameList"><p class="typeName">{{item}}</p></li>
        </ul>
    </div>
    <div class="gameMoney gameType">
        <p class="title">面额</p>
        <ul class="typeList clearFix">
            <li v-for="item in fixCont.priceTypeList">
                <p class="typeName">{{item.chargeNum}}{{fixCont.chargeNumName}}</p>
                <p class="typePrice">{{(item.quantity)*(fixCont.priceTimes)}}元</p>
            </li>
        </ul>
    </div>
    <div class="footer clearFix">
        <div class="left">
            <p class="payMoney">实付：<span>9.5元</span></p>
            <p class="fanMoney">充值成功后再返<span>0.5元</span></p>
        </div>
        <div class="sure">确认充值</div>
    </div>
</div>
<script type="text/javascript" src="/common/mui.min.js?version=$version"></script>
<script type="text/javascript" src="/common/mui.picker.min.js?version=$version"></script>
<script type="text/javascript" src="/dist/activity/11/gamePay.js?version=$version"></script>
</body>
</html>
