<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="2017071005")
    <meta charset="UTF-8">
    <title>游戏点劵</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/07/gamePoint.css">
</head>
<body>
    <div id="gamePoint">
        <div class="gamePointBanner">
            <img :src="content.bannerImage" alt="">
        </div>
        <div class="all">
            <ul class="gamePointNav clearfix">
                <li class="gamePoint" v-bind:class='{line:isActive}'  v-on:click="isshow">{{content.activityList[0].name}}</li>
                <li class="hotVip" v-bind:class='{line:!isActive}'  v-on:click="isshow">{{content.activityList[1].name}}</li>
            </ul>
            <ul class="detail left" v-bind:class='{show:!isActive}'>
                <li class="goods"  v-for="item in content.activityList[0].activityGoodsList" @click="buyNow(item.goodsId)">
                    <div class="goods-img">
                        <img :src="item.goodsIcon" alt="">
                    </div>
                    <div class="goods-words">
                        <p class="goodName" style="-webkit-box-orient: vertical;">{{item.goodName}}</p>
                        <p class="backmoney"><span class="dollor">￥{{item.saleAmount}}</span><span class="back">返利￥{{item.rebateAmount}}</span></p>
                        <p v-if="item.nperMap"><span class="monthpay">月供</span><span class="money">{{item.nperMap.amount}}x{{item.nperMap.nper}}<i class="free">免息</i> </span></p>   
                    </div>
                </li>
            </ul>
            <ul class="detail right" v-bind:class='{show:isActive}'>
                 <li class="goods"  v-for="item in content.activityList[1].activityGoodsList" @click="buyNow">
                    <a href="">
                        <div class="goods-img">
                            <img :src="item.goodsIcon" alt="">
                        </div>
                        <div class="goods-words">
                            <p class="goodName" style="-webkit-box-orient: vertical;">{{item.goodName}}</p>
                            <p class="backmoney"><span class="dollor">￥{{item.saleAmount}}</span><span class="back">返利￥{{item.rebateAmount}}</span></p>
                            <p v-if="item.nperMap"><span class="monthpay">月供</span><span class="money">{{item.nperMap.amount}}x{{item.nperMap.nper}}<i class="free">免息</i> </span></p>   
                        </div>
                    </a>  
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="//cdn.bootcss.com/vue-resource/1.0.3/vue-resource.min.js"></script>
<script src="/dist/activity/07/gamePoint.js"></script>
</html>