<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="201711301012")
    #set($src="http://f.51fanbei.com/h5/app/activity/11")
    <meta charset="UTF-8">
    <title>游戏充值</title>
    <link rel="stylesheet" type="text/css" href=/common/mui.min.css?version=$version">
    <link rel="stylesheet" type="text/css" href="/common/mui.picker.min.css?version=$version" />
    <link rel="stylesheet" type="text/css" href="/dist/activity/11/gamePay.css?version=$version">
</head>
<body>
<div id="gamePay" class="gamePay">
    <div class="allTop">
        <div class="gameName" v-if="allDataLen===1">
            <p>游戏名称</p>
            <span>{{initChooseFirst.gameName}}</span>
        </div>
        <div class="gameName" @click="gameNameClick()" v-else>
            <p>游戏名称</p>
            <span>{{initChooseFirst.gameName}}</span>
            <i> > </i>
        </div>
        <div class="gamePass gameName" v-if="dataType==='B'">
            <p class="nameDesc"></p>
            <input type="text" class="nameDesc01" placeholder=""/>
        </div>
        <div class="gamePass gameName" v-if="dataType==='B'">
            <p class="nameconfirmDesc"></p>
            <input type="text" class="nameconfirmDesc01" placeholder=""/>
        </div>
        <div class="needGameNum gameName" v-show="needGameNumShow">
            <p>游戏账号</p>
            <input type="text" placeholder="请输入游戏账号"/>
        </div>
        <div class="gameNum gameName">
            <p>{{initChooseFirst.accountType}}</p>
            <input type="text" placeholder=" "/>
        </div>
        <div class="gameArea gameName clearFix" @click="gameAreaClick()">
            <p>游戏区服</p>
            <span>{{initChooseFirst.initArea}}</span>
            <i> > </i>
        </div>
        <div class="kong"></div>
        <div class="gameType">
            <p class="title">充值类型</p>
            <ul class="typeList clearFix">
                <li v-for="(item,index) in initChooseFirst.typeNameList" @click="gameTypeClick(index)">
                    <p class="typeName">{{item}}</p>
                </li>
            </ul>
        </div>
        <div class="gameMoney">
            <p class="title">面额</p>
            <ul class="moneyList clearFix">
                <li v-for="(item,index) in initChooseFirst.priceTypeList" @click="gameMoneyClick(index)">
                    <p class="typeName"><i>{{item.chargeNum}}</i>{{initChooseFirst.chargeNumName}}</p>
                    <p class="typePrice"><i class="pricePay">{{fixNum((item.quantity)*(initChooseFirst.priceTimes)*discout)}}</i>元</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer clearFix">
        <div class="left">
            <p class="payMoney">实付：<span><i></i>元</span></p>
            <p class="fanMoney">充值成功后再返<span><i></i>元</span></p>
        </div>
        <div class="sure" @click="sureClick()">确认充值</div>
    </div>
</div>
<script type="text/javascript" src="/common/mui.min.js?version=$version"></script>
<script type="text/javascript" src="/common/mui.picker.min.js?version=$version"></script>
<script type="text/javascript" src="/dist/activity/11/gamePay.js?version=$version"></script>
</body>
</html>
