<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="201710221347")
    #set($src="http://f.51fanbei.com/h5/app/activity/10")
    <meta charset="UTF-8">
    <title>“吃玩住行”就来这</title>
    <link rel="stylesheet" type="text/css" href="https://img.51fanbei.com/h5/static/swiper-3.4.2.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/activity/10/ggAD.css?version=$version">
</head>
<body>
<div id="ggAD" class="ggIndex">
    <!--人数左右移动--start-->
    <div class="personAmount">
        <div class="amountCont">
            <div class="cont cont1">
                <p><span>{{content.fakeFinal}}</span>人集齐所有卡片</p>
            </div>
            <div class="cont cont2"></div>
        </div>
    </div><!--人数左右移动--end-->
    <!--首页轮播图-->
    <div class="banner">
        <div class="logo"><img src="$src/ggNew01.png"></div>
        <p class="joinAmount" @click="joinAmountClick()"><span>{{content.fakeJoin}}</span>人参与</p>
        <img class="first first01" src="$src/ggNew02.png">
        <img class="first first02" src="$src/ggNew03.png">
        <div class="swiper-wrapper">
            <div class="swiper-slide" v-for="item of content.bannerList">
                <img :src="item.value" @click="bannerClick()">
            </div>
        </div>
    </div>
    <!--首页轮播图--end-->
    <div class="highPrize">高额红包及返利，消费更划算</div>
    <!--优惠券--start-->
    <div class="couponList clearFix">
        <div class="coupon" v-for="(item,index) in content.boluomeCouponList" @click="couponClick(index)">
            <p class="amount" v-if="item.type===1">{{item.value}}</p>
            <p class="amount" v-if="item.type===2"><span>{{item.discount*10}}</span>折</p>
            <p class="limitAmount white" v-if="item.threshold>0">满<span>{{item.threshold}}</span>元可用</p>
            <p class="limitAmount white" v-else>无门槛</p>
            <p class="name" v-for="a in item.channels" v-if="a==='shengxian_yiguo'">易果生鲜</p>
            <p class="name" v-for="a in item.channels" v-if="a==='waimai_ele'">外卖</p>
            <p class="name" v-for="a in item.channels" v-if="a==='dianying_kou'">看电影</p>
            <p class="name" v-for="a in item.channels" v-if="a==='huafei_ofpay'">话费充值</p>
            <p class="name" v-for="a in item.channels" v-if="a==='coffee_linqu'">星巴克</p>
            <p class="name" v-for="a in item.channels" v-if="a==='jiudian_ctrip'">携程酒店</p>
        </div>
    </div>
    <!--卡片list-->
    <div class="cardList clearFix">
        <div class="card" v-for="item in content.itemsList" @click="cardClick()">
            <img :src="item.logo">
            <img :src="fixImgUrl(item.rid)" class="gray" v-if="item.num===0">
            <img :src="fixImgUrl(item.rid)" class="gray" style="display: none">
            <p class="num" style="display: none">x{{item.num}}</p>
        </div>
    </div>
    <!--终极大奖-->
    <!--已领取-->
    <div class="finalPrize finalPrize03" @click="finalPrize()" v-if="content.superPrizeStatus==='YN'">
        <p class="amount" v-for="item in content.normalCouponList">{{item.amount}}元红包</p>
    </div>
    <!--未领取-->
    <div class="finalPrize finalPrize01" @click="finalPrize()" v-else>
        <p class="amount" v-for="item in content.normalCouponList">{{item.amount}}元红包</p>
    </div>
    <!--领取终极大奖提示弹窗-->
    <div class="alertFinalPrize">
        <img src="http://f.51fanbei.com/h5/app/activity/08/gg19.jpg">
        <p class="prizeWord01">恭喜红包领取成功！</p>
        <p class="prizeWord02">请前往“我的-返利金额”查看</p>
        <p class="know" @click="close()"></p>
        <p class="closePrize" @click="close()"></p>
    </div>
    <div class="presentCard ask">
        <p class="presentCardTitle" v-for="item in content.normalCouponList">集齐6张卡片<span>领取{{item.amount}}元现金</span></p>
        <p class="presentCont"><span></span>完成1笔消费订单且满足消费规则时，即可获得1张场景专属卡片，更有高额返利。</p>
        <p class="presentCont"><span></span>向好友索要、与好友互换，即可获取不同种类的专属卡片；分享后，好友消费后更有同等返利给到您。</p>
        <p class="presentCont" v-for="item in content.normalCouponList"><span></span>集齐全部专属卡片，即可兑换{{item.amount}}元现金红包。</p>
        <p class="presentButton" @click="presentClick()"><img src="$src/ggNew09.png"></p>
    </div>
    <div class="demandCard ask">
        <p class="presentCardTitle">集齐6张卡片太难？</p>
        <p class="inviteNum01" v-if="content.despotCoupon==='Y'" @click="presentClick()">您已成功邀请<span>{{content.alreadyNum}}人</span>，现在去享霸王餐 ></p>
        <p class="inviteNum01" v-if="!(content.despotCoupon)&&(((content.alreadyNum)%(content.supportedNum))!=0)">您已邀请<span>{{content.alreadyNum}}人</span>，再邀请<span>{{(content.supportedNum)-((content.alreadyNum)%(content.supportedNum))}}人</span>即享霸王餐</p>
        <p class="inviteNum03" v-if="!(content.despotCoupon)&&(((content.alreadyNum)%(content.supportedNum))===0)">邀请<span>{{content.supportedNum}}位好友</span>，也可吃霸王餐！</p>
        <p class="presentCont"><span></span>通过“找人要卡”，每成功邀请{{content.supportedNum}}名好友，在以上6个场景中完成1笔任意金额消费，即可享用1次霸王餐（外卖，20元红包）。</p>
        <p class="presentCont"><span></span>被邀请的新用户可享受外卖首单立减优惠（15元红包）。</p>
        <p class="demandButton" @click="demandClick()"><img src="$src/ggNew10.png"></p>
    </div>
    <p class="ruleInfo" @click="ruleClick()">活动规则详情</p>
    <div class="kong"></div>
    <div class="mask" @click="close()"></div>
    <!--活动规则弹窗-->
    <div class="alertRule">
        <p class="ruleTitle">活动规则</p>
        <p class="ruleCont" v-html="content.despcription"></p>
        <p class="close" @click="close()"></p>
    </div>
    <p class="companyWord01">版权所有：浙江阿拉丁电子商务股份有限公司<br/>联系电话：0571-86802133</p>
    <p class="companyWord02">版权所有：浙江楚橡信息科技股份有限公司<br/>联系电话0571-86802133</p>
</div>
<script type="text/javascript" src="https://img.51fanbei.com/h5/static/swiper-3.4.2.jquery.min.js"></script>
<script type="text/javascript" src="/dist/activity/10/ggAD.js?version=$version"></script>
</body>
</html>