<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="201801261414")
    #set($src="http://f.51fanbei.com/h5/app/activity/11")
    <meta charset="UTF-8">
    <title>“吃玩住行”就来这</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/11/ggFix.css?version=$version">
</head>
<body>
<div id="ggFix" class="ggFix">
    <div class="loadingMask"><i class="loading"></i></div>
    <!--公告左右移动--start-->
    <div class="personAmount">
        <div class="amountCont">
            <div class="cont cont1">
                <p>第二波活动还剩 <span class="timeOut"></span> 结束，第三波福利加码即将开启，敬请期待！</p>
            </div>
            <div class="cont cont2"></div>
        </div>
    </div><!--公告左右移动--end-->
    <div class="banner">
        <img class="first" src="$src/ggFix01.png">
        <div class="firstStep">
            <p class="word01"></p>
            <p class="lineBox01"><span class="line01"></span></p>
        </div>
        <div class="secondStep">
            <p class="word02"></p>
            <p class="lineBox02"><span class="line02"></span></p>
        </div>
        <div class="thirdStep">
            <p class="word03"></p>
            <p class="lineBox03"><span class="line03"></span></p>
        </div>
        <div class="fourthStep">
            <p class="word04"></p>
            <p class="lineBox04"><span class="line04"></span></p>
        </div>
    </div>
    <p class="clickRule" @click="ruleClick()"><span>活动规则</span></p>
    <div class="alertRule" v-show="ruleShow">
        <p class="alertRuleTitle">活动规则</p>
        <p class="alertRuleCont" v-html="content.popupDescript"></p>
        <p class="closeRule" @click="closeClick()">X</p>
    </div>
    <div class="mask" v-show="ruleShow"  @click="closeClick()"></div>
    <div class="firstCont">
        <p class="firstTitle"><img src="$src/ggFix08.png">{{firstTitle}}</p>
        <div class="cont">
            <p class="contTop"><span>{{firstValue}}</span></p>
            <p class="contNewUser" @click="contNewUserClick()">新用户去吃霸王餐 ><br/><span>{{firstValue}}元外卖券已发放至账户</span></p>
            <p class="contOldUser" @click="contOldUserClick()">老用户同享霸王餐 ></p>
        </div>
    </div>
    <div class="secondCont">
        <p class="secondTitle"><img src="$src/ggFix10.png">{{secondTitle}}</p>
        <div class="cont">
            <p class="contTop"><span>{{secondValue}}</span></p>
            <p class="contRule">活动规则：<br/>{{content.ruleDescript}}</p>
        </div>
    </div>
    <div class="thirdCont">
        <div class="myPrize">
            <p class="prizeTop">我的奖励</p>
            <p class="prizeBot">
                <span>合计</span>
                <span v-if="content.totalRebate" class="fanMoneyStyle">
                    <i v-for="item in myRebateMoney">{{item}}</i>
                </span>
                <span v-else class="fanMoneyStyle01">
                    <i>0</i>
                </span>
                <span>元返利金</span>
            </p>
        </div>
        <p class="toCash" @click="toCashClick()">去账户提现 ></p>
        <div class="rebateList">
            <p class="rebateTitle"><span>消费场景</span><span>消费时间</span><span>返利(元)</span><span>惊喜返利金(元)</span></p>
            <ul class="rebateCont" v-if="content.rebateList && content.rebateList!=''">
                <li v-for="item in content.rebateList">
                    <span v-if="item.surpriseRebate>0" class="wordDes01">{{item.consumeScene}}<br/>(首次)</span>
                    <span v-else>{{item.consumeScene}}</span>
                    <span>{{item.consumeTime}}</span>
                    <span>{{item.sceneRebate}}</span>
                    <span>{{item.surpriseRebate}}</span>
                </li>
            </ul>
            <p class="noRebateMoney" v-else>您暂无返利！<br/>参与场景消费，领取188元返利金！</p>
        </div>
    </div>
    <div class="fourthCont">
        <p class="fourthTitle"><img src="$src/ggFix13.png">我的场景</p>
        <p class="toRebateMoney" @click="toRebateMoneyClick()">去“吃玩住行”领返利金 ></p>
        <div class="couponList clearFix">
            <div class="coupon" v-for="(item,index) in couponList" @click="couponClick(index)">
                <p class="couponName">{{item.name}}</p>
                <div class="middle">
                    <p class="couponAmount" v-if="item.type===1">￥<span>{{item.value}}</span></p>
                    <p class="couponAmount" v-if="item.type===2"><span>{{item.discount*10}}</span>折</p>
                    <p class="couponLimit" v-if="item.threshold>0">满{{item.threshold}}元可用</p>
                    <p class="couponLimit" v-else>无门槛</p>
                </div>
                <p class="getCoupon">领取</p>
            </div>
        </div>
        <div class="cardList clearFix">
            <div class="card" v-for="item in content.cardList" @click="cardClick(item)"><img :src="item.image"></div>
        </div>
    </div>
    <div class="toast">
       <div class="fanMoney" v-if="alertData.rebateToPop && alertData.rebateToPop==='Y'">
           <p class="title01">您已参与“{{alertData.sceneName}}”场景<br/><span>获得<i>{{alertData.rebateAmount}}元</i>返利金</span></p>
           <p class="toGet" @click="toGetClick()">领取188元 ></p>
       </div>
        <div class="takeOutFood" v-if="alertData.couponToPop && alertData.couponToPop==='Y' && ((alertData.rebateToPop && alertData.rebateToPop==='N') || !alertData.rebateToPop)">
            <img :src="alertData.couponImage">
            <p class="toUse" @click="contNewUserClick()"></p>
        </div>
    </div>
    <div class="mask" v-show="alertShow"  @click="closeClick()"></div>
</div>
<script type="text/javascript" src="/dist/activity/11/ggFix.js?version=$version"></script>
</body>
</html>