<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="20180306")
    #set($src="http://f.51fanbei.com/h5/app/activity/11")
    <meta charset="UTF-8">
    <title>“吃玩住行”就来这</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/11/ggFixSharejm.css?version=$version">
</head>
<body>
<div id="ggFixShareqt" class="ggFixSharejm">
    <!--公告左右移动--start-->
    <div class="personAmount">
        <div class="amountCont">
            <div class="cont cont1">
                <p>第二波活动还剩 <span class="timeOut"></span> 结束，第三波福利加码即将开启，敬请期待！</p>
            </div>
            <div class="cont cont2"></div>
        </div>
    </div><!--公告左右移动--end-->
    <!--首页轮播图-->
    <div class="loadingMask"><i class="loading"></i></div>
    <div class="banner first">
        <img src="$src/ggFix01.png">
        <div class="firstStep">
            <p class="word01"></p>
            <p class="lineBox01"><span class="line01"></span></p>
        </div>
        <div class="secondStep">
            <p class="word02"></p>
            <p class="lineBox02"><span class="line02"></span></p>
        </div>
        <div class="thirdStep">
            <p class="word03"></p>
            <p class="lineBox03"><span class="line03"></span></p>
        </div>
        <div class="fourthStep">
            <p class="word04"></p>
            <p class="lineBox04"><span class="line04"></span></p>
        </div>
    </div>
    <div class="logo"><img src="$src/ggFix44.png"></div>
    <p class="clickRule" @click="ruleClick()"><span>活动规则</span></p>
    <div class="alertRule" v-show="ruleShow">
        <p class="alertRuleTitle">活动规则</p>
        <p class="alertRuleCont" v-html="content.popupDescript"></p>
        <p class="closeRule" @click="closeClick()">X</p>
    </div>
    <div class="mask" v-show="ruleShow"  @click="closeClick()"></div>
    <div class="signTitle"><span>注册即16元外卖1元享<br/>再送1000元新人大礼包</span></div>
    <!--注册--start-->
    <div class="login clearFix" id="register">
        <div class="phone">
            <input type="tel" maxLength=11 minLength=11  placeholder="请输入手机号" id="mobile" class="pinp mobile">
            <span class="clearValOne">x</span>
        </div>
        <div class="phone">
            <input type="password" maxLength=18 minLength=6  placeholder="请输入密码" class="pinp mobile" id="password">
            <span class="clearValTwo">x</span>
        </div>
        <div class="phone clearFix">
            <input  placeholder="输入验证码" class="check pinp" id='yzcheck' maxlength="6" pattern="[0-9]*">
            <span class="checkbtn" isState=0>获取验证码</span>
        </div>
    </div>
    <p class="loginbtn">立即领取</p>
    <p class="hasUserName" @click="hasUserNameClick()">已有账号登录></p>
    <!--注册--end-->
    <!--弹窗-->
    <div class="imgVftCodeWrap hide">
        <div class="imgVftCodeTitle"><p>请输入图形验证码</p><span id="imgVftCodeClose"><i></i></span></div>
        <div class="imgVftCodeInput clearfix">
            <div class="imgVftCodeDiv"><input type="text" class="imgVftCode" id="imgVftCode" maxlength="4" placeholder="请输入"></div>
            <div class="imgVftCodeWrapImgDiv"><img id="imgVftCodeWrapImg" src=""></div>
            <span class="imgVftCodeRefresh" id="imgVftCodeRefresh"><i></i></span>
        </div>
        <button class="imgVftCodeSbumit" id="imgVftCodeSbumit">确定</button>
    </div>
    <p class="companyWord01">版权所有：浙江阿拉丁电子商务股份有限公司<br/>联系电话：0571-86802133</p>
    <p class="companyWord02">版权所有：浙江楚橡信息科技股份有限公司<br/>联系电话：0571-86802133</p>
</div>
<script type="text/javascript">
    var _saber={};
</script>
<script type="text/javascript" src="/dist/js/core.js"></script>
<script type="text/javascript" src="/dist/js/md5.js"></script>
<script type="text/javascript" src="/dist/js/saber.js?version=$version"></script>
<script type="text/javascript" src="/dist/activity/11/ggFixShareqt.js?version=$version"></script>
<div style="display:none"><script src="https://s4.cnzz.com/z_stat.php?id=1261759898&web_id=1261759898" language="JavaScript"></script></div>
</body>
</html>