<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="20170801")
    #set($src="http://f.51fanbei.com/h5/app/activity/08")
    <title>场景点亮首页</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/08/ggIndex.css?version=$version">
</head>
<body>
<div id="ggIndex" class="ggIndex">
    <!--人数左右移动--start-->
    <div class="personAmount">
        <div class="amountCont">
            <div class="cont cont1">
                <p>已有<span>{{content.fakeFinal}}</span>人点亮所有场景</p>
            </div>
            <div class="cont cont2"></div>
        </div>
    </div><!--人数左右移动--end-->
    <div class="header">
        <div class="logo"><img src="$src/gg01.png"></div>
        <p class="joinAmount"><span>{{content.fakeJoin}}</span>人参与</p>
    </div>
    <div class="money" v-for="item in content.normalCouponList">
        <p>消费有返利</p>
        <p>还可以领取<span>{{item.amount}}</span>元现金红包</p>
    </div>
    <!--首页轮播图-->
    <div class="banner">
        <ul class="bannerList">
            <li v-for="item in content.bannerList"><img :src="item.imageUrl"></li>
        </ul>
        <ul class="num"></ul>
    </div>
    <!--首页轮播图--end-->
    <!--优惠券--start-->
    <div class="couponList clearFix">
        <div class="coupon"  v-for="item in content.boluomeCouponList" @click="couponClick(item)">
            <p class="name" v-for="a in item.channels" v-if="a==='shengxian_yiguo'">易果生鲜</p>
            <p class="name" v-for="a in item.channels" v-if="a==='waimai_ele'">饿了么</p>
            <p class="amount" v-if="item.type===1">￥<span>{{item.value}}</span></p>
            <p class="amount" v-if="item.type===2">￥<span>{{item.discount*10}}</span>折</p>
            <p class="limitAmount white" v-if="item.threshold>0">满<span>{{item.threshold}}</span>元可用</p>
            <p class="limitAmount white" v-else>无门槛</p>
            <p class="validTime white" v-if="item.term_type===1">有效期<span>{{item.effective_day}}</span>天</p>
        </div>
    </div>
    <!--卡片list-->
    <div class="cardList clearFix">
        <div class="card" v-for="item in content.itemsList" @click="cardClick(item)">
            <img :src="item.iconUrl">
            <p class="cardMask" v-if="item.num===0"></p>
            <p class="num" v-if="item.num>=2">x{{item.num}}</p>
        </div>
    </div>
    <div class="finalPrize finalPrize01" v-for="item in content.normalCouponList" @click="finalPrize()" v-show="!finalPrizeMask">
        <p class="amount">{{item.amount}}</p>
    </div>
    <div class="finalPrize finalPrize02" v-for="item in content.normalCouponList" v-show="finalPrizeMask">
        <p class="amount">{{item.amount}}</p>
    </div>
    <div class="presentCard ask">我要赠送卡片</div>
    <div class="demandCard ask">我要索要卡片</div>
    <div class="progress">
       <div class="left"></div>
        <p class="p01">完成1笔消费订单且满足消费规则时，即可获得1张场景专属卡片，更有高额返利</p>
        <p class="p02">向好友索要、与好友互换，即可获取不同种类的专属卡片；分享后，好友消费后更有同等返利给到你</p>
        <p>集齐全部专属卡片，即可兑换<span>88.88</span>元现金红包</p>
    </div>
    <p class="ruleInfo" @click="ruleClick()">活动规则详情</p>
    <div class="kong"></div>
    <div class="mask" @click="close()"></div>
    <!--活动规则弹窗-->
    <div class="alertRule">
        <p class="ruleTitle"><span class="dian"></span><span class="word">活动规则</span><span class="dian"></span></p>
        <p class="ruleCont">{{content.despcription}}</p>
        <p class="close" @click="close()">X</p>
    </div>
    <!--赠送或索要卡片弹窗-->
    <div class="alertPresent">
        <p class="title demandTitle">请选择你要索要的卡片</p>
        <p class="title presentTitle"><span>我在51返呗搜集到了</span><br/><span>e顿健康餐</span><span>送给你</span></p>
        <div class="imgCont">
            <p class="bg"></p>
            <div id="slide" class="imgList" class="index-slide" alt="star">

            </div>
        </div>
        <p class="previous" onclick="left()"></p>
        <p class="next" onclick="right()"></p>
        <p class="sure"></p>
        <p class="close" @click="close()">X</p>
    </div>
</div>
#*<script type="text/javascript" src="/dist/activity/08/ggIndexAnimate.js?version=$version"></script>*#
<script type="text/javascript" src="/dist/activity/08/ggIndexPresent.js?version=$version"></script>
<script type="text/javascript" src="/dist/activity/08/ggIndexDemand.js?version=$version"></script>
<script type="text/javascript" src="/dist/activity/08/ggIndex.js?version=$version"></script>

</body>
</html>