<!DOCTYPE html>
<html lang="en">
<head>
    #set($src="https://fs.51fanbei.com/h5/app/activity/08")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/08/gglogin.css?version=$version">
</head>
<body>
    <div class="login">
        <div class="topdiv">
            <div class="topimg">
                <img src="$src/51icon.png" alt="">
            </div>
        </div>       
        <div class="phone">
            <span class="bicon"></span>
            <input type="tel"  placeholder="请输入登录手机号" class="pinp">
            <span class="xxicon"><img src="$src/fork.png" alt=""></span>
        </div>
        <div class="pcheck phone">
            <span class="bicon"></span>
            <input   placeholder="请输入短信验证码" class="check pinp">
            <span class="checkbtn">获取验证码</span>
        </div>
        <div class="loginbtn">
            立即登录
        </div>
        <div class="lspdiv clearFix">
            <span class="spl">我要注册</span>
            <span class="spr">忘记密码</span>
        </div>   
    </div>
    <div class="botimg">
            <img src="$src/pic-2.png" alt="">
    </div>       
</body>
</body>
</html>