<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="201712261135")
    #set($src="http://f.51fanbei.com/h5/app/activity/11")
    <meta charset="UTF-8">
    <title>我要吃霸王餐</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/11/ggOverlord.css?version=$version">
</head>
<body>
<div id="ggOverlord" class="ggOverlord">
    <!--公告左右移动--start-->
    <div class="personAmount">
        <div class="amountCont">
            <div class="cont cont1">
                <p>第二波活动还剩 <span class="timeOut"></span> 结束，第三波福利加码即将开启，敬请期待！</p>
            </div>
            <div class="cont cont2"></div>
        </div>
    </div><!--公告左右移动--end-->
    <textarea type="text" id="invitecode">23123</textarea>
    <div class="loadingMask"><i class="loading"></i></div>
    <div class="banner first"><img src="$src/ggFix17.png"></div>
    <div class="firstCont">
        <p class="inviteButton" @click="inviteButtonClick()">有福同享 ></p>
        <div class="clickInviteCode">
            <div class="copycode">点击复制邀请码：<span class="invitecode" :data-clipboard-text="baseData.inviteCode">{{baseData.inviteCode}}</span></div>
        </div>
        <p class="inviteRule">活动规则：<br/>{{baseData.activityRule}}</p>
        <p class="exampleRule">{{baseData.example}}</p>
    </div>
    <div class="secondCont">
        <div class="myPrize">
            <p class="prizeTop">我的奖励</p>
            <p class="prizeBot">
                <span>合计</span>
                <span><i v-for="item in inviteSumMoney">{{item}}</i></span>
                <span>元外卖券</span>
            </p>
        </div>
        <p class="toCash" @click="toCashClick()">去使用外卖券 ></p>
        <div class="rebateList">
            <p class="rebateTitle"><span>被邀请人</span><span>注册时间</span><span>状态</span><span>奖励</span></p>
            <div v-if="content.returnCouponList && couponLength>0">
                <ul class="rebateCont">
                    <li v-for="item in content.returnCouponList" class="clearFix">
                        <span>{{item.inviteeMobile}}</span>
                        <span>{{fixDate(item.registerTime)}}</span>
                        <span v-if="item.status==='已完成'" style="color:#f0110e">{{item.status}}</span>
                        <span v-else>{{item.status}}</span>
                        <span>{{item.reward}}</span>
                    </li>
                </ul>
                <p class="noteDes">注：状态“未完成”表示用户已消费但订单状态未确认完成；</p>
            </div>
            <p class="noPrize" v-else>您暂无奖励</p>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://img.51fanbei.com/h5/static/base64.js"></script>
<script type="text/javascript" src="/dist/js/clipboard.min.js"></script>
<script type="text/javascript" src="/dist/activity/11/ggOverlord.js?version=$version"></script>
</body>
</html>