<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="2017082402")
    #set($src="http://f.51fanbei.com/h5/app/activity/08")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>验证手机号</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/08/ggVerify.css?version=$version">
</head>
<body>
    <div id="verify">
        <div class="phoneNumber">
            <img src="$src/verify-one.png" alt="" class="phoneNumber-pic">
            <input maxLength=11 minLength=11 type="text" placeHolder="请输入手机号" class="phoneNumber-right">
        </div>
        <div class="mesg">
            <img src="$src/verify-two.png" alt="" class="mesg-pic">
            <input type="text" placeHolder="请输入短信验证码" class="mesg-right" maxlength="6" pattern="[0-9]*" >
            <button class="btn" isState=0>获取验证码</button>
        </div>
        <button class="nextStep">下一步</button>
    </div>
    <!--弹窗-->
    <div class="registerMask hide"></div>
    <div class="imgVftCodeWrap hide">
        <div class="imgVftCodeTitle"><p>请输入图形验证码</p><span id="imgVftCodeClose"><i></i></span></div>
        <div class="imgVftCodeInput clearfix">
            <div class="imgVftCodeDiv"><input type="text" class="imgVftCode" id="imgVftCode" maxlength="4" placeholder="请输入"></div>
            <div class="imgVftCodeWrapImgDiv"><img id="imgVftCodeWrapImg" src=""></div>
            <span class="imgVftCodeRefresh" id="imgVftCodeRefresh"><i></i></span>
        </div>
        <button class="imgVftCodeSbumit" id="imgVftCodeSbumit">确定</button>
    </div>
</body>
<script type="text/javascript" src="/dist/activity/08/ggVerify.js"></script>
</html>