<!DOCTYPE html>
<html lang="en">
<head>
    #set($src="https://f.51fanbei.com/h5/app/activity/09")
    <title>时尚宠儿“给你女神风范”</title>
</head>
<style>
    body{
        background-color:#fdf4ee;
        box-sizing:content-box;
        padding:0 0.1rem;
    }
    .detail{
        background-color:white;
        padding:0.22rem 0rem;
    }
    .left{
        width:3.322rem;
        border:1px dashed  #deaf7c;
        margin-left: 0.18rem;
    }
    .top img{
        width:3.32rem;
        height:3.32rem;
        background-color:pink;
        /*margin:0.56rem 0.526rem 0.486rem;*/
    }
    .oppo{
        font-size:0.26rem;
        font-weight: 600;
        margin-left:0.256rem;
        width: 3rem;
        height: 0.4rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .money{
        font-size:0.26rem;
        margin:0.25rem 0 0.23rem 0.256rem;
    }
    .back{
        width:0.35rem;
        height:0.35rem;
        background-color: #fd8b5e;
        color:white;
        border-radius:50%;
        text-align:center;
        line-height:0.34rem;
        margin-left:0.1rem;
    }
    .backMoney{
        font-size:0.26rem;
        color:#fd8b5e;
    }
    .monthPay{
        width:3.32rem;
        height:0.521rem;
        background-color: #e8b174;
        color:white;
        text-align:center;
        line-height:0.521rem;
    }
    .right{
        width:3.322rem;
        border:1px dashed  #deaf7c;
        margin-left:0.05rem;
    }
    li,div{
        display:inline-block;
    }
    li{
        margin-bottom: 0.21rem;
    }
    .qi{
        margin-left:0.1rem;
    }
</style>
<body>
    <div id="godness">
        <div class="banner"><img src="$src/oppo11.jpg" alt=""></div>
        <ul class="detail">
            <li  v-for="item in message.oneLevelGoodsInfo.goodsList" @click="buyNow(item)">
                <div class="left">
                    <div class="top">
                        <img :src="item.goodsIcon" alt="">
                    </div>
                    <div class="bottom">
                        <p class="oppo">{{item.goodName}}</p>
                        <p class="money">￥{{item.saleAmount}}<span class="back">返</span><span class="backMoney">￥{{item.rebateAmount}}</span></p>
                        <p class="monthPay">月供：
                            <sapn v-if="item.nperMap.isFree==='1' ||  item.nperMap.isFree==='2'">￥{{item.nperMap.freeAmount}}</sapn>
                            <span v-else>￥{{item.nperMap.amount}}</span>
                            <span class="qi">起</span>
                        </p>
                    </div>
                </div>
        </ul>
    </div>
</body>
<script src="//cdn.bootcss.com/vue-resource/1.0.3/vue-resource.min.js"></script>
<script type="text/javascript" src="/dist/activity/09/godness.js"></script>
</html>
