<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="20170915")
    #set($src="http://f.51fanbei.com/h5/app/activity/09")
    <meta charset="UTF-8">
    <title>秋月蟹礼</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/09/hairyCrab.css">
</head>
<body>
<div id="hairyCrab"  class="hairyCrab">

</div>
<script type="text/javascript" src="/dist/activity/09/hairyCrab.js?version=$version"></script>
</body>
</html>