<!DOCTYPE html>
<html lang="en">
<head>
#set($version="20170728")
#set($src="http://f.51fanbei.com/h5/app/activity/07")
<title>青春活力</title>
<link rel="stylesheet" type="text/css" href="/dist/activity/07/huiLi.css">
</head>
<body>
<div id="huiLi">
  <div class="banner"><img :src="content.bannerImage"></div>
  <div class="couponList">
  	 <div class="coupon" v-for="item in couponCont.couponInfoList" @click="couponClick(item)">
      <p class="money">￥<span>{{item.amount}}</span></p>
  	 	<p class="name">优惠券</p>
  	 	<p class="useRule" v-if="item.limitAmount>0">(满{{item.limitAmount}}使用)</p>
      <p class="useRule" v-else>无门槛券</p>
  	 	<p class="get">立即领取</p>
  	 </div>
  </div>  
  <div class="content">
  	 <div class="contFirst clearfix">
  	 	 <div class="img01"><img src="$src/huiLi02.jpg"></div>
  	 	 <div class="img02" @click="productClick(first)"><img src="$src/huiLi03.jpg"></div>
  	 	 <div class="product" v-for="item in list01" @click="productClick(item)">
  	 	    <p class="productImg"><img :src="item.goodsIcon"></p>
  	 	    <p class="productdes">{{txtFix(item.goodName,8)}}</p>
  	 	    <p class="line"></p>
  	 	    <p class="productprice">￥{{(item.saleAmount).toFixed(1)}}</p>
  	 	    <p class="month" v-if="item.goodsType==='1'"><span>月供￥{{item.nperMap.amount}} x {{item.nperMap.nper}}<span></p> 
  	 	 </div>         
  	 </div>
     <div class="contFirst contSecond clearfix">
  	 	 <div class="img01"><img src="$src/huiLi10.jpg"></div>
  	 	 <div class="img02" @click="productClick(second)"><img src="$src/huiLi05.jpg"></div>
  	 	 <div class="product" v-for="item in list02" @click="productClick(item)">
  	 	 	  <p class="productImg"><img :src="item.goodsIcon"></p>
  	 	 	  <p class="productdes">{{txtFix(item.goodName,8)}}</p>
  	 	 	  <p class="line"></p>
  	 	 	  <p class="productprice">￥{{(item.saleAmount).toFixed(1)}}</p>
  	 	 	  <p class="month" v-if="item.goodsType==='1'"><span>月供￥{{item.nperMap.amount}} x {{item.nperMap.nper}}<span></p>
  	 	 </div>
  	 </div> 	 
  </div>
  <div class="moreContent">
  	 	<div class="img01"><img src="$src/huiLi11.jpg"></div>
  	 	<div class="product" v-for="item in list03" @click="productClick(item)">
  	 		<div class="productImg"><img :src="item.goodsIcon"></div>
  	 		<div class="right ">
  	 			<p class="productDes">{{txtFix(item.goodName,20)}}</p>
              <p class="originPrice change">￥{{(item.saleAmount).toFixed(1)}}</p>
              <p class="fan change"></p>
              <p class="fanMoney change">￥{{item.rebateAmount}}</p>
              <p class="monthMoney" v-if="item.goodsType==='1'"><span>￥{{item.nperMap.amount}}起<span></p>              
  	 		</div>
  	 		
  	 	</div>
  	 </div>
</div>

<script type="text/javascript" src="/dist/activity/07/huiLi.js?version=$version"></script>
</body>
</html>