<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="20170929")
    #set($src="https://f.51fanbei.com/h5/app/activity/09")
    <meta charset="UTF-8">
    <title>苹果秋季新品</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/09/iphone8Second.css">
</head>
<body>
<div id="iphone8Second"  class="iphone8Second">
    <div class="loadingMask"><i class="loading"></i></div>
    <div class="banner first"><img src="$src/iphone8Second01.png"></div>
    <div class="hotGood clearFix">
        <p class="hotGoodTitle"><span></span>爆款专区<span></span></p>
        <div class="goodList01 clearFix" v-for="item in content.oneLevelGoodsInfo.goodsList" @click="goodClick(item)">
            <p class="goodImg"><img class="lazy" :data-original="item.goodsIcon"></p>
            <p class="goodName" style="-webkit-box-orient: vertical;">{{item.goodName}}</p>
            #*<p class="goodDes" v-if="item.remark!=undefined&&item.remark!=''" style="-webkit-box-orient: vertical;">{{item.remark}}</p>*#
            <p><span class="nowPrice">￥{{item.saleAmount}}</span><span class="originPrice">原价:￥{{item.priceAmount}}</span></p>
            <p class="fanMoney">返<span>{{item.rebateAmount}}</span>元</p>
            <p class="monthPrice" v-if="item.nperMap.isFree==='0'">月供<span>{{item.nperMap.amount}}</span>元起</p>
            <p class="monthPrice" v-if="item.nperMap.isFree==='1' || item.nperMap.isFree==='2'">月供<span>{{item.nperMap.freeAmount}}</span>元起</p>
        </div>
        <div class="goodList02 clearFix"  v-for="item in content.twoLevelGoodsInfo.goodsList"  @click="goodClick(item)">
            <p class="goodImg"><img class="lazy" :data-original="item.goodsIcon"></p>
            <p class="goodName"  style="-webkit-box-orient: vertical;">{{item.goodName}}</p>
            #*<p class="goodDes" v-if="item.remark!=undefined&&item.remark!=''" style="-webkit-box-orient: vertical;">{{item.remark}}</p>*#
            <p><span class="nowPrice">￥{{item.saleAmount}}</span><span class="originPrice">原价:￥{{item.priceAmount}}</span></p>
            <div style="padding-left:.17rem;">
                <p class="fanMoney">返<span>{{item.rebateAmount}}</span>元</p>
                <p class="monthPrice" v-if="item.nperMap.isFree==='0'">月供<span>{{item.nperMap.amount}}</span>元起</p>
                <p class="monthPrice" v-if="item.nperMap.isFree==='1' || item.nperMap.isFree==='2'">月供<span>{{item.nperMap.freeAmount}}</span>元起</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/dist/activity/09/iphone8Second.js?version=$version"></script>
</body>
</html>