<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="20170909")
    #set($src="https://f.51fanbei.com/h5/app/activity/09")
    <meta charset="UTF-8">
    <title>iPhone8</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/08/iphone8.css">
</head>
<body>
<div id="iphone8"  class="iphone8">
    <div class="timeList clearFix">
        <p class="time active01"><span class="active02">9.13<br/>新品预约</span></p>
        <p class="time"><span>9.20<br/>新品正式发售</span></p>
        <p class="time"><span>9.21-9.22<br/>特卖秒杀</span></p>
        <p class="time"><span>9.25<br/>新品发货</span></p>
    </div>
    <div class="banner">
        <img src="$src/iphone8_01.png">
        <div class="orderDes" v-if="orderStatus==='SUCCESS'&&loginStatus==='Y'">恭喜您预约成功，iPhone8将在9.20正式开售<br/>100元代金券请在“我的-抵用券”里查看</div>
        <div class="orderButton" v-for="item in content.firstList" @click="orderClick(item)" v-else>1元预约 立减100元</div>
        <div class="orderButton orderButton01" v-for="item in content.firstList" @click="buyClick(item)">立即购买</div>
    </div>
    <div class="rule" @click="ruleClick()">活动规则</div>
    <div class="mask" v-show="ruleShow==='Y'" @click="maskClick()"></div>
    <div class="alertRule" v-show="ruleShow==='Y'">
        <p class="ruleTitle">活动规则</p>
        <p class="ruleCont">1.预约时间内预约成功的用户，即可领取100元代金券，至‘我的-抵用券’里查看(优惠券将在12小时之内到账)；<br/>
        2.9.21-9.22 早10点整，限时2天apple品牌日特卖开抢；<br/>
        3.优惠券的使用规则以券面上的使用信息为准；<br/>
        4.用户不得以营利为目的购买此商品，如存在恶意刷单行为，一经发现作封号处理，且订单会被关闭；<br/>
        5. 每天抽取5名成功分享的预约用户有机会获得iphone8；<br/>
        6.活动预约结束后，预约金额1元暂不支持退款申请；<br/>
        7.本次活动最终解释权归爱上街所有；</p></div>
    <div class="close" v-show="ruleShow==='Y'" @click="maskClick()">X</div>
    <div class="getPrize">
        <p class="prizeTitle">获奖公告</p>
        <div class="myscroll">
             <ul class="prizeList roll">
                 <li class="clearFix" v-for="item in prizeCont">
                     <p class="name">恭喜{{item}}获得iPhone8一台</p>
                     <p class="iphoneImg"><img src="$src/iphone8_06.jpg"></p>
                 </li>
             </ul>
             <ul class="copyRoll"></ul>
        </div>
    </div>
    <div class="hotGood clearFix">
        <p class="hotGoodTitle"><span></span>爆款专区<span></span></p>
        <div class="goodList01 clearFix" v-for="item in content.secondList" @click="goodClick(item)">
            <p class="goodImg"><img class="lazy" :data-original="item.goodsIcon"></p>
            <p class="goodName" style="-webkit-box-orient: vertical;">{{item.goodName}}</p>
            <p class="goodDes" v-if="item.remark!=undefined&&item.remark!=''" style="-webkit-box-orient: vertical;">{{item.remark}}</p>
            <p><span class="nowPrice">￥{{item.saleAmount}}</span><span class="originPrice">原价:￥{{item.priceAmount}}</span></p>
            <p class="fanMoney">返<span>{{item.rebateAmount}}</span>元</p>
            <p class="monthPrice" v-if="item.nperMap.isFree==='0'">月供<span>{{item.nperMap.amount}}</span>元起</p>
            <p class="monthPrice" v-if="item.nperMap.isFree==='1' || item.nperMap.isFree==='2'">月供<span>{{item.nperMap.freeAmount}}</span>元起</p>
            <p class="limitTime">限时秒杀</p>
        </div>
        <div class="goodList02 clearFix"  v-for="item in content.thirdList"  @click="goodClick(item)">
            <p class="goodImg"><img class="lazy" :data-original="item.goodsIcon"></p>
            <p class="goodName"  style="-webkit-box-orient: vertical;">{{item.goodName}}</p>
            <p class="goodDes" v-if="item.remark!=undefined&&item.remark!=''" style="-webkit-box-orient: vertical;">{{item.remark}}</p>
            <p><span class="nowPrice">￥{{item.saleAmount}}</span><span class="originPrice">原价:￥{{item.priceAmount}}</span></p>
            <div style="padding-left:.17rem;">
               <p class="fanMoney">返<span>{{item.rebateAmount}}</span>元</p>
               <p class="monthPrice" v-if="item.nperMap.isFree==='0'">月供<span>{{item.nperMap.amount}}</span>元起</p>
               <p class="monthPrice" v-if="item.nperMap.isFree==='1' || item.nperMap.isFree==='2'">月供<span>{{item.nperMap.freeAmount}}</span>元起</p>
            </div>
            </div>
    </div>
</div>
<script type="text/javascript" src="/dist/activity/08/iphone8.js?version=$version"></script>
</body>
</html>