<!DOCTYPE html>
<html lang="en">
<head>
    #set($src="https://f.51fanbei.com/h5/app/activity/11")  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>自营商城</title>
    <link rel="stylesheet" type="text/css"  href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://img.51fanbei.com/h5/static/swiper-3.4.2.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/activity/11/listPageControll.css">
</head>
<body>
<div id="listPageControll">
    <!--商品详情部分!-->
    <div class="product-detail clearFix">
        <div class="product-nav" id="navScroll"><!--tab栏!-->
            <div class="slidBox">
                <div class="xiba">
                    <span :class="i+1 ===tab?'bottomLine wordColor': ''" v-for="(item,i) in leimu" @click="tabClick(i)">{{item.name}}</span>
                </div>
            </div>
        </div>
        <div id="content-detail"><!--商品!-->
            <div id="detailScroll">
                <div class="cont clearfix">
                        <div class="contentDetail" @click="goodClick(p)" v-for="(p,i) in detailDes">
                            <p class="goodImg"><img class="lazy" :src="p.goodsIcon"></p>
                            <div class="product-bottom">
                                <p class="goodName" style="text-overflow:ellipsis; -webkit-box-orient: vertical;word-break: break-all;display: -webkit-box;-webkit-line-clamp: 2;overflow: hidden;">{{p.name}}</p>
                                <p class="price">
                                    <span class="salePrice"><i class="dollor">￥</i>{{p.saleAmount}}</span>
                                    <span class="fan-img">返</span>
                                    <span class="fanMoney">￥{{p.rebateAmount}}</span>
                                </p>
                                <p class="monthPrice" v-if="p.nperMap.isFree==='0'">月供 ￥{{p.nperMap.amount}} 起</p>
                                <p class="monthPrice" v-if="p.nperMap.isFree==='1' || p.nperMap.isFree==='2'">月供 ￥{{p.nperMap.freeAmount}} 起</p>
                            </div>
                        </div>   
                </div>
            </div>
            <div class="nomore">没有更多数据了......</div>   
        </div> 
        
    </div>
</div>
</body>
<!--<script type="text/javascript" src="https://img.51fanbei.com/h5/static/swiper-3.4.2.jquery.min.js"></script>
<script type="text/javascript" src="https://img.51fanbei.com/h5/static/jquery-2.1.4.min.js"></script>!-->
<script type="text/javascript" src="/dist/activity/11/listPageControll.js?version=$version"></script>
</html>