<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="20170910")
    #set($src="https://f.51fanbei.com/h5/app/activity/11")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>临时额度调整</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/11/moneyApplyFor.css">
</head>
<body>
    <div id="moneyApplyFor">
        <div class="moneyApply-pay">
            <div class="currentMoney">
                <span class="currentDes">当前购物额度</span><br/>
                <span class="Money"></span>
            </div>
            <div class="moneyLimit">
                <div class="line"></div>
                <p class="moneyLeft">
                    <span class="limitWord">临时额度</span><br/>
                    <span class="limitMoney"></span>
                    <i class="useless">(已失效)</i>
                </p>
                <p class="moneyRight">
                    <span class="expriyDate">失效日期</span><br/>
                    <span class="detailDate"></span>
                </p>
            </div>
            <div class="butns">
                <button class="applyButton" id="upMoney">申请提额</button>
                <button class="verirication">
                    <div class="sk-circle">
                        <div class="sk-circle1 sk-child"></div>
                        <div class="sk-circle2 sk-child"></div>
                        <div class="sk-circle3 sk-child"></div>
                        <div class="sk-circle4 sk-child"></div>
                        <div class="sk-circle5 sk-child"></div>
                        <div class="sk-circle6 sk-child"></div>
                        <div class="sk-circle7 sk-child"></div>
                        <div class="sk-circle8 sk-child"></div>
                        <div class="sk-circle9 sk-child"></div>
                        <div class="sk-circle10 sk-child"></div>
                        <div class="sk-circle11 sk-child"></div>
                        <div class="sk-circle12 sk-child"></div>
                    </div>
                    <!--<img class="loadImg" src="$src/applyFor-03.png" alt="">!-->
                    正在申请
                </button><!--正在审核!-->
            </div>
        </div>
        <div class="moneyApply-rule">
            <div class="wordTitle"></div>
            <div class="ruleContent">
                <!--<div class="ruleWord">1、临时额度领取后即时生效，30日后自动失效；</div>
                <div class="ruleWord">2、临时额度适用范围：信用支付或分期支付的场景;</div>
                <div class="ruleWord">3、已领取的零食额度失效后，用户需还清上次的临时额度后方可再次申请提升临时额度;</div>
                <div class="ruleWord">4、临时额度申请未通过,请在7天后再试;</div>
                <div class="ruleWord">5、使用顺序：先使用固定额度，在使用临时额度;</div>
                <div class="ruleWord">6、临时额度使用、出账、还款与正常额度一样;</div>
                <div class="ruleWord">7、临时额度使用后，如发生退款或还款，若仍在临时额度有效期内，则临时额度回复使用；若超出有效期，则临时额度不再恢复;</div>
                <div class="ruleWord">8、临时额度使用不收取额外费用;</div>!-->
            </div>
        </div>
        <!--弹窗!-->
        <div class="popUp">
            <div class="alertRule">
                <div class="ruleWord">请先提交基础认证审核</div>
                <div class="ruleLine"></div>
                <div class="buttonBox"><button class="confirm">确定</button></div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/dist/activity/11/moneyApplyFor.js?version=$version"></script>
</html>