<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="2017071402")
    #set($commonUrl="https://fs.51fanbei.com/h5/app/activity/07")
    <title>oppoR11 Plus 新品上市</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/07/oppoR11.css?version=$version">
</head>
<body>
    <div id="oppoR11">
        <div class="banner">
            <img src="$commonUrl/oppo1.png">
            <ul class="oppoList">
                <li v-for='i of 2' @click="oppoList(i)" :class="show[i-1]? 'item'+i:'item'"></li>
            </ul>
            <a :href="url" class="byBtn"></a>
        </div>
        <p class="line"></p>
        <p class="title">R和A系列-自拍颜值满分King</p>
        <ul class="goodsList clearfix">
            <li v-for="item in goodsMobileListMap.goodsList" @click="goGoodsDetail(item.privateGoodsId)">
                <img :src="item.goodsIcon">
                <div class="goodsListContent">
                    <p class="goodsListTitle">{{item.goodsName}}</p>
                    <p class="remark">{{item.remark}}</p>
                    <div class="priceWrap">
                        <span class="saleAmount">¥{{item.realAmount}}</span>
                        <span class="rebateAmount"><i></i>{{item.rebateAmount}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <script type="text/javascript" src="/dist/activity/07/oppoR11.js?version=$version"></script>
</body>
</html>
