<!DOCTYPE html>
<html lang="en">
<head>
#set($version="2017061306")
#set($src="https://fs.51fanbei.com/h5/app/activity/06")
	<title>OPPO R11</title>
	<link rel="stylesheet" type="text/css" href="/dist/activity/06/oppoR11.css?version=$version">
</head>
<body>
	<img src="$src/oppo1.png">
	<div class="banner">
	   <img src="$src/oppo2.png" id="btn">
	   <div class="order"></div>
	</div>
	<div class="goRegister hide">
		<a href="/app/user/register"><img src="$src/oppo5.png"></a>
		<p>登录51返呗APP进行预约</p>
	</div>
	<img src="$src/oppo3.png">
	<img src="$src/oppo4.png">
	<img src="$src/r10.jpg">
	<img src="$src/r11.jpg">
	<img src="$src/r12.jpg">
	<img src="$src/r13.jpg">
	<img src="$src/oppo6.png">
	<!--弹框-->
	<div class="mask"></div>
	<div class="orderSuccess">
	    <img src="$src/r30.png">
	    <div class="close"></div>
	</div>
	<script type="text/javascript" src="/dist/activity/06/oppoR11.js?version=$version"></script>
</body>
</html>
