<!DOCTYPE html>
<html lang="en">
<head>
    #set($src="https://f.51fanbei.com/h5/app/activity/09")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OPPO 拍照手机</title>
</head>
<style>
    *{
        box-sizing:border-box;
        -moz-box-sizing:border-box; /* Firefox */
        -webkit-box-sizing:border-box; /* Safari */
    }
    .clearfix:after {
        content: " ";
        display: block;
        clear: both;
        height: 0;
    }
    .clearfix {
        zoom: 1;
    }
    body{
        background-color:#2559c1;
        
        
    }
    .detail{
        width:7.1rem;
        height:3.4rem;
        margin-bottom: 0.42rem;
        position: relative;
    }
    .detail-left{
        width:4.6rem;
        height:3.54rem;
        background-color:pink;
        position: absolute;
        left: 0;
        top: 0;
    }
    .detail-right{
        width:3.04rem;
        height:3.04rem;
        padding-left:0.16rem;
        padding-right: 0.16rem;
        background-color:white;
        position: absolute;
        right: 0;
        top: 0.5rem;
    }
    .product-name{
        font-size:0.293rem;
        margin-bottom: 0.09rem;
        margin-top:0.3rem;
        font-weight:600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .product-des{
        font-size:0.2rem;
        color:#999999;
        position:relative;
        padding-left: 0.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .pointO{
        width:0.08rem;
        height:0.08rem;
        background-color:rgba(19, 19, 19, 0.8);
        position:absolute;
        top:50%;
        left:0rem;
        transform:translateY(-50%);
    }
    .product-set{
        font-size:0.16rem;l
        color: rgba(19, 19, 19, 0.8);
        margin: 0.1rem 0 0.25rem 0;
        position:relative;
        color:#999999;
    }
    .point{
        width:0.08rem;
        height:0.08rem;
        background-color:rgba(19, 19, 19, 0.8);
        position:absolute;
        top:50%;
        left:0rem;
        transform:translateY(-50%);
    }
    .flash-power{
        color:rgba(19, 19, 19, 0.8);
        font-size:0.16rem;
        margin-bottom:0.1rem;
    }
    .money{
        color:#d42334;
        font-size:0.3rem;
        margin-left: -0.1rem;
    }
    .back{
        width:0.35rem;
        height:0.35rem;
        border-radius:50%;
        line-height:0.32rem;
        text-align:center;
        background-color:#d42334;
        color:white;
        margin:0 0.05rem;
    }
    .back-set{
        margin-left: 0.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width:95%;
    }
    .month-pay{
        width:100%;
        height:0.38rem;
        background-color:#d42334;
        font-size:0.26rem;
        color:white;
        margin-top:4%;
        margin-bottom:0.3rem;
        padding:0 0.11rem;
        text-align: center;
        line-height: 0.38rem;
    }
    .storage{
        position:relative;
        margin-left:0.1rem;
    }
    .detail:nth-child(even)>.detail-left{
        right:0;
        left:auto;
    }
    .detail:nth-child(even)>.detail-right{
        left:0;
    }
    .qi{
        margin-left: 0.2rem;
    }
    ul{
        margin-top: 0.3rem;
        padding:0 0.2rem;
    }

</style>
<body>
    <div id="oppoPic">
        <div class="banner"><img src="$src/oppo11n.png" alt=""></div>
        <ul>
            <li class="detail" v-for="(item,index) in message.oneLevelGoodsInfo.goodsList" @click="buyNow(item)" >
                <div class="detail-left">
                    <img :src="item.goodsIcon" alt="">
                </div>
                <div class="detail-right">
                    <p class="product-name">{{item.goodName}}</p>
                    <p class="product-des"><i class="pointO"></i>{{item.des}}</p>
                    <p class="product-set" v-if="item.del"><i class="back-set"><i class="point"></i>{{item.del}}</i></p>
                    <p class="money">￥{{item.saleAmount}}<i class="back">返</i>￥{{item.rebateAmount}}</p>
                    <p class="month-pay">月供  
                    <sapn v-if="item.nperMap.isFree==='1' ||  item.nperMap.isFree==='2'">￥{{item.nperMap.freeAmount}}</sapn>
                    <span v-else>￥{{item.nperMap.amount}}</span><i class="qi">起</i>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</body>
<script src="//cdn.bootcss.com/vue-resource/1.0.3/vue-resource.min.js"></script>
<script type="text/javascript" src="/dist/activity/09/oppoPic.js"></script>
</html>
