<!DOCTYPE html>
<html lang="en">
<head>
    #set($src="http://f.51fanbei.com/h5/app/activity/09")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    *{
        box-sizing:border-box;
        -moz-box-sizing:border-box; /* Firefox */
        -webkit-box-sizing:border-box; /* Safari */
    }
    .clearfix:after {
        content: " ";
        display: block;
        clear: both;
        height: 0;
    }
    .clearfix {
        zoom: 1;
    }
    body{
        background-color:#2559c1;
        padding:0 0.2rem;
        
    }
    .detail{
        width:7.1rem;
        height:3.4rem;
        margin-bottom: 0.27rem;
    }
    .detail-left{
        width:50%;
        height:3.4rem;
        background-color:pink;
        float:left;
    }
    .detail-right{
        width:50%;
        height:3.4rem;
        padding-left:0.16rem;
        background-color:white;
        float:right;
    }
    .product-name{
        font-size:0.293rem;
        margin-bottom:0.1rem;
        margin-top:0.2rem;
        font-weight:600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .product-des{
        font-size:0.2rem;
        font-weight:600;
    }
    .product-set{
        font-size:0.16rem;
        color: rgba(19, 19, 19, 0.8);
        margin:0.1rem 0;
        position:relative;
    }
    .point{
        width:0.06rem;
        height:0.06rem;
        border-radius:50%;
        background-color:rgba(19, 19, 19, 0.8);
        position:absolute;
        top:50%;
        left:0rem;
        transform:translateY(-50%);
    }
    .flash-power{
        color:rgba(19, 19, 19, 0.8);
        font-size:0.16rem;
        margin-bottom:0.1rem;
    }
    .money{
        color:#d42334;
        font-size:0.3rem;
    }
    .back{
        width:0.35rem;
        height:0.35rem;
        border-radius:50%;
        line-height:0.35rem;
        background-color:#d42334;
        color:white;
        margin:0 0.2rem;
    }
    .back-set{
        margin-left: 0.2rem;
    }
    .month-pay{
        width:2.32rem;
        height:0.38rem;
        background-color:#d42334;
        font-size:0.26rem;
        color:white;
        margin-top:0.24rem;
        margin-bottom:0.3rem;
        padding:0 0.11rem;
    }
    .vooc{
        position:relative;
        margin-left:0.2rem;
    }
    .pointO{
        width:0.06rem;
        height:0.06rem;
        border-radius:50%;
        background-color:rgba(19, 19, 19, 0.8);
        position:absolute;
        top:50%;
        left:-0.2rem;
        transform:translateY(-50%);
    }
    .storage{
        position:relative;
        margin-left:0.4rem;
    }
    .pointT{
        width:0.06rem;
        height:0.06rem;
        border-radius:50%;
        background-color:rgba(19, 19, 19, 0.8);
        position:absolute;
        top:50%;
        left:-0.2rem;
        transform:translateY(-50%);
    }


</style>
<body>
    <!--<div id="oppoPic">
        <div class="banner"><img src="$src/oppo11n.png" alt=""></div>
        <ul>
            <li class="detail" v-for="item in message.oneLevelGoodsInfo.goodsList" @click="buyNow(item)">
                <div class="detail-left">
                    <img :src="item.goodsIcon" alt="">
                </div>
                <div class="detail-right">
                    <p class="product-name">{{item.goodName}}</p>
                    <p class="product-des">前后2000万，拍照更清晰</p>
                    <p class="product-set"><i class="back-set"><i class="point"></i>后置双摄</i><i class="storage"><i class="pointT"></i>4G+64GB</i></p>
                    <p class="flash-power"><i class="vooc"><i class="pointO"></i>VOOC闪充</i></p>
                    <p class="money">￥{{item.saleAmount}}<i class="back">返</i>￥{{item.rebateAmount}}</p>
                    <p class="month-pay">月供  
                    <sapn v-if="item.nperMap.isFree==='1' ||  item.nperMap.isFree==='2'">￥{{item.nperMap.freeAmount}}</sapn>
                    <span v-else>￥{{item.nperMap.amount}}</span>起
                    </p>
                </div>
            </li>
        </ul>
    </div>!-->

    <div id="oppoPic">
        <div class="banner"><img src="$src/oppo11n.png" alt=""></div>
        <ul>
            <li class="detail">
                <div class="detail-left">
                    <img src="" alt="">
                </div>
                <div class="detail-right">
                    <p class="product-name">OPPO R11巴萨限量版 </p>
                    <p class="product-des">前后2000万，拍照更清晰</p>
                    <p class="product-set"><i class="back-set"><i class="point"></i>18K镀金队徽</i><i class="storage"><i class="pointT"></i>稀缺资源</i></p>
                    <p class="flash-power"><i class="vooc"><i class="pointO"></i>VOOC闪充</i></p>
                    <p class="money">￥3499<i class="back">返</i>￥69.98</p>
                    <p class="month-pay">月供<sapn>￥393.64</sapn>起</p>
                </div>
            </li>
            <li class="detail">
                <div class="detail-left">
                    <img src="" alt="">
                </div>
                <div class="detail-right">
                    <p class="product-name">oppo R11 Plus</p>
                    <p class="product-des">前后2000万，拍照更清晰</p>
                    <p class="product-set"><i class="back-set"><i class="point"></i>后置双摄 6英寸大屏</i><i class="storage"><i class="pointT"></i>VOOC闪充</i></p>
                    <p class="money">￥2999<i class="back">返</i>￥119.96</p>
                    <p class="month-pay">月供<sapn>￥337.38</sapn>起</p>
                </div>
            </li>
            <li class="detail">
                <div class="detail-left">
                    <img src="" alt="">
                </div>
                <div class="detail-right">
                    <p class="product-name">OPPO R9s</p>
                    <p class="product-des">这一刻，更清晰</p>
                    <p class="product-set"><i class="back-set"><i class="point"></i>正面指纹 4G+64GB</i><i class="storage"><i class="pointT"></i>VOOC闪充</i></p>
                    <p class="money">￥2599<i class="back">返</i>￥51.98</p>
                    <p class="month-pay">月供<sapn>￥292.38</sapn>起</p>
                </div>
            </li>
            <li class="detail">
                <div class="detail-left">
                    <img src="" alt="">
                </div>
                <div class="detail-right">
                    <p class="product-name">OPPO A59s</p>
                    <p class="product-des">前置1600万像素</p>
                    <p class="product-set"><i class="back-set"><i class="point"></i>双卡双待 4G+64GB</i><i class="storage"><i class="pointT"></i>VOOC闪充</i></p>
                    <p class="money">￥1799<i class="back">返</i>￥71.96</p>
                    <p class="month-pay">月供<sapn>￥202.38</sapn>起</p>
                </div>
            </li>
             <li class="detail">
                <div class="detail-left">
                    <img src="" alt="">
                </div>
                <div class="detail-right">
                    <p class="product-name">OPPO A57</p>
                    <p class="product-des">1600万美颜自拍</p>
                    <p class="product-set"><i class="back-set"><i class="point"></i>正面指纹识别 4G+64GB</i><i class="storage"><i class="pointT"></i>4G+64GB</i></p>
                    <p class="money">￥1399<i class="back">返</i>￥55.96</p>
                    <p class="month-pay">月供<sapn>￥157.38</sapn>起</p>
                </div>
            </li>
            <li class="detail">
                <div class="detail-left">
                    <img src="" alt="">
                </div>
                <div class="detail-right">
                    <p class="product-name">OPPO A77</p>
                    <p class="product-des">与青春合拍</p>
                    <p class="product-set"><i class="back-set"><i class="point"></i>前置1600万 4G+64GB</i><i class="storage"><i class="pointT"></i>4G+64GB</i></p>
                    <p class="money">￥1399<i class="back">返</i>￥55.96</p>
                    <p class="month-pay">月供<sapn>￥157.38</sapn>起</p>
                </div>
            </li>
        </ul>
    </div>
</body>
<script src="//cdn.bootcss.com/vue-resource/1.0.3/vue-resource.min.js"></script>
<script type="text/javascript" src="/dist/activity/09/oppoPic.js"></script>
</html>