<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="2017062001")
    #set($src="https://fs.51fanbei.com/h5/app/activity/06")
    <title>OPPO R11新品首发</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/06/oppoR11.css?version=$version">
</head>
<body>
    <div id="oppoR11">
        <img src="$src/oppo1.png" style="height: 9.34rem;">
        <!-- <div class="banner">
           <img @click="btnBox()" src="$src/oppo2.png" id="btn" style="height: 0.69rem;">
           <div class="order"></div>
        </div> -->
        <!-- 按钮 -->
        <a href="#mobileListWrap" class="buyBtn">
          <p style="">立即抢购</p>
        </a>
        <!--分享-->
        <div class="goRegister hide">
            <a href="gameRegister"><img src="$src/oppo5.png" style="height: 0.7rem;"></a>
            <p>登录51返呗APP进行预约</p>
        </div>
        <img src="$src/oppo3_22.png" style="height: 2.23rem;">
        <img src="$src/oppo4.png" style="height: 3.77rem;">

        <div class="countWrap hide">
            <img src="$src/oppo9.png" style="height: 1.77rem;">
            <div class="countDown" id="countDown">
          <span class="time_item" id="day_show"></span>
          <span class="time_item" id="hour_show"></span>
          <span class="time_item" id="minute_show"></span>
          <span class="time_item" id="second_show"></span>
        </div>
        </div>
        <img src="$src/oppo8.png">
        <div class="mobileListImg hide">
            <img src="$src/oppo8_2.png">
            <img src="$src/oppo8_3.png">
        </div>
        <!-- 手机列表 -->
        <a class="mobileListWrap" href="" name="mobileListWrap">
            <ul id="mobileList" class="mobileList clearfix">
            </ul>
        </a>
        <!--弹框-->
        <div class="mask"></div>
        <div class="orderSuccess">
        <img src="$src/r30.png" style="height: 3.64rem;">
        <div class="close"></div>
        </div>
        <div class="popupWrap">
            <div class="popupBox hide"></div>
            <div class="popup hide">
            <img src="$src/oppo9_time.png" style="height: 0.95rem;">
                <p>6月22日10点准时开售<br />敬请期待</p>
            <div @click="close()" class="close">X</div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/dist/activity/06/oppoR11.js?version=$version"></script>
</body>
</html>
