<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="2017071101")
    #set($src="http://f.51fanbei.com/h5/app/activity/06")
    <title>OPPO R11新品首发</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/06/oppoR11.css?version=$version">
</head>
<body>
    <div id="oppoR11" style="background-color: #fff;">
        <img src="$src/oppo12_1.png">
        <img :src="bannerlist">
        <ul class="oppoR11List clearfix">
          <li v-for='i of 4' @click="oppoR11List(i)" :class="show[i-1]? 'item'+i:'item'"></li>
        </ul>
        <p class="oppoR11Content">{{content}}</p>
        <a id="oppoR11Btn" :href="url"><img src="$src/oppo12_2.png"></a>
        <img src="$src/oppo11_4.png">
        <div class="mobileListImg hide">
            <img src="$src/oppo8_2.png">
            <img src="$src/oppo8_3.png">
        </div>
        <!-- 手机列表 -->
        <a class="mobileListWrap" name="mobileListWrap">
            <ul id="mobileList" class="mobileList clearfix">
            </ul>
        </a>
    </div>
    <script type="text/javascript" src="/dist/activity/06/oppoR11.js?version=$version"></script>
</body>
</html>
