<!DOCTYPE html>
<html lang="en">
<head>
	#set($version="20170606")
	#set($src="https://fs.51fanbei.com/h5/app/activity/06")
    <title>提交资料</title>
    <link rel="stylesheet" type="text/css" href="/dist/css/light7.min.css?version=$version">
    <link rel="stylesheet" type="text/css" href="/dist/activity/06/personInfo.css?version=$version">
</head>
<body>
<div id="submitInfo">
    <div class="prizeImg"></div>
    <div class="inforimation">
        <p>收货人</p>
        <input type="text" placeholder="请输入收货人"  id="cont1" value="">
    </div>
    <div class="inforimation">
        <p>手机号码</p>
        <input type="text" placeholder="请输入手机号"  id="cont2" value="">
    </div>
    <div class="inforimation">
        <p>省市选择</p>
        <input type="text" id='city-picker' value="浙江 杭州 滨江区" />
    </div>
    <div class="inforimation01">
        <p>详细信息</p>
        <textarea placeholder="请输入详细地址(5-120个字)"  id="cont3"></textarea>
    </div>
    <h3>如因个人原因造成邮寄失败，后果由个人承担。</h3>
    <h4 onclick="button()">提交</h4>
</div>
<script type="text/javascript" src="/dist/js/light7.min.js?version=$version"></script>
<script type="text/javascript" src="/dist/js/light7-city-picker.min.js?version=$version"></script>
<script type="text/javascript" src="/dist/activity/06/personInfo.js?version=$version"></script>

</body>
</html>