<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="201711231344")
    #set($src="http://f.51fanbei.com/h5/app/activity/11")
    <meta charset="UTF-8">
    <title>娱乐充值</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/11/gamePayIndex.css?version=$version">
</head>
<body>
<div id="recreationPayIndex" class="gamePayIndex">
    <div class="kong"></div>
    <div class="hotGame">
      <div class="title02"><p>热门推荐</p><p>免广告、看大片、全网最低</p></div>
      <ul class="hotGameList clearFix">
          <li>
              <p class="gameImg"></p>
              <p class="gameName" style="-webkit-box-orient: vertical;">QQ黄钻会员QQ黄钻会员QQ黄钻会员</p>
              <p class="fanMoney">返利2.8%</p>
          </li>
          <li>
              <p class="gameImg"></p>
              <p class="gameName" style="-webkit-box-orient: vertical;">QQ黄钻会员QQ黄钻会员QQ黄钻会员</p>
              <p class="fanMoney">返利2.8%</p>
          </li>
          <li>
              <p class="gameImg"></p>
              <p class="gameName" style="-webkit-box-orient: vertical;">QQ黄钻会员QQ黄钻会员QQ黄钻会员</p>
              <p class="fanMoney">返利2.8%</p>
          </li>
      </ul>
  </div>
    <ul class="gameRankList">
        <li>
            <p class="rankTitle">QQ会员充值</p>
            <div class="everyCont clearFix">
                <p class="everyImg"></p>
                <p class="everyName">APP Stare充值卡</p>
                <p class="everyFan">返利 2.8%</p>
            </div>
            <div class="everyCont clearFix">
                <p class="everyImg"></p>
                <p class="everyName">APP Stare充值卡</p>
                <p class="everyFan">返利 2.8%</p>
            </div>
        </li>
        <li>
            <p class="rankTitle">视频会员充值</p>
            <div class="everyCont clearFix">
                <p class="everyImg"></p>
                <p class="everyName">APP Stare充值卡</p>
                <p class="everyFan">返利 2.8%</p>
            </div>
            <div class="everyCont clearFix">
                <p class="everyImg"></p>
                <p class="everyName">APP Stare充值卡</p>
                <p class="everyFan">返利 2.8%</p>
            </div>
        </li>
    </ul>
</div>
<script type="text/javascript" src="/dist/activity/11/recreationPayIndex.js?version=$version"></script>
</body>
</html>
