<!DOCTYPE html>
<html lang="en">
<head>
  #set($version="201710131025")
  #set($src="https://f.51fanbei.com/h5/app/activity/11")
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/dist/activity/11/redrain.css?version=$version">
  <title>红包雨预热</title>
</head>
<body>
  <div id="redrain">
    <div class="pre1">
      <div class="rain">
        <ul>
          <li><div class="dian_box"><div class="dian"></div></div></li>
          <li><div class="dian_box"><div class="dian"></div></div></li>
          <li><div class="dian_box"><div class="dian"></div></div><div class="dian_box esc"><div class="dian"></div></div></li>
          <li><div class="dian_box"><div class="dian"></div></div><div class="dian_box esc"><div class="dian"></div></div></li>
          <li><div class="dian_box"><div class="dian"></div></div></li>
        </ul>
      </div>
      <p class="activity-time">活动时间：&nbsp;11月9日-11月11日</p>
      <div class="light _light-left"></div>
      <div class="light _light-right"></div>
    </div>
    <div class="pre2"></div>
    <div class="pre3">
        <p class="acTxt">活动暂未开始</p>
      <div class="count">
        <div class="hour">00</div>
        <div class="minute">00</div>
        <div class="second">00</div>
      </div>
    </div>
    <div class="pre4">
      <div class="entry">
        <div class="_entry fir notyet">
          <div>
            <div>上午10:00</div>
            <div class="status">第一场红包雨</div>
          </div>
        </div>
        <div class="_entry sec notyet">
          <div>
            <div>下午14:00</div>
            <div class="status">第二场红包雨</div>
          </div>
        </div>
        <div class="_entry thi notyet">
          <div>
            <div>下午20:00</div>
            <div class="status">第三场红包雨</div>
          </div>
        </div>
      </div>
    </div>
    <div class="pre5">
      <div class="content">
        <p>1.活动时间2017.11.09-11.11共计3天，每日10、14、20点整开放抢红包活动，每个场次持续时间20秒；</p>
        <p>2.活动仅限平台注册用户参与，如已注册需要登录后才能正常参与活动；</p>
        <p>3.每个场次用户获得红包个数不限，随机获得红包金额，发放的优惠券请至“我的-抵用券”里查询</p>
        <p>4.在参与过程中，如果出现非正常操作存在恶意刷量行为，则取消用户参与资格并回收发放的奖励，保留追究法律责任权；</p>
        <p>5.活动最终解释权归爱上街所有！</p>
      </div>
    </div>
    <div class="pre6"></div>
  </div>
</body>
<script type="text/javascript" src="/dist/activity/11/redrain.js?version=$version"></script>
</html>
