<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="2017063001")
    #set($src="https://fs.51fanbei.com/h5/app/activity/06")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>人气爆款专场</title>
</head>
<body>
<div class="banner">
    <a href="" class="tupian" @click="show"><img src="$src/replay1.jpg" alt=""></a>
</div>
<div id="replay">
        <div class="goods">
            <a class="tupian" @click="show(content.recommendGoodsList[0].goodsId)"><img src="$src/replay2.jpg" alt=""></a>
        </div>
         <div class="goods">
            <a class="tupian" @click="show(content.recommendGoodsList[1].goodsId)"><img src="$src/replay3.jpg" alt=""></a>
        </div>
         <div class="goods">
            <a class="tupian" @click="show(content.recommendGoodsList[2].goodsId)"><img src="$src/replay4.jpg" alt=""></a>
        </div>
         <div class="goods">
            <a class="tupian" @click="show(content.recommendGoodsList[3].goodsId)"><img src="$src/replay5.jpg" alt=""></a>
        </div>
         <div class="goods">
             <a class="tupian" @click="show(content.recommendGoodsList[4].goodsId)"><img src="$src/replay6.jpg" alt=""></a>
        </div>
</div>
</body>
<script src="//cdn.bootcss.com/vue-resource/1.0.3/vue-resource.min.js"></script>
<script type="text/javascript" src="/dist/activity/06/replay.js?version=$version"></script>

</html>
