<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="20170710")
    #set($src="http://f.51fanbei.com/h5/app/activity/07")
    <meta charset="UTF-8">
    <title>神券限时抢</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/07/robCoupon.css?version=$version">
</head>
<body>
<div id="robCoupon">
    <div class="banner"><img :src='content.bannerUrl'></div>
    <div class="desWord">
        <p>抢神券</p>
        <p><span class="timeName"></span>场</p>
        <p>距离下场</p>
        <p class="countTime"><span></span>:<span></span>:<span></span></p>
        <p @click="ruleClick()">活动规则>></p> 
    </div>
    <div class="coupon">
       <ul class="couponList">
          <li v-for="(item,index) in couponContent.couponInfoList" @click="couponClick(index)">
               <div class="left">
                   <p>￥<span>{{item.amount}}</span></p>
               </div>
               <div class="right">
                   <p>{{item.name}}</p>
                   <p>{{item.desc}}</p>
                   <p>立即领券</p>
               </div>               
           </li>  
       </ul>
    </div>
    <p class="recommend">热门推荐</p>
    <div class="product">
        <ul class="productList">
            <li v-for="item in content.recommendGoodsList" @click="buyNow(item.goodsId)"> 
                <div class="productImg"><img :src='item.goodsIcon'></div>
                <div class="productRight">
                    <p class="productDes">{{txtFix(item.goodName)}}</p>
                    <div class="monthPrice" v-if="item.goodsType==='1'">月供￥<span v-if="item.nperMap.isFree==1">{{item.nperMap.freeAmount}}</span><span v-else>{{item.nperMap.amount}}</span>起
                    </div>
                    <div  class="monthPrice"  v-if="item.goodsType==='0'"></div>            
                    <p class="buyPrice">￥{{(item.saleAmount).toFixed(1)}}</p>
                    <p class="fan"></p>
                    <p class="fanPrice">￥{{item.rebateAmount}}</p><br/>
                </div>
            </li>            
        </ul>
    </div>
    <div class="mask" @click="maskClick()"></div>
    <div class="rule">
        <p class="title">活动规则</p>
        <p class="cont">1.活动时间：2017.7.11-2017.7.14；<br/>2.活动期间每日10、14点整准时开抢；<br/>3.优惠券限量发放领取，先到先得，抢完为止！优惠券使用条件请以券上显示的使用规则为准；<br/>4.优惠券可在“我的-抵用券”里查看，因网络原因可能存在延迟到账情况，可稍后再次查询；<br/>5.在51返呗平台进行任意商品的分期消费，满足条件可进行抵扣相应金额；<br/>6.如发现恶意作弊行为，将取消优惠资格且用户做封号处理，奖励一律收回；<br/>7.如有任何疑问，请拨打51返呗客服热线：0571-88193918。
        </p>
    </div>
</div>
<script src="/dist/activity/07/robCoupon.js?version=$version"></script>
</body>
</html>