<!DOCTYPE html>
<html lang="en">

<head>
    #set($version="20171117")
    #set($src="https://f.51fanbei.com/h5/app/activity/12")
    <meta charset="UTF-8">
    <title>限时抢购</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/12/scekill.css?version=$version">
    <link rel="stylesheet" type="text/css" href="https://f.51fanbei.com/h5/static/swiper-3.4.2.min.css">
</head>
<body>
    <div id="vueCon" v-cloak>
        <div class="banner">
            <div :class="content.bannerList.length==1?'':'swiper-wrapper'">
                <div class="swiper-slide" v-for="item of content.bannerList">
                    <a :href="item.content">
                        <img :src="item.imageUrl">
                    </a>
                </div>
            </div>
            <div class="img-pagination"></div>
        </div>
        <div style="height: 1rem"></div>
        <div class="nav">
            <div><span @click="typeClick(1)" :class="type===1?'active':''">正在抢购</span></div>
            <div><span @click="typeClick(2)" :class="type===2?'active':''">明日预告</span></div>
        </div>
        <div class="con">
            <div class="title"><span>精选好货 限量抢购</span><span class="time">每天10:00上新</span></div>
            <div class="goods" v-for="data of content.goodsList" @click="goodsClick(data)">
                <img :src="data.goodsIcon">
                <div class="goodsInfo">
                    <p class="goodsName"  style="-webkit-box-orient: vertical;">{{data.goodName}}</p>
                    <span class="goodsPrice">￥{{data.saleAmount}}</span>
                    <span class="goodsFan">返</span>
                    <span class="goodsRebate">￥{{data.rebateAmount}}</span>
                    <p class="goodsTxt">月供{{data.nperMap.isFree==0?data.nperMap.amount:data.nperMap.freeAmount}}元起</p>
                    <template v-if="type==1">
                        <span class="goodsNum" :class="loading(data)==0?'goodsNumOver':''">已抢{{data.volume}}件<div class="shadow" :style="{width:loading(data)}"></div></span>
                        <span class="goodsBtn" :class="loading(data)==0?'goodsBtnOver':''">{{loading(data)==0?'已抢光':'马上抢'}}</span>
                    </template>
                    <template v-else="type==2">
                        <span class="goodsRemindTxt">10:00准时开抢</span>
                        <span @click="remind(data)" class="goodsRemindBtn">{{data.reserve=='Y'?'已预约':'立即预约'}}</span>
                    </template>
                </div>
            </div>
        </div>
        <div class="footer">我说，我可是有底线的~</div>

    </div>
</body>
<script type="text/javascript" src="https://f.51fanbei.com/h5/static/swiper-3.4.2.jquery.min.js"></script>
<script type="text/javascript" src="/dist/activity/12/scekill.js?version=$version"></script>
</html>