<!DOCTYPE html>
<html lang="en">
<head>
	#set($version="2017052701")
    #set($commonUrl="https://fs.51fanbei.com/h5/app/activity/06")
	<meta charset="UTF-8">
	<title>活动分会场</title>
	<link rel="stylesheet" type="text/css" href="/dist/activity/06/selectedHome.css?version=$version">
</head>
<body>
<div id="vueCon">
	<div class="activityHomeWrap">
		<div class="activityHomeBanner">
			<img src="$commonUrl/bannerBg.jpg" class="banner">
		</div>
		<div class="activityHomeContent">
			<div class="boutiqueHome">
				<h2>精品推荐</h2>
				<ul>
					<li v-for="data in content.categoryList" class="clearfix">
						<a href="">
							<img src="">
							<div class="boutiqueHomeContent clearfix">
								<p class="title">618折上折更有超级返利618折上折更有超级返利618折上折更有超级返利更有超级返利618折上</p>
								<p class="price"><span>￥5.2</span><span><i>返</i>￥1.2</span></p>
								<button>马上抢</button>
							</div>
						</a>
					</li>
					<li class="clearfix">
						<a href="">
							<img src="">
							<div class="boutiqueHomeContent">
								<p class="title">618折上折更有超级返利618折上折更有超级返利618折上折更有超级返利</p>
								<div class="price">
									<p><i class="monthCorner"></i>￥5.2</p>
									<p>抢购价：￥1.2</p>
								</div>
								<button>马上抢</button>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<script src="//cdn.bootcss.com/vue-resource/1.0.3/vue-resource.min.js"></script>
<script type="text/javascript" src="/dist/activity/06/selectedHomeList.js?version=$version"></script>
</body>
</html>