<!DOCTYPE html>
<html lang="en">
<head>
	#set($version="2017061315")
    #set($commonUrl="https://fs.51fanbei.com/h5/app/activity/06")
	<meta charset="UTF-8">
	<title>618 逛逛分会场</title>
	<link rel="stylesheet" type="text/css" href="/dist/activity/06/strollHome.css?version=$version">
</head>
<body>
	<div class="strollHomeWrap" id="strollHomeWrap">
		<img src="$commonUrl/strollHomeBanner.jpg">
		<div class="strollHomeContent">
			<ul class="strollHomeContentUl">
				<li class="strollHomeContentLi" data-type="1" id="ygsx">
					<img @click="boluomiHome(17)" src="$commonUrl/strollHomeList1.png">
					<ol class="otoCoupon clearfix">
						<li @click="boluomiCoupons(8303)">
							<p class="money"><i>¥</i>5</p>
							<p class="date">满25减5<span>2017年06月18日-6月30日</span></p>
							<p class="receive">点击领取</p>
						</li>
						<li @click="boluomiCoupons(8304)">
							<p class="money"><i>¥</i>10</p>
							<p class="date">满68减10<span>2017年06月18日-6月30日</span></p>
							<p class="receive">点击领取</p>
						</li>
					</ol>
				</li>
				<li class="strollHomeContentLi" data-type="2" id="xbk">
					<img @click="boluomiHome(16)" src="$commonUrl/strollHomeList2.png">
					<ol class="otoCoupon clearfix">
						<li @click="boluomiCoupons(8305)">
							<p class="money"><i>¥</i>5</p>
							<p class="date">无门槛<span>2017年06月18日-6月30日</span></p>
							<p class="receive">点击领取</p>
						</li>
						<li @click="boluomiCoupons(8306)">
							<p class="money"><i>¥</i>10</p>
							<p class="date">满50减10<span>2017年06月18日-6月30日</span></p>
							<p class="receive">点击领取</p>
						</li>
					</ol>
				</li>
				<li class="strollHomeContentLi" data-type="3" id="kdy">
					<img @click="boluomiHome(1)" src="$commonUrl/strollHomeList3.png">
					<ol class="otoCoupon clearfix">
						<li @click="boluomiCoupons(8307)">
							<p class="money"><i>¥</i>5</p>
							<p class="date">无门槛<span>2017年06月18日-6月30日</span></p>
							<p class="receive">点击领取</p>
						</li>
						<li @click="boluomiCoupons(8308)">
							<p class="money"><i>¥</i>10</p>
							<p class="date">满50减10<span>2017年06月18日-6月30日</span></p>
							<p class="receive">点击领取</p>
						</li>
					</ol>
				</li>
				<li class="strollHomeContentLi" data-type="4" id="lmm">
					<img @click="boluomiHome(24)" src="$commonUrl/strollHomeList4.png">
					<ol class="otoCoupon clearfix">
						<li @click="boluomiCoupons(8309)">
							<p class="money"><i>¥</i>5</p>
							<p class="date">满50减5<span>2017年06月18日-6月30日</span></p>
							<p class="receive">点击领取</p>
						</li>
						<li @click="boluomiCoupons(8310)">
							<p class="money"><i>¥</i>10</p>
							<p class="date">满100减10<span>2017年06月18日-6月30日</span></p>
							<p class="receive">点击领取</p>
						</li>
						<li @click="boluomiCoupons(8311)">
							<p class="money"><i>¥</i>20</p>
							<p class="date">满200减20<span>2017年06月18日-6月30日</span></p>
							<p class="receive">点击领取</p>
						</li>
						<li @click="boluomiCoupons(8312)">
							<p class="money"><i>¥</i>50</p>
							<p class="date">满500减50<span>2017年06月18日-6月30日</span></p>
							<p class="receive">点击领取</p>
						</li>
					</ol>
				</li>
				<li class="strollHomeContentLi" data-type="5" id="elm">
					<img @click="boluomiHome(22)" src="$commonUrl/strollHomeList5.png">
					<ol class="otoCoupon clearfix">
						<li @click="boluomiCoupons(8313)">
							<p class="money"><i>¥</i>5</p>
							<p class="date">满25减5<span>2017年06月18日-6月30日</span></p>
							<p class="receive">点击领取</p>
						</li>
						<li @click="boluomiCoupons(8314)">
							<p class="money"><i>¥</i>10</p>
							<p class="date">满68减10<span>2017年06月18日-6月30日</span></p>
							<p class="receive">点击领取</p>
						</li>
					</ol>
				</li>
				<li class="strollHomeContentLi" data-type="6" id="sjcz">
					<img @click="boluomiHome(15)" src="$commonUrl/strollHomeList6.png">
					<ol class="otoCoupon clearfix">
						<li @click="boluomiCoupons(8315)">
							<p class="money"><i>¥</i>1</p>
							<p class="date">满30减1<span>2017年06月18日-6月30日</span></p>
							<p class="receive">点击领取</p>
						</li>
						<li @click="boluomiCoupons(8316)">
							<p class="money"><i>¥</i>2</p>
							<p class="date">满50减2<span>2017年06月18日-6月30日</span></p>
							<p class="receive">点击领取</p>
						</li>
					</ol>
				</li>
				<li class="strollHomeContentLi" data-type="7" id="xh">
					<img @click="boluomiHome(21)" src="$commonUrl/strollHomeList7.png">
					<ol class="otoCoupon clearfix">
						<li @click="boluomiCoupons(8317)">
							<p class="money"><i>¥</i>10</p>
							<p class="date">满58减10<span>2017年06月18日-6月30日</span></p>
							<p class="receive">点击领取</p>
						</li>
						<li @click="boluomiCoupons(8318)">
							<p class="money"><i>¥</i>20</p>
							<p class="date">满168减20<span>2017年06月18日-6月30日</span></p>
							<p class="receive">点击领取</p>
						</li>
					</ol>
				</li>
				<li class="strollHomeContentLi" data-type="8" id="lq">
					<img @click="boluomiHome(18)" src="$commonUrl/strollHomeList8.png">
					<ol class="otoCoupon clearfix">
						<li @click="boluomiCoupons(8319)">
							<p class="money"><i>¥</i>5</p>
							<p class="date">满25减5<span>2017年06月18日-6月30日</span></p>
							<p class="receive">点击领取</p>
						</li>
						<li @click="boluomiCoupons(8320)">
							<p class="money"><i>¥</i>10</p>
							<p class="date">满88减10<span>2017年06月18日-6月30日</span></p>
							<p class="receive">点击领取</p>
						</li>
					</ol>
				</li>
				<li class="strollHomeContentLi" data-type="9" id="jyz">
					<img @click="boluomiHome(25)" src="$commonUrl/strollHomeList9.png">
					<ol class="otoCoupon clearfix">
						<li @click="boluomiCoupons(8321)">
							<p class="money"><i>¥</i>5</p>
							<p class="date">满200减5<span>2017年06月18日-6月30日</span></p>
							<p class="receive">点击领取</p>
						</li>
						<li @click="boluomiCoupons(8322)">
							<p class="money"><i>¥</i>10</p>
							<p class="date">满500减10<span>2017年06月18日-6月30日</span></p>
							<p class="receive">点击领取</p>
						</li>
					</ol>
				</li>
				<li class="strollHomeContentLi" data-type="10" id="xsq">
					<img @click="boluomiHome(23)" src="$commonUrl/strollHomeList10.png">
					<ol class="otoCoupon clearfix">
						<li @click="boluomiCoupons(8323)">
							<p class="money"><i>¥</i>5</p>
							<p class="date">满50减5<span>2017年06月18日-6月30日</span></p>
							<p class="receive">点击领取</p>
						</li>
						<li @click="boluomiCoupons(8324)">
							<p class="money"><i>¥</i>15</p>
							<p class="date">满200减15<span>2017年06月18日-6月30日</span></p>
							<p class="receive">点击领取</p>
						</li>
						<li @click="boluomiCoupons(8325)">
							<p class="money"><i>¥</i>20</p>
							<p class="date">满500减20<span>2017年06月18日-6月30日</span></p>
							<p class="receive">点击领取</p>
						</li>
						<li @click="boluomiCoupons(8326)">
							<p class="money"><i>¥</i>50</p>
							<p class="date">满1000减50<span>2017年06月18日-6月30日</span></p>
							<p class="receive">点击领取</p>
						</li>
					</ol>
				</li>
			</ul>
		</div>
	</div>
	<script type="text/javascript" src="/dist/activity/06/strollHome.js?version=$version"></script>
</body>
</html>
