<!DOCTYPE html>
<html lang="en">
<head>
	#set($version="20170620")
	#set($src="https://fs.51fanbei.com/h5/app/activity/06")
    <title>最惠一波 超级返利拍</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/06/superGoods.css?version=$version">
</head>
<body>
<div id="superGoods">
    <div class="banner">
        <img :src='content.bannerUrl'>
        <p class="slogan">秒的就是你 惊喜不惊喜</p>
        <p class="countTime"></p>
        <span class="bg"></span>
        <span class="bg bg01"></span>
    </div>    
    <ul class="saleOffList">
        <li v-for="(item,index) in content.activityGoodsList">
            <div class="productCountTime" :class="'productCountTime'+index"></div>
            <div class="productImg"><img :src='item.goodsIcon'></div>
            <div class="productRight">
                <p class="productDes" style="-webkit-box-orient: vertical;">{{item.goodsName}}</p>
                <p class="buyPrice">￥{{item.specialAmount}}</p>
                <p class="originalPrice">￥{{item.saleAmount}}</p>
                <p class="fan" v-if="item.goodsType==='1'">返利￥{{item.rebateAmount}}</p>
                <div class="monthPrice" v-if="item.goodsType==='1'">月供￥<span>{{item.nperMap.amount}}</span>x<span>{{item.nperMap.nper}}</span>
                <span class="isFree"></span>
                </div>
                <div class="monthPrice" v-if="item.goodsType==='0'">返利￥{{item.rebateAmount}}</div>               
                <p class="buyNow" @click="buyNow(item.goodsId)">抢购</p>
                <p class="amount">库存:<span>{{item.repertoryCount}}</span>件</p>
            </div>      
        </li> 
    </ul>
    <ul class="youLikeList saleOffList">
        <p class="likeWord">你可能喜欢</p>
        <li v-for="item in content.recommendGoodsList">
            <!-- <div class="productCountTime"></div> -->
            <div class="productImg">
            <img :src='item.goodsIcon'></div>
            <div class="productRight">
                <p class="productDes" style="-webkit-box-orient: vertical;">{{item.goodName}}</p>
                <p class="buyPrice">￥{{item.saleAmount}}</p>
                <p class="fan01">返利￥{{item.rebateAmount}}</p>
                <div class="monthPrice01" v-if="item.goodsType==='1'"><span class="month">月供</span><span>￥16.33</span>x<span>12</span>
                <span class="isFree"></span>
                </div>               
                <p class="buyNow buyNow01" @click="buyNow(item.goodsId)">马上抢</p>
            </div>      
        </li> 
    </ul>
</div>
<script src="//cdn.bootcss.com/vue-resource/1.0.3/vue-resource.min.js"></script>
<script type="text/javascript" src="/dist/activity/06/superGoods.js?version=$version"></script>

</body>
</html>