<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="20170910")
    #set($src="https://f.51fanbei.com/h5/app/activity/11")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>提额结果</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/11/unapprove.css">
</head>
<body>
    <div id="unapprove">
        <div><img class="sad" src="$src/applyFor-02.png" alt=""></div>
        <div><span class="sorry">抱歉，您此次申请不符合提额要求，<br/>听说多分期和借钱能提高通过率哦~</span></div>
    </div>
    <div id="approve">
        <div><img class="correct" src="$src/applyFor-01.png" alt=""></div>
        <div><span class="congratulation"><i class="approveMoney">+</i><br/><i class="congratulationWord">恭喜，提额成功！</i></span></div>
    </div>
</body>
<script type="text/javascript" src="/dist/activity/11/unapprove.js?version=$version"></script>
</html>