<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="20170921")
    #set($src="https://f.51fanbei.com/h5/app/activity/09")
    <meta charset="UTF-8">
    <title>vivo X20</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/09/vivoX20.css">
</head>
<body>
<div id="vivoX20"  class="vivoX20">
    <div class="loadingMask"><i class="loading"></i></div>
    <div class="banner first">
        <img src="$src/vivoX20_01.png">
        <div class="buyNow" v-for="item in content.firstList" @click="goodClick(item)"></div>
    </div>
    <div class="firstList">
        <p class="firstTitle"><span></span>爆款专区<span></span></p>
        <div class="firstCont" v-for="item in content.secondList" @click="goodClick(item)">
            <p class="goodImg"><img class="lazy" :data-original="item.goodsIcon"></p>
            <p class="goodName" style="-webkit-box-orient: vertical;">{{item.goodName}}</p>
            #*<p class="goodDes" v-if="item.remark!=undefined&&item.remark!=''" style="-webkit-box-orient: vertical;">{{item.remark}}</p>*#
            <p><span class="nowPrice">￥{{item.saleAmount}}</span><span class="originPrice">原价:￥{{item.priceAmount}}</span></p>
            <p class="fanMoney">返<span>{{item.rebateAmount}}</span>元</p>
            <p class="monthPrice" v-if="item.nperMap.isFree==='0'">月供<span>{{item.nperMap.amount}}</span>元起</p>
            <p class="monthPrice" v-if="item.nperMap.isFree==='1' || item.nperMap.isFree==='2'">月供<span>{{item.nperMap.freeAmount}}</span>元起</p>
        </div>
    </div>
    <div class="secondList clearFix">
        <p class="secondTitle"><span></span>更多精彩<span></span></p>
        <div class="secondCont" v-for="item in content.thirdList" @click="goodClick(item)">
            <p class="goodImg"><img class="lazy" :data-original="item.goodsIcon"></p>
            <p class="goodName" style="-webkit-box-orient: vertical;">{{item.goodName}}</p>
            #*<p class="goodDes" v-if="item.remark!=undefined&&item.remark!=''" style="-webkit-box-orient: vertical;">{{item.remark}}</p>*#
            <p><span class="nowPrice">￥{{item.saleAmount}}</span><span class="originPrice">原价:￥{{item.priceAmount}}</span></p>
            <div style="padding-left:.17rem;">
                <p class="fanMoney">返<span>{{item.rebateAmount}}</span>元</p>
                <p class="monthPrice" v-if="item.nperMap.isFree==='0'">月供<span>{{item.nperMap.amount}}</span>元起</p>
                <p class="monthPrice" v-if="item.nperMap.isFree==='1' || item.nperMap.isFree==='2'">月供<span>{{item.nperMap.freeAmount}}</span>元起</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/dist/activity/09/vivoX20.js?version=$version"></script>
</body>
</html>