
<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="20170918")
    #set($src="https://f.51fanbei.com/h5/app/activity/10")
    <meta charset="UTF-8">
    <title>智能手环 品质生活</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/10/watches.css">
</head>
<body>
<div id="watches">
    <div class="bigBanner">
        <img src="$src/watch-banner.png" alt="">
    </div>
    <!--优惠券 !-->
    <div class="coupon" @click="couponClick(couponList)" v-for="couponList in couponCont">
        <span class="unit">￥</span>
        <div class="coupon-left">
            <span class="number">{{couponList.amount}}</span>
        </div>
        <div class="coupon-center">
            <p class="manjian">满{{couponList.limitAmount}}元立享</p>
            <p class="prefecture">{{couponList.name}}</p>
        </div>
        <p class="coupon-right">立即<br/>领取</p>
    </div>
    <div class="product">
        <div class="productDetail">
            <div class="cont" v-for="item in renderdata" @click="goodClick(item)">
                    <p class="goodImg"><img class="lazy" :src="item.goodsIcon"></p>
                    <div class="product-bottom">
                        <p class="goodName">{{item.goodName}}</p>
                        <p class="price">
                            <span class="salePrice">￥{{item.saleAmount}}</span>
                            <span class="fan-img">返</span>
                            <span class="fanMoney">￥{{item.rebateAmount}}</span>
                        </p>
                        <p class="monthPrice" v-if="item.nperMap.isFree==='0'">月供 ￥{{item.nperMap.amount}} 起</p>
                        <p class="monthPrice" v-if="item.nperMap.isFree==='1' || item.nperMap.isFree==='2'">月供 ￥{{item.nperMap.freeAmount}}起</p>
                    </div>
                    <button class="btn">立即抢购</button>
            </div>   
        </div>
    </div>
</div>
<script type="text/javascript" src="/dist/activity/10/watches.js?version=$version"></script>
</body>
</html>