<!DOCTYPE html>
<html lang="en">
<head>
	#set($version="2017061505")
    #set($commonUrl="https://img.51fanbei.com/h5/app/activity/wy")
	<meta charset="UTF-8">
	<title>您有2个红包待领取</title>
	<link rel="stylesheet" type="text/css" href="/dist/activity/wy/wy.css">
</head>
<body>
<div class="loadingMask"><i class="loading"></i></div>
<img class="first" src="$commonUrl/money_01.jpg">
<img class="first" src="$commonUrl/money_02.jpg">
<img class="first" src="$commonUrl/money_03.jpg">
<img class="first" src="$commonUrl/money_04.jpg">
<img class="first" src="$commonUrl/money_05.jpg">
<img class="first" src="$commonUrl/money_06.jpg">
<img class="first" src="$commonUrl/money_07.jpg">
<img class="first" src="$commonUrl/money_08.jpg">
<div onclick="go()" style="position: absolute;top: 2.2rem;width: 5rem;height: 3.8rem;left: 2rem;"></div>
<div onclick="go51()" style="position: absolute;top: 7rem;width: 5rem;height: 4rem;left: .6rem;"></div>
<script type="text/javascript" src="/dist/activity/wy/wy.js"></script>
</body>
<script>
    $(".first").each(function() {
        var img = $(this);
        img.load(function () {
            $(".loadingMask").fadeOut();
            console.log(2)
        });
        setTimeout(function () {
            $(".loadingMask").fadeOut();
        },1000)
    });
	function go() {
	    jQuery.ajax({
			url:'/fanbei-web/postMaidianInfo',
			type:'post',
			data:{maidianInfo:'/fanbei-web/activity/wy?type=qianbaoBtn'},
			success:function (data) {
				console.log(data)
            }
		});
		window.location.href='https://www.edspay.com/activity/webapp/source.html?utm_source=wyxw3'
    }
    function go51() {
        jQuery.ajax({
            url:'/fanbei-web/postMaidianInfo',
            type:'post',
            data:{maidianInfo:'/fanbei-web/activity/wy?type=btn'},
            success:function (data) {
                console.log(data)
            }
        });
        window.location.href='wyRegister?channelCode=wwyy&pointCode=wwyy'
    }
</script>
</html>
