<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<title>月份排行</title>
    </head>
    <body style="background-color: #fff;">
        <table>
            #foreach($item in $dataList)
                <tr>
                    #set($no = $item.sort +1)
                    <td>排名:$no</td>
                    <td>用户:$item.user_name</td>
                    <td>金额:$item.money</td>
                    <td>奖品:$item.name</td>
                </tr>
            #end
        </table>
    </body>
</html>