<!DOCTYPE html>
<html lang="en">
<head>
    <title>租赁</title>
    <link rel="stylesheet" href="protocol.css"/>
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
            background: #f5f5f5;
        }
        html,
        body {
            width: 100%;
            height: 100%;
            position: relative;
        }
        html .view,
        body .view {
            width: 100%;
        }
        a,
        li,
        ul,
        ol,
        input,
        textarea {
            border: 0 !important;
            padding: 0 !important;
        }
        .content {
            background: #fff;
            padding: 20px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            font-size: 12px;
            text-align: justify;
        }
        .content .block {
            margin-top: 20px;
        }
        .content .block .flex {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
        }
        .content .block .flex > div:first-child {
            width: 55px;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }
        .content .block .flex img {
            max-width: 200px;
        }
        .content p {
            margin-bottom: 10px;
        }
        .content p.tit {
            font-weight: 600;
        }
        .content p span {
            color: #fd4545;
        }
        .content p b {
            text-decoration: underline;
        }
        .content h2 {
            font-weight: 600;
        }
        .content h2.mid {
            -webkit-align-self: center;
            -ms-flex-item-align: center;
            align-self: center;
        }
        .content h5 {
            margin-bottom: 10px;
        }
        .content h5.asr {
            -webkit-align-self: flex-end;
            -ms-flex-item-align: end;
            align-self: flex-end;
        }

    </style>
</head>
<body  style="background-color: #fff;font-family: SimSun;">
<div>
    <div class="content">
        <h2 class="mid">用户租赁及服务协议</h2>
        <h5 style="text-align:right;display: block;">协议编号${orderNo}</h5>
        <p>特别提醒：在承租方（本协议中称乙方）确认同意本合同之前，承租方应已清楚知悉并充分理解本产品的所有信息，同意向浙江阿拉丁电子商务股份有限公司申请租赁本协议。一旦承租方在网站、客户端或其他与本租赁相关的客户端接受本合同，即视为承租方已阅读本合同所有条款，并对本合同条款的含义及相应的法律后果已全部通晓并充分理解，同意接受本合同约束。</p>
        <p>甲乙方就乙方向甲方申请租赁产品,甲方负责对乙方的申请核实审批，并为租赁产品提供意外保障服务（详见意外保障服务条款）及咨询等客户服务事宜，经友好协商一致，签署本《用户租赁及服务协议》（下称“本协议”）。</p>
        <div class="block">
            <h5>甲方： 浙江阿拉丁电子商务股份有限公司</h5>
            <h5>甲方地址： 杭州滨江区星耀城1期1幢2302</h5>
            <h5>联系方式： 400-002-5151</h5>
        </div>
        <div class="block">
            <p>乙方： ${realName}</p>
            <p>身份证号： ${idNumber}</p>
            <p>收货地址： ${address}</p>
            <p>联系电话： ${userName}</p>
        </div>
        <div class="block">
            <p>乙方确认并承诺：</p>
            <p>1、租赁过程中填写的名称、联系方式、证件信息等准确无误，通过上述地址寄送的任何文书均视为乙方已收到该文书。对于因本协议争议引起的任何纠纷，乙方声明司法机关（包括但不限于人民法院）可以手机短信或电子邮件等现代通讯方式或邮寄方式向乙方送达法律文书（包括但不限于诉讼文书）。如有变更，将重新签署地址变更确认书并书面通知。乙方承担因按照上述地址投递或变更地址而导致无法收到文书所引起的任何法律责任。</p>
            <p>2、使用以乙方本人名义注册的且经过实名认证并设置密码的个人账户在甲方平台或相关客户端所从事的所有行为均视为乙方本人行为，包括但不限于订立本合同，申请租赁等，该等行为的法律后果均由乙方本人承担。</p>
        </div>
        <div class="block">
            <p class="tit">第一条  租赁产品信息</p>
            <p>该产品信息如下：</p>
            <table border="1" cellspacing="0" cellpadding="0" width="600" align='center'>
                <tbody>
                <tr>
                    <td>产品名字</td>
                    <td>${goodsName}</td>
                </tr>
                <tr>
                    <td>产品及配件价值</td>
                    <td>¥ ${priceAmount}元</td>
                </tr>
                <tr>
                    <td>产品签约价格</td>
                    <td>¥ ${rentAmount}元</td>
                </tr>
                <tr>
                    <td>IMEI/SN</td>
                    <td>${unique}</td>
                </tr>
                </tbody>
            </table>
            <p>该产品配件信息如下：</p>
            <table border="1" cellspacing="0" cellpadding="0" width="600" align='center'>
                <tbody>
                <tr>
                    <td>配件名称</td>
                    <td>件数</td>
                    <td>配件编号</td>
                </tr>
                <tr>
                    <td>充电头</td>
                    <td>1</td>
                    <td>/</td>
                </tr>
                <tr>
                    <td>电源线</td>
                    <td>1</td>
                    <td>/</td>
                </tr>
                <tr>
                    <td>耳机</td>
                    <td>1</td>
                    <td>/</td>
                </tr>
                </tbody>
            </table>
            <p class="tit">本租赁产品及产品配件在租赁到期归还时，若未按约定归还的、或有超过意外保障服务范围外的损坏，需要赔偿相应费用（详见本协议第五条）或执行本协议第六条由租转售条款。</p>
        </div>
        <div class="block">
            <p class="tit">第二条  租金及支付方式</p>
            <table border="1" cellspacing="0" cellpadding="0" width="600" align='center'>
                <tbody>
                <tr>
                    <td>产品签约价格</td>
                    <td>¥${rentAmount}元</td>
                </tr>
                <tr>
                    <td>租用日期</td>
                    <td>#if($!{gmtLeaseStart})$!{gmtLeaseStart} 至 $!{gmtLeaseEnd}#end</td>
                </tr>
                <tr>
                    <td>产品租金/月</td>
                    <td>${monthlyRent}元</td>
                </tr>
                </tbody>
            </table>
            <p>租赁期内，除本协议另有约定外，租金及租期固定不变。</p>
        </div>
        <div class="block">
            <p class="tit">第三条  甲方权利及义务</p>
            <p>1、甲方应按乙方订单要求发货。</p>
            <p>2、乙方租赁下单时，即视为授权同意甲方使用乙方的真实身份信息通过第三方信用认证，并获得其在第三方信用认证平台的信用信息。</p>
            <p>3、甲方应为乙方提供租赁物在租赁期间的意外保障服务，乙方应交纳意外保障服务费用。</p>
            <p>4、在乙方租赁物退还后，甲方对租赁物的损失检测应全程摄像，摄像资料保留一个月。</p>
            <p>5、甲方有权将乙方的违约行为向相关征信机构披露。</p>
            <p>6、对于退还的租赁物，甲方将抹除所有数据，将其还原至出厂初始状态，无义务保留租赁物中的相关信息。</p>
            <p>7、对乙方交还或寄回租赁物内的遗留物件、软件或信息等，甲方不承担保管责任，乙方应在退回租赁物前妥善处理。</p>
            <p>8、在第二条约定的租赁期间内，甲方享有该租赁物的出租权。</p>
        </div>
        <div class="block">
            <p class="tit">第四条  乙方权利及义务</p>
            <p>1、乙方在签收租赁物及配件时，应当场拆封并检测租赁物及配件，在回执单上填写所签收产品的IMEI号或SN号，并由相关人员带回给甲方存档。</p>
            <p>2、乙方应向甲方提供真实的身份信息并授权甲方查看其在本协议约定的第三方信用认证平台的信用信息。</p>
            <p>3、乙方应保证在签订本协议时指定的银行账户内有足够资金用以支付租金等各项费用，并此不可撤销地授权甲方或甲方指定第三方支付机构，从乙方在签订本协议时指定的银行账户将到期的款项及所有本合同项下到期的其他应付款项划扣至甲方账户，而无需进一步通知乙方或者得到其同意。银行或甲方指定的第三方代扣时间将不早于还款日。</p>
            <p>4、为保障租赁产品的意外损害风险，乙方应向甲方缴纳意外保障服务费。意外保障服务条款详见本合同第八部分。</p>
            <p>5、乙方应保障退还时的租赁产品及配件完好，并与包装盒、保修卡一并退还，租赁期间除甲方提供的保障服务外，其余维修费用均由乙方自行提供。</p>
            <p>6、乙方在租赁期间，不得将租赁物转售、转租给除乙方之外的第三方，仅限本人使用。</p>
            <p>7、为保障乙方自身的隐私及信息安全，退还租赁物时应删除并注销所有相关个人信息（包括但不限于所有账户及密码），并保证无任何遗留物件。</p>
            <p>8、甲方同意以点击确认或其他方式（包括但不限于签字或签章确认等方式）签订本协议，并不以此为由拒绝履行本协议项下的义务，即便在签订时本协议并没有租赁产品IMEI/SN码、配件信息、签订日期信息等。甲方同意签订本协议后即视为不可撤销地授权乙方根据最终结果自主生成前述信息。</p>
        </div>
        <div class="block">
            <p class="tit">第五条  租赁产品的交付及退还</p>
            <p class="tit">交付</p>
            <p>1、甲方根据乙方提交订单确认的地址交付租赁物，乙方应保证提供的收货信息（包括但不限于：收货地址、收件人、联系方式等）准确无误。租期自甲方发货后第七日起算。</p>
            <p>特别提醒：乙方在订单中提供的收件信息不可变更，甲方据此送交产品并获得相应签收信息即视为乙方收到合格的租赁物，甲方完成租赁产品交付义务，乙方不得以未收到租赁物或租赁物有瑕疵为由拒绝履行本协议约定义务。</p>
            <p class="tit">退还</p>
            <p>1、乙方应在租赁期届满之前，将租赁物及相关配件寄送至指定地点：<b>上海市杨浦区长阳路1687号1号楼地下室 爱上街租赁部</b></p>
            <p>2、退还租赁物及其配件时，租赁物及配件损坏或丢失，赔偿金额由甲方工程师检测或原厂商维修报价单为准。逾期3日仍未支付赔偿款的即默认同意生成逾期订单。</p>
            <p>3、乙方应当妥善保管租赁物原包装盒、保修卡等相关物件并在退还时一并寄回，若损坏或丢失，需按不低于30元/件的标准赔偿。</p>
            <p class="tit">特别提醒：为了更好的保障各方的权利义务，寄送应使用顺丰速运并保价，保价额度不得低于协议签约价，所产生的相关费用由乙方承担。</p>
        </div>
        <div class="block">
            <p class="tit">第六条  由租转售情形</p>
            <p class="tit">特别提醒：发生下列情形的租赁物将直接由租转售，乙方同意无条件支付买断款买断该产品（买断款=未付租金+回收价），期间产生的费用损失全部由乙方承担；乙方有保证金的，甲方有权优先扣除乙方保证金用以抵扣除租金之外的其他损失，无需再单独通知乙方。</p>
            <p>1、乙方未按约足额支付当期租金逾期超过15日，且未一次性提前支付本协议剩余全部应付租金的；</p>
            <p>2、乙方因租赁物丢失等自身原因确认买断的，需提前三个工作日致电甲方服务热线（400-002-5151）申请，一经甲方同意并确认乙方需支付的全部费用[包括买断款、拖欠租金(当月租金仍需全额支付)、逾期费用等，乙方需在48小时内一次性全额支付全部费用，且乙方买断行为一经确认不得变更；</p>
            <p>3、协议正常到期未归还租赁物或归还的租赁物不符合本协议约定，乙方同意并认可租赁到期后第7日即视为租赁物由租转售；</p>
            <p>4、租赁物无法正常开机、无法在进行系统恢复激活后，通过“设置-通用-关于本机”读取设备序列号或IMEI编号、无法通过连接iTunes识别设备序列号，上述其中任意一种情形发生的；</p>
            <p>5、租赁物存在毁灭性损坏，发生弯折、机壳分离、内屏损坏、机身内组件（线缆）断裂破损或被强行拆成数块的；设备串码标签缺失、损坏、涂改、字迹模糊而无法确定是否属于意外保障服务被服务对象的出现的问题、故障、功能影响，超出意外保障服务范围；租赁物外壳划痕超过3处，长度超过1厘米的；租赁物外壳磕碰超过2处；</p>
            <p>6、租赁物进水、进液的；</p>
            <p>7、租赁物存在擅自改装、维修痕迹的；</p>
            <p>8、租赁物型号、SN号、IMEI号等在进行系统恢复后与租赁时记载的不符、涂改、缺失或无法辨识的；</p>
            <p>9、租赁物因加装、移除或改动软硬件所造成的故障，包括因安装未经授权的软件而导致的设备无法正常使用或故障；</p>
            <p>10、其他。</p>
        </div>
        <div class="block">
            <p class="tit">第七条  违约情形及责任</p>
            <p class="tit">违约情形：</p>
            <p>1、乙方向甲方提供虚假的信息的；</p>
            <p>2、乙方的资信情况或支付租金能力出现其他重大不利变化的（包括但不限于工作调整，收入降低、失业、拖欠其他债务、承担重大负债等）；</p>
            <p>3、乙方未按本协议约定按时足额支付租金的；</p>
            <p>4、乙方未按本协议约定，在合同到期或提前到期后7日内归还租赁物的；</p>
            <p>5、非因甲方原因，乙方无故拒绝签收租赁物的；</p>
            <p>6、乙方在与甲方平台或甲方合作方签署的任何其他协议项下发生违约的；</p>
            <p>7、其他存在的乙方违反本协议约定的行为。</p>
        </div>
        <div class="block">
            <p class="tit">违约责任：</p>
            <p>1、若乙方未按约足额支付租金的，自还款日后第 1天起计收逾期费用，乙方需向甲方支付按本协议租赁物签约价为基数按日${overdueRate}% 计算的逾期费用。</p>
            <p>2、若乙方未按约足额支付当期租金超过15日的，需支付逾期费用外，租期不变。</p>
            <p>3、若乙方逾期未支付买断购机款项的，则需向甲方支付按本协议租赁物签约价日${overdueRate}%   计算的逾期费用。</p>
            <p>4、到期后乙方未按时归还符合本协议约定的租赁物，期间乙方需向甲方支付按本协议租赁物签约价日${overdueRate}%  计算的逾期费用。</p>
            <p>5、甲方有权通过乙方在签订本协议时指定的银行账号扣除乙方应承担的所有费用（包括但不限于租金、借款、买断款、逾期费用等）。乙方了解上述违约信息可能影响乙方在征信机构处的信用状况，并可能影响乙方申请或办理相关服务（包括但不限于贷款等）。</p>
            <p>6、乙方涉及违约情形的，甲方有权单方面宣布本协议提前到期。</p>
        </div>
        <div class="block">
            <p class="tit">第八条  保障服务</p>
            <p>1、保障服务指：租赁期间租赁物发生非人为原因（经甲方及甲方合作的第三方鉴定）造成的意外损坏，符合保障服务理赔范围的，由甲方提供一次性理赔的保障服务。</p>
            <p>2、本条款仅适用于乙方通过本协议租赁的在租期内的租赁设备。</p>
            <p>3、保障服务费及支付方式</p>
            <p>根据租赁物型号及配置，乙方需向甲方支付${richieAmount}元购买意外保障服务费}，在乙方签署租赁协议的同时一次性支付。退租及租赁到期时无论意外保障服务是否启动，该意外保障服务费均不予退还。</p>
            <p>4、保障服务理赔范围及实施</p>
            <p>租期内，租赁物经甲方工程师检测确认后属于非人为原因造成的产品意外损坏且该损坏属于意外保障服务范围内的，可申请启动意外保障服务（服务专线：400-002-5151/13682107336）。由甲方及甲方合作的第三方负责维修，维修完成后将租赁物送还给乙方。甲乙双方约定该保障服务在租赁期间仅享受一次免费修理，修理完成后，视为本次意外保障服务结束。乙方若需要续保，则须重新向甲方购买该服务。</p>
            <p>5、保障服务范围</p>
            <p>（一）因坠落、震荡、挤压、碰撞等意外事故导致的屏幕碎裂；</p>
            <p>（二）因意外浸液导致保险标的受损；</p>
            <p>（三）因坠落、震荡、挤压、碰撞等意外事故导致除屏幕以外的主机或固有组件受损；</p>
            <p>（四）超负荷、超电压、电涌；</p>
            <p>（五）其他不属于上述（一）至（四）项所列情况导致保险标的受损且无法正常使用或整件灭失的意外事故。</p>
            <p>注：若启动意外保障服务时，实际缴纳租金不足3个月的，乙方需要提前补足三个月租金后方可享受该服务，提前补足支付的租金日后可抵扣后续产生的相应租金；实际缴纳租金超出3个月则无需提前缴纳租金。</p>
            <p>6、租赁物产品质量问题保修条例</p>
            <p>租赁期间，全新租赁物有产品质量问题，在厂保期限内，按照厂商规定的条例进行保修；不在厂保期内甲方负责保修；非全新租赁物有产品质量问题，甲方负责租赁物的保修。</p>
            <p>特别提醒：租赁物意外损坏需将租赁物往返寄送时，需通过顺丰快递进行寄送且需保价，保价额度不得低于协议签约价，邮费遵循“谁寄送谁承担”的原则，同时物流保价费须由乙方承担。</p>
        </div>
        <div class="block">
            <p class="tit">第九条  其他条款</p>
            <p>乙方确认：</p>
            <p>1、甲方在租赁期间内有权将基于本协议的全部甲方权利（出租人权利）以甲方认为合适的方式向第三方进行转让或其他形式的处置，此类权利包括但不限于收取租金的权利、回收租赁物的权利、追究乙方违约责任的权利等；甲方对出租人权利的转让或处置方式包括但不限于对外转让、质押、委托催收、委托行权等。</p>
            <p>2、在另行约定前，乙方不可撤销地同意并授权甲方按照本协议约定，从乙方在其他银行开立的账户或在其他第三方平台开立的账户中扣划款项用于归还、支付本协议项下的费用（包括但不限于借款、租金、买断款、其他应付费用等）。</p>
        </div>
        <div class="block">
            <p class="tit">第十条  协议变更</p>
            <p>1、若由于设备本身质量问题导致乙方无法正常使用租赁物的，且经甲方及甲方合作的第三方工程师检测后，认定确系设备自身问题，设备寄送、检测等过程中耗费的时间（不足一天按一天算）在原租期的基础上予以顺延。</p>
            <p>2、若租赁期间发生故障，经甲方及甲方合作的第三方工程师检测，租赁物损坏程度在意外服务范围内，设备寄送、检测等过程中耗费的时间（不足一天按一天算）在原租期的基础上予以顺延。</p>
            <p>3、若租赁期间发生本协议由租转售情形，乙方需向甲方支付本协议约定的买断款，则租赁物归乙方所有，本协议终止。</p>
            <p>4、如遇甲方平台缺货，甲方有权单独解除本协议并取消订单，乙方已支付的租金原路退还，且甲方不承担任何违约责任。</p>
        </div>
        <div class="block">
            <p class="tit">第十一条  协议终止</p>
            <p>1、本协议一经成立，即具有法律效力，各方均应严格遵守，不得擅自变更或解除。</p>
            <p>2、租赁期满，乙方退还租赁物，经甲方完成设备检测并结算所有费用后，本协议终止。</p>
            <p>3、乙方主动要求终止本协议的，需赔偿甲方本协议租赁物未还金额+回收价，且完成相应的设备处理、费用结算流程后，则本协议终止。</p>
            <p>4、各种原因导致租赁物由租转售的，且甲、乙结清所有费用后，本协议终止。</p>
            <p>5、乙方怠于履行本协议约定的各项义务，甲方有权单方面宣布解除本协议或本协议提前到期。乙方结清所有费用后，本协议终止，租赁物由租转售。</p>
            <p>6、若甲方公司解散或法院受理甲方公司破产申请，自甲方公司发布该信息日起，本协议自动终止，乙方租赁的租赁物由租转售。</p>
        </div>
        <div class="block">
            <p class="tit">第十二条  争议解决</p>
            <p>1、本协议的签订、履行、终止、解释均适用中华人民共和国法律。因本协议履行过程中引起的或与本协议相关的任何争议，各方应以友好协商的方式迅速解决，若经协商仍未能解决，向甲方所在地人民法院提起诉讼，为了减轻诉讼成本，加快诉讼效率，各方同意争议之解决可以向浙江法院电子商务网上法庭提起诉讼（含在线申请支付令），并可采用视听传输技术等方式开庭。在争议处理期间，本协议不涉及争议部分仍需履行。</p>
            <p>2、因解决争议所产生的一切费用（包括但不仅限于诉讼费、保全费及保全担保费、律师费、公告费、公证费、见证费、鉴定费、交通费等）由违约方承担。</p>
        </div>
        <div class="block">
            <p class="tit">第十三条 附则</p>
            <p>1、本协议采用电子文本形式制成，并保存在甲方为此设立的专用服务器上备查，各方均认可该形式的协议效力。</p>
            <p>2.、本协议自乙方在甲方平台页面上点击 “确认”或“同意”按钮（具体点击页面以甲方平台上实际展示页面为准），即表明乙方已经先行认真阅读了本协议的全部内容，完全理解和认可本协议的全部内容且无异议。本条款于乙方点击“确认”或“同意”按钮之时自动生效，并发生法律效力。</p>
            <p>3、如果本协议中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。</p>
            <p>4、本协议若有修改或者补充的，均由甲方以电子文本形式在其平台及合作方处进行公布，修改后或者补充后的内容与本协议有冲突的，以修改后或者补充后的效力为准。</p>
        </div>
        <div class="block">
            <div class="flex">
                <p style="margin-bottom: 30px;">乙方：<em>浙江阿拉丁电子商务股份有限公司</em><p style="color: white">ald</p></p>
            </div>
        </div>

        <div class="block">
            <div class="flex">
                <p style="margin-bottom: 30px;">甲方 （借款人）：<em><em style="color: white">leaser</em>${realName}</em></p>
            </div>
        </div>
        <div class="block">
            <p>签署时间：$!{gmtLeaseCreate}</p>
        </div>
    </div>
</div>
</body>
</html>