<!DOCTYPE html>
<html lang="en">
<head>
    <title>收据</title>
    <link rel="stylesheet" href="protocol.css"/>
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
            background: #f5f5f5;
        }
        html,
        body {
            width: 100%;
            position: relative;
        }
        html .view,
        body .view {
            width: 100%;
        }
        a,
        li,
        ul,
        ol,
        input,
        textarea {
            border: 0 !important;
            padding: 0 !important;
        }
        .content {
            background: #fff;
            padding: 20px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            font-size: 12px;
            text-align: justify;
        }
        .content .block {
            margin-top: 20px;
        }
        .content .block .flex {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
        }
        .content .block .flex > div:first-child {
            width: 55px;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }
        .content .block .flex img {
            max-width: 200px;
        }
        .content p {
            margin-bottom: 10px;
        }
        .content p.tit {
            font-weight: 600;
        }
        .content p span {
            color: #fd4545;
        }
        .content p b {
            text-decoration: underline;
        }
        .content h2 {
            font-weight: 600;
        }
        .content h2.mid {
            -webkit-align-self: center;
            -ms-flex-item-align: center;
            align-self: center;
        }
        .content h5 {
            margin-bottom: 10px;
        }
        .content h5.asr {
            -webkit-align-self: flex-end;
            -ms-flex-item-align: end;
            align-self: flex-end;
        }

    </style>
</head>
<body  style="background-color: #fff;font-family: SimSun;">
<div>
    <div class="content">
        <h2 style="text-align: center" class="mid">收 据</h2>
        <p>&nbsp;&nbsp;浙江阿拉丁电子商务股份有限公司已收到合同编号为${orderNo}的《借款协议》项下出借人${lender}出借给借款人 ${borrowUserInfo} 的借款本金${amount}元（大写：${cnAmount}），其中：${lenderAmountInfo}</p>
##        <div class="block" style="float: left" >
##            <em style="color: white">recept</em>
##        </div>
        <div class="block" style="float: right" >
            浙江阿拉丁电子商务股份有限公司<em style="color: white">ald</em>
            <br/>
            ${receptDate}
        </div>

    </div>
</div>
</body>
</html>