<!DOCTYPE html>
<html lang="en">
<head>
	#set($commonUrl="https://f.51fanbei.com/h5/app/activity/08")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>借钱15亿活动</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/08/billion.css?version=$version">
</head>
<body>
<div id="billion">
    <!--顶部文字滚动 !-->
    <div class="box" id="scroll_div">
        <div class="personAmount" id="scroll_begin"><p>恭喜{{aNum}}用户<span class="light"></span>获得万元现金大奖</p></div>
        <div class="personAmount" id="scroll_end"></div>
        <!--<div class="personAmount"><p>已有<span class="light"></span>22222222222</p></div>!-->
    </div>
    <!--破15亿总金额!-->
    <div id="money" class="money">
        <div class="imgOne">
            <!-- 小额现金贷为9位数时 !-->
            <img class="totalMoney" src="$commonUrl/billion_06.gif" alt="">
            <div class="num compare">
                <span class="numOne" v-for="item in num.amount">{{item}}</span>

            </div>
            <!-- 小额现金贷为10位数时 !-->
            <img class="totalMoney1" src="$commonUrl/billion_07.gif" alt="">
            <div class="num1 compare">
                <span class="numOne1" v-for="item in num.amount">{{item}}</span>
            </div>
        </div>
        <div class="imgTwo">
            <!-- 进度条 !-->
            <p class="progress">
                <span class="progressOne" :class="{'yellow':active==0}"></span>
                <span class="pointOne" :class="{'yellow':active==0}"></span>
                <span class="progressTwo" :class="{'yellow':active==1}"></span>
                <span class="pointTwo" :class="{'yellow':active==1}"></span>
                <span class="progressThree" :class="{'yellow':active==2}"></span>
                <span class="pointThree" :class="{'yellow':active==2}"></span>
                <span class="progressFour" :class="{'yellow':active==3}"></span>
                <span class="pointFour" :class="{'yellow':active==3}"></span>
                <span class="progressFive" :class="{'yellow':active==4}"></span>
                <span class="pointFive" :class="{'yellow':active==4}"></span>
                <span class="progressSeven" :class="{'yellow':active==4}"></span>
            </p>
            <p class="circle">
                    <span >
                        <i :class="{'date':true,'change':active==0}">${date1}</i><br/>
                         <i :class="{'circleMoney':true,'change':active==0}">${Amount1}元</i>
                    </span>
                <span >
                        <i  :class="{'date':true,'change':active==1}">${date2}</i><br/>
                        <i :class="{'circleMoney':true,'change':active==1}">${Amount2}元</i>
                    </span>
                <span >
                        <i  :class="{'date':true,'change':active==2}">${date3}</i><br/>
                        <i :class="{'circleMoney':true,'change':active==2}">${Amount3}元</i>
                    </span>
                <span >
                        <i  :class="{'date':true,'change':active==3}">${date4}</i><br/>
                        <i :class="{'circleMoney':true,'change':active==3}">${Amount4}元</i>
                    </span>
                <span >
                        <i  :class="{'date':true,'change':active==4}">${date5}</i><br/>
                        <i :class="{'circleMoney':true,'change':active==4}">${Amount5}元</i>
                    </span>
                <!--<span class="circleSix">
                    <i class="date">9.9</i><br/>
                    <i class="circleMoney">600元</i>
                </span>!-->
            </p>
        </div>
        <!--烟花特效 !-->
        <div class="fireWorks">
            <img src="$commonUrl/billion_04.gif" alt="">
        </div>
    </div>
    <!--开奖倒计时!-->
    <div id="time">
        <img src="$commonUrl/billion_05.png" alt="">
        <div class="others">
            <!--<div class="oneLine">
                <i class="left"><i>.</i><i>.</i><i>.</i></i>
                <i class="right"><i>.</i><i>.</i><i>.</i></i>
            </div>
            <div class="twoLine"></div>!-->
            <div class='clearFix'>
                <div class="cash">
                    <p class="timeMoney"><i class="RMB" id="RMB">${winAmount}</i>元现金</p>
                    <p class="award">开奖倒计时</p>
                    <!--<p class="countDown">${dates}</p>-->
                    <p class="countDown" id="count">
                        <!--<span id="year">00年</span>
                        <span id="month">00月</span>
                        <span id="day">00日</span>!-->
                        <span id="hour">{{hourData}} 时</span>
                        <span id="minute">{{minuteData}} 分</span>
                        <span id="second">{{secondData}} 秒</span></p>
                </div>
                <!--现金中奖用户!-->
                <div class="winningUser">
                    <ul>
                        <h3>${winAmounts}元现金中奖用户</h3>
                        <li>
                            <!--<span :class="{'left':index%2==0,'right':index%2==1}" v-for="(it,index) in timeoutdata" :key='index'>{{it}}</span>!-->
                            <span :class="{'left':index%2==0,'right':index%2==1}" v-for="(it,index) in timeoutdata" :key='index'>{{it}}</span>
                        </li>
                        <button v-on:click="lists()">查看更多</button>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--活动规则部分!-->
    <div id="rule">
        <p class="ruleHead"><i class="left"></i>活动规则<i class="right"></i></p>
        <p>1. 活动期间，将从每日借款成功用户中随机抽取10名赠送现金红包；</p>
        <p>2. 每日中奖名单将于次日上午10点在活动页进行公布，破15亿用户将在累积借款金额破15亿时，即时公布，敬请留意；</p>
        <p>3. 本次活动现金红包均发放至“我的-返现”；</p>
        <p>4. 活动期间禁止任何作弊行为，包括但并不限于通过软件进行批量操作、刷单等行为，一经发现平台将有权取消其奖励；</p>
        <p>5. 本活动最终解释权归爱上街所有，如有疑问，请拨打客服热线400-002-5151或联系在线客服咨询。</p>
        <p class="btn" v-on:click="goBorrowMoney">
            <img src="$commonUrl/billion_03.png" alt="">
            <!--<span>立即借钱</span>!-->
        </p>
    </div>
    <!--弹窗部分 !-->
    <div class="mask" v-on:click="noShow">
        <div class="alertRule">
            <!--<p class="ruleTitle"><span class="dian"></span><span class="word">活动规则</span><span class="dian"></span></p>
            <p class="ruleCont"></p>!-->
            <ul class="winningDetail">
                <li v-show='list600.length!=0'>
                    <p class="title">600元现金中奖用户</p>
                    <div class="number">
                        <div><span :class="{'left':index%2==0,'right':index%2==1}" v-for="(it,index) in list600" :key="index">{{it}}</span></div>
                    </div>
                </li>
                <li v-show='list700.length!=0'>
                    <p class="title">700元现金中奖用户</p>
                    <div class="number">
                        <div><span :class="{'left':index%2==0,'right':index%2==1}" v-for="(it,index) in list700" :key="index">{{it}}</span></div>
                    </div>
                </li>
                <li v-show='list800.length!=0'>
                    <p class="title">800元现金中奖用户</p>
                    <div class="number">
                        <div><span :class="{'left':index%2==0,'right':index%2==1}" v-for="(it,index) in list800" :key="index">{{it}}</span></div>
                    </div>
                </li>
                <li v-show='list900.length!=0'>
                    <p class="title7">900元现金中奖用户</p>
                    <div class="number">
                        <div><span :class="{'left':index%2==0,'right':index%2==1}" v-for="(it,index) in list900" :key="index">{{it}}</span></div>
                    </div>
                </li>
                <li v-show='list1000.length!=0'>
                    <p class="title">1000元现金中奖用户</p>
                    <div class="number">
                        <div><span :class="{'left':index%2==0,'right':index%2==1}" v-for="(it,index) in list1000" :key="index">{{it}}</span></div>
                    </div>
                </li>

            </ul>
            <p class="close" v-on:click="noShow">X</p>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/dist/activity/08/jquery.fireworks.js"></script>
<script type="text/javascript" src="/dist/activity/08/billion.js?version=$version"></script>
</html>
