<!DOCTYPE html>
<html lang="en">
<head>
    #set($commonUrl="https://f.51fanbei.com/h5/app/activity/09")
    <meta charset="UTF-8">
    <title>做你的暖心"杯"比</title>
</head>
<body>
    <div id="cup">
        <img class="lazy" :data-original="content.bannerUrl">
        <img class="lazy" v-for="(item,index) in imgList" :data-original="item" @click="goGoodsDetail(content.oneLevelGoodsInfo.goodsList[index])">
    </div>

</body>
<script type="text/javascript">
    var activityId=getUrl('activityId');
    console.log(activityId);
    new Vue({
        el:'#cup',
        data:{
            imgList:[
                "https://f.51fanbei.com/h5/app/activity/09/cup1.jpg", "https://f.51fanbei.com/h5/app/activity/09/cup2.jpg",
                "https://f.51fanbei.com/h5/app/activity/09/cup3.jpg", "https://f.51fanbei.com/h5/app/activity/09/cup4.jpg",
                "https://f.51fanbei.com/h5/app/activity/09/cup5.jpg", "https://f.51fanbei.com/h5/app/activity/09/cup6.jpg"
            ],
            content:{}
        },
        created:function () {
            this.init();
        },
        methods:{
            init() {
                //获取页面初始化信息
                var self = this;
                jQuery.ajax({
                    type: 'post',
                    url: '/fanbei-web/newEncoreActivityInfo',
                    data: {'activityId': activityId},
                    success: function (data) {
                        self.content=(JSON.parse(data)).data;
                        console.log(self.content);

                        self.$nextTick(function () {
                            $(".loadingMask").fadeOut(); // 取消loading
                            $("img.lazy").lazyload({
                                placeholder : "https://f.51fanbei.com/h5/common/images/bitmap1.png",  //用图片提前占位
                                effect : "fadeIn",  // 载入使用的效果
                                threshold: 200 // 提前开始加载
                            });
                        })
                    },
                    error: function () {
                        requestMsg("哎呀，出错啦！");
                    }
                });
            },
            goGoodsDetail(item){
                if ( item.source=="SELFSUPPORT" ) {
                    window.location.href='/fanbei-web/opennative?name=GOODS_DETAIL_INFO&params={"privateGoodsId":"'+item.goodsId+'"}'
                } else {
                    window.location.href='/fanbei-web/opennative?name=GOODS_DETAIL_INFO&params={"goodsId":"'+item.goodsId+'"}'
                }
            }
        }
    })
</script>
</html>