<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="201709261600")
    #set($src="https://f.51fanbei.com/h5/app/activity/09")
    <meta charset="UTF-8">
    <title>让潮流来追你</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/09/dustCoat.css">
</head>
<body>
<div id="dustCoat"  class="dustCoat">
    <div class="loadingMask"><i class="loading"></i></div>
    <div class="banner first"><img src="$src/dustCoat01.png"></div>
    <div class="firstList">
        <p class="firstTitle"><span></span><span>秋天的风衣 穿对了才更美</span><span></span></p>
        <div class="firstCont clearFix" v-for="item in content.firstList" @click="goodClick(item)">
            <p class="goodImg"><img class="lazy" :data-original="item.goodsIcon"></p>
            <div class="right">
                <p class="goodName" style="-webkit-box-orient: vertical;">{{item.goodName}}</p>
                <p class="clearFix">
                    <span class="salePrice">￥{{item.saleAmount}}</span>
                    <span class="fan"></span>
                    <span class="fanMoney">￥{{item.rebateAmount}}</span>
                </p>
                <p class="monthPrice" v-if="item.nperMap.isFree==='0'">月供 ￥{{item.nperMap.amount}}起</p>
                <p class="monthPrice" v-if="item.nperMap.isFree==='1' || item.nperMap.isFree==='2'">月供 ￥{{item.nperMap.freeAmount}}起</p>
                <p class="buyNow">立即抢购</p>
            </div>
        </div>
    </div>
    <div class="secondList firstList">
        <p class="firstTitle"><span></span><span>秋天的风衣 穿对了才更美</span><span></span></p>
        <div class="firstCont clearFix"  v-for="item in content.secondList" @click="goodClick(item)">
            <p class="goodImg"><img class="lazy" :data-original="item.goodsIcon"></p>
            <div class="right">
                <p class="goodName" style="-webkit-box-orient: vertical;">{{item.goodName}}</p>
                <p class="clearFix">
                    <span class="salePrice">￥{{item.saleAmount}}</span>
                    <span class="fan"></span>
                    <span class="fanMoney">￥{{item.rebateAmount}}</span>
                </p>
                <p class="monthPrice" v-if="item.nperMap.isFree==='0'">月供 ￥{{item.nperMap.amount}}起</p>
                <p class="monthPrice" v-if="item.nperMap.isFree==='1' || item.nperMap.isFree==='2'">月供 ￥{{item.nperMap.freeAmount}}起</p>
                <p class="buyNow">立即抢购</p>
            </div>
        </div>
    </div>
    <div class="firstList thirdList clearFix">
        <p class="firstTitle thirdTitle"><span></span><span>秋天的风衣 穿对了才更美</span><span></span></p>
        <div class="thirdCont"  v-for="item in content.thirdList"  @click="goodClick(item)">
            <p class="goodImg"><img class="lazy" :data-original="item.goodsIcon"></p>
            <p class="goodName" style="-webkit-box-orient: vertical;">{{item.goodName}}</p>
            <p class="clearFix">
                <span class="salePrice">￥{{item.saleAmount}}</span>
                <span class="fan"></span>
                <span class="fanMoney">￥{{item.rebateAmount}}</span>
            </p>
            <p class="monthPrice" v-if="item.nperMap.isFree==='0'">月供 ￥{{item.nperMap.amount}}起</p>
            <p class="monthPrice" v-if="item.nperMap.isFree==='1' || item.nperMap.isFree==='2'">月供 ￥{{item.nperMap.freeAmount}}起</p>
        </div>
    </div>
</div>
<script type="text/javascript" src="/dist/activity/09/dustCoat.js?version=$version"></script>
</body>
</html>