<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="20170927")
    #set($src="https://f.51fanbei.com/h5/app/activity/09")
    <meta charset="UTF-8">
    <title>放‘价’特卖</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/09/nationalDay.css">
</head>
<body>
<div id="nationalDay"  class="nationalDay">
    <div class="loadingMask"><i class="loading"></i></div>
    <div class="banner first"><img src="$src/nationalDay01.png"></div>
    <div class="couponList clearFix">
        <div class="coupon clearFix" v-for="item in couponCont.couponInfoList" @click="couponClick(item)">
            <p class="couponAmount"><span>￥</span><span>{{item.amount}}</span></p>
            <p class="couponName">优惠券</p>
            <p class="couponLimit" v-if="item.limitAmount>0">实付满{{item.limitAmount}}使用</p>
            <p class="couponLimit" v-else>无门槛</p>
        </div>
    </div>
    <div class="firstList clearFix">
        <p class="firstTitle"><img src="$src/nationalDay03.png"></p>
        <div class="firstCont" v-for="item in content.oneLevelGoodsInfo.goodsList" @click="goodClick(item)">
            <p class="goodImg"><img class="lazy" :data-original="item.goodsIcon"></p>
            <p class="goodName" style="-webkit-box-orient: vertical;">{{item.goodName}}</p>
            <p>
                <span class="salePrice">￥{{item.saleAmount}}</span>
                <span class="fan"></span>
                <span class="fanMoney">￥{{item.rebateAmount}}</span>
            </p>
            <p class="monthPrice" v-if="item.nperMap.isFree==='0'">月供 ￥{{item.nperMap.amount}}起</p>
            <p class="monthPrice" v-if="item.nperMap.isFree==='1' || item.nperMap.isFree==='2'">月供 ￥{{item.nperMap.freeAmount}}起</p>
        </div>
    </div>
    <div class="secondList firstList clearFix">
        <p class="firstTitle"><img src="$src/nationalDay04.png"></p>
        <div class="firstCont"  v-for="item in content.twoLevelGoodsInfo.goodsList" @click="goodClick(item)">
            <p class="goodImg"><img class="lazy" :data-original="item.goodsIcon"></p>
            <p class="goodName" style="-webkit-box-orient: vertical;">{{item.goodName}}</p>
            <p>
                <span class="salePrice">￥{{item.saleAmount}}</span>
                <span class="fan"></span>
                <span class="fanMoney">￥{{item.rebateAmount}}</span>
            </p>
            <p class="monthPrice" v-if="item.nperMap.isFree==='0'">月供 ￥{{item.nperMap.amount}}起</p>
            <p class="monthPrice" v-if="item.nperMap.isFree==='1' || item.nperMap.isFree==='2'">月供 ￥{{item.nperMap.freeAmount}}起</p>
        </div>
    </div>
    <div class="thirdList firstList clearFix">
        <p class="firstTitle"><img src="$src/nationalDay05.png"></p>
        <div class="firstCont" v-for="item in content.threeLevelGoodsInfo.goodsList" @click="goodClick(item)">
            <p class="goodImg"><img class="lazy" :data-original="item.goodsIcon"></p>
            <p class="goodName" style="-webkit-box-orient: vertical;">{{item.goodName}}</p>
            <p>
                <span class="salePrice">￥{{item.saleAmount}}</span>
                <span class="fan"></span>
                <span class="fanMoney">￥{{item.rebateAmount}}</span>
            </p>
            <p class="monthPrice" v-if="item.nperMap.isFree==='0'">月供 ￥{{item.nperMap.amount}}起</p>
            <p class="monthPrice" v-if="item.nperMap.isFree==='1' || item.nperMap.isFree==='2'">月供 ￥{{item.nperMap.freeAmount}}起</p>
        </div>
    </div>
    <div class="fourthList">
        <p class="firstTitle"><img src="$src/nationalDay06.png"></p>
        <p class="fourthCont" @click="fourthContClick()"><img src="$src/nationalDay09.png"></p>
    </div>
</div>
<script type="text/javascript" src="/dist/activity/09/nationalDay.js?version=$version"></script>
</body>
</html>