<!DOCTYPE html>
<html lang="en">
<head>
	#set($version="20180306")
    #set($commonUrl="https://img.51fanbei.com/h5/app/activity/wy")
	<meta charset="UTF-8">
	<title>爱上街邀您领红包</title>
	<link rel="stylesheet" type="text/css" href="/dist/activity/wy/wy.css">
</head>
<body>
<div class="loadingMask"><i class="loading"></i></div>
<img class="first" src="$commonUrl/new1.png">
<img class="first" src="$commonUrl/new2.png">
<img class="first" src="$commonUrl/new3.png">
<img class="first" src="$commonUrl/new4.png">
<img class="first" src="$commonUrl/new5.png">
<img class="first" src="$commonUrl/new6.png">
<img class="first" src="$commonUrl/new8.png">
<img class="first" src="$commonUrl/new9.png">
<img class="lazy" data-original="$commonUrl/new10.png">
<img class="lazy" data-original="$commonUrl/new11.png">
<img class="lazy" data-original="$commonUrl/new12.png">
<img class="lazy" data-original="$commonUrl/new13.png">
##<img class="lazy" data-original="$commonUrl/new14.png">
<div class="register">
	<input type="text" class="mobile" id="mobile" pattern="[0-9]*"  maxlength="11" placeholder="请输入手机号领取红包">
    <input type="password" class="password" id="password" placeholder="请设置登录密码" name="words" maxlength="18">
    <input type="text" class="verification" id="verification" maxlength="6" pattern="[0-9]*" placeholder="请输入验证码">
	<span class="codeBtn">点击获取</span>
    <button class="submit">确认领取</button>
	<input type="checkbox" class="input_check" id="input_check" checked>
	<a class="protocol" href="/app/sys/registerProtocol"></a>
	<div class="al"  onclick="goApp()"></div>
</div>
<div class="shadow"></div>
<div class="imgVftCodeWrap hide">
    <div class="imgVftCodeTitle"><p>请输入图形验证码</p><span id="imgVftCodeClose"><i></i></span></div>
    <div class="imgVftCodeInput clearfix">
        <div class="imgVftCodeDiv"><input type="text" class="imgVftCode" id="imgVftCode" maxlength="4" placeholder="请输入"></div>
        <div class="imgVftCodeWrapImgDiv"><img id="imgVftCodeWrapImg" style="width: auto" src=""></div>
        <span class="imgVftCodeRefresh" id="imgVftCodeRefresh"><i></i></span>
    </div>
    <button class="imgVftCodeSbumit" id="imgVftCodeSbumit">确定</button>
</div>

<div class="success">
    <img style="background: none;width:5.4rem" src="$commonUrl/new14.png">
	<button class="btn goBtn" onclick="goApp()">前往使用</button>
</div>
<script>
    $(".first").each(function() {
        var img = $(this);
        img.load(function () {
            $(".loadingMask").fadeOut();
            console.log(2)
        });
        setTimeout(function () {
            $(".loadingMask").fadeOut();
        },1000)
    });
</script>
<script type="text/javascript">
    var _saber={};
</script>
<script type="text/javascript" src="/dist/js/core.js"></script>
<script type="text/javascript" src="/dist/js/md5.js"></script>
<script type="text/javascript" src="/dist/js/saber.js?version=$version"></script>
<script type="text/javascript" src="/dist/activity/wy/wy.js"></script>
</body>
</html>
