<!DOCTYPE html>
<html>
<head>
    #set($version="2017051101")
    #set($commonUrl="http://f.51fanbei.com/h5")
    <title>商品列表模版</title>
    <!-- <link rel="stylesheet" type="text/css" href="$commonUrl/common/css/swiper-3.4.2.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/dist/css/goods/goodsListModel.css?version=$version">
</head>
<body>
	hello game
    <script type="text/javascript" src="/common/js/jquery-2.2.4.min.js"></script>
    <!-- <script type="text/javascript" src="$commonUrl/common/js/swiper-3.4.2.jquery.min.js"></script> -->
</body>
</html>