<!DOCTYPE html>
<html lang="en">
    <head>
		<title>领取优惠劵</title>
		<style type="text/css">
			.receiveCoupons_main{
				margin-top: 2.0rem;
			}
			.receiveCoupons_main li,.receiveCoupons_alreadyReceive{
				position: relative;
				width: 18.1rem;
				height: 5.7rem;
				margin: 0 auto 0.5rem;
				background-image: url(/images/app/user/0206yhq.png);
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-ms-background-size: cover;
				background-size: cover;
			}
			.receiveCoupons_main .receiveCoupons_alreadyReceive{
				background-image: url(/images/app/user/0206yhqlq.png);
			}
			.receiveCoupons_priceInfo{
				width: 6.3rem;
				height: 4.25rem;
				line-height: 4.25rem;
				margin-left: -0.15rem;
			}
			.receiveCoupons_priceInfo span{
				margin-left: -0.15rem;
			}
			.receiveCoupons_text{
				height: 4.05rem;
			}
			.receiveCoupons_text p:nth-child(1){
				margin-top: 0.55rem;
			}
			.receiveCoupons_text p:nth-child(2){
				margin: 0.14rem 0;
			}
			.receiveCoupons_date{
				height: 1.3rem;
				line-height: 1.3rem;
				padding-left: 0.75rem;
			}
			.receiveCoupons_btn{
				width: 4.8rem;
				height: 5.7rem;
				opacity: 0;
			}
		</style>
    </head>
    <body class="bgc_e">
		<input type="hidden" id="couponList" name="couponList" value=$jsonUtil.toJSONString($!{couponList})>
		#if($!{couponList.size()}==0)
	   		<div class="nullPrompt">
	   			<img src="/images/common/040101wuyouhui.png">
				<span class="fsc_6">暂无优惠劵</span>
	   		</div>
		#end
		<ul class="receiveCoupons_main">
			#foreach($item in $!{couponList})
			<li>
				<div class="fl receiveCoupons_mainContent">
					<div class="receiveCoupons_content clearfix">
						<span class="fl fs_50 tac fsc_blue receiveCoupons_priceInfo">￥<span class="fs_92 box1">$priceUtil.bigdecimalToInt($!{item.amount})</span></span>
						<div class="fl fs_24 fsc_6 receiveCoupons_text">
							<p class="fsc_1 fs_32"><a href="http://192.168.96.35:8088/ala-web/user/ala-web/pickCoupon" style="width: 100%; height: 100%;">$!{item.name}</a></p>
							<p>$!{item.useRule}</p>
							<p>$!{item.limitCount}</p>
						</div>
					</div>
					<p class="fs_22 fsc_6 tal receiveCoupons_date">$dateUtil.formatDate($!{item.gmtStart},"yyyy-MM-dd") 至 $dateUtil.formatDate($!{item.gmtEnd},"yyyy-MM-dd")</p>
				</div>
				<button class="fr receiveCoupons_btn"><a href="http://192.168.96.35:8088/ala-web/user/ala-web/pickCoupon" style="width: 100%; height: 100%;">立即领取</a></button>
			</li>
			#end
		</ul>
		<script type="text/javascript" src="/js/common/layer.js"></script>
		<!-- <script type="text/javascript" src="/js/app/user/receiveCoupons.js?version=$version"></script> -->
    </body>
</html>