<!DOCTYPE html>
<html lang="en">
    <head>
		<title>首页</title>
		<link rel="stylesheet" type="text/css" href="/css/common/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="/css/common/layer.css">
		<link rel="stylesheet" type="text/css" href="/css/wx/index.css">
		<script type="text/javascript" src="/js/common/swiper.min.js"></script>
		<script type="text/javascript" src="/js/common/layer.js"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=p2vPN9EbMi3LNh8znRpeouqyUmeql52u"></script>
	</head>
<body>
	<header>
		<div class="indexNavbar">
			<div class="indexNavbar_region">
				<span class="indexNavbar_city">
					<span class="indexNavbar_city_name">杭州</span>
					<i class="indexNavbar_city_icon"></i>
				</span>
			</div>
			<div class="indexNavbar_search">
				<a href="/h5/wx/goods/search">
					<span class="indexNavbar_search_hotwords">请输入您需要的商品名</span>
				</a>
			</div>
		</div>
	</header>
	<section>
		<div class="indexBanner">
			<div class="swiper-container">
		        <div class="swiper-wrapper">
					#foreach($data in $!{bannerList})
						<div class="swiper-slide">
							#if("$!{data.type}" == "1")
								<a href="$!{data.content}">
							#elseif("$!{data.type}" == "2" && "$!{data.content}" != "")
								<a href="/h5/wx/goods/goodsDetails?goodsId=$!{data.content}">
							#end
							<img src="$!{data.imageUrl}">
							#if("$!{data.type}" == "1" || "$!{data.type}" == "2")
								</a>
							#end
						</div>
					#end
		        </div>
		        <div class="swiper-pagination"></div>
		    </div>
		</div>
		<div class="indexMain">
			<div class="pflCleaning">
				<h2>专业清洗</h2>
				<div class="pflCleaning_content">
					<div class="sofaCleaning">
						<a href="/h5/wx/goods/goodsDetails?goodsId=$!{categoryList.get(0).categoryId}">
							<img src="$!{categoryList.get(0).categoryImage}">
							<p>$!{categoryList.get(0).categoryTitle}</p>
						</a>
					</div>
					<ul class="clearfix">
						<li>
							<a href="/h5/wx/goods/goodsDetails?goodsId=$!{categoryList.get(1).categoryId}">
								<img src="$!{categoryList.get(1).categoryImage}">
								<p>$!{categoryList.get(1).categoryTitle}</p>
							</a>
						</li>
						<li>
							<a href="/h5/wx/goods/goodsDetails?goodsId=$!{categoryList.get(2).categoryId}">
								<img src="$!{categoryList.get(2).categoryImage}">
								<p>$!{categoryList.get(2).categoryTitle}</p>
							</a>
						</li>
					</ul>
					<ol class="clearfix">
						<li>
							<a href="/h5/wx/goods/goodsDetails?goodsId=$!{categoryList.get(3).categoryId}">
								<img src="$!{categoryList.get(3).categoryImage}">
								<span>
									<p>$!{categoryList.get(3).categoryTitle}</p>
								</span>
							</a>
						</li>
						<li>
							<a href="/h5/wx/goods/goodsDetails?goodsId=$!{categoryList.get(4).categoryId}">
								<img src="$!{categoryList.get(4).categoryImage}">
								<span>
									<p>$!{categoryList.get(4).categoryTitle}</p>
								</span>
							</a>
						</li>
						<li>
							<a href="/h5/wx/goods/goodsDetails?goodsId=$!{categoryList.get(5).categoryId}">
								<img src="$!{categoryList.get(5).categoryImage}">
								<span>
									<p>$!{categoryList.get(5).categoryTitle}</p>
								</span>
							</a>
						</li>
						<li>
							<a href="/h5/wx/goods/goodsDetails?goodsId=$!{categoryList.get(6).categoryId}">
								<img src="$!{categoryList.get(6).categoryImage}">
								<span>
									<p>$!{categoryList.get(6).categoryTitle}</p>
								</span>
							</a>

						</li>
					</ol>
				</div>
			</div>
			<div class="upmarketCleaning">
				<h2>高端清洗</h2>
				<div class="upmarketCleaning_content">
					<ul>
						#foreach($item in $!{goodslist})
							<li>
								<a href="/h5/wx/goods/goodsDetails?goodsId=$!{item.goodsId}">
									<div class="swiper-slide"><img src="$!{item.goodsUrl}"></div>
								</a>
							</li>
						#end
					</ul>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="footer">
	        <ul>
	            <li class="current"><a href="/h5/wx/index"><i class="current1"></i><span>首页</span></a></li>
	            <li><a href="$!{redirectPre}/h5/wx/goods/category$!{redirectSuf}"><i class="current2"></i><span>分类</span></a></li>
	            <li><a href="$!{redirectPre}/h5/wx/goods/shoppingCart$!{redirectSuf}"><i class="current3"></i><span>购物车</span></a></li>
	            <li><a href="$!{redirectPre}/h5/wx/mine/mine$!{redirectSuf}"><i class="current4"></i><span>我的</span></a></li>
	        </ul>
	    </div>
	</footer>
	<!-- 地址管理 -->
	<div class="indexChooseCity_wrap indexChooseCity_wrap_hide">
		<section>
			<div id="allmap"></div>
			<div class="contentDiv">
				<div class="chooseHead">
					<p>定位城市</p>
					<div class="chooseResults"></div>
				</div>
				<div class="hotContent">
					<p>热门城市</p>
					<ul class="clearfix">
					</ul>
				</div>
			</div>
		</section>
	</div>
	#if("$!{config.inveloment}" == "online")
    	<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    #else
    	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    #end
	<script type="text/javascript">
		var  shareObj = {title: '洗哟',desc: '让世界更干净',link: '$!{config.wxHost}/h5/wx/index',imgUrl: 'http://hmlyo2o.oss-cn-hangzhou.aliyuncs.com/test/7c0d08fb-6d3c-44df-aa9e-e5be7a1a0886.png'};
			wx.config({
				    //debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
				    appId: '$!{config.appId}', // 必填，公众号的唯一标识
				    timestamp: $!{config.timestamp}, // 必填，生成签名的时间戳
				    nonceStr: '$!{config.nonceStr}', // 必填，生成签名的随机串
				    signature: '$!{config.signature}',// 必填，签名，见附录1
				    jsApiList: ['onMenuShareQQ','onMenuShareTimeline','onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
				});
				
		wx.ready(function(){
    		// 获取“分享到朋友圈”按钮点击状态及自定义分享内容接口
    		wx.onMenuShareTimeline({
        		title: shareObj.title, // 分享标题
        		link:shareObj.link,
        		imgUrl: shareObj.imgUrl // 分享图标
    		});
    		// 获取“分享给朋友”按钮点击状态及自定义分享内容接口
    		wx.onMenuShareAppMessage({
        		title: shareObj.title, // 分享标题
        		desc: shareObj.desc, // 分享描述
      	  		link:shareObj.link,
        		imgUrl: shareObj.imgUrl, // 分享图标
        		type: 'link', // 分享类型,music、video或link，不填默认为link
    		});
    		// 获取“分享给朋友”按钮点击状态及自定义分享内容接口
    		wx.onMenuShareQQ({
        		title: shareObj.title, // 分享标题
        		desc: shareObj.desc, // 分享描述
        		link:shareObj.link,
        		imgUrl: shareObj.imgUrl, // 分享图标
        		type: 'link', // 分享类型,music、video或link，不填默认为link
    		});
		});
		wx.ready(function(){
		    // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
		});

		wx.error(function(res){
		    // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
		});	
	
		// banner轮播图效果
		$(function(){
		    var swiper = new Swiper('.swiper-container', {
		        pagination: '.swiper-pagination',
		        nextButton: '.swiper-button-next',
		        // prevButton: '.swiper-button-prev',
		        paginationClickable: true,
		        spaceBetween: 30,
		        centeredSlides: true,
		        autoplay: 2500,
		        autoplayDisableOnInteraction: false
		    });
		});

		// 自动定位
		$(function(){
			var geolocation = new BMap.Geolocation();
			geolocation.getCurrentPosition(function(r){
				if(this.getStatus() == BMAP_STATUS_SUCCESS){
					var mk = new BMap.Marker(r.point);
					var myGeo = new BMap.Geocoder();      
					// 根据坐标得到地址描述    
					myGeo.getLocation(new BMap.Point(r.point.lng, r.point.lat), function(result){      
		                if (result){      
		                    var cityDate = (result.addressComponents.city).replace("市","");
		                    $(".indexNavbar_city_name").text(cityDate);
		                    $(".chooseResults").text(cityDate); 
		                }
					});
				} else {
					// alert('failed'+this.getStatus());
					layer.open({
                        content: '定位失败',
                        skin: 'msg',
                        time: 2
                    });
				}        
			},{enableHighAccuracy: true});
		});

		// 地址选择
		$(function(){
			// 选择地址
			$(".indexNavbar_region").click(function(){
				$(".indexChooseCity_wrap").removeClass("indexChooseCity_wrap_hide");
			});
			$(".indexChooseCity_wrap .header_icon").click(function(){
				$(".indexChooseCity_wrap").addClass("indexChooseCity_wrap_hide");
			});
			getAllOpenCityList();
		});
		
		function getAllOpenCityList(){
			var src = "/h5/wx/sys/getAllOpenCityList";
	    	jQuery.post(src, "",
		    	function(data) {
		        	var returnJson = eval("(" + data + ")");
		        	//alert(returnJson.data.areaList.length);
		       	 	if(returnJson.success){
					  	for (var i = 0; i < returnJson.data.areaList.length; i++) {
					  		var dataStr = returnJson.data.areaList[i].name;
					  		var htmll = "<li>"+dataStr+"</li>";
					  		$(".hotContent ul").append(htmll);
					  	}
					  	$(".chooseResults").click(function(){
					  		$(".indexChooseCity_wrap").addClass("indexChooseCity_wrap_hide");
					  	});

						$(".hotContent li").click(function(){
							var currentLiText = $(this).text();
							$(".indexNavbar_city_name").text(currentLiText);
							$(".indexChooseCity_wrap").addClass("indexChooseCity_wrap_hide");
						});
		        	}else{
		        		//alert("error:"+returnJson.msg);
		        	}
		        	return;
		    	},
	    	"html");
		}
	</script>
</body>
</html>