/*
* @Author: Yangyang
* @Date:   2017-02-13 15:15:44
* @Last Modified by:   Yangyang
* @Last Modified time: 2017-02-15 10:28:13
* @title:  注册
*/

.register_main{
	padding: 0.25rem;
}
.register_main li{
	margin-bottom: 0.25rem;
	height: 1.0rem;
	position: relative;
	padding-left: 0.25rem;
	background-color: #fff;
}
.register_mobile,.register_password{
	width: 100%;
}
.register_mobile,.register_verification,.register_password{
	height: 1.0rem;
	line-height: 1.0rem;
	text-align: left;
}
.register_mobileIcon,.register_verificationIcon,.register_passwordIcon{
	width: 0.5rem;
	height: 0.5rem;
	line-height: 0.5rem;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	background-color: #eee;
}
.register_mobileIcon,.register_passwordIcon{
	position: absolute;
	top: 50%;
	right: 0.5rem;
	-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.register_verificationIcon{
	position: absolute;
	top: 50%;
	right: 3.5rem;
	-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.register_verification{
	float: left;
}
.register_codeBtn{
	float: right;
	height: 0.95rem;
	line-height: 0.95rem;
	text-align: center;
	padding: 0 0.5rem;
	border: 1px solid #000;
}
input::-webkit-input-placeholder{
	color: #999;
}
input:-moz-placeholder{
	color: #999;
}
input::-moz-placeholder{
	color: #999;
}
input:-ms-input-placeholder{
	color: #999;
}
.register_submitBtn{
	margin-top: 2.5rem;
	width: 100%;
	height: 1.0rem;
	line-height: 1.0rem;
	text-align: center;
	border: 1px solid #000;
	background-color: #fff;
}