<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="2017051101")
    #set($commonUrl="http://f.51fanbei.com/h5/app/activity/05")
<title>母亲节快乐</title>
<link rel="stylesheet" type="text/css" href="/dist/activity/05/motherDay.css?version=$version">
</head>
<body>
<div class="footer" @click="bombBox">
   <div class="words"><img src="$commonUrl/upset01.jpg"></div>
   <div class="saleOff"><img src="$commonUrl/mumday30.jpg"></div>
</div>

<script type="text/javascript">

    var userName = "";
    if(getInfo().userName){
        userName=getInfo().userName;
    };

    new Vue({
        el:'.footer',
        methods:{
            bombBox: function(){ // 规则弹窗

                // var appVersion = "3.4.2";

                /*var appVersion = getInfo().appVersion.replace(/\./g,"");
                var appSystem = getInfo().id.substr(0,2);  // 截取appId的开头

                if ( appSystem == "i_" ) {

                    if ( appVersion <= "350" ) {
                        requestMsg("你的版本过低请升级");
                    } else {
                        window.location.href = '/fanbei-web/opennative?name=APP_SHARE&params={"title":"邀请有礼0517","content":"五月电影0517","shareUrl":"https://app.51fanbei.com/fanbei-web/mayMovie"}';

                    }
                } else if( appSystem == "a_" ){

                    if ( appVersion <= "351" ) {
                        requestMsg("你的版本过低请升级");
                    } else {
                        window.location.href = '/fanbei-web/opennative?name=APP_SHARE&params={"title":"邀请有礼0517","content":"五月电影0517","shareUrl":"https://app.51fanbei.com/fanbei-web/mayMovie"}';
                    }
                }*/



            }
        }
    });

</script>
</body>
</html>