<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="20007")
	#set($src="http://f.51fanbei.com/h5/app/activity/05")
	<title>5月热片</title>
	<link rel="stylesheet" type="text/css" href="/dist/activity/05/mayMovie.css?version=$version">
</head>
<body>
<img class="img" src="$src/mayMovie_01_2.jpg">
<img class="img" src="$src/mayMovie_02_2.jpg">
<img class="img" src="$src/mayMovie_03_2.jpg">
<img class="img" src="$src/mayMovie_04_2.jpg">
<img class="img" src="$src/mayMovie_05_2.jpg">
<img class="img" src="$src/mayMovie_06_2.jpg">
<img class="img" src="$src/mayMovie_07_2.jpg">
<img class="img" src="$src/mayMovie_09.jpg">
<div class="movieAlert" style="top:4rem;left:1.65rem;"></div>
<div class="movieAlert" style="top:6.12rem;left:1.65rem;"></div>
<div class="movieAlert" style="top:9.17rem;left:.55rem;"></div>
<div class="movieAlert" style="top:11.27rem;left:.55rem;"></div>
<div class="movieAlert" style="top:13.39rem;left:1.96rem;"></div>
<div class="movieAlert" style="top:15.49rem;left:1.96rem;"></div>
<div class="movieAlert" style="top:18.96rem;left:-.3rem;"></div>
<div class="movieAlert" style="top:18.96rem;left:3.81rem;width: 3.5rem"></div>
<div class="movieAlert" style="top:21.87rem;left:2.3rem;"></div>
<div class="shadow">
	<div class="msg">
		<p class="title">电影详情：</p>
		<p class="content">马哈维亚•辛格•珀尕（阿米尔•汗饰）曾是印度国家摔跤冠军，因生活所迫放弃摔跤。他希望让儿子可以帮他完成梦想——赢得世界级金牌。结果生了四个女儿本以为梦想就此破碎的辛格却意外发现女儿身上的惊人天赋，看到冠军希望的他决定不能让女儿的天赋浪费，像其他女孩一样只能洗衣做饭过一生，再三考虑之后，与妻子约定一年时间按照摔跤手的标准训练两个女儿：换掉裙子 、剪掉了长发，让她们练习摔跤，并赢得一个又一个冠军，最终赢来了成为榜样激励千千万万女性的机会……</p>
	</div>
</div>
<div class="shareBtn">立抢2元电影券</div>
<script type="text/javascript" src="/dist/activity/05/mayMovie.js?version=$version"></script>
</body>
</html>