<!DOCTYPE html>
<html lang="en">
    <head>
    	#set($version="2017042402")
		#set($commonUrl="http://51fanbei.oss-cn-hangzhou.aliyuncs.com/h5")
		<title>领取优惠券</title>
		<link rel="stylesheet" type="text/css" href="/css/user/receiveCoupons.css?version=$version">
    </head>
    <body>
		<input type="hidden" id="couponList" name="couponList" value=$jsonUtil.toJSONString($!{couponList})>
		<input type="hidden" id="userName" name="userName" value="$!{userName}">
		#if($!{couponList.size()}==0)
	   		<div class="nullPrompt">
	   			<img src="$commonUrl/common/images/040101wuyouhui.png">
				<span class="fsc_6">暂无优惠劵</span>
	   		</div>
		#end
		<ul class="receiveCoupons_main">
			#foreach($item in $!{couponList})
				<li class="bgs_c
					#if($!{item.quotaAlready} >= $!{item.quota})
						receiveCoupons_ylw
					#elseif($!{item.userAlready} >= $!{item.limitCount})
						receiveCoupons_ylq
					#end
				">
					<div class="fl receiveCoupons_mainContent">
						<div class="receiveCoupons_content clearfix">
							<span class="fl tac receiveCoupons_priceInfo">￥<span>$priceUtil.bigdecimalToInt($!{item.amount})</span></span>
							<div class="fl fs_24 fsc_6 receiveCoupons_text">
								<p class="fsc_1">$!{item.name}</p>
								<p>
									#if($!{item.limitAmount}==0)
										无限制
									#else
										满$!{item.limitAmount}元可使用
									#end
								</p>
								<p>每人限量$!{item.limitCount}张</p>
							</div>
						</div>
						<p class="fsc_6 tal receiveCoupons_date">$dateUtil.formatDate($!{item.gmtStart},"yyyy-MM-dd") 至 $dateUtil.formatDate($!{item.gmtEnd},"yyyy-MM-dd")</p>
					</div>
				</li>
			#end
		</ul>
		<script type="text/javascript" src="/js/user/receiveCoupons.js?version=$version"></script>
    </body>
</html>