<!DOCTYPE html>
<html>
<head>
    #set($version="20170605")
	#set($commonUrl="https://fs.51fanbei.com/h5/app/activity/06")
    <meta charset="UTF-8">
    <title>我要领券</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/06/receiveCoupons.css?version=$version">
</head>
<body>
<div id="getCoupon">
    <input type="hidden" id="couponList" name="couponList" value=$jsonUtil.toJSONString($!{couponList})>
	<input type="hidden" id="userName" name="userName" value="$!{userName}">
	#if($!{couponList.size()}==0)
	   <div class="noCoupon">暂无优惠券</div> 
	#end
	<ul class="List">
	    #foreach($item in $!{couponList})
		   <li class="couponLi">
		       <p class="positionYuan positionYuan01"></p>
               <p class="positionYuan positionYuan02"></p>
		   	   <div class="couponKind"><img src="$commonUrl/getCoupon02.png"></div>
		   	   <div class="couponTop">
		   	   	   <p class="cashCoupon">$!{item.type}</p>
		   	   	   <p class="couponSize">￥<span>$priceUtil.bigdecimalToInt($!{item.amount})</span></p>
		   	   	   <p class="expiryDate">有效期$dateUtil.formatDate($!{item.gmtEnd},"yyyy-MM-dd")</p>
		   	   	   <p class="fullCut">满$!{item.limitAmount}元可用</p>
		   	   </div>
		   	   #if($!{item.quota}==$!{item.quotaAlready})
               <p class="clickCoupon clickCoupon02">已抢完</p>
               #else
               <p class="clickCoupon clickCoupon01" dataQuota=$!{item.quota} dataAleady=$!{item.quotaAlready}>点击领券</p>
               #end
		   </li>
		#end
	</ul>
	<!-- <p class="myCoupon">查看我的优惠券</p> -->
</div>

<script type="text/javascript" src="/dist/activity/06/receiveCoupons.js?version=$version"></script>
</body>
</html>