<!DOCTYPE html>
<html>
<head>
    #set($version="20170601")
	#set($commonUrl="https://fs.51fanbei.com/h5/app/activity/06")
    <meta charset="UTF-8">
    <title>我要领券</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/06/getCoupon.css?version=$version">
</head>
<body>
<div id="getCoupon">
    <input type="hidden" id="totalCoupon" name="totalCoupon" value=$jsonUtil.toJSONString($!{totalCoupon})>
	<input type="hidden" id="userName" name="userName" value="$!{userName}">
	#if($!{totalCoupon.size()}==0)
	   <div class="noCoupon">暂无优惠券</div> 
	#end
	<ul class="couponList">
	    #foreach($item in $!{totalCoupon})
		   <li class="couponLi #if($!{item.quotaAlready} >= $!{item.quota})
						receiveCoupons_ylw
					#elseif($!{item.userAlready} >= $!{item.limitCount})
						receiveCoupons_ylq
					#end
					">
		       <p class="positionYuan positionYuan01"></p>
               <p class="positionYuan positionYuan02"></p>
		   	   <div class="couponKind"><img src="$commonUrl/getCoupon01.png"></div>
		   	   <div class="couponTop">
		   	   	   <p class="cashCoupon">$!{item.name}</p>
		   	   	   <p class="timeOver">(即将过期)</p>
		   	   	   <p class="couponSize">￥<span>$priceUtil.bigdecimalToInt($!{item.amount})</span></p>
		   	   	   <p class="expiryDate">有效期$dateUtil.formatDate($!{item.gmtEnd},"yyyy-MM-dd")</p>
		   	   	   <p class="fullCut">满$!{item.limitAmount}元可用</p>
		   	   </div>
               <p class="clickCoupon">点击领券</p>
		   </li>
		#end
	</ul>
</div>

<script type="text/javascript" src="/dist/activity/06/getCoupon.js?version=$version"></script>
</body>
</html>