<!DOCTYPE html>
<html lang="en">
<head>
    #set($src="https://f.51fanbei.com/h5/app/activity/11") 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改成功</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/11/dynamicBill.css">
</head>
<body>
    <div id="changeSuccess">
        <!--弹框!-->
        <div class="mask" v-show="ruleShow==='Y'" @click="maskClick()"></div>
        <div class="alertRule" v-show="ruleShow==='Y'">
            <!--<p class="ruleTitle">规则</p>!-->
            <p class="ruleCont">1.有逾期账单者，不支持修改账单日<br/>
            2.账单日一年只允许更改一次<br/>
            3.修改账单，修改成功后账单日将在2个月之内生效<br/>
             4.此次活动最终解释权归爱上街所有<br/></p>
            <div class="close" v-show="ruleShow==='Y'" @click="maskClick()">X</div>
        </div>
        <div class="dynamic-top">
            <div class="fork"><!--<img src="$src/dynamicBill-01.png" alt="">!--></span>
            <div class="personIn">
                <div class="unpaid success">修改成功</div>
                <img :src="contentThree.data.avatar || 'https://f.51fanbei.com/h5/app/activity/11/dynamicBill-04.png'" alt="">
                <span class="personName">{{contentThree.data.nick}}</span>
                <span class="personPhone">{{contentThree.data.userName}}</span>
            </div>
            <div class="rule" @click="ruleClick()">规则</div>
        </div>
        <div class="dynamic-center">
            <span class="dateOne"><i class="monthOne">每月{{contentThree.data.outDay}}号</i><br/><i class="count">出账日</i></span>
            <span class="line"></span>
            <span class="dateTwo"><i class="monthTwo">每月{{contentThree.data.payDay}}号</i><br/><i class="pay">还款日</i></span>
        </div>
        <div class="dynamic-bottom">
            <!--<div class="oneTime"><span class="point"></span>账单日一年只允许更改一侧，请慎重</div>!-->
            <button class="btn" @click="firstWeb()">返回首页</button>
        </div>
    </div>
</body>
<script type="text/javascript" src="/dist/activity/11/changeSuccess.js?version=$version"></script>
</html>