<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="201711081308")
    #set($src="http://f.51fanbei.com/h5/app/activity/11")
    <meta charset="UTF-8">
    <title>新人专享好礼</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/11/newSpecial.css?version=$version">
</head>
<body>
<div id="newUser" class="newUser">
    <div class="loadingMask"><i class="loading"></i></div>
    <div class="banner first"></div>
    <div class="activityDetail" @click="activityDetailClick">活动详情</div>
    <div class="alertRule">
        <p class="ruleTitle"><img src="$src/newUser05.png"></p>
        <p class="ruleCont">
            <span>1.新用户下载登录APP实名认证并获得可用额度后，即可在爱上街购买新人专享商品；</span>
            <span>2.新人专场商品仅用户首个分期订单，且每人限购一件，如重复购买视为无效订单；</span>
            <span>3.新人专场中的商品不支持退货，不可与优惠券叠加；</span>
            <span>4.首单话费、流量、视频会员充值等在下单后24小时内到账；</span>
            <span>5.如发现恶意刷单行为，则取消活动资格并做封号处理；</span>
            <span>6.活动最终解释权归爱上街所有；</span>
        </p>
        <p class="closeRule" @click="closeClick">X</p>
    </div>
    <div class="mask" v-show="ruleShow" @click="closeClick"></div>
    <div class="shareBtn clearFix">
        <p class="shareNow" @click="shareNowClick">立即分享</p>
        <p class="inviteNow" @click="inviteNowClick">邀请赚钱</p>
    </div>
    <!--<p class="title"><img src="$src/newUser04.png"></p>!-->
    <div class="goodList">
        <div class="good clearFix" @click="buyNowClick(item)" v-for="item in content">
            <img class="newPic" :src="item.goodsIcon" alt="">
        </div>
    </div>
</div>
<script type="text/javascript" src="https://img.51fanbei.com/h5/static/base64.js"></script>
<script type="text/javascript" src="/dist/activity/11/newSpecial.js?version=$version"></script>
</body>
</html>
