<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="2017030401")
    <title>商品列表模版</title>
    <link rel="stylesheet" type="text/css" href="/css/app/goods/goodsListModel.css?version=$version">
</head>
<body>
    <input type="hidden" id="typeCurrent" name="typeCurrent" value="$!{typeCurrent}">
    <input type="hidden" id="categoryList" name="categoryList" value=$jsonUtil.toJSONString(${categoryList})>
    <input type="hidden" id="notifyUrl" name="notifyUrl" value="$!{notifyUrl}">
    <div class="goodsListModel_wrap">
        <div class="goodsListModel_header_wrap">
            <ul class="fs_32 fsc_6 bgc_white goodsListModel_header">
                #foreach($item in $!{categoryList})
                    <li>
                        #if(${item.type} == ${typeCurrent})
                            <span class="current">$!{item.name}</span>
                        #else
                            <span>$!{item.name}</span>
                        #end
                    </li>
                #end
            </ul>
        </div>
        <div class="goodsListModel_main_wrap clearfix">
            #foreach($item in $!{bannerList})
                <img class="goodsListModel_banner" src="$!{item.imageIcon}">
            #end
            <div class="goodsListModel_main">
                #foreach($item in $!{categoryList})
                <div class="goodsListModel_main_list goodsListModel_hide content">
                    <ul class="goodsListModel_mainContent clearfix lists">
                        #foreach($item in $!{goodsList})
                            <li class="fl goodsListModel_item">
    							<a href='$!{notifyUrl}&params={"goodsId":"$!{item.goodsId}","openId":"$!{item.openId}"}'>
                                    <img src="$!{item.thumbnailIcon}" class="goodsListModel_mainContent_img">
                                    <div class="goodsListModel_mainContent_main">
                                        <div class="goodsListModel_mainContent_wrap">
                                            <p class="fs_26 fsc_1">$!{item.name}</p>
                                            <p class="fs_26 fsc_red">
                                                <span>￥$priceUtil.bigdecimalToInt($!{item.priceAmount})</span><span class="fs_20">.$priceUtil.getDecimal($!{item.priceAmount})</span>
                                            </p>
                                        </div>
                                        <div class="goodsListModel_mainContent_rebate_wrap">
                                            <div class="goodsListModel_mainContent_rebate clearfix">
                                                <span class="fl fs_24 bgc_orange fsc_f tac">返</span>
                                                <p class="fl fs_24 fsc_orange">
                                                    <span>￥$priceUtil.bigdecimalToInt($!{item.rebateAmount})</span><span class="fs_20">.$priceUtil.getDecimal($!{item.rebateAmount})</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        #end
                    </ul>
                </div>
                #end
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/common/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/js/common/layer.js"></script>
    <script type="text/javascript" src="/js/common/dropload.min.js"></script>
    <script type="text/javascript" src="/js/app/goods/goodsListModel.js?version=$version"></script>
</body>
</html>