<!DOCTYPE html>
<html lang="en">
    <head>
    	#set($version="2017021501")
		<title>商品列表页</title>
		<link rel="stylesheet" type="text/css" href="/css/app/goods/goodsList.css?version=$version">
        <!-- <style type="text/css">
            .link {
              cursor: pointer;
              color: #F00
            }
            .cur {
              background: #060;
              color: #FFF
            }
            #setTab_2{
              margin-top: 20px;
            }
        </style> -->
    </head>
    <body>
    	<img class="goodsList_banner" src="" alt="">
        <div id="setTab">
            <div class="header">
        		<ul class="goodsList_header clearfix">
        			<li class="current">女神上装</li>
        			<li>女神下装</li>
        			<li>男神上装</li>
        			<li>男神下装</li>
                    <li>儿童上装</li>
                    <li>儿童下装</li>
        		</ul>
            </div>
            <div class="goodsList_main_wrap tab_div">
                <!--案例1-->
            	<div class="goodsList_main" style="display: block;">
        			<ul class="goodsList_mainContent clearfix">
        				<li>
        					<img src="" alt="" class="goodsList_mainContent_img">
                            <div class="goodsList_mainContent_title">
                                <p>正品真皮雕花新款韩版潮流情侣休闲布洛克鞋</p>
                                <div class="goodsList_mainContent_priceWrap">
                                    <span class="goodsList_mainContent_price">￥500.00</span>
                                    <div class="goodsList_mainContent_rebate">
                                        <span>返</span><span>￥10.00</span>
                                    </div>
                                </div>
                            </div>
        				</li>
        				<li></li>
        				<li></li>
        				<li></li>
        			</ul>
            	</div>
                <!--案例2-->
                <div class="goodsList_main">
                    <ul class="goodsList_mainContent clearfix">
                        <li>
                            <img src="" alt="" class="goodsList_mainContent_img">
                            <div class="goodsList_mainContent_title">
                                <p>正品真皮雕花新款韩版潮流情侣休闲布洛克鞋</p>
                                <div class="goodsList_mainContent_priceWrap">
                                    <span class="goodsList_mainContent_price">￥500.00</span>
                                    <div class="goodsList_mainContent_rebate">
                                        <span>返</span><span>￥10.00</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li></li>
                    </ul>
                </div>
                <!--案例3-->
                <div class="goodsList_main">
                    <ul class="goodsList_mainContent clearfix">
                        <li>
                            <img src="" alt="" class="goodsList_mainContent_img">
                            <div class="goodsList_mainContent_title">
                                <p>正品真皮雕花新款韩版潮流情侣休闲布洛克鞋</p>
                                <div class="goodsList_mainContent_priceWrap">
                                    <span class="goodsList_mainContent_price">￥500.00</span>
                                    <div class="goodsList_mainContent_rebate">
                                        <span>返</span><span>￥10.00</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <!--案例4-->
                <div class="goodsList_main">
                    <ul class="goodsList_mainContent clearfix">
                        <li>
                            <img src="" alt="" class="goodsList_mainContent_img">
                            <div class="goodsList_mainContent_title">
                                <p>正品真皮雕花新款韩版潮流情侣休闲布洛克鞋</p>
                                <div class="goodsList_mainContent_priceWrap">
                                    <span class="goodsList_mainContent_price">￥500.00</span>
                                    <div class="goodsList_mainContent_rebate">
                                        <span>返</span><span>￥100.00</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--案例5-->
                <div class="goodsList_main">
                    <ul class="goodsList_mainContent clearfix">
                        <li>
                            <img src="" alt="" class="goodsList_mainContent_img">
                            <div class="goodsList_mainContent_title">
                                <p>正品真皮雕花新款韩版潮流情侣休闲布洛克鞋</p>
                                <div class="goodsList_mainContent_priceWrap">
                                    <span class="goodsList_mainContent_price">￥500.00</span>
                                    <div class="goodsList_mainContent_rebate">
                                        <span>返</span><span>￥10.00</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li></li>
                    </ul>
                </div>
                <!--案例6-->
                <div class="goodsList_main">
                    <ul class="goodsList_mainContent clearfix">
                        <li>
                            <img src="" alt="" class="goodsList_mainContent_img">
                            <div class="goodsList_mainContent_title">
                                <p>正品真皮雕花新款韩版潮流情侣休闲布洛克鞋</p>
                                <div class="goodsList_mainContent_priceWrap">
                                    <span class="goodsList_mainContent_price">￥500.00</span>
                                    <div class="goodsList_mainContent_rebate">
                                        <span>返</span><span>￥100.00</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/js/app/goods/goodsList.js?version=$version"></script>
    </body>
</html>