<!DOCTYPE html>
<html>
<head>
    #set($version="20170562302")
    #set($commonUrl="https://f.51fanbei.com/h5")
    <title>$!{modelName}</title>
    <link rel="stylesheet" type="text/css" href="/dist/css/goods/goodsListModel.css?version=$version">
</head>
<body>
    #if($!{goodsList.size()}==0)
        <div class="nullPrompt">
            <img src="$commonUrl/common/images/040101wuyouhui.png">
            <span class="fsc_6">暂无商品</span>
        </div>
    #else
        #foreach($item in $!{bannerList})
        <img class="goodsListModel_banner" src="$!{item.imageIcon}">
        #end
        <div style="height: .8rem"></div>
        <div id="navWrap">
            <ul class="nav">
                #foreach($item in $!{categoryList})
                    <li id="goodsListModel_$!{item.type}">
                        #if(${item.type} == ${typeCurrent})
                            <span class="current">$!{item.name}</span>
                        #else
                            <span>$!{item.name}</span>
                        #end
                    </li>
                #end
            </ul>
        </div>

      <div id="allCoupons">
        <div class="couponWrap">
            #foreach($item in $!{couponList})
                #if(${item.userAlready}<${item.limitCount})
                    <div class="coupon" onclick="couponClick($!{item.rid},$(this),$!{item.userAlready},$!{item.limitCount})" typeHas="0">
                        <p><script>document.write(parseInt($!{item.amount}))</script></p>
                        #if($!{item.limitAmount}== 0)
                            <p>无门槛</p>
                        #else
                            <p>满<script>document.write(parseInt($!{item.limitAmount}))</script>元减<script>document.write(parseInt($!{item.amount}))</script></p>
                         #end
                    </div>
                    <p class="kong"></p>
                 #else
                     <div class="coupon couponclose" onclick="couponClick($!{item.rid},$(this),$!{item.userAlready},$!{item.limitCount})" typeHas="0">
                         <p>$!{item.amount}</p>
                         #if(${item.limitAmount}== 0)
                             <p>无门槛</p>
                         #else
                             <p>满<script>document.write(parseInt($!{item.limitAmount}))</script>元减<script>document.write(parseInt($!{item.amount}))</script></p>
                         #end
                     </div>
                     <p class="kong"></p>
                #end
            #end
        </div>
      </div>

        <div class="swiper-container">
            <div class="main_wrap swiper-wrapper">

                #foreach($item in $!{categoryList})
                    #if($!{item.type}==$!{typeCurrent})
                    <div class="swiper-slide" data-type="$!{item.type}">
                        <ul id="initGoods" class="goodsListModel_mainContent clearfix">

                        </ul>
                    </div>
                    #else
                    <div class="swiper-slide" data-type="$!{item.type}" style="display: none">
                        <ul class="goodsListModel_mainContent clearfix"></ul>
                    </div>
                    #end
                #end
            </div>
        </div>
    #end
    <script>
        var categoryList = $jsonUtil.toJSONString(${categoryList});
        var goodsList = $jsonUtil.toJSONString(${goodsList});
        var typeCurrentNum = $!{typeCurrent};
        var notifyUrl = '$!{notifyUrl}';
    </script>
    <script type="text/javascript" src="https://img.51fanbei.com/h5/static/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/dist/js/goods/goodsListModel.js?version=$version"></script>


</body>
</html>
