<!DOCTYPE html>
<html>
  <head>
    #set($version="20170627001")
    <meta charset="utf-8">
    <title>51返呗注册</title>
    <link rel="stylesheet" type="text/css" href="/dist/css/user/channelPc.css?version=$version">
  </head>
  <body>
    <div class="main">
      <div class="mask hide"></div>
      <img class="downloadQRcode hide" src="https://fs.51fanbei.com/h5/common/images/downloadQRcode.png">
      <div class="inner">
          <ul class="mainContent">
            <li>
              <input type="text" class="register_mobile" id="register_mobile" pattern="[0-9]*"  maxlength="11" placeholder="请输入手机号">
            </li>
            <li>
              <input type="password" class=" register_password" id="register_password" placeholder="请输入密码" name="words" maxlength="18">
            </li>
            <li>
              <input type="text" class="register_verification" id="register_verification" maxlength="6" pattern="[0-9]*" placeholder="请输入验证码">
              <span class="register_codeBtn" id="register_codeBtn">获取验证码</span>
            </li>
            <li>
              <button class="register_submitBtn" id="register_submitBtn">立即注册</button>
            </li>
            <div class="clearfix register_checkbox">
              <input type="checkbox" class="input_check" id="input_check" checked="checked">
              <label for="input_check"></label>
              <p class="clearfix"><span>阅读并同意</span><a href="/app/sys/registerProtocol">《51返呗用户注册协议》</a></p>
            </div>
          </ul>
      </div>
    </div>
    <script type="text/javascript" src="/common/js/core.js"></script>
    <script type="text/javascript" src="/common/js/md5.js"></script>
    <script type="text/javascript" src="/dist/js/user/channelPc.js?version=$version"></script>
  </body>
</html>
