<!DOCTYPE html>
<html>
<head>
    #set($version="201708212130")
    #set($commonUrl="http://f.51fanbei.com/h5")
    <title>物流信息</title>
    <link rel="stylesheet" type="text/css" href="/dist/css/app/delivery.css?version=$version">
</head>

<body style="background: linear-gradient(to bottom,#fd5d2c, #ff4a2d);">
<div id="inviteRank">
    <div id="top">
        <template v-if="month && month !=''">
            <span class="topTitle">{{month}}月Top{{total}}</span>
            <span class="divider"><i></i></span>
        </template>
    </div>
    <div id="navWrap">
        <ul class="nav">
            <li id="first">
                <span>排行榜</span>
            </li>
            <li id="second">
                <span>用户</span>
            </li>
            <li id="third">
                <span>奖励/元</span>
            </li>
        </ul>
    </div>

    <div id="list" class="main_wrap listMainContent">
        <template v-if="returnData && returnData !=''">
            <ul v-for="(item,index) in returnData" class="item">
                <li class="comRank rank1" v-if="index ==0">
                    <span></span>
                </li>
                <li class="comRank rank2" v-else-if="index ==1">
                    <span></span>
                </li>
                <li class="comRank rank3" v-else-if="index ==2">
                    <span></span>
                </li>
                <li class="rank" v-else>
                    <span>{{index+1}}</span>
                </li>
                <li class="account">
                    <span>{{formateTelNum(item.user_name)}}</span>
                </li>
                <li class="amount">
                    <span>{{item.sum_money}}</span>
                </li>
            </ul>
        </template>
    </div>
</div>
<script type="text/javascript" src="/dist/js/app/delivery.js?version=$version"></script>
</body>
</html>

