<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" id="css" type="text/css" href="/dist/css/app/goodsModel.css">
</head>
<body>
<div id="vueCon">
    <title>{{content.data.title}}</title>
    <img class="banner" :src="content.data.bannerUrl">
    <div class="recommend">
        <h2>{{content.data.oneLevelGoodsInfo.title}}</h2>
        <ul>
            <li v-for="data in content.data.oneLevelGoodsInfo.goodsList">
                <a :href="content.data.notifyUrl+'&params={%22goodsId%22:%22'+data.goodsId+'%22}'">
                    <p class="fanMoney" v-if="data.goodsType==0&&data.doubleRebate==Y">返利<span>￥{{data.rebateAmount}}</span></p>
                    <img :lazy-src="data.goodsIcon">
                    <div class="txtContent">
                        <p>{{txtFix(data.goodName,20)}}</p>
                        <p class="price">活动价:￥{{data.saleAmount}}</p>
                        <s>{{priceTxt(data)}}:￥{{data.priceAmount}}</s>
                        <button class="button">{{buttonTxt(data)}}</button>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="LevelGoods">
        <h2>{{content.data.twoLevelGoodsInfo.title}}</h2>
        <ul class="clearfix">
            <li v-for="data in content.data.twoLevelGoodsInfo.goodsList">
                <a :href="content.data.notifyUrl+'&params={%22goodsId%22:%22'+data.goodsId+'%22}'">
                    <p class="fanMoney" v-if="data.goodsType==0&&data.doubleRebate==Y">返利<span>￥{{data.rebateAmount}}</span></p>
                    <p class="goodImg"><img :lazy-src="data.goodsIcon"></p>
                    <p class="goodDes">{{txtFix(data.goodName,16)}}</p>
                    <p class="fanPrice">￥{{data.saleAmount}}</p>
                    <p class="originPrice">￥{{data.priceAmount}}</p>
                    <p class="monthPrice">{{buttonTxt(data)}}</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="LevelGoods">
        <h2>{{content.data.threeLevelGoodsInfo.title}}</h2>
        <ul class="clearfix">
            <li v-for="data in content.data.threeLevelGoodsInfo.goodsList">
                <a :href="content.data.notifyUrl+'&params={%22goodsId%22:%22'+data.goodsId+'%22}'">
                    <p class="fanMoney" v-if="data.goodsType==0&&data.doubleRebate==Y">返利<span>￥{{data.rebateAmount}}</span></p>
                    <p class="goodImg"><img :lazy-src="data.goodsIcon"></p>
                    <p class="goodDes">{{txtFix(data.goodName,16)}}</p>
                    <p class="fanPrice">￥{{data.saleAmount}}</p>
                    <p class="originPrice">￥{{data.priceAmount}}</p>
                    <p class="monthPrice">{{buttonTxt(data)}}</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="LevelGoods">
        <h2>{{content.data.fourLevelGoodsInfo.title}}</h2>
        <ul class="clearfix">
            <li v-for="data in content.data.fourLevelGoodsInfo.goodsList">
                <a :href="content.data.notifyUrl+'&params={%22goodsId%22:%22'+data.goodsId+'%22}'">
                    <p class="fanMoney" v-if="data.goodsType==0&&data.doubleRebate==Y">返利<span>￥{{data.rebateAmount}}</span></p>
                    <p class="goodImg"><img :lazy-src="data.goodsIcon"></p>
                    <p class="goodDes">{{txtFix(data.goodName,16)}}</p>
                    <p class="fanPrice">￥{{data.saleAmount}}</p>
                    <p class="originPrice">￥{{data.priceAmount}}</p>
                    <p class="monthPrice">{{buttonTxt(data)}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
<script type="text/javascript" src="/dist/js/app/goodsModel.js"></script>
</html>
