<!DOCTYPE html>
<html>
<head>
    #set($version="201708071630")
    #set($commonUrl="http://f.51fanbei.com/h5")
    <title>服务中心</title>
    <!-- <link rel="stylesheet" type="text/css" href="$commonUrl/common/css/swiper-3.4.2.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/dist/css/app/help.css?version=$version">
</head>
<body>
    <div id="navWrap">
        <ul class="nav">
            <li id="first" class="current">
                <i ></i>
                <span >借款</span>
            </li>
            <li id="second">
                <span>分期</span>
            </li>
            <li id="third">
                <span>账单与还款</span>
            </li>
            <li id="fourth">
                <span>额度评估</span>
            </li>
        </ul>
    </div>

    <div class="swiper-container">
        <div class="main_wrap swiper-wrapper">
            <div class="swiper-slide" data-type="第一个">
                <ul id="initGoods" class="goodsListModel_mainContent clearfix">
                </ul>
            </div>
        </div>
    </div>

</body>
</html>
