<!DOCTYPE html>
<html lang="en">
<head>
    #set($src="https://fs.51fanbei.com/h5/app/images/user")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>向商家付款</title>
    <link rel="stylesheet" type="text/css" href="/dist/css/user/initTradeInfo.css">
</head>
<body>
    <div id="businessCode" class="clearfix">
        <input class="isLogin" type="hidden" value="$!{isLogin}">
        <input class="name" type="hidden" value="$!{name}">
        <input class="canUseAmount" type="hidden" value="$!{canUseAmount}">
        <input class="id" type="hidden" value="$!{id}">
        <input class="isShowMention" type="hidden" value="$!{isShowMention}">
        <input class="idNumber" type="hidden" value="$!{idNumber}">
        <input class="realName" type="hidden" value="$!{realName}">
        <input class="status" type="hidden" value="$!{status}">
        <div class="businessName">
            <img class="shangjia" src="https://fs.51fanbei.com/h5/app/images/user/business.png" alt="">
            <span>$!{name}</span>
        </div>
        <div class="blank">
            <form action="#">
                <input class="paymoney" type="number" onkeyup="btn()">
                <span>付款金额</span>
            </form>
        </div>
        <div class="fukuan clearfix">
            <div class="fukuan-one">
                <img src="https://fs.51fanbei.com/h5/app/images/user/slience.png" alt="">
                <span class="xinyong">51信用分期</span>
                <p onclick="identification()" class="pro-word">提升额度</p>
            </div>
            <p  class="edu">剩余可用额度<span class="money">$!{canUseAmount}元</span></p>
            <button class="btn" onclick="buyNow()" disabled>确认付款</button>
        </div>
    </div>
    <div class="pro">

    </div>
</body>
<script src="/dist/js/user/initTradeInfo.js?id=1"></script>
</html>