<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="201803061430")
    #set($commonUrl="https://f.51fanbei.com/h5/app/images/user/channel")
    <title>爱上街注册</title>
    <link rel="stylesheet" type="text/css" href="/dist/css/app/inviteregister.css?version=$version">
</head>
<body>
  <div id="register">
      <img class="bg" src="$commonUrl/reg1.jpg">
      <marquee behavior="scroll" direction="up" scrollamount="1" bgcolor="transparent" class="mar17">
          <p>用户131****8880 成功借款 8000元</p>
          <p>用户137****9767 成功借款 6000元</p>
          <p>用户186****2099 成功借款 7000元</p>
          <p>用户178****3863 成功借款 6000元</p>
          <p>用户187****9793 成功借款 4000元</p>
          <p>用户176****0389 成功借款 6000元</p>
          <p>用户157****3696 成功借款 5000元</p>
          <p>用户183****7197 成功借款 4000元</p>
          <p>用户137****0925 成功借款 7000元</p>
          <p>用户135****5276 成功借款 3000元</p>
          <p>用户187****0576 成功借款 6000元</p>
      </marquee>
      <img class="bg" src="$commonUrl/reg2.jpg">
      <img class="bg" src="$commonUrl/reg3.jpg">
      <div class="inter">
        <input type="tel" maxlength="11" onfocus="maidianFn('phone')" placeholder="请输入注册手机号" id="user" />
        <input type="password" maxlength="18" onfocus="maidianFn('pwd')" placeholder="密码长度为6-20位数字和英文" id="pwd" />
        <div class="verify">
          <input onfocus="maidianFn('code')" id="verify" type="text" maxlength="6" placeholder="请输入验证码"/>
          <button class="getcode" onclick="maidianFn('codeBtn')" id="checkbtn">获取验证码</button>
        </div>
        <div class="reg"></div>
        <div class="agree">
          <div class="checkbox checked"></div>
          <span>已阅读并同意</span><a href="/fanbei-web/app/protocolRegister">《爱上街用户注册协议》</a>
        </div>
        <p class="registered clearfix">
          <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.alfl.www" onclick="maidianFn('toLogin')">已有账号登录</a>
        </p>
      </div>
  </div>

  <!-- <div class="registerMask hide"></div>
  <div class="imgVftCodeWrap hide">
    <div class="imgVftCodeTitle"><p>请输入图形验证码</p><span id="imgVftCodeClose"><i></i></span></div>
    <div class="imgVftCodeInput clearfix">
        <div class="imgVftCodeDiv"><input type="text" class="imgVftCode" id="imgVftCode" maxlength="4" placeholder="请输入"></div>
        <div class="imgVftCodeWrapImgDiv"><img id="imgVftCodeWrapImg" src=""></div>
      <span class="imgVftCodeRefresh"><i></i></span>
    </div>
    <button class="imgVftCodeSbumit">确定</button>
  </div> -->
  <script type="text/javascript">
      var _saber={};
  </script>
  <script type="text/javascript" src="/dist/js/core.js"></script>
  <script type="text/javascript" src="/dist/js/md5.js"></script>
  <script type="text/javascript" src="https://img.51fanbei.com/h5/static/gt.js"></script>
  <script type="text/javascript" src="/dist/js/saber.js?version=$version"></script>
  <script type="text/javascript" src="/dist/js/app/inviteregister.js?version=$version"></script>
</body>
</html>
