<!DOCTYPE html>
<html>
<head>
    #set($version="201708152230")
    #set($commonUrl="http://f.51fanbei.com/h5")
    <title>上月获奖名单</title>
    <link rel="stylesheet" type="text/css" href="/dist/css/app/inviteLastWinRank.css?version=$version">
</head>
<body style="background-color:#ff0000;">
<div id="inviteLastWinRank">
    <div id="top">
        <span>7月Top10</span>
    </div>
    <div id="navWrap">
        <ul class="nav">
            <li id="first">
                <span>排行榜</span>
            </li>
            <li id="second">
                <span>用户</span>
            </li>
            <li id="third">
                <span>奖励/元</span>
            </li>
            <li id="fourth">
                <span>奖品</span>
            </li>
        </ul>
    </div>

    <div id="list" class="listMainContent main_wrap">
        <ul v-for="(item,index) in returnData" class="item">
            <li class="rank" v-if="index ==0">
                <span>1</span>
            </li>
            <li class="rank" v-else-if="index ==1">
                <span>2</span>
            </li>
            <li class="rank" v-else-if="index ==2">
                <span>3</span>
            </li>
            <li class="rank" v-else-if="index >2" >
                <span>{{index+1}}</span>
            </li>
            <li class="account">
                <span>{{item.user_name}}</span>
            </li>
            <li class="amount">
                <span>{{item.money}}</span>
            </li>
            <li id="gift">
                <span>{{item.name}}</span>
            </li>
        </ul>

        <div class="ruleWrap">
            <div class="ruleTitle">
                领奖规则
            </div>
            <span class="divider"><i></i></span>
            <div class="rule">
                <br>1.每月累积邀请奖励金最高的前10位用户，可获得相应奖励；
                <br>2.该中奖名单每月更新一次，8月中奖名单9月公布，9月中奖
                名单10月公布，以此类推；
                <br>3.所有奖励将于次月7个工作日内安排发放，现金奖励将发放
                至“我的-返现金额”，获得实物奖励的用户，请于7个工作日内
                联系51返呗提交您的收件信息，若逾期未提交则视为自动放
                弃奖励；
                <br>4.活动期间禁止任何作弊行为，包括但并不限于通过软件进
                行批量操作，邀请刷单等行为，一经发起平台将取消其参与
                资格，并有权追回所发奖励；
                <br>5.本活动与苹果公司无关，最终解释权归51返呗所有。
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="/dist/js/app/inviteLastWinRank.js?version=$version"></script>
</body>
</html>

