<!DOCTYPE html>
<html>
<head>
    #set($version="201708102130")
    #set($commonUrl="http://f.51fanbei.com/h5")
    <title>全国排行榜</title>
    <link rel="stylesheet" type="text/css" href="/dist/css/app/inviteRank.css?version=$version">
</head>

<body style="background-color:#ff0000;">
<div id="navWrap">
    <ul class="nav">
        <li id="first">
            <span>排行榜</span>
        </li>
        <li id="second">
            <span>用户</span>
        </li>
        <li id="third">
            <span>奖励/元</span>
        </li>
    </ul>
</div>

<div class="main_wrap">
    <ul id="list" class="listMainContent">
        <ul class="item">
            <li id="rank">
                <span>1</span>
            </li>
            <li id="account">
                <span>186****9815</span>
            </li>
            <li id="amount">
                <span>10</span>
            </li>

        </ul>
        <ul class="item">
            <li id="rank">
                <span>2</span>
            </li>
            <li id="account">
                <span>186****9815</span>
            </li>
            <li id="amount">
                <span>20</span>
            </li>
        </ul>
    </ul>

</div>


<script type="text/javascript" src="/dist/js/app/inviteRank.js?version=$version"></script>
</body>
</html>

