<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="20171010000")
    #set($src="http://f.51fanbei.com/h5/app/activity/09")
    <meta charset="UTF-8">
    <title>贷款详情</title>
    <link rel="stylesheet" type="text/css" href="/dist/css/app/loanDetail.css?version=$version">
</head>
<body>
<div id="loanDetail"  class="loanDetail">
    <div class="header">
         <div class="top clearFix">
             <p class="logo" :style="{backgroundImage:'url('+content.iconUrl+')'}"></p>
             <p class="name">{{content.lsmName}}</p>
             <p class="peopleNum">{{content.marketPoint.replace(',','')}}</p>
             <p class="feature">
                 <span v-for="data of fen(content.slogan,3)">{{data}}</span>
             </p>
         </div>
         <div class="fanbeiDes">{{content.lsmIntro}}</div>
    </div>
    <div class="kong"></div>
    <div class="main clearFix">
        <div class="amountLimit">
            <p class="word01">额度</p>
            <p class="word02">{{content.moneyMin}}元~{{content.moneyMax}}元</p>
        </div>
        <div class="amountLimit timeLimit">
            <p class="word01">借款期限</p>
            <p class="word02">{{content.timeMin}}{{dayMonth()}}~{{content.timeMax}}{{dayMonth()}}</p>
        </div>
        <div class="payMoney">
            <p class="sameTitle payMoneyTitle">按{{dayMonth()}}还款</p>
            <ul class="desList clearFix">
                <li><p>{{content.lendRate*100}}%</p><p>参考{{dayMonthRate()}}利率</p></li>
                <li><p>{{content.fastLendTime}}</p><p>最快放款时间</p></li>
##                <li><p><span>500</span><span>每月还款(元)</span></p></li>
            </ul>
        </div>
    </div>
    <div class="kong"></div>
    <div class="applyCont">
        <div class="applyFlow">
            <p class="sameTitle flowTitle">申请流程</p>
            <div class="flowChart clearFix">
                <p class="left" v-for="item in flowCont">
                    <img :src="item.imgUrl">
                    <span class="tex">{{item.name}}</span>
                    <span class="line"></span>
                </p>
            </div>
        </div>
        <div class="applyLimit">
            <p class="sameTitle limitTitle">申请条件</p>
            <p class="limitCont" v-for="data of fen(content.applyCondition)">
                <span class="dian"></span><span class="contDes">{{data}}</span>
            </p>
        </div>
        <div class="needCont clearFix">
            <p class="sameTitle needTitle">所需材料</p>
            <p class="everyCont"  v-for="data of fen(content.needMaterial)"><span></span>{{data}}</p>
        </div>
    </div>
    <p class="submit" @click="submit">{{btnTxt()}}</p>
</div>
<script type="text/javascript" src="/dist/js/app/loanDetail.js?version=$version"></script>
</body>
</html>