<!DOCTYPE html>
<html lang="en">
    <head>
        #set($commonUrl="https://fs.51fanbei.com/h5/app/images/sys")
		<title>提交成功</title>
	    <style type="text/css">
	    	.mobileOperator{
          margin-top: 2.4rem;
	    	}
        .mobileOperator span{
          width: 1.56rem;
          height: 1.56rem;
          background-image: url($commonUrl/chengg.png);
          -webkit-background-size: cover;
          background-size: cover;
        }
        .mobileOperator p{
          margin-top: 0.4rem;
        }
        .mobileOperator_btn{
          width: 7.0rem;
          height: 0.8rem;
          line-height: 0.8rem;
          text-align: center;
          border-radius: 0.08rem;
          margin: 2.0rem auto 0;
          background-color: #FE963B;
        }
        .mobileOperator_btn a{
          color: #fff;
        }
	    </style>
    </head>
    <body> 
    <input type="hidden"  id="processResult" value="$!{processResult}" name="processResult"/>
    	<div class="tac mobileOperator">
            <span class="bgs_c"></span>
            <p id="warnMsgInfo">运营商认证申请已提交<br>请耐心等待审核结果</p>
            <div class="mobileOperator_btn"><a href='/app/sys/authBack?fbapiNeedRefreshCurrData={"onOff":"1"}'>返回信用认证</a></div>
        </div>
    </body>

    <script>
		window.onload = function(){
			var processResult = $("#processResult").val();
			if(processResult == null || processResult == "false"){
				document.getElementById('warnMsgInfo').innerHTML = "运营商认证失败<br>请返回重试";
			}
		}
	</script>
</html>
