<!DOCTYPE html>
<html>
<head>
    #set($version="201709261002")
    #set($commonUrl="http://f.51fanbei.com/h5")
    <title>邀请好友拿奖励</title>
    <link rel="stylesheet" type="text/css" href="/dist/css/app/newinvite.css?version=$version">
</head>
<body>
  <textarea type="text" id="invitecode">23123</textarea>
  <div class="globalmask"></div>
  <div ></div>
  <div id="newinvite">
    <div class="top">
      <img src="$commonUrl/app/images/user/invite/topbg.png"/>
      <div class="rule">活动规则</div>
    </div>
    <div class="rightown"></div>
    <div class="copycode">点击复制邀请码：<span class="invitecode" data-clipboard-text="测试艺">23123</span></div>
    <div class="level level1">
      <div class="box"></div>
    </div>
    <div class="level level2">
      <div class="box"></div>
    </div>
    <div class="myplease">
      <div class="myreward">我的奖励  <span>0.00</span>元</div>
      <div class="buttons">
        <div class="active">一级邀请奖励</div>
        <div>二级邀请奖励</div>
      </div>
      <div class="content">
        <div class="con_tit"></div>
        <div class="con"></div>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
<script type="text/javascript" src="/dist/js/app/newinvite.js?version=$version"></script>
<script type="text/javascript" src="/dist/js/clipboard.min.js"></script>
</body>
</html>