<!DOCTYPE html>
<html>
<head>
    #set($version="201802021058")
    #set($commonUrl="http://f.51fanbei.com/h5")
    <title>邀请好友拿奖励</title>
    #*<link rel="stylesheet" type="text/css" href="/dist/css/app/newinvite.css?version=$version">*#
</head>
<body>
#*<textarea type="text" id="invitecode">23123</textarea>
<div class="_global_mask" style="display: none;"></div>
<div class="rulewindow" style="display: none;">
    <div class="close"></div>
    <div class="content">
        <div>活动规则</div>
    </div>
</div>
<div id="newinvite">
    <!--公告左右移动--start-->
    <div class="personAmount">
        <div class="amountCont">
            <div class="cont cont1">
                <p>邀请活动将于近日升级！新旧版本奖励不予延续！敬请关注！</p>
            </div>
            <div class="cont cont2"></div>
        </div>
    </div><!--公告左右移动--end-->
    <div class="top">
        <img src="$commonUrl/app/images/user/invite/topbg.png"/>
        <div class="rule">活动规则</div>
    </div>
    <div class="rightown"></div>
    <div class="copycode">点击复制邀请码：<span class="invitecode" data-clipboard-text="0"></span></div>
    <div class="level level1">
        <div class="box"></div>
    </div>
    <div class="level level2">
        <div class="box"></div>
    </div>
    <div class="myplease">
        <div class="myreward">我的奖励  <span>0.00</span>元</div>
        <div class="buttons">
            <div class="active levelone">一级邀请奖励</div>
            <div class="leveltwo">二级邀请奖励</div>
        </div>
        <div class="content">
            <div class="con_tit">
                <div>被邀请人</div>
                <div>注册时间</div>
                <div>状态</div>
                <div>奖励</div>
            </div>
            <div class="con">
                <div class="loadall" style="display:none">最后一条数据了哦~</div>
                <div class="loading" style="display:none"></div>
                <div class="list">
                    <div class="nodata">您暂无邀请！</div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom"></div>
</div>
<script type="text/javascript" src="https://img.51fanbei.com/h5/static/base64.js"></script>
<script type="text/javascript" src="/dist/js/clipboard.min.js"></script>
<script type="text/javascript" src="/dist/js/app/newinvite.js?version=$version"></script>*#
<script type="text/javascript">
    window.location.href='https://h5.51fanbei.com/h5/newInvite/newInvite.html?type=newInviteInit&javaurl=app.51fanbei.com&port=443&httptype=https';
</script>
</body>
</html>