<!DOCTYPE html>
<html lang="en">
<head>
	#set($version="20170615")
    #set($commonUrl="https://fs.51fanbei.com/h5/app/activity/06")
	<meta charset="UTF-8">
	<title>签到</title>
	<link rel="stylesheet" type="text/css" href="/dist/activity/06/sign.css">
</head>
<body>
<div id="vueCon">
	<img src="$commonUrl/sign_01.jpg">
	<img src="$commonUrl/sign_02.jpg">
	<img src="$commonUrl/sign_03.png">
    <div class="wrap">
        <div v-for="i of 5" :class="className[i-1]">
            <img v-if="selected(beginTime+i-1)" :src="'$commonUrl/ok'+i+'.png'">
            <img v-if="current>=i" @click="signIn(i)" :src="'$commonUrl/now'+i+'.png'">
            <img :src="'$commonUrl/before'+i+'.png'">
        </div>
    </div>
</div>
<script src="//cdn.bootcss.com/vue-resource/1.0.3/vue-resource.min.js"></script>
<script type="text/javascript" src="/dist/activity/06/sign.js"></script>
</body>
</html>