<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="201803011342")
    #set($src="https://f.51fanbei.com/h5/app/activity/2018/03")
    <meta charset="UTF-8">
    <title>芝麻信用认证</title>
    <style type="text/css" rel="stylesheet">
       .zhimaNewUrl img{
           width:3.36rem;
           height:3rem;
           margin:2.7rem auto .6rem;
       }
       .zhimaNewUrl p{
           font-size:.24rem;
           color:#969696;
           text-align: center;
        }
       .zhimaNewUrl p:last-child{
           width:100%;
           position: absolute;
           bottom: .77rem;
           left: 50%;
           transform: translateX(-50%);
       }
    </style>
</head>
<body>
<div id="zhimaNewUrl" class="zhimaNewUrl">
    <img src="$src/pass.png">
    <p>恭喜您芝麻信用认证成功</p>
    <p>请保持良好的还款习惯，爱上街将持续为您提供优质服务</p>
</div>
</body>
</html>