<!DOCTYPE html>
<html lang="en">
<head>
    #set($version=version)
	#set($src="http://51fanbei.oss-cn-hangzhou.aliyuncs.com/h5/app/activity/05")
	<title>借钱宝典</title>
	<link rel="stylesheet" type="text/css" href="/dist/activity/05/borrowMoney.css?version=$version">
</head>
<body>
	<div class="head"></div>
	<div class="banner"></div>
	<div class="section1">
		<div class="title"></div>
		<ul>
			<li>
				<div class="pic"></div>
				<h2>·STEP <span>1</span></h2>
				<h3>500-1000元随心借</h3>
			</li>
			<li>
				<div class="pic"></div>
				<h2>·STEP <span>2</span></h2>
				<h3>实名认证，绑定手机</h3>
			</li>
			<li>
				<div class="pic"></div>
				<h2>·STEP <span>3</span></h2>
				<h3>人脸识别，更安全更可靠</h3>
			</li>
			<li>
				<div class="pic"></div>
				<h2>·STEP <span>4</span></h2>
				<h3>绑定银行卡，还款更轻松</h3>
			</li>
		</ul>
		<h4>获取更多帮助，请拨打客服电话：0571-88193918</h4>
	</div>
	<div class="section2">
		<div class="title">
			<h3>听听他们的声音</h3>
			<h4>（我们的每次进步，都源于你的帮助）</h4>
		</div>
		<ul>
			<li></li><li></li><li></li><li></li><li></li>
		</ul>
	</div>
	<div class="footer"><a class="borrow">立即申请借钱</a></div>
<script type="text/javascript" src="/dist/activity/05/borrowMoney.js?version=$version"></script>
</body>
</html>