<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<title>服务协议</title>
    </head>
    <body style="background-color: #fff;">
    	<div class="protocol">
            <h2>服务协议</h2>
            <p>
                <span>甲方</span>： 【注册会员、用户】<br>
                <span>乙方（居间方）</span>：浙江阿拉丁电子商务股份有限公司<br>
                <span>鉴于：</span><br>
                <span>1、甲方为51返呗（包括51返呗网站及51返呗相关APP，以下简称“51返呗”）实名注册会员（以下简称“用户”）。</span><br>
                <span>2、乙方为51返呗平台的运营商，是一家依法成立并有效存续的股份有限公司。甲方通过51返呗平台购买第三方（包括入驻51返呗平台的商户、O2O平台、第三方代买、第三方互联网金融平台等）所销售的商品或所提供的服务。乙方仅为甲方和第三方提供撮合服务，不参与甲方与第三方的实际法律关系。</span><br>
                <span>3、甲方已仔细阅读本协议并表示完全理解本协议内容及其法律意义并愿意遵守本条款。</span><br><br>

                根据《中华人民共和国合同法》等相关法律规定，甲乙双方本着自愿平等、诚实信用、公平正义原则，就乙方为甲方提供居间服务事宜达成如下协议：<br>
                <span>一、提供的服务</span><br>
                <span>1.1  51返呗为商户及用户提供信息展示平台。该服务指通过51返呗讲商户提供的各类产品及服务信息展示给51返呗用户，提供商品买卖撮合信息服务。</span><br>
                <span>1.2  51返呗为用户提供借款撮合等服务。该服务是指51返呗将用户借款需求信息发送给合作的第三方主体，由第三方主体垫资、直接借款或在第三方平台展示借款信息进行再撮合的服务方式。</span><br>
                1.2.1 由51返呗合作的第三方主体对用户提供信用评估、代收、代付、垫资并撮合资金借贷等服务。第三方主体可提供给用户的服务包括但不限于分期赊销、代买分期、现金服务、垫付借款或充卡消费等形式。<br>
                1.2.2 51返呗提供的消费分期或现金服务，均由乙方合作的第三方垫资主体先予将商品对价支付给51返呗入驻商户、代买方或第三方O2O平台。当51返呗通过第三方主体撮合甲方借款成功后，甲方授权乙方代收借款资金，并将借款资金直接支付给垫资方。垫资期间利息按照甲方实际结算利率由垫资方收取，垫资方不收取其他额外费用。<br>
                1.2.3  51返呗根据第三方主体相关审核规则和用户的资信状况，决定是否同意用户使用51返呗提供的服务、确定审核方式、核准用户信用额度等。以下表述“51返呗同意、决定”等类似表述均表示51返呗仅执行第三方主体的意思指示，并非51返呗本身的行为。<br>
                1.2.4  用户可依据本协议及相关协议向51返呗申请不同额度的服务。51返呗可根据用户综合情况变更用户的额度或服务。<br>
                <span>1.3 51返呗为用户提供消费返利服务。该服务是指与51返呗合作的商户或第三方平台上的商户，在销售产品或服务的过程中实现利润的一部分让利给消费者本人。</span><br>
                <span>1.3.1 51返呗的消费返利服务，均由乙方合作的商户、第三方平台提供，各商品返利额度由乙方合作的商户、平台决定。若甲方退货，则不享受返利服务。</span><br>
                1.3.2 因乙方合作的商户、第三方平台变更返利金额等其他行为产生的法律后果直接作用于用户，与51返呗无关，用户不得向51返呗主张相关权利。<br>
                <span>1.4  51返呗为用户提供售后等相关服务。该服务是指用户通过51返呗平台购买的产品或者服务产生的退换货、商品质量等问题，用户可委托51返呗进行协商处理，51返呗提供后续协调等服务。</span><br>
                <span>1.4.1 除51返呗合作的商户或第三方平台上的商户承诺的退换货规则外，51返呗接受7天无理由退换货，退换货规则以51返呗平台页面展示内容为准。</span><br>
                <span>1.4.2 51返呗用户退换货产生的商品买卖关系和51返呗提供的借款撮合服务为两个独立法律关系，相互间无关联性。用户商品买卖关系终止并不导致借款法律关系终止。</span>
                1.5具体服务以甲方在51返呗APP上操作的为准，甲方在51返呗上各项操作并点击确认页面相关信息为本协议不可分割的重要组成部分。以下“本合同”、“本协议”均指本协议约定内容及甲方在51返呗上点击确认相关页面信息。<br><br>

                <span>二、费用支付</span><br>
                2.1 付款费用<br>
                2.1.1 甲方可在51返呗服务适用范围、可用信用额度范围内进行消费或现金服务申请。使用51返呗服务时可选择不分期付款或分期付款等两种付款方式，并在还款日完成到期应付款的支付。<br>
                2.1.2 甲方选择不分期付款方式，在还款日无法全额支付到期应付款，可申请将未付到期应付款金额转换为分期付款方式。经51返呗同意用户转换为分期付款方式后，51返呗按照51返呗网站上相应产品及期限对应的分期服务费费率收取分期服务费。并在下一个还款日开始还款。<br>
                2.1.3 甲方选择分期付款的，可将借款本金按月分摊支付（最长不超过24个月），并须承担相应的分期服务费，每期分期服务费与当期应付本金一同收取。分期服务费费率以51返呗上相应产品及期限对应的分期服务费费率为准。<br>
                2.1.4 甲方承诺按乙方合作的第三方融资平台要求支付相应服务费即利息，具体金额及支付方式以该融资平台上协议或规定内容为准。若第三方融资平台上约定费用或利率与乙方收取金额不一致的，则多余部分均视为乙方收取的服务费。<br>
                2.2 支付方式<br>
                2.2.1 甲方对应付款项（包括但不限于本金、分期服务费、违约金等）进行付款、收款结算时可在51返呗进行操作。<br>
                2.2.2 甲方选择不分期付款及分期付款时，甲方与51返呗结算的依据是51返呗查询系统的查询结果。若甲方有异议的，则可联系乙方客服进行核对，乙方尽力配合甲方与第三方之间的结算核对，并提供系统数据。<br>
                2.2.3 甲方选择分期付款并在支付完首期应付款后，要求提前还款的，需经过51返呗的确认，经51返呗同意提前还款的，不另外加收甲方额外的提前还款服务费，也不返还甲方已经支付的分期服务费，甲方申请提前还款的具体流程以51返呗平台上公布的规则为准。<br>
                2.2.4 甲方支付到期应付款时，51返呗将按照违约金（如有）、分期服务费、借款本金的顺序进行冲抵。<br>
                2.2.5甲方下单时填写的银行卡即表示同意用所填银行卡作为该次服务的还款划扣银行卡，甲方须在还款日前确保银行卡中存有大于等于应还款金额的余额用以51返呗按时划扣。甲方同意51返呗划扣其银行卡、微信、支付宝或51返呗等账户资金用于归还借款。<br>
                2.2.6 如甲方的服务被暂停、或甲方申请提前终止服务，则该甲方的所有应付款项视为全部到期并应立即由甲方全部支付。<br><br>

                <span>三、授权委托安排</span><br>
                3.1 甲方授权乙方或乙方合作的第三方通过合法征信机构查询采集甲方的个人征信信息。甲方授权乙方或第三方根据甲方所提供的信息及51返呗独立获得的信息评定甲方在本服务中所拥有的各项分类服务。<br>
                <span>3.2 甲方授权乙方以甲方的名义履行下述事项：</span><br>
                <span>（1） 乙方提供居间服务，并以甲方的名义向第三方借款，借款金额相当于甲方尚未支付的应偿还款项。</span><br>
                <span>（2） 乙方、第三方以甲方的名义开立并管理有关甲方账户；</span><br>
                <span>（3） 公开必要的甲方个人信息；</span><br>
                <span>（4） 乙方代甲方签署并保管相关借款协议，甲方承担相应协议的义务；</span><br>
                <span>（5） 乙方代为接收第三方向甲方发送的相关信息（包括但不限于相关借款协议电子文本、债权转让通知等）；</span><br>
                <span>（6） 乙方代甲方处理借款相关事宜；</span><br>
                <span>（7） 乙方作为相关款项的代收代付方。</span><br>
                <span>3.3 甲方授权乙方可将上述授权事项的部分或者全部进行转委托。</span><br>
                3.4 上述委托期限为自生效之日起至本协议及相关借款协议项下的义务全部履行完毕之日止。<br>
                在甲方未履行完毕本协议及相关借款协议之前，甲方不得单方终止上述委托。<br><br>

                <span>四、权利和义务</span><br>
                4.1 甲方权利和义务<br>
                4.1.1 甲方有权知悉服务的功能、使用方法，收费项目、收费标准及相关的计算规则。<br>
                4.1.2 甲方向乙方提供真实、有效的资料。如身份信息变更、住址或工作地址变更及联系方式变更等应在变更后15日内通知乙方，包括但不限于登陆账户修改、书面通知、在线或电话联系客服等。<br>
                4.1.3若甲方还款账户发生变更的，甲方应最迟于账户变更后五个工作日内通知乙方，并办理变更账户扣划授权手续。否则，产生的所有后果及经济损失由甲方承担。<br>
                4.1.4 甲方应妥善保管甲方账户、密码和/或数字证书。任何使用甲方账户、密码和/或数字证书向乙方发出的指令，均视为甲方操作且不可撤回或撤销。如甲方发现有他人冒用、盗用或有其他可能危及到甲方账户资金安全情形时，应立即通知乙方，向乙方申请暂停相关服务。非因乙方的过错导致的任何损失由甲方自行承担。<br>
                <span>4.1.5 甲方应按时支付本合同项下的应付款项，且不得以商品纠纷为由拒绝支付应付款项。商品纠纷与本协议乙方提供的服务为不同法律关系，无论商品纠纷情况如何，甲方均应履行本合同约定的相关权利义务。但甲方可与乙方客服联系，要求乙方代甲方与第三方进行沟通、协商。</span><br>
                4.2 乙方权利与义务<br>
                4.2.1 乙方有理由认为甲方不再或可能不再符合本服务的使用条件时，乙方有权拒绝为甲方提供本服务。<br>
                4.2.2 乙方有权在确有必要的情况下，自行或授权第三方通过合理的方式向甲方或甲方联系人告知本合同相关情况。<br>
                4.2.3 乙方有权在法律法规允许的范围内，结合业务发展等实际情况，调整平台服务范围、各项功能和收费标准，并通过平台公告等方式及时通知甲方。<br>
                4.2.4 乙方可通过乙方网站、相关APP、电子邮件、手机短信等向甲方公示服务产品、重要提示、促销信息、服务协议、计费标准等信息。<br>
                4.2.5 乙方对甲方个人信息负有保密的义务。但在法律法规规定的范围内，有权向相关第三方履行公开义务。<br>
                <span>4.2.6 乙方仅为信息展示平台，所有平台展示的产品及服务均由第三方商户提供，因产品或服务质量等问题产生的纠纷与乙方无关，乙方仅负责配合、协调工作。</span><br><br>

                <span>五、 知识产权</span><br>
                5.1 非经51返呗书面同意，甲方不得以包括但不限于使用、修改、复制、公开传播、篡改等在内的非法形式侵犯51返呗的商标、专利、著作权及其他知识产权。<br><br>

                <span>六、违约责任</span><br>
                6.1 甲乙双方均应严格履行本合同项下义务，一方不履行其在本合同项下义务或者履行本合同项下义务不符合约定的，守约方有权要求违约方按照法律规定及本合同的约定承担继续履行、采取补救措施、支付滞纳金或者赔偿损失等违约责任。<br>
                6.2 甲方应在本合同约定的每期最晚付款日前按照本合同的规定将每期应付款足额支付给乙方，否则，即视为逾期付款，将按照如下安排执行：<br>
                6.2.1 甲方应当向乙方支付滞纳金，滞纳金计算方式为：<br>
                （1） 逾期还款滞纳金公式：根据51返呗平台页面展示为准。<br>
                6.2.2 逾期天数自当期最晚付款日次日起算，至甲方足额支付当期应付款及相关滞纳金之日截止。<br>
                6.2.3 甲方已支付的平台服务费，乙方不予退还；且甲方仍需要按照本条上述6.2.1要求向乙方支付滞纳金。<br>
                6.2.4 乙方依据法律法规规定在必要情况下有权将甲方逾期付款情况及个人信息向相关第三方披露，由此产生的甲方不良信用记录或不利影响及后果由甲方自己承担。<br>
                6.3 乙方发现甲方有套现或协助他人套现行为的，有权立即解除合同，要求甲方一次性将全部应还款及服务费等支付乙方。<br>
                6.4 经过乙方合理催告，甲方拒不履行合同义务的，乙方有权要求甲方继续履行该合同义务并承担滞纳金，或者提前一次性向乙方还清全部应还款项。<br>
                6.5 乙方发现甲方出现其他任何失信行为的，乙方有权视情节采取以下措施：取消提供服务、解除合同、要求甲方提前一次性还清全部应还款、将甲方列入黑名单、将甲方失信信息报送个人征信机构等。本合同另有约定的从其约定。<br>
                6.6 因甲方行为造成第三方追究乙方责任的，由甲方承担全部责任。<br>
                6.7 违约方应承担守约方因违约方的违约行为而产生的全部费用和损失，包括但不限于调查费用、诉讼费、公告费、执行费、律师费等。<br><br>

                <span>七、免责条款</span><br>
                7.1乙方出现下列任一状况而无法正常运作，致使无法向甲方提供本合同项下的各项服务，乙方不承担任何违约或赔偿责任，该状况包括但不限于：<br>
                7.1.1 在服务平台维护期间；<br>
                7.1.2 电信设备出现故障不能进行数据传输的；<br>
                7.1.3 因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成系统障碍不能执行业务的；<br>
                7.1.4 由于黑客攻击、电信部门和其他乙方有信息技术依赖的相关部门、企事业单位技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。<br>
                7.2本合同有效期内，因国家相关主管部门颁布、变更的法令、政策导致乙方不能提供约定服务的，不视为其违约，甲乙双方可根据相关的法令、政策变更合同内容或提前终止本合同，在此情况下，甲方已经享受服务而尚未到期或偿还的任何款项（包括服务费和其他费用），视为立即到期，甲方应立即归还，否则乙方仍有权按照本合同的约定采取合理的救济措施。<br>
                7.3 乙方有权根据风险及自身业务运营情况需要中止（终止）向甲方提供服务，因此导致甲方无法使用服务或服务受到限制的，不视为服务提供方违约，在此情况下，甲方已经使用服务而尚未到期或偿还的任何款项（包括服务费和其他费用），视为立即到期，甲方应立即归还。<br><br>

                <span>八、协议变更与解除</span><br>
                8.1 乙方有权随时单方面修改本合同中与甲方之间相关的权利义务，并及时以公告的方式通知甲方。经修订的合同一经通知，立即自动生效，如甲方继续使用服务即被视为甲方已接受了修改后的合同内容；若甲方不同意修改本合同，则应当立即停止使用服务并全额支付本合同项下全部应付款项；否则，视为甲方同意并接受修改后的合同。<br>
                8.2 本合同生效后，除本合同另有约定外， 乙方有权基于自身经营考虑，解除本合同或本合同相关条款，并要求甲方在指定期限内支付本合同项下全部应付款项。<br><br>

                <span>九、使用法律及争议解决</span><br>
                9.1 本合同的签订、履行、终止、解释和争议解决受中华人民共和国（“中国”）法律管辖。<br>
                9.2 因本合同引发的或与本合同有关的争议，由甲、乙双方协商解决，也可由有关部门调解；协商或调解不成的，由乙方所在地人民法院管辖。<br><br>

                <span>十、其他</span><br>
                10.1 如果本合同任意条款规定根据任何法律或法规在任何方面被裁定为无效、不合法或不可强制执行，本合同其余规定不应在任何方面受到影响或损害。双方应通过诚意磋商，争取以法律许可以及双方期望的最大限度内有效的规定取代该等无效、不合法或不可强制执行的规定。<br>
                10.2甲乙双方签署的与本合同有关的修改协议和补充协议应是本合同不可分割的组成部分，具有与本合同同等的法律效力。<br>
                10.3 本合同自甲方在51返呗上点击确认（具体点击按键以51返呗平台显示为准）之日起签署，于乙方审核通过并加盖51返呗电子章时生效，至双方在本合同项下的全部义务履行完毕之日终止。除协议另有约定外，非经双方协商一致不得单方解除合同。<br>
            </p>
    </body>
</html>