<!DOCTYPE html>
<html lang="en">
    <head>
		<title>新手教程</title>
	    <style type="text/css">
	    	.fenbeiTutorial li{
	    		width: 18.75rem;
	    		height: 16.725rem;
	    		-webkit-background-size: cover;
				-moz-background-size: cover;
				-ms-background-size: cover;
				background-size: cover;
	    	}
	    	.fenbeiTutorial li:nth-child(1){
				background-image: url(/images/app/sys/fenbeiTutorial_bg1.png);
	    	}
	    	.fenbeiTutorial li:nth-child(2){
				background-image: url(/images/app/sys/fenbeiTutorial_bg2.png);
	    	}
	    	.fenbeiTutorial li:nth-child(3){
				background-image: url(/images/app/sys/fenbeiTutorial_bg3.png);
	    	}
	    	.fenbeiTutorial li:nth-child(4){
				background-image: url(/images/app/sys/fenbeiTutorial_bg4.png);
	    	}
	    </style>
    </head>
    <body>
		<ul class="fenbeiTutorial">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
    </body>
</html>