<!DOCTYPE html>
<html lang="en">
    <head>
		<title>分呗新手教程</title>
	    <style type="text/css">
	    	.fenbeiTutorial li:nth-child(1){
				width: 18.75rem;
				height: 17.75rem;
				background-image: url(/images/app/sys/fenbeiTutorial_bg1.png);
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-ms-background-size: cover;
				background-size: cover;
	    	}
	    	.fenbeiTutorial li:nth-child(2){
				width: 18.75rem;
				height: 18.5rem;
				background-image: url(/images/app/sys/fenbeiTutorial_bg2.png);
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-ms-background-size: cover;
				background-size: cover;
	    	}
	    	.fenbeiTutorial li:nth-child(3){
				width: 18.75rem;
				height: 19.375rem;
				background-image: url(/images/app/sys/fenbeiTutorial_bg3.png);
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-ms-background-size: cover;
				background-size: cover;
	    	}
	    </style>
    </head>
    <body>
		<ul class="fenbeiTutorial">
			<li></li>
			<li></li>
			<li></li>
		</ul>
    </body>
</html>