<!DOCTYPE html>
<html lang="en">
    <head>
		<title>51返呗分期借款协议</title>
	    <style type="text/css">
	    	.fenqiBorrowProtocol{
	    		padding: 1.0rem;
                line-height: 1.4rem;
                text-align: Justify;
                text-justify: inter-ideograph;
	    	}
            .fenqiBorrowProtocol span{
                font-weight: bold;
            }
            .fenqiBorrowProtocol i{
                font-weight: bold;
                color: red;
            }
	    </style>
    </head>
    <body style="background-color: #fff;">
    	<div class="fenqiBorrowProtocol fs_14">
            <p>
                甲方：【系统填充】<br>
                乙方：浙江名恒资产管理有限公司<br>
                <span>注：本条款与《51返呗消费分期服务订单》（“《订单》”）共同构成完整的《51返呗消费分期服务合同》，甲方（51返呗消费分期服务申请人）在签署《订单》之前，应仔细阅读本条款并确认已取得乙方（浙江名恒资产管理有限公司）授信，否则请不要签署。甲方一旦签署《订单》即表示已全部阅读并完全理解本条款内容及其法律意义并愿意遵守本条款。</span><br><br>

                1.消费分期服务<br>
                1.1乙方为符合条件的用户提供的消费分期服务，分为乙方垫付消费款和提供赊销服务两种方式：（1）甲方向入驻乙方平台（包括但不限于由乙方运营的乙方网站、手机WAP或手机APP等）的商户购买商品或服务时，乙方可提供垫付款服务；（2）甲方向乙方平台的自营商户（51返呗）购买商品或服务时，乙方可提供赊销服务。甲方购买商品和/或接受服务（“消费”）时向乙方申请垫付消费款（或向乙方自营商户赊销商品）和分期还款服务（“消费分期服务”）的，经乙方审核同意后，乙方在提供给甲方的消费授信额度余额（“授信余额”）范围内替甲方垫付消费款（或向甲方提供赊销商品），再由甲方按约定偿付乙方垫付款（或赊销商品价款）和服务费（“分期款”）。<br>
                1.2甲方在乙方平台上入驻的商户（或乙方自营商户）消费时，根据乙方平台提示选择商品和/或服务（“标的物”）和付款方式后向乙方提交订单；甲方在乙方线下合作商户实体店（“实体店”）消费的，需通过手机下载乙方手机客户端（即手机APP），通过APP扫描商户二维码，选择标的物和付款方式后向乙方提交订单。<br>
                <span>1.3甲方通过直接付款的方式消费的，不受是否取得授信及授信余额的限制。但甲方向乙方申请消费分期服务的，应首先向乙方提出授信申请，在取得乙方授信额度后再向乙方提交消费分期服务订单（“订单”）。在取得乙方授信额度后，甲方可以直接付清订单款项，不申请消费分期服务，也可在提交订单时向乙方提出分期申请。乙方审核通过甲方的订单后，甲方按订单确定的付款方式付款或由乙方垫付款或由乙方赊销商品，乙方再通知商户交付标的物。</span>
                1.4乙方有权根据甲方的资信和订单情况，自主决定是否接受甲方订单。但甲方选择直接付款的，无需事先申请授信，乙方也不对订单进行审核，在甲方付清全款后乙方通知商户交付标的物。<br>
                <span>1.5在符合乙方规定的条件下，乙方可以授予甲方在一定额度内授信(授信额度以甲方的征信情况以及甲方的偿还能力确定)、消费免予审核的权利（“免审额度”）。</span>甲方在免审额度范围内使用授信额度或提交订单的，乙方免予审核。超过免审额度的，甲方应向乙方提出授信申请或订单申请。甲方可通过乙方平台的甲方个人中心(“甲方个人中心”)查询授信余额或免审额度。<br>
                <span>1.6乙方为甲方提供自营商品的赊销服务的，乙方承担销售者的义务。
                除乙方自营商品外，乙方仅为甲方提供消费分期服务，有关标的物的价格、质量、交付、售后服务等事宜由甲方直接与商户接洽，乙方不直接参与处理任何甲方与第三方卖家间的纠纷。</span><br><br>

                2.标的物交付<br>
                2.1甲方可以通过甲方个人中心自行增加收货地址，但在消费时只能选择其中之一作为当次收货地址。<br>
                2.2甲方收货时间以甲方收货凭据或第三方物流（“物流”）记载的收货时间为准。甲方在实体店消费的，可以选择自提方式接收标的物。甲方选择自提的，自提之日即为交付日，甲方的签收单和/或手持货物的照片均可作为交付凭据；通过物流方式交付的，以物流送达甲方指定的送货地点之日为交付日，甲方签收凭证和/或物流公司网站查询记录均可作为交付凭据；甲方购买标的物为服务的，甲方当场接受服务和/或服务方交付接受服务的凭证均可作为交付凭据。<br>
                2.3甲方应及时接收标的物。无法及时接收的，应提前与商户或物流协商更改交付日期；协商不成的，甲方应按时接收。甲方无正当理由未按时接收的，商户或物流通知的交付日视为交付日。<br>
                2.4甲方收货时应当场检验，确认无误后签收。甲方未及时签收货物、签收时未当场验收、甲方提供的联系方式有误或甲方联系方式变动后未及时通知乙方，造成甲方未能按预期收到标的物或标的物不符合甲方预期的，由甲方自行承担责任。<br>
                2.5因甲方原因造成退换货，商户向甲方收取退换货费用、折旧费或使用费、违约金的，由甲方自行与商户协商处理。<br>
                <span>2.6在商户同意甲方退货并已经就垫付的款项退还事宜与乙方达成一致的情况下，因甲方原因退货的，甲方应向乙方支付商品售价10%的违约金。</span>上述违约金从甲方已支付的分期款中直接扣除，扣除违约金及相应服务费用及其他甲方应付费用后的余额退还甲方，不足扣除的由甲方另行承担。<br><br>

                3.款项支付<br>
                3.1 甲方应偿付乙方的款项包含乙方垫付款（或赊销商品价款）、服务费以及可能产生的延期还款手续费、违约金及应由甲方承担的其他费用。甲方应付款信息记载于甲方账单（“账单”）。甲方可登陆甲方个人中心查看账单和每一笔消费记录。<br>
                <p>3.2 甲方申请分期付款后，经乙方审核通过后，自打款成功日开始计息。</p>
                <span>如在每月9号前（包括9号）资金到账，则在10号即产生账单，在本月20号即进行第一期还款日；如在每月10号后（包括10号）资金到账，则在次月10号出账单，在次月20号为第一期还款日。</span><br>
                <span>3.3 账单日，每月10号，生成上月10号到本月9号需要还款的账单；还款日，每月20号，需全额付清账单，如产生预期将产生相应的利息以及滞纳金；其中滞纳金在预期还款7天后（即每月28号）仍未支付全额账单的，则需产生相应的滞纳金，滞纳金最低5元，最高50元；</span><br>
                3.4甲方应在每月账单日的次日起登录甲方个人中心查收甲方当月账单。甲方应及时、认真核对账单内容，如未收到账单，应主动联系乙方查询，否则视为甲方已收到账单并全部认可，乙方不得以未收到账单或对账单有疑议为由拒绝还款。如甲方对账单有疑议，应在最迟还款日之前向乙方说明并提交相关证明材料，配合乙方对有疑议的交易进行核查。在核果结果确认前，甲方仍应按期还清账单所列应还款。<br>
                3.5甲方应在提交订单时选择还款方式。甲方未选择直接付款方式的，可在最迟还款日前对还款方式作出修改,但除申请延期还款并经乙方同意之外，不得晚于最迟还款日还款；最迟还款日之后，甲方无权再修改还款方式。甲方未选择分期还款或选择的分期数为1期的，应在最迟还款日前还清当期账单。<br>
                3.6甲方可选择支付宝、网银、银行卡等乙方支持的任何第三方支付方式进行还款。除乙方以诉讼等方式向甲方追索债权时可能另行书面授权指定甲方工作人员代收乙方款项外，甲方不得将应付款交付给乙方任何工作人员，否则视为甲方未履行付款义务，乙方有权另行要求甲方偿付该款项。<br>
                3.7甲方在最迟还款日仍未付清当期应付款项，乙方可通过电话、短信、邮件等方式提醒甲方及时还款。如甲方在最迟还款日后3日内既未还清当期应付款，则从账单日次日起计为逾期。<br>
                <span>3.8 甲方支付的款项不足以偿付全部应付款项的，按如下顺序结算（在前的优先结算）：（1）逾期违约金；（2）延期手续费；(3)退换货费用及其他应付费用；（4）乙方服务费；（5）乙方垫付款（或赊销商品价款）。</span><br>
                3.9乙方平台提供的各项优惠活动（包括但不限于特价商品、降价促销、红包抵扣等）时，除乙方另有特别说明外，甲方应当采用分期方式消费，乙方也不接受甲方提前还款，甲方在优惠活动后必须按照约定的分期总金额归还款项，即使提前还款，还款总额不变。<br><br>

                4.甲方权利义务<br>
                4.1甲方应保证提供给乙方的个人信息和交易信息真实、准确、完整、有效，并配合乙方进行核实。甲方登记的个人信息和联系方式发生变更时，应当在变更后的5日内在乙方平台上自行修改。甲方修改登记信息前，乙方根据甲方修改前的信息做出的任何行为均对甲方有效，甲方应承担相应的责任。<br>
                4.2甲方有权申请调整授信额度。甲方申请调增授信额度的，需向乙方提出申请，由乙方审核决定。<br>
                <span>4.3甲方不得将自己的51返呗账户提供给他人使用，否则乙方有权收回或冻结甲方账户，或将甲方列入黑名单。</span><br>
                4.4甲方应妥善保管平台账号和密码。因甲方账号和密码丢失、被冒用、被盗用、被破解等不可归责于乙方的原因所导致的损失，由甲方自行承担。通过甲方账号进行的任何操作均视为甲方本人的行为，甲方应当对此承担全部法律责任。<br>
                4.5甲方应珍视自己的信用，按照约定及时足额偿还分期款及支付其他应付款项，不发生违约行为，不得以与第三方发生消费纠纷等不可归责于乙方的原因为由拒绝偿还乙方分期款或其他任何应付款项。<br>
                4.6甲方下列行为视为恶意行为或严重违约行为（“失信行为”）：（1）攻击乙方网络；（2）贬损乙方声誉；（3）单独或共同套现或为他人套现提供便利；（4）逾期后逃避、拖延或拒绝履行还款义务；（5）提供不实个人资料信息或者虚假申请授信额度；（6）逾期未付款达全部应付款的20%，或者连续逾期2期或60日以上；（7）无合理理由拒绝接收标的物；（8）严重违反乙方网站法律声明的行为；（9）其他失信行为。<br>
                4.7甲方同意，在乙方办理给甲方消费授信、履行本合同及相关的协议或融资活动等事项的时候，委托并不可撤销地授权乙方在合法范围内查询、打印、复制、保存和使用甲方的个人征信信息（包括但不限于个人基本信息，社会保险信息，收入、存款、有价证券、商业保险、不动产信息和纳税数额信息，不良信用信息等），并将乙方收集的甲方个人信用信息报送征信机构，或提供第三方信息机构进行加工评分。<br>
                4.8甲方应对本合同（含组成本合同或与本合同相关的其他法律文件，下同）内容保密，不得将合同任何内容透露给无关的第三方。甲方同意，乙方为履行合同或融资活动等需要，可将本合同提供或透露给第三方，但以必要为限。<br><br>

                5.乙方权利义务<br>
                5.1乙方有权通过合法途径了解、核查甲方的登记信息、还款能力、交易真实性、资信状况、家庭财务状况和税务信息等，并有权要求甲方提供相关文件资料，有权要求甲方配合核查并提供相关文件资料。甲方上述信息发生重大变化或乙方根据合理怀疑认为甲方上述信息发生重大变化，可能影响乙方债权安全或损害乙方其他合法权益的，乙方有权视该等变化的影响程度对已经作出的相关决定进行变更，或者要求甲方提前偿还全部应还款（包括全部分期款、延期费等）并支付违约金，或者宣布提前终止本合同。<br>
                5.2乙方对甲方的个人信息、资料及与甲方有关的数据有权予以保留，无论本合同是否生效或终止。乙方应妥善保管该等信息并对该等信息负有保密义务，未经甲方允许不得擅自透露给第三方，但根据法律规定、监管机构或权力机关的要求披露或依据本合同约定使用、披露甲方信息的除外。<br>
                <span>5.3乙方有权根据甲方的资信状况随时调整甲方的授信额度、分期数和分期款限额。</span><br>
                5.4如果乙方基于合理判断，认为甲方可能存在本合同第4.7款约定的失信行为，以及其他违反法律规定、合同约定、乙方规则或诚信原则的行为或其他恶意行为，乙方有权不经事先通知而冻结甲方授信额度，限制甲方使用乙方部分或全部服务；一旦乙方确认甲方存在上述行为的，乙方有权将甲方列入黑名单，并视情形采取下列措施，因此造成的不利影响及后果由甲方承担：（1）联系甲方或派工作人员上门催收；（2）联系甲方近亲属或其他联系人；（3）将甲方失信记录报送各级个人征信系统；（4）将甲方的失信信息和甲方个人信息通报甲方所在学校、同学、亲友或其他相关机构，并在乙方平台和各种媒体上披露；（5）通过诉讼、向第三方机构投诉等适当方式催收；（6）要求甲方提前还清全部应还款并支付违约金，且服务费不减免；（7）甲方涉嫌违法犯罪的，向司法机关报案；（8）其他合法措施。<br>
                5.5因甲方的失信行为导致乙方产生的全部费用和损失由甲方承担，包括但不限于调查取证费用、差旅费、诉讼费用、执行费用、律师费、媒体广告费等。<br>
                5.6本合同有效期内，因甲方原因、不可抗力、电力中断、网络故障、网络攻击、金融机构暂停服务等非乙方所能控制的原因导致乙方不能提供承诺或约定的服务的，乙方不承担违约责任，且乙方有权提前终止本合同。因乙方系统维护、网站升级、技术故障等原因导致暂停服务的，乙方不承担用户的损失，但乙方承诺会尽快恢复正常。<br>
                5.7除乙方自营商品外，乙方仅对分期数、分期款、交易真实性以及是否存在套现等事项进行审核，不负责审核标的物的质量、规格等信息，甲方应对自己选择的供应商、标的物品名、品牌、质量、规格等事项负责，不得以此为由拒绝履行还款义务。<br><br>

                6.融资与权利义务转让<br>
                6.1乙方有权将本合同项下乙方对甲方的全部应收账款（全部应还款加违约金）形成的债权进行质押、转让或以其他形式在与乙方合作的第三方机构或融资平台（“第三方融资平台”）上进行融资。在此情形下，甲方应继续按原还款方式向新的债权人或乙方指定的其他主体履行本合同项下的全部义务，甲方不会因此增加任何新的债务或负担，故甲方豁免乙方另行通知的义务。<br>
                6.2 甲方同意并不可撤销地授权：<br>
                6.2.1乙方以甲方名义在第三方融资平台上进行融资，融资额相当于甲方在本合同项下应付未付的全部或部分应还款。甲方指定乙方为融资收款人；<br>
                6.2.2 乙方及/或第三方融资平台以甲方名义签署并保管相关融资协议，并同意承担该融资协议约定的义务和法律责任；同意并委托乙方代为接收第三方融资平台向甲方发送的融资相关信息（包括但不限于融资协议文本及债权转让通知），该等信息自乙方接收之日起即视为已送达甲方，并对甲方生效；<br>
                6.2.3乙方及/或第三方融资平台以甲方名义开立并管理第三方平台账户并在第三方融资平台上公开融资所必须的甲方个人信息，包括但不限于姓名、性别、家庭住址、身份证号码、学历、资产状况、个人征信信息等，并视情况采取增信措施；<br>
                6.2.4乙方及/或第三方融资平台可以将上述全部或部分事项进行转委托。<br>
                6.3甲乙双方确认，甲方应按照本合同中约定的偿还分期款的时间和金额偿还融资协议中约定的融资款，并委托乙方按照融资协议中约定的还款义务向出借方代为还款。如果融资协议中约定的融资本金和利息之和超过甲方应偿还的分期款，则超过部分由乙方承担。<br>
                6.4乙方根据融资协议收到融资款后，融资款将用于偿还甲方在本合同项下的应付款，因此乙方无需向甲方转交融资款。融资款不足偿还甲方应付款的部分，由甲方另行偿还乙方。<br>
                6.5乙方为甲方向第三方融资平台的融资向第三方融资平台及出借方提供连带责任担保的，如甲方未按照融资协议及本合同约定履行还款义务，将由乙方代为偿还。乙方承担连带责任后，有权向甲方追偿。<br>
                6.6甲方同意，本合同第6条中甲方的全部授权委托的期限为自本合同签订之日起，至融资协议约定的义务全部履行完毕之日止，在此期间甲方不可撤销或终止授权和委托。<br>
                6.7甲乙双方确认，本合同第6条中约定的融资协议项下甲方履行的全部债务，不超过本合同约定的甲方应偿付乙方的全部应收账款，超过的由乙方承担。<br>
                6.8甲方同意乙方在需要时为乙方对甲方的债权设立商业保险，并不可撤销地授权乙方在保险合同文件上代甲方签名，对乙方代甲方签订的保险合同文件均予认可。<br>
                6.9甲方同意，乙方在本合同项下的全部权利义务可由乙方全资子公司杭州51返呗金融信息服务有限公司或乙方指定的第三方代为履行，无需另行通知甲方，但乙方对第三方代为履行本合同义务的行为向甲方承担连带责任。<br><br>

                7.违约责任<br>
                <span>7.1 甲方逾期付款的，按逾期天数每日支付逾期未付款1%的违约金（最低收取1.5元违约金）。逾期未付款（含到期未付的分期款、延期费等）累计达到全部应还款的20%，或者连续逾期2期或达60天的，乙方有权要求甲方提前付清全部应付款（服务费不减免）并支付违约金，或者解除合同并要求甲方支付全部服务费1倍的违约金。</span><br>
                7.2乙方在任何时候发现甲方有单独或共同套现或为他人套现提供便利行为的，有权立即解除合同，要求甲方提前一次性还清全部分期款（服务费不减免），并要求甲方支付套现金额1倍的违约金。<br>
                7.3甲方无合理理由拒绝接收标的物的，自供应商或物流送达或通知交付之日起视为甲方已接收，甲方应承担标的物灭失、损毁、贬值和费用增加等各项风险以及标的物保管、提存、再次交付等各项费用，并自视为交付次日起按日支付标的物价款1%的违约金。<br>
                7.4甲方逾期后逃避、拖延或拒绝履行还款义务的，乙方有权要求甲方继续按约履行并承担逾期违约金，或者提前一次性还清全部分期款（服务费不减免），或者解除合同并要求甲方支付全部服务费1倍的违约金。<br>
                7.5乙方在任何时候发现甲方有提供虚假身份资料和个人信息或虚假申请授信额度行为，或甲方出现其他任何失信行为的，乙方有权视情节采取解除合同、冻结授信额度、要求甲方提前一次性还清全部分期款、要求甲方支付全部服务费1倍的违约金、将甲方列入黑名单并将甲方失信信息报送个人征信机构等措施，本合同另有约定的从其约定。<br>
                7.6 甲方出现违约或失信行为时，乙方在任何时间所给予的宽容或延缓行使权利，均不影响乙方享有的一切权利，亦不能解释为乙方对甲方任何违约行为的许可，更不可视为乙方放弃在现在或将来对上述违约行为采取救济的权利。<br><br>

                8.争议解决<br>
                与本合同有关的一切争议，双方应友好协商，协商不成由乙方所在地人民法院诉讼解决。为减轻双方诉讼成本，加快诉讼效率，双方同意争议之解决可以向浙江法院电子商务网上法庭(网址为www.zjwsft.gov.cn)提起诉讼（含在线申请支付令），并可采用视听传输技术等方式开庭。在争议处理期间，本合同不涉及争议部分的条款仍须履行。<br><br>

                9.其他<br>
                9.1 本合同取代甲乙双方在签订本合同之前作出的任何书面或口头的约定、承诺、陈述、说明和保证，但甲方为订立本合同而向乙方作出的任何承诺、陈述、说明、保证仍然有效，对甲方有约束力。<br>
                9.2本合同条款是甲乙双方之间就消费分期服务签订的通用合同条款，甲方具体的消费信息（交易双方、标的物信息、消费分期申请）记载于每笔订单中。经乙方审核同意的订单与本合同条款一起共同构成完整的《51返呗消费分期服务合同》。<br>
                9.3本合同如有部分内容与法律相冲突或者被宣布为无效的，不影响合同其余部分条款的效力。对本合同的任何修改，均应采用书面形式。<br><br>

                <span>附件 ：送达确认书</span><br>
                1.本人同意与51返呗在线订立 《51返呗消费分期服务合同》（以下简称“合同”）。<br>
                2.本人声明司法机关（包括但不限于人民法院）可以手机短信或电子邮件等现代通讯方式或邮寄方式向本人送达法律文书（包括诉讼文书）。<br>
                3.本人指定接收法律文书的手机号码或电子邮箱为合同约定的51返呗用户账户绑定的手机号码或电子邮箱，司法机关以前述码址发出法律文书即视为送达。<br>
                4.本人指定邮寄地址为本人的户籍地址。<br>
                5.本人同意司法机关可采取以上一种或多种送达方式向本人送达法律文书，司法机关采取多种方式向本人送达法律文书，送达时间以上述送达方式中最先送达的为准。<br>
                6.本人确认的上述送达方式适用范围包括双方非诉时各类通知、协议等文件以及就合同发生纠纷时相关文件和法律文书的送达，同时包括在争议进入诉讼程序后的一审、二审、再审、执行以及督促程序（含支付令送达）。<br>
                7.若本人送达地址有变更，本人应当及时告知51返呗和/或司法机关变更后的送达地址。履行送达地址变更通知义务的，以变更后的送达地址为有效送达地址。纠纷进入诉讼程序后，如本人应诉并直接向法院提交送达地址确认书，该确认地址与诉前确认的送达地址不一致的，以向法院提交确认的送达地址为准。<br>
                8.本人已阅读本确认书所有条款，并保证送达地址是准确、有效的；如果提供的送达地址不确切，或不及时告知变更后的地址，使法律文书无法送达或未及时送达，本人自行承担由此可能产生的法律后果。如果本人提供或者确认的送达地址不准确、送达地址变更后未及时依程序告知51返呗和法院、本人或指定的接收人拒绝签收等，导致法律文书未能被本人实际接收的，邮寄送达的，以文书退回之日视为送达之日；直接送达的，送达人当场在送达回证上记明情况之日视为送达之日。<br>
            </p>   
        </div>
    </body>
</html>