<!DOCTYPE html>
<html lang="en">
    <head>
		<title>邀请奖励规则</title>
	    <style type="text/css">
	    	.invitationRewardRule{
	    		padding: 1.0rem;
	    		text-align: Justify;
				text-justify: inter-ideograph;
	    	}
	    </style>
    </head>
    <body style="background-color: #fff;">
    	<div class="invitationRewardRule">
            (1)每邀请一个好友注册51返呗账户，并完成实名认证操作，可获得现金及优惠券奖励，上不封顶。<br><br>
            (2)实名认证流程包括实名信息登记以及银行卡绑定。<br><br>
            (3)好友必须通过您的链接注册才视为邀请成功，您可以把您的专用邀请链接通过QQ或者微信发给你的朋友，也可以分享到您的朋友圈和QQ空间里面去。<br><br>
            (4)若发现有重复批量注册等涉嫌欺骗性行为，51返呗有权利不给涉及账号奖励。<br><br>
            (5)51返呗对该活动保留法律允许范围内的解释权。
        </div>
    </body>
</html>