<!DOCTYPE html>
<html lang="en">
    <head>
    	#set($version="2017021401")
		<title>邀请送礼</title>
	    <style type="text/css">
	    	.invitation_text{
	    		padding: 0.5rem;
	    		text-align: Justify;
				text-justify: inter-ideograph;
				text-align: center;
	    	}
	    	.invitation_btn{
	    		width: 100%;
	    		text-align: center;
	    		padding: 0.25rem 0;
	    		background-color: pink;
	    		margin: 0 auto;
	    	}
	    </style>
    </head>
    <body>
    	<div class="invitation_text">您的好友<span>123****121</span><br>邀请您一起返利赚钱！</div>
    	<div class="invitation_btn">注册拿返利</div>
    </body>
</html>