<!DOCTYPE html>
<html lang="en">
<head>
    #set($commonUrl="https://fs.51fanbei.com/h5/app/images/sys")
    <title>还款方式</title>
</head>
<body scroll=no style="overflow:hidden">

<img src="$commonUrl/other_repayment_type1.png">
<img src="$commonUrl/other_repayment_type2.png">
<img src="$commonUrl/other_repayment_type3.png">
</body>
</html>