<!DOCTYPE html>
<html lang="en">
    <head>
    	#set($version="2017022401")
		<<title>领取优惠劵</title>
		<link rel="stylesheet" type="text/css" href="/css/app/sys/receiveCoupons.css?version=$version">
    </head>
    <body class="bgc_e">

		##if($!{couponList.size()}==0)
	   		<!-- <div class="nullPrompt">
	   			<img src="/images/common/wuyouhui.png">
				<span class="fsc_6">暂无优惠劵</span>
	   		</div> -->
		##end

    	<div class="cardCoupons_main">
			<ul>

			    <li>
					<div class="fl cardCoupons_mainContent">
						<div class="cardCoupons_content clearfix">
							<span class="fl fs_48 tal fsc_blue cardCoupons_priceInfo">￥<span class="fs_92">900</span></span>
							<div class="fl fs_28 fsc_6 cardCoupons_text">
								<p class="fsc_1 fs_36">还款抵用劵</p>
								<p>还款满8000元可用</p>
								<p>每人限领一张</p>
							</div>
						</div>
						<p class="fs_22 tal cardCoupons_date">有效期：2017-02-13 至 2017-12-31</p>
					</div>
					<button class="fr cardCoupons_btn">立即领取</button>
				</li>



				##foreach($item in $!{couponList})
				    <!-- <li>
						<div class="cardCoupons_mainContent">
							<div class="cardCoupons_content clearfix">
								<span class="cardCoupons_priceInfo">￥<span>$priceUtil.bigdecimalToInt($!{item.amount})</span></span>
								<div class="cardCoupons_text">
									<p class="rightOne">$!{item.name}</p>    
									<p class="rightTwo">$!{item.useRule}</p>
									<p class="rightThree">$!{item.limitCount}</p>
								</div>
							</div>
							<p class="cardCoupons_date">$dateUtil.formatDate($!{item.gmtStart},"yyyy-MM-dd") 至 $dateUtil.formatDate($!{item.gmtEnd},"yyyy-MM-dd")</p>
						</div>
						<div class="cardCoupons_btn">立即领取</div>
					</li> -->
				##end
				<!-- <li class="discountType">
					<p class="leftInfo"><span>$priceUtil.getDiscountRemoveInvalidNumber($!{item.amount})</span>折</p>
					<div class="right_content">
						<p class="rightOne">$!{item.name}</p>    
						<p class="rightTwo">$!{item.useRange}</p>
						<p class="rightThree">$!{item.useRule}</p>
					</div>
					<p class="timerP">$dateUtil.formatDate($!{item.gmtStart},"yyyy-MM-dd") 至 $dateUtil.formatDate($!{item.gmtEnd},"yyyy-MM-dd")</p>
				</li> -->

				
			</ul>
		</div>
		<script type="text/javascript" src="/js/app/sys/receiveCoupons.js?version=$version"></script>
    </body>
</html>