<!DOCTYPE html>
<html lang="en">
    <head>
		<title>51返呗用户注册协议</title>
	    <style type="text/css">
	    	.registerProtocol{
                padding: 0.2rem;
                line-height: 0.48rem;
	    		text-align: Justify;
				text-justify: inter-ideograph;
	    	}
            .registerProtocol span{
                font-weight: bold;
            }
	    </style>
    </head>
    <body style="background-color: #fff;">
    	<div class="registerProtocol">
            <p>
                <span>尊敬的用户：</span><br>
                欢迎您注册成为51返呗用户，在注册前请您仔细阅读如下服务条款：<br>
                本协议由您与51返呗平台运营公司（以下简称为"51返呗"）之间就51返呗平台（以下简称“平台”）服务等相关事宜所订立的契约，请您仔细阅读本注册协议， 如果同意本协议的条款，请按照页面上的提示完成全部的注册程序。如您终止并退出申请，则视为不接受本协议全部条款。<br><br>

                <span>1、总则</span><br>
                1.1 51返呗按照本协议的规定及其不定时发布的操作规则提供基于互联网和移动互联网的相关服务。<br>
                1.2 为获得服务, 用户应当认真阅读、充分理解本协议中各条款, 包括 免除或者限制51返呗责任的免责条款及对用户的权利限制条款。 审慎阅读并选择接受或不接受本协议。<br>
                1.3 51返呗有权在必要时修改服务条款，服务条款一旦发生变动，将会以网站公告等方式提示修改的内容， 不再另行通知， 一经51返呗公布，则立即自动生效，51返呗另有约定的除外。 如果不同意所改动的内容，您可以主动取消获得的平台信息服务。如果您继续享用平台信息服务，则视为接受服务条款的变动。<br><br>

                <span>2、用户账号</span><br>
                2.1 用户完成注册申请手续后，获得51返呗帐号的使用权。用户应提供真实、准确、完整的个人资料，并不断更新注册信息，符合上述要求。所有原始键入的信息将引用为注册信息。如果因注册信息而引起的问题，并对问题发生所带来的后果，51返呗不负任何责任。<br>
                2.2 用户不应将其帐号、密码转让、出售或出借予他人使用，如果51返呗发现使用者并非帐号注册者本人，有权停止继续服务。如用户发现其帐号遭他人非法使用，应立即通知51返呗。因黑客行为或用户违反本协议规定导致帐号、密码遭他人非法使用的，由用户本人承担因此导致的损失和一切法律责任，51返呗不承担任何责任。<br>
                2.3 对于涉及用户注册信息、个人信息等隐私信息的，将对其中涉及个人隐私信息予以严格保密，除非得到您的授权、或法律另有规定外，51返呗不会向外界披露您的隐私信息。<br>
                2.4 由于法律法规的规定、51返呗自身必要因素等原因，51返呗有权登陆进入注册账户，进行证据保全。 并且有权根据您在平台上申请账户时所填写的信息，向51返呗合作的第三方提取您的相关信息。<br><br>

                <span>3、使用规则</span><br>
                3.1 使用规则以平台上实时公布的使用规则为准。<br>
                3.2 用户在使用平台服务时，应当严格遵守以下义务：<br>
                3.2.1 必须遵循国家的相关法律法规,<br>不得发布含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的内容，不得发布危害国家安全、色情、暴力等任何合法权利等非法内容; <br>
                3.2.2 不得传输损害国家社会公共利益和涉及国家安全的信息资料；<br>
                3.2.3 不得利用平台从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；<br>
                3.2.4 不得利用在平台注册的账户进行牟利性经营活动；<br>
                3.2.5 不得发布任何侵犯他人著作权、商标权等知识产权或合法权利的内容。<br>
                3.3 用户违反本协议或相关的服务条款的规定，导致或产生的任何第三方主张的任何索赔、要求或损失，包括合理的律师费及其他费用，用户应当赔偿。51返呗有权视用户的行为性质，采取包括但不限于删除用户发布信息内容、暂停使用许可、终止服务、限制使用、追究法律责任等措施。<br><br>

                <span>4、个人信息查询及报送</span><br>
                4.1 除用户提供的及51返呗自行合法收集的用户信息外，用户还授权51返呗或51返呗合作的第三方（下称“第三方”）<br>通过征信机构或经监管部门或行业自律组织认可的信息平台查询、采集并报送用户的个人征信信息或其他相关信息。51返呗将对通过上述所有方式获取的用户信息按照行业标准惯例以予以保护。<br>
                4.2 用户同意，除法律另有规定之外，基于为用户提供更优质服务之目的，51返呗有权在以下情况下合法合理使用用户信息：<br>
                4.2.1 用户授权51返呗或第三方根据用户所提供的信息（含个人征信信息或其他相关信息等）及51返呗自行获得的信息评定用户在本服务中所拥有的个人信用额度；<br>
                4.2.2 在不透露用户隐私的前提下，51返呗有权对整个用户数据库进行分析并对用户数据库进行商业上的利用；<br>
                4.2.3 向开展合作的必要第三方提供、查询和收集用户的信息；<br>
                4.2.4 其他基于履行协议、提供服务、解决争议、保障交易安全等目的使用用户个人信息等。<br>
                4.3 51返呗有义务根据有关法律、法规、规章行业自律规范及其他政府规范性文件的要求向司法机关、政府部门、行业自律组织或者其他监管机构提供并报送用户的个人资料及交易信息等。<br><br>

                <span>5、提供服务</span><br>
                5.1 51返呗提供的具体服务内容以51返呗与用户签订的具体协议和平台展示的服务内容信息为准。<br>
                5.2 51返呗可根据国家法律法规规章政策变化及维护交易秩序等原因，不定时变更服务内容，变更后的服务内容将通过网站公告等方式告知用户。一经51返呗公布，则立即自动生效，51返呗另有约定的除外。发生变更后的服务内容仍旧受到本协议的约束。<br>
                5.3 鉴于网络服务的特殊性，用户同意51返呗经事先通知，变更、中断或终止部分或全部的网络服务（包括收费网络服务），51返呗不担保网络服务不会中断。<br>
                5.4 51返呗会员（以下简称会员）可以通过参加51返呗及其合作组织所举行的各种活动获得积分。<br>
                5.5 积分是会员通过参与、点击51返呗及其合作组织举办的各种活动及其设置的相应链接、页面才能获得的一种权利，可以用来兑换51返呗提供的各类奖品和服务。51返呗的积分分为返利和F币两种，仅适用于51返呗及其合作组织举办的各种活动，并不构成会员任何形式的资产。<br>
                5.6 会员应当获得的积分由51返呗根据相应活动规则计入会员在51返呗之账户中。积分获得的规则由各项具体活动详细规定，请您密切注意网站各具体活动的页面。<br>
                5.7 会员除在51返呗指定的频道或者平台上进行相关奖励的交易涉及到积分的流转外，积分不能以买卖、赠与等其他任何形式转让予他人。<br>
                5.8 会员积分中的返利部分在符合51返呗及其合作组织举办的具体活动之规则的情况下可以申请51返呗进行转账兑现，正常情况下，51返呗收到申请后5个工作日内完成汇款工作（遇到节假日情况顺延）。51返呗提供银联或支付宝转账等方式进行兑现。<br>
                5.9 51返呗积分还可以兑换各类奖品如：<br>
                a)优惠券<br>
                b)手机话费<br>
                正常情况下，51返呗将在3个工作日内兑换相应的奖励给会员。（遇到节假日情况顺延）<br>
                5.10 通过51返呗及其关联公司或合作组织提供的51返呗服务和其它服务，会员可在业务规则允许范围内在51返呗上发布交易信息、查询商品和服务信息、达成交易意向并进行网站内部交易、对其他会员进行评价、参加51返呗组织的活动以及使用其它信息服务及技术服务。<br>
                5.11 您在51返呗的交易过程中与其他会员发生交易纠纷时，一旦您或其它会员任一方或双方共同提交51返呗要求调处，则51返呗有权根据单方判断做出调处决定，您了解并同意接受51返呗的判断和调处决定。该决定将对您的纠纷具有约束力。<br>
                5.12 您了解并同意，51返呗有权应政府部门（包括司法及行政部门）的正当合法的要求，向其提供您在51返呗填写的注册信息和交易纪录等必要信息。如您涉嫌侵犯他人知识产权或者其他合法权益，则51返呗亦有权在初步判断涉嫌侵权等违法行为存在的情况下，向权利人提供您必要的身份信息。除非法律法规或相关政府部门另有要求，51返呗将在前述信息披露情况发生后及时向您发出书面通知。<br><br>

                <span>6、终止服务</span><br>
                6.1 您同意51返呗基于认为您已经违反本注册协议的条款，终止您的密码、帐号或使用服务（或服务的任何部分），并将您在本服务内任何内容加以移除并删除。您同意依本协议规定，无需进行事先通知即可中断或终止，您承认并同意，51返呗可立即关闭或删除您的帐号及您帐号中所有相关信息及文件，及/或禁止继续使用前述文件或本服务。此外，以上责任由您个人承担。<br><br>

                <span>7、免责条款</span><br>
                7.1 51返呗出现下列任一状况而无法正常运作，致使无法向用户提供本协议项下的各项服务，51返呗不承担任何违约或赔偿责任，该状况包括但不限于：<br>
                7.1.1 在服务平台维护期间；<br>
                7.1.2 电信设备出现故障不能进行数据传输的；<br>
                7.1.3 因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成系统障碍不能执行业务的；<br>
                7.1.4 由于黑客攻击、电信部门和其他51返呗有信息技术依赖的相关部门、企事业单位技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。<br>
                7.2 本协议有效期内，因国家相关主管部门颁布、变更的法令、政策导致51返呗不能提供约定服务的，不视为其违约，双方可根据相关的法令、政策变更协议内容或提前终止本协议。<br>
                7.3 51返呗有权根据风险及自身业务运营情况需要中止（终止）向用户提供服务，因此导致用户无法使用服务或服务受到限制的，不视为服务提供方违约。<br><br>

                <span>8、知识产权</span><br>
                8.1 51返呗平台上所有内容，包括但不限于著作、图片、档案、资讯、资料、网站架构、网站画面的安排、网页设计，均由本公司或其他权利人依法拥有其知识产权，包括但不限于商标权、专利权、著作权、商业秘密等。<br>
                8.2 非经本公司或其他权利人书面同意，任何人不得擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表本网站程序或内容。<br><br>

                <span>9、适用法律及争议解决</span><br>
                9.1 本协议的订立、执行和解释及争议的解决均应适用中华人民共和国法律。<br>
                9.2 如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向51返呗所在地的人民法院提起诉讼。 为减轻双方诉讼成本，加快诉讼效率，双方同意争议之解决可以向浙江法院电子商务网上法庭(网址为www.zjwsft.gov.cn)提起诉讼(含在线申请支付令)，并可采用视听传输技术等方式开庭。在争议处理期间，本合同不涉及争议部分的条款仍须履行。<br>
                9.3 51返呗有权根据需要不时地修改本协议正文、附件及规则，或制定发布新规则。上述内容都作为本协议的组成部分。<br>
            </p>
        </div>
    </body>
</html>