<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<title>风险提示函</title>
    </head>
    <body style="background-color: #fff;">
    	<div class="protocol">
            <h2 style="font-weight: bold">风险提示函</h2>

            尊敬的客户,您好：<br>
            1、非常感谢您选择使用由杭州天谷信息科技有限公司提供的电子签名、实名认证、时间戳、电子数据存证及出证服务，您应知悉依据《中华人民共和国电子签名法》（以下简称“电子签名法”）使用电子签名签订电子合同需注意，依据电子签名法第三条的约定，您应在您的系统页面对外展示并告知您的用户，您或者您的平台用户在签订的电子合同中明确约定双方同意电子签名的方式签订电子文书，且以下文书不适用电子签名的方式签订电子合同：<br>
            （1）涉及婚姻、收养、继承等人身关系的；<br>
            （2）涉及土地、房屋等不动产权益转让的；<br>
            （3）涉及停止供水、供热、供气、供电等公用事业服务的；<br>
            （4）法律、行政法规固定的不适用电子文书的其他情形。<br>
            2、您应知悉，依据电子签名法第十六条的约定，您应在您的系统页面对外展示并要求您的平台用户点击确认由e签宝提供的《数字证书服务协议》，确保您的平台用户委托e签宝平台向具有合法资质的第三方电子认证中心申请数字证书。<br>
            3、您应知悉，如您签订电子合同的过程数据，如数字证书服务协议确认数据、实名认证数据、数字证书发放数据、意愿认证数据等过程数据未采用本公司的产品或服务，您应在诉讼阶段自行提供相应的证据，或通过时间戳固化的方式存储在杭州天谷信息科技有限公司的电子数据存证系统，由杭州天谷信息科技有限公司根据您的申请为您提供证据报告。<br>
            4、您应知悉，您或者您用户的注册账户、密码为确认您或您用户为本人的唯一标识，请妥善保管并提示您的用户妥善保管你们的用户名、密码等信息。<br>
            5、您应知悉，杭州天谷信息科技有限公司对您提交至电子签名系统和数据存证系统的数据不会做实质内容审核，您应确保您通过技术接口传输的电子数据的合法性。<br>
            6、您应知悉，杭州天谷信息科技有限公司有义务对您存储在e签宝的电子数据具有保密义务，但如果该电子数据根据适用法律程序或行政强制性要求必须提供的，则杭州天谷信息科技有限公司有权向司法机构或行政机构等提供您存储在e签宝的电子数据。<br>
            以上内容涉及电子签名法等在业务场景的实际应用中的风险，特此告知。<br>
        </div>
    </body>
</html>