<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<title>授权服务协议</title>
    </head>
    <body style="background-color: #fff;">
    	<div class="protocol">
            <p>
                哇卡卡卡卡
            </p>
    </body>
</html>