<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<title>芝麻认证</title>
    </head>
    <body style="background-color: #fff;">
    	<div class="protocol">
            <p>
                芝麻认证成功
            </p>
    </body>
</html>