<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>平台服务协议</title>
    <style>
        table,
        table tr th,
        table tr td {
            border: 1px solid #000;
            text-align: center;
            font-size: .12rem;
            font-weight: 300;
            border-collapse: collapse;
        }

        h2 {
            text-align: center;
            font-size: .50rem;
            margin: 10px 0 20px 0;
            font-weight: bold;
        }

        .text_decor {
            text-decoration: underline
        }

        .main {
            padding: .2rem;
            text-align: Justify;
        }

        .main span {
            font-size: .2rem;
            font-weight: 700;
        }

        .test_right {
            text-align: right;
        }

        p {
            font-size: .2rem;
        }
    </style>
</head>

<body>
    <div class="main">
        <h2>平台服务协议</h2>
        <p class="test_right">协议编号：$!{borrowNo}</p>
        <p>
            甲方：$!{jfCompany} <br> 乙方（借款人）： $!{realName}
            <br> 联系电话: $!{mobile}<br> 电子邮箱：$!{email}
            <br>
            <br><br>
            <p>鉴于，甲方是一家在中国境内注册并经合法登记的有限责任公司；乙方为具有完全民事权利能力和民事行为能力、能独立行使和承担本协议项下权利义务的自然人，是经甲方居间介绍，与出借人签订《借款协议》的借款人，出借人和借款人之间形成民间借贷关系。甲方、乙方经平等协商，根据《中华人民共和国民法通则》、《中华人民共和国合同法》及其他有关法律法规的规定订立本协议。</p>
            <br>
            <span>一、协议成立</span><br>
            <p class="text_decor">乙方在甲方平台上通过对贷款需求点击“确认”按钮后（具体以甲方平台实际操作为准），本协议即时成立并生效。本协议以数据电文的形式存储于甲方服务器中，乙方对此予以确认并同意。</p>
            <br>
            <span>二、定义</span><br>
            <p>除本协议另有规定外，本协议中下列用语的定义如下：</p>
            <p>2.1借款协议：指乙方通过甲方平台签订的《借款协议》，《借款协议》与本协议同时签订。</p>
            <p>2.2平台服务：指乙方同意甲方及其合作方对乙方在《借款协议》项下款项的获取与偿还进行相关管理并提供服务，包括但不限于居间撮合服务、贷后管理、逾期管理、提前结清等。</p>
            <p> 2.3出借人：指本条第一款《借款协议》项下的出借人。</p>
            <p>2.4借款本金：乙方在甲方平台发布借款需求时所设定的借款金额。借款本金以甲方平台具体展示及记录为准。</p>
            <p>2.5指定账户：与履行本协议项下权利义务相关的账户，包括但不限于平台账户和银行账户两类账户类型。具体适用的账户类型视实际情况确定。</p>
            <br>
            <span>三、借款发放、还款方式、逾期还款及提前还款</span><br>
            <p>3.1甲方对本协议所述借款相关信息全部认可，自主自愿依据本协议规定的内容，由出借人及其授权方向乙方发放借款。</p>
            <p class="text_decor">3.2在本协议签署生效之日，基于乙方不可撤销的委托，出借人授权甲方及/或其合作平台将借款协议约定的借款金额直接或间接地通过出借人及/或其授权的其他第三人在银行或第三方支付机构开设的账户支付至乙方在甲方注册时绑定的银行账户或乙方指定的第三方商户账户即视为出借人履行了放款义务。</p>
            <p>3.3出借人将出借款项实际支付之日视为放款日，并从该日开始计息，且乙方不得以任何理由拒绝履行本协议项下的还款义务。</p>
            <p class="text_decor">3.4乙方同意并授权甲方收取借款手续费（包含的服务内容：包括但不限于借款咨询、居间撮合、个人信用审核、通道服务、还款提醒以及支付给第三方的服务费等）。</p>
            <p>3.5乙方采用银行或出借人指定的第三方代扣方式还款。</p>
            <p class="text_decor">3.6乙方还款账户以乙方在提出借款申请时绑定的银行卡为准，若乙方逾期还款，出借人有权通过其他方式扣划乙方位于该卡上的任何款项。</p>
            <p>3.7乙方保证以上账户信息中的身份及所提供的信息真实、有效、准确及合法，因乙方身份或所提供信息错误而引起的法律后果及损失，由乙方自行承担。</p>
            <p class="text_decor">3.8乙方在此不可撤销地授权甲方及甲方指定第三方机构，在还款日24:00时前从乙方提出借款申请时绑定的银行账户将到期的款项及所有本合同项下到期的其他应付款项划扣至出借人账户，而无需进一步通知乙方或者得到其同意。</p>
            <p class="text_decor">3.9若乙方还款账户发生变更的，乙方应最迟于账户变更后3个工作日内通知甲方并经甲方确认，授权划扣账户相应发生变更。除非乙方特别申明，乙方变更划扣账户的效力及于乙方与甲方签订的所有未结合同。</p>
            <p>3.10无论因何种原因，如果银行或出借人指定的第三方代扣失败，乙方在本合同项下的还款义务并不减免，乙方应采用其它合理方式继续按期偿还。</p>
            <p>3.11如果乙方未按照《借款协议》约定的还款日履行还款义务，应立即偿还拖欠款项，并按规定支付逾期费用，出借人有权要求乙方立即偿还拖欠款项。</p>
            <p>3.12乙方逾期还款的，自还款日后第1日起支付逾期费用。逾期费用计算方式如下： 每日逾期费用=每日逾期本金 x（逾期费率/360）。</p>
            <p>3.13还款顺序：乙方同意按下列顺序清偿债务：（1）实现债权的费用（含仲裁服务费）；（2）逾期费用；（3）利息；（4）本金；（5）借款手续费。出借人有权根据乙方实际还款情况变更上述顺序。</p>
            <p>3.14任何一期逾期超过5日，或者累计逾期达到3次的，甲方可以宣告借款提前到期，提前到期还款金额为全部未还本息及逾期费用。</p>
            <p>3.15乙方可以提前偿还本合同项下的借款并终止本合同。提前还款是指在还款到期日当天或之前一次性支付以下款项（“提前还款金额”）：本合同项下所有尚未偿还的借款本金和约定借款期限的全部借款利息及借款手续费。提前还款情况下，已经支付的费用不予退还。
            </p>
            <p>3.16发生以下任何情况，出借人有权宣布借款提前到期，并要求乙方立即一次性偿还本协议项下尚未偿付的全部本金、利息、逾期费用及根据本协议产生的其他全部费用：</p>
            <p>（1）乙方存在违反本协议约定的行为；</p>
            <p>（2）乙方在其与出借人或其他出借人签署的任何其他借款协议项下发生违约；</p>
            <p>（3）出借人认为乙方可能无能力履行本协议项下相关义务，乙方虚假陈述或有与借款相关的欺诈行为；</p>
            <p>（4）出借人认为乙方发生了可能对甲方或出借人的权利或利益造成损害的任何其他情形。</p>

            <br>
            <span>四、费用</span><br>
            <p>4.1乙方借款利率为$!{interestRate}%，借款利息＝借款本金×借款利率×借款天数/360。</p>
            <p>4.2借款手续费：包括但不限于借款咨询、居间撮合、个人信用审核、通道服务、还款提醒以及支付给第三方的服务费等。乙方借款手续费率为$!{serviceRate}%。借款手续费＝借款本金×借款手续费率×借款天数/360。</p>
            <p>4.3乙方本次借款手续费为$!{serviceAmount}元。</p>
            <p>4.4乙方借款逾期费率为$!{overdueRate}，逾期费用按日收取，每日逾期费用=每日逾期本金 x（逾期费率/360）。</p>
            <p>4.5其他甲方及出借人授权的第三方可能发生的，且须由乙方承担的费用，包括但不限于：</p>
            <p>（1）因债权转让发生的税费；</p>
            <p>（2）仲裁过程中支出的费用，包括仲裁机构收取的费用等；</p>
            <p>（3）审计费、拍卖费、律师费等中介费用；</p>
            <p>（4）包括但不限于交通费、餐费等必要差旅费用。</p>


            <br>
            <span>五、服务期限</span><br>
            <p>本协议项下服务期限自本协议生效之日起，至乙方在《借款协议》项下的所有义务全部履行完毕，以及乙方支付本协议项下的全部费用完毕之日止。</p>
            <br>
            <span>六、甲方的权利和义务</span><br>
            <p>6.1甲方为乙方及出借人提供居间服务，有权收取相应借款手续费，服务内容：包括但不限于借款咨询、居间撮合、个人信用审核、通道服务、还款提醒服务以及支付给第三方的服务费等。</p>
            <p>6.2在本协议履行过程中，根据实际情况要求乙方予以相应配合或协助。</p>
            <p>6.3对涉及本协议项下服务内容的行为进行监督、检查，有权要求乙方提供相关资料和文件，有权要求乙方对有关问题作出说明，有权要求乙方改正借款后出现的违约、违法行为。</p>

            <br>
            <span>七、乙方的权利和义务</span><br>
            <p>7.1乙方必须按时足额地支付应还本金和利息，并应积极配合甲方对其信用、借款的使用及偿还情况等进行监督。</p>
            <p>7.2乙方承诺所借款项仅用于《借款协议》中约定的借款用途，不得用于任何其他用途。</p>
            <p class="text_decor">7.3乙方同意以网络页面点击确认或其他方式（包括但不限于签字或签章确认等方式）签订本协议，并不以此为由拒绝履行本协议项下的义务，即便在签订本协议时并没有出借人的信息、第二条的相关信息、签订日期信息等。乙方同意以上述方式签订本协议后即视为不可撤销及变更地授权甲方平台根据最终撮合结果自主生成前述信息，且未经甲方同意，乙方不得否认本协议项下权利义务关系或以任何方式撤回、撤销本协议。</p>
            <p>7.4乙方应保证其指定账户状态正常，确保资金划入、划出交易的完成。如因前述指定账户不正常导致的所有损失（如借款资金无法及时入账、还款资金无法划转等）应由其自行承担。</p>
            <p>7.5乙方陈述并保证：乙方为申请借款而提供的所有信息完整、真实、准确，不存在误导性；乙方保证不存在任何正在进行的或潜在的可能影响乙方信用的情形，如涉及乙方的诉讼、仲裁、行政处罚等；因以上任何陈述不真实、不准确而导致的本协议各方的任何损失，均由乙方足额赔偿。</p>
            <p>7.6乙方同意并授权出借人有权使用其自行收集或乙方提供的乙方资料及信息（包括但不限于本人个人信息及包括信贷信息在内的正常信用信息、不良信用信息等）用于包括但不限于以下用途：（1）为核实乙方的身份、资料和信息的真实性，向相关的个人、企事业单位、征信机构、国家机关进行必要的验证；（2）为了提供本协议项下的服务，向有关合作机构、征信机构提供必要之资料；（3）用于催收、解决争议、调停纠纷等；（4）根据监管部门的要求提供乙方相关信息等。</p>
            <p>7.7乙方同意甲方平台有权向乙方发送与本协议内容有关的信息及通知，包括但不限于放款通知、还款提醒及逾期催收等信息，发送方式包括但不限于APP推送通知、站内信、电话、短信、邮寄、电子邮件、传真等。</p>
            <p class="text_decor">7.8乙方不得将本协议项下的任何权利义务转让给任何其他方。</p>

            <br>
            <span>八、免责事由</span><br>
            <p class="text_decor">8.1甲方系统出现下列任一状况而无法正常运作，致使无法向乙方提供本协议项下的各项服务， 不承担任何违约或赔偿责任，该状况包括但不限于：</p>
            <p>（1）在服务网站维护期间；</p>
            <p>（2）电信设备出现故障不能进行数据传输的；</p>
            <p>（3）因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成系统障碍不能执行业务的；</p>
            <p>（4）由于黑客攻击、电信部门和其他甲方有信息技术依赖的相关部门及合作方、企事业单位技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。</p>
            <p class="text_decor">8.2本协议有效期内，因国家相关主管部门颁布、变更的法令、政策导致甲方不能提供约定服务的，不视为甲方违约，各方可根据相关的法令、政策变更协议内容或提前终止本协议，在此情况下，甲方已经提供而尚未到期或偿还的任何款项（包括借款本息和其他费用），视为立即到期，乙方应立即归还，否则甲方仍有权按照本协议的约定采取合理的救济措施。</p>
            <p class="text_decor">8.3乙方与其他任何第三方之间就消费交易、数据传送、信息服务及其他任何服务所产生的纠纷或争议，均由乙方与第三方自行协商解决，与甲方无关。乙方不得以此为理由拒绝履行本协议。</p>

            <br>
            <span>九、违约责任</span><br>
            <p>因任何一方的违约行为给另一方造成损失的，应由违约方承担赔偿责任。</p>
            <br>

            <span>十、协议的变更和解除</span><br>
            <p>10.1除非本协议另有约定，本协议生效后，任何一方不得单方面变更或解除本协议。对本协议的修改或变更必须经甲方和乙方协商一致，并达成书面协议。</p>
            <p class="text_decor">10.2如遇国家法律、法规或政策变化，致使本协议的全部或部分条款不再符合国家法律、法规或政策的要求，甲方可根据相关变动修改有关条款。</p>
            <p>10.3甲方或乙方由于不可抗力不能履行协议的，应及时通知对方并采取有效措施防止损失扩大。遭受不可抗力的一方应在事件发生后5个工作日内向对方提供该不可抗力事件的详细情况和有关政府部门出具的有关该不可抗力事件的发生及影响的证明文件。甲方和乙方应及时协商解决措施。借款人对《借款协议》及本协议的违反不属于不可抗力。</p>
            <br>
            <span>十一、保密条款</span><br>
            <p>11.1协议双方应对其他方提供的信息及本协议内容保密，未经对方同意，任何一方不得向协议主体之外的任何人披露，但法律、行政法规另有强制性规定，或监管、审计等有权机关另有强制性要求的除外。</p>
            <p class="text_decor">11.2甲乙双方在业务合作中形成的知识产权属甲方所有。</p>
            <br>
            <span>十二、法律的适用和争议的解决</span><br>
            <p class="text_decor">12.1本协议的签订、履行、终止、解释均适用中华人民共和国法律。</p>
            <p class="text_decor">12.2凡因执行本协议或与本协议有关的一切争议，应先进行友好协商，协商不成的均提请至衢州仲裁委员会进行仲裁，并适用其网络仲裁规则（包括适用互联网金融仲裁特别规定条款），衢州仲裁委员会的裁决为终局裁决，对甲乙双方均具有法律拘束力。</p>
            <p class="text_decor">12.3双方约定，乙方在本协议中写明的手机号码、电子邮箱及其他登记在甲方名下的手机号码等联系方式，均为双方之间涉诉纠纷相关材料有效送达地址。前述地址适用于本协议成立时起至债务全部履行完毕时止，包括适用于仲裁阶段及执行阶段。如一方需变更电子邮箱或者手机号码的，应当以书面通知并得到对方确认，否则短信、电子邮件等发送原约定邮箱或手机号码，发出即视为送达。双方特别约定在仲裁过程中衢州仲裁委员会除可通过短信、电子邮件进行送达外亦可通过短信链接的方式进行仲裁文书电子送达，短信发出即视为短信内容（含链接内容）已送达，短信接收方可点击链接进行查看或登陆衢州仲裁委员会网络仲裁平台（http://odr.qzzcwyh.com）查看。</p>
            <br>
            <span>十三、其他事项</span><br>
            <p>13.1有关本协议的任何修改、补充，双方均须在甲方APP平台上以电子文本形式作出；</p>
            <p>13.2双方均确认，本协议的签订、生效和履行以不违反法律为前提。如果本协议中的任何一条或多条违反适用的法律，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力；</p>
            <p>13.3乙方委托甲方保管所有与本协议有关的书面文件或电子信息；</p>
            <p>13.4本协议未尽事宜，由甲、乙双方协商处理，或者按国家有关法律、法规的规定执行；</p>
            <p>13.5本协议的各项补充、修订或变更，包括本协议的附件、附录及补充协议，为本协议的完整组成部分；</p>
            <p class="text_decor">13.6本协议中所使用的定义，除非另有规定，甲方享有解释权。</p>

            <br>
            <p>甲方：$!{jfCompany}</p>
            <p>乙方： $!{realName}</p>
            <p>签署时间：$!{gmtSign} </p>

    </div>
</body>

</html>