<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="20170909")
    #set($src="https://f.51fanbei.com/h5/app/activity/10")
    <meta charset="UTF-8">
    <title>iPhoneX</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/10/iphoneX.css">
</head>
<body>
<div class="bigBox">
    <div class="mask" v-show="ruleShow==='Y'" @click="maskClick()"></div>
    <div class="alertRule" v-show="ruleShow==='Y'">
        <p class="ruleTitle">活动规则</p>
        <p class="ruleCont">1.预约时间内预约成功的用户，即可领取200元代金券，至‘我的-抵用券’里查看，优惠券将在12小时之内发放至账户；<br/>
        2.预约用户可享受购机立减200元，并享有首批iPhoneX预先发货权，另外前50名下单额外赠送价值188元官方配件大礼包（限iPhone x）；<br/>
        3.每个账号每张券只能领取1次，优惠券的使用规则以券面上的使用信息为准；<br/>
        4.用户不得以营利为目的购买此商品，如存在恶意刷单行为，一经发现作封号处理，且订单会被关闭；<br/>
        5.10.25-10.26开启天天抢神券，每日限量抢完为止；<br/>
        6.活动预约结束后，预约金额1元暂不支持退款申请；<br/>
        7.本次活动最终解释权归爱上街所有；</p>
        <div class="close" v-show="ruleShow==='Y'" @click="maskClick()">X</div>
    </div>
    <div id="iphone8"  class="iphone8">
        <div class="timeList clearFix">
            <p class="time active01"><span class="active02">10.19<br/>新品预约</span></p>
            <p class="time"><span>10.25-10.26<br/>天天抢神劵</span></p>
            <p class="time"><span>10.27<br/>新品开售</span></p>
            <p class="time"><span>11.3<br/>新品发货</span></p>
        </div>
        <div class="banner">
            <img src="$src/iphoneX.png">
        </div>
        <div class="rule" @click="ruleClick()">活动规则</div>
        
        <div class="appointmentTime">
            <p class="person">预约成功总人数：{{couponCount}}</p>
            <!--<div class="orderDes" v-if="orderStatus==='SUCCESS'&&loginStatus==='Y'">恭喜您预约成功，iPhoneX将在10.27正式开售<br/>200元代金券请在“我的-抵用券”里查看</div>!-->
            <button class="btn" @click="orderAndGoodClick()">1元预约 立减200元</button>
            <p class="success">前50名成功购买iPhoneX额外送价值188元官方配件大礼包</p>
        </div>
        <div class="hotGood clearFix">
        <!--start 领劵专场!-->
            <div class="coupon">
                <div class="white-blank"><span></span></div>
                <p class="hotGoodTitle">领劵专场</p>
                <div class="startTime">10.25-26日每天0点准时开抢，每种劵限量100张</div>
                <div class="big-coupon">
                    <div class="coupon-number">
                        <span class="coupon-one">优惠券</span>
                        <img class="img-one" src="$src/eighty.png" alt="">
                        <!--<span class="money" ref="aaa">80</span>!-->
                        <!--<span class="dollar">￥</span>!-->
                        <button class="rightNow status80" @click="orderAndGoodClick()">立即领取</button>
                    </div>
                    <div class="coupon-number jianju">
                        <span class="coupon-one">优惠券</span>
                        <img class="img-one" src="$src/oneHundred.png" alt="">
                        <!--<span class="money">100</span>!-->
                        <!--<span class="dollar-two">￥</span>!-->
                        <button class="rightNow status100" @click="orderAndGoodClick()">立即领取</button>
                    </div>
                    <div class="coupon-number">
                        <span class="coupon-one">优惠券</span>
                        <img class="img-one" src="$src/fifty.png" alt="">
                        <!--<span class="money">150</span>!-->
                        <!--<span class="dollar-three">￥</span>!-->
                        <button class="rightNow status150" @click="orderAndGoodClick()">立即领取</button>
                    </div>
                </div>
            </div>
            <!--end 领劵专场!-->
            <div class="white-blank"><span></span></div>
            <p class="hotGoodTitle">最热iphone系列</p>
            <div class="goodList01 clearFix" v-for="item in content.secondList" @click="orderAndGoodClick()">
                <p class="goodImg"><img class="lazy" :src="item.goodsIcon"></p>
                <p class="goodName" style="-webkit-box-orient: vertical;">{{item.goodName}}</p>
                <!--<p class="goodDes" style="-webkit-box-orient: vertical;">9.21-9.22限时秒杀，正品全国行</p>!-->
                <p><span class="nowPrice">￥{{item.saleAmount}}</span><span class="originPrice">原价:{{item.priceAmount}}</span></p>
                <p class="fanMoney">返<span>{{item.rebateAmount}}</span>元</p>
                <p class="monthPrice" v-if="item.nperMap.isFree==='0'">月供<span>{{item.nperMap.amount}}</span>元起</p>
                <p class="monthPrice" v-if="item.nperMap.isFree==='1' || item.nperMap.isFree==='2'">月供<span>{{item.nperMap.freeAmount}}</span>元起</p>
                <!--<p class="limitTime">限时秒杀</p>!-->
            </div>
            <div class="goodList02 clearFix" v-for="item in content.thirdList" @click="orderAndGoodClick()">
                <p class="goodImg"><img class="lazy" :src="item.goodsIcon"></p>
                <p class="goodName"  style="-webkit-box-orient: vertical;">{{item.goodName}}</p>
                <!--<p class="goodDes" style="-webkit-box-orient: vertical;">正品国行全网通4G</p>!-->
                <p><span class="nowPrice">￥{{item.saleAmount}}</span><span class="originPrice">原价:￥{{item.priceAmount}}</span></p>
                <div style="padding-left:.17rem;">
                <p class="fanMoney">返<span>{{item.rebateAmount}}</span>元</p>
                <p class="monthPrice" v-if="item.nperMap.isFree==='0'">月供<span>{{item.nperMap.amount}}</span>元起</p>
                <p class="monthPrice" v-if="item.nperMap.isFree==='1' || item.nperMap.isFree==='2'">月供<span>{{item.nperMap.freeAmount}}</span>元起</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/dist/activity/10/iphoneXShare.js"></script>
</body>
</html>