<!DOCTYPE html>
<html>
<head>
    #set($version="201708162230")
    #set($commonUrl="https://f.51fanbei.com/h5")
    <title>上月获奖名单</title>
    <link rel="stylesheet" type="text/css" href="/dist/css/app/invite.css?version=$version">
</head>
<body>
	<div class="banner">
		<img src="$commonUrl/app/activity/09/invite/invite1.png">
		<img src="$commonUrl/app/activity/09/invite/invite2.png">
		<div class="activityrule"></div>
		<div class="invitecode">点击复制您的邀请码：<span>jjfdf8</span></div>
		<div class="cash">立即领取60元现金</div>
	</div>
<script>
	
</script>
</body>
</html>