<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="201802261648")
    #set($commonUrl="https://f.51fanbei.com/h5/app/images/sys")
    <meta charset="UTF-8">
    <title>其他还款方式</title>
    #*<link rel="stylesheet" href="/dist/css/app/otherRepaymentType.css?version=$version">*#
</head>
<body>
   #*<div id="otherRepay" class="otherRepay">
       <div class="banner">
           <img src="$commonUrl/repay01.png">
       </div>
       <div class="alipay clearFix">
           <img class="alipayIcon" src="$commonUrl/repay02.png">
           <p class="alipayTitle">支付宝转账</p>
           <p class="alipayNum">支付宝账号：13777564272@163.com</p>
           <p class="numDes">(浙江阿拉丁电子商务股份有限公司)</p>
       </div>
       <div class="alipayStep">
           <img src="$commonUrl/repay03.png">
       </div>
       <div class="cardPay clearFix">
           <img class="cardPayIcon" src="$commonUrl/repay04.png">
           <p class="cardPayTitle">银行卡转账</p>
           <p class="cardPayNum"><span>户&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</span>：浙江阿拉丁电子商务股份有限公司<br/><span>账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</span>：5719 0851 8510 808<br/>开&nbsp;户&nbsp;行：招商银行杭州钱塘支行</p>
           <div class="cardPayDes clearFix">
               <p>备注：</p>
               <p><span>银行卡转账可参考支付宝转账流程，选择“转到银行卡”或选择银行门店转账。</span><i>请务必备注爱上街注册手机号。</i></p>
           </div>
       </div>
       <div class="kong"></div>
       <img class="secondStepTitle" src="$commonUrl/repay05.png">
       <div class="secondStep">
           <p><span></span>若提示银行卡未开通在线支付，请将银行卡开通在线支付功能。</p>
           <p>开通方式：<br/>电脑进入银联在线官网  <a href="https://www.95516.com/portal/open/init.do?entry=open">https://www.95516.com/portal/open/init.do?entry=open</a>或者下载APP“云闪付”添加银行卡开通在线支付功能。</p>
           <p><span></span>若仍未还款成功，您可以先尝试绑定一张其他银行卡进行操作。</p>
           <p><span></span>若提示支付次数超限，则表示今日无法再使用此卡，需要绑定其他卡进行还款，确保银行卡资金充足再进行操作，或进行支付宝，银行卡转账还款。</p>
       </div>
       <div class="warmTips">
           <img src="$commonUrl/repay06.png">
           <p><span></span>支付宝、银行卡还款会在2-3个工作日处理完成，处理期间如产生逾期费用和记录，系统将进行自动减免和处理，请耐心等待；</p>
           <p><span></span>若有疑问请联系客服电话：400-002-5151<br/>QQ：3423256211</p>
       </div>
       <div class="warmTips otherTips">
           <img id="otherTipsImg" src="$commonUrl/repay09.png">
           <p><span></span>爱上街还款优先选择App还款，支付宝及银行卡收款账号均为公司账号（浙江阿拉丁电子商务股份有限公司），不支持微信，QQ、支付宝个人账号收款；</p>
           <p><span></span>注意信息安全，不泄漏任何验证码，银行卡密码，身份信息，不要相信任何个人发送的借款链接及转账至个人账号还款，如遇此情况，请联系爱上街客服<a href="tel:400-002-5151">400-002-5151</a>。</p>
       </div>
   </div>*#
   <script type="text/javascript">
       window.location.href='https://h5.51fanbei.com/h5/otherRepay/otherRepay.html';
   </script>
</body>
</html>