<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品回收协议</title>
    <style type="text/css">
        .fenqiServiceProtocol .title{
            text-align: center;
        }
        ul{
            border: 1px solid #111;
        }
        ul li{
            border-bottom: 1px solid #111;
            overflow-x: hidden;
        }
        ul li:last-child{
            border-bottom: 0;
        }
        ul li i:first-child{
            width: 35%;
            text-align: center;
            border-right: 1px solid #111;
            margin-right: 0.2rem;
        }
        ul li i:last-child{
            width: 60%;
        }
    </style>
</head>
<body style="background-color: #fff;">
<div class="protocol fenqiServiceProtocol" id="goodsRecoverProtocol">
    <h2>商品回收协议</h2>
    <div>
        <span style="position: absolute;right:.1rem">协议编号：$!{borrowNo}</span><br>
        甲方（买受人）： $!{lender}<br><br>
        乙方（出卖人）： $!{realName}<br>
        身份证号： $!{idNumber}<br>
        联系方式： $!{mobile}<br><br>
        <span>鉴于：</span><br>
        1、甲方是一家注册地在中华人民共和国境内，依法成立并有效存续的有限责任公司，愿意收购乙方合法自有的商品。<br><br>
        2、乙方是居住在中华人民共和国境内、符合中华人民共和国法律规定的具有完全民事权利能力和民事行为能力，能独立行使和承担本协议项下权利义务的自然人，愿意将其合法自有的商品出售给甲方。<br><br>
        3、标的物：即本协议中由出卖人向买受人出售的合法自有商品。甲方双方本着自愿、平等、互利的原则,根据«中华人民共和国合同法»等相关法律法规的要求,就乙方向甲方的出售商品的事宜, 达成如下一致协议：<br><br>
        <span>一、标的物基本信息</span><br>
        该标的物信息如下：<br>
        <ul>
            <li><i>商品名称</i><i>$!{goodsName}</i></li>
            <li><i>商品规格</i><i>$!{goodsModel}</i></li>
            <li><i>商品回收交易价格</i><i>人民币$!{amount}元</i></li>
            <li><i>寄达天数</i><i>$!{type}天</i></li>
        </ul><br/>
        <span>二、支付方式</span><br>
        1、甲乙双方对本协议所述标的物相关信息全部认可，自主自愿依据本协议规定的内容，由甲方向乙方支付标的物回收相应交易金额。<br><br>
        2、在本协议签署生效之日，甲方及/或其合作平台将本协议约定的交易金额直接或间接地通过甲方及/或甲方合作平台在银行或第三方支付机构开设的账户支付至乙方在签订本协议时确认的银行账户即视为甲方履行了支付义务。<br><br>
        3、甲方将从交易金额实际支付之日开始计算标的物的寄达天数，且乙方不得以任何理由拒绝履行本协议项下的标的物寄付义务。<br><br>
        <span>三、甲方的权利义务</span><br>
        1、甲方承诺其所用于购买本协议标的物的自有资金来源合法，甲方是该资金的合法所有人。<br><br>
        2、甲方同意以网络页面点击确认或其他方式（包括但不限于签章确认等方式）签订本协议，并不以此为由拒绝履行本协议项下的义务。<br><br>
        3、因甲方对回收实名制的需要，乙方确认并同意，自乙方确认出售后，即视为授权同意甲方使用其经乙方授权后自行收集得或由乙方提供的乙方相关资料及真实信息（包括但不限于本人个人信息及正常信用信息、不良信用信息等）。<br><br>
        4、甲方承诺对乙方及标的物完成必要的线上验证后，将自行或委托通过合作平台及时将约定的交易金额支付至乙方指定账户。乙方理解并同意，甲方将从交易金额实际支付之日起计算寄达天数，若超出约定的天数，甲方有权收取违约金。<br><br>
        5、甲方应当在收到乙方寄达标的物后3个工作日内，对标的物及配件（若有）的使用情况自行或委托有资质的第三方检验机构进行查验、测试，并将查验结果于2个工作日内通知乙方。<br><br>
        6、在甲方签收标的物并经查验后，若标的物存在超出乙方出售时明示的、不在正常商品使用范围内的损坏或灭失，概由乙方自行承担, 甲方有权追究乙方的违约责任。<br><br>
        7、对乙方寄出的标的物内的遗留物件、软件或信息等，甲方不承担保管责任。对于收到的标的物，甲方将抹除所有数据，将其还原至出厂初始状态。<br><br>
        8、甲方有权将其在本协议项下所有权利委托给认可的第三方行使，乙方同意并认可上述授权行为。<br><br>
        <span>四、乙方的权利义务</span><br>
        1、乙方承诺和保证对本协议的标的物拥有合法、完整的所有权，且标的物上未设定任何债权、担保物权及其他权利，标的物所有权不存在任何瑕疵。<br><br>
        2、乙方承诺和保证本协议的标的物为合法来源，不存在任何被执法机关追索、或被任意第三方提出权利主张的情形。承诺非山寨机、高仿机、非原装产品、非法渠道物品（如失窃、抢劫等），且未就该数码产品进行改机、私拆、伪造机版、零件等行为。<br><br>
        3、乙方保证填写的标的物的参数信息准确、真实、完整，不存在任何虚假描述、重大隐瞒及其他可能影响本次交易实现的行为。因以上任何陈述不真实、不准确而导致的任何损失，均由乙方自行承担。<br><br>
        4、乙方承诺确认出售前已经确认取消连接该产品的相关网络或服务合约，以及注销相应系统的相关账户信息等。若因此导致甲方无法验收确认，责任概由乙方承担。<br><br>
        5、乙方同意以网络页面点击确认或其他方式签订本协议，并不以此为由拒绝履行本协议项下的义务，即便在签订时本协议没有第一条的标的物的部分信息、签订日期信息等。乙方不得否认本协议项下商品买卖关系或以任何方式撤回、撤销本协议。<br><br>
        6、乙方同意甲方自行或委托合作平台根据本协议约定将交易金额划转至乙方的指定账户即视为甲方已履行完毕交易金额支付义务。乙方应保证其指定账户状态正常，如因前述指定账户不正常导致的所有损失（如资金无法及时入账等情况）应由其自行承担。<br><br>
        7、乙方不得将本协议项下的任何权利义务转让给任何其他方。<br><br>
        8、乙方应及时履行交付义务，根据甲方提供的交付地址使用顺丰速运保价服务寄出标的物，保价额度不得低于交易金额，产生的相关费用由乙方承担。乙方应保障妥善保管、包装标的物及配件（若有），若在寄送过程中产生的意外损害，由乙方自行承担。<br><br>
        9、乙方未在本协议约定天数内寄达本协议标的物的（除不可抗力因素外），视为取消交易，应当向甲方支付违约金及可能因此产生的其他费用。<br><br>
        10、乙方确认并同意，乙方未在约定天数内寄达本协议标的物时，甲方可授权第三方机构以甲方的名义进行催要；乙方知悉该情况并无异议，不得以任何理由拒绝寄出协议标的物。且甲方（或者其授权的第三方）可就该违约事件通过拜访、电话、邮寄、短信、网络等合法形式，提醒或督促乙方，并且同意甲方向该第三方披露此违约事件。<br><br>
        11、乙方应当妥善保管个人账号、密码以及其他交易信息，凡使用乙方账号密码进行的交易均视为乙方本人所为，乙方应承担因账号密码保管不善（包括但不限于被盗用等）造成的风险损失。<br><br>
        12、乙方承诺不会利用甲方及平台方进行信用卡套现、洗钱或其他不正当交易行为，否则应依法独立承担法律责任。<br><br>
        <span>五、违约责任</span><br>
        1、协议各方均应严格履行协议义务，非经各方协商一致或依照本协议约定，任何一方不得解除本协议。<br><br>
        2、任何一方违约，违约方应承担因违约使得其他各方产生的费用和损失，包括但不限于调查取证费、仲裁费、律师费等为实现主张所发生的全部费用。<br><br>
        3、若乙方未在本协议约定天数内寄达本协议标的物，甲方有权单方面认为交易取消，乙方应当向甲方支付取消交易违约金及逾期违约金，一旦发生逾期行为，逾期违约金按日计算。违约金计算方式如下：<br>
        违约金=取消订单违约金+逾期违约金总和<br>
        取消交易违约金=交易金额*寄达天数*取消交易日费率（取消交易日费率=#if($!{riskDailyRate}){{changeRate($!{riskDailyRate})}}#end）<br>
        每日逾期违约金=逾期未支付完毕的交易金额*逾期违约日费率（逾期违约日费率=#if($!{overdueRate})$!{overdueRate}#end%）<br><br>
        4、在乙方取消交易后，甲方有权通过乙方在签订本协议时指定的银行账号扣除乙方应承担的所有费用（包括但不限于手续费（若有）、违约金等）。乙方了解上述违约信息可能影响乙方在征信机构处的信用状况。<br><br>
        5、乙方涉及其他违约情形的，甲方有权单方面宣布本协议提前到期，要求乙方提前寄出标的物。<br><br>
       <span>六、法律适用和争议解决</span><br>
       1、本协议的有效性、解释、执行及履行和争议解决应适用中华人民共和国的法律和法规。<br><br>
       2、在发生因履行本协议而引起的或与本协议有关的争议时，各方应首先通过友好协商解决争议。若经协商仍未能解决，双方一致同意将争议提交甲方住所地人民法院诉讼解决。因解决争议所产生的一切费用（包括但不仅限于诉讼费、保全费及保全担保费、律师费、公告费、公证费、见证费、鉴定费、交通费等）由败诉方承担。<br><br>
       3、当产生任何争议及任何争议正在法院审理时，除争议事项外，双方应继续行使其剩余的相关权利，履行其本协议项下的其他义务。<br><br>
       <span>七、 附则</span><br>
       1、本协议采用电子文本形式制成，并保存在甲方为此设立的专用服务器上备查，各方确认并同意甲方提供的与本协议有关的书面文件或电子信息在无明显错误的情况下应作为本协议有关事项的终局证明。<br><br>
       2、本协议自乙方在页面上点击 “确认出售”按钮（具体点击页面以平台上实际展示页面为准），即表明乙方已经先行认真阅读了本协议的全部内容，完全理解和认可本协议的全部内容且无异议。本条款于乙方点击“确认出售”按钮之时自动生效，并发生法律效力。<br><br>
       3、除非法律规定、政府部门要求或本协议另一方事先书面同意，任何一方不应发布或公告本协议和/或其任何有关事项。<br><br>
       4、如果本协议中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。<br><br>
        甲方：$!{lender}<br>
        乙方：$!{realName}<br>
        <span style="position: absolute;right:.1rem">签署时间：#if($!{gmtCreate})$dateUtil.formatDate($!{gmtCreate},"yyyy-MM-dd")#end</span><br>
        <span style="position: absolute;right:.1rem">签署地点：杭州市滨江区</span>
    </div>
</div>
<script type="text/javascript">
    new Vue({
        el:'#goodsRecoverProtocol',
        methods:{
            changeRate: function(num){ // 利率截取最后两位小数
                var rate=num;
                rate = (rate*100).toFixed(4);   //截取小数点后4位
                // rate = parseFloat(rate);
                if(rate){
                    return rate+'%';
                }else{
                    return '';
                }
            },
            changePrincipal: function(principalNum){ // 本金金额保留二位小数
                principalNum = parseFloat(principalNum);
                principalNum = principalNum.toFixed(2);     //截取小数点后2位
                return principalNum;
            },
            changeRateType: function(principalNum){ // 按年化取利率
                principalNum = parseFloat(principalNum);
                principalNum = principalNum/360;     //按年化取利率360
                principalNum = principalNum.toFixed(2);     //截取小数点后2位
                return principalNum;
            }
        }
    });
</script>
</body>
</html>
