<!DOCTYPE html>
<html>
<head>
    #set($version="201708101600")
    #set($commonUrl="https://img.51fanbei.com/h5/app/images/user")
    <title>爱上街</title>
    <link rel="stylesheet" type="text/css" href="/dist/css/user/login.css">
</head>
<body>

<img src="$commonUrl/login.png">
<img src="$commonUrl/login2.png">

<div id="wrap">
    <div class="title">{{title()}}</div>
    <marquee behavior="scroll" direction="up" scrollamount="1" bgcolor="transparent" class="mar17">
        <p>用户131****8880 成功借款 8000元</p>
        <p>用户137****9767 成功借款 6000元</p>
        <p>用户186****2099 成功借款 7000元</p>
        <p>用户178****3863 成功借款 6000元</p>
        <p>用户187****9793 成功借款 4000元</p>
        <p>用户176****0389 成功借款 6000元</p>
        <p>用户157****3696 成功借款 5000元</p>
        <p>用户183****7197 成功借款 4000元</p>
        <p>用户137****0925 成功借款 7000元</p>
        <p>用户135****5276 成功借款 3000元</p>
        <p>用户187****0576 成功借款 6000元</p>
    </marquee>

    <div @click="cli()" class="btn">{{btn()}}</div>

</div>
<a href="tel:4000025151" style="height:1rem;width:7.5rem;margin-top: -1rem;position: relative;z-index: 20;"></a>
<script src="/dist/js/user/welcome.js"></script>
</body>
</html>

