<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="20170904")
    #set($src="https://f.51fanbei.com/h5/app/activity/08")
    <title>apple开学季</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/08/appleStartSchool.css">
</head>
<body>
<div id="appleStartSchool">
    <div class="banner"><img :src="content.bannerUrl"></div>
    <div class="couponList clearFix">
        <div class="coupon" v-for="item in couponCont.couponInfoList" @click="couponClick(item)">
            <p class="couponMoney">￥<span>{{item.amount}}</span><span>优惠券</span></p>
            <p class="couponRule" v-if="item.limitAmount>0">满{{item.limitAmount}}元使用</p>
            <p class="couponRule" v-else>无门槛</p>
            <p class="buyNow" v-if="item.drawStatus==='N'">立即领取</p>
            <p class="buyNow" v-if="item.drawStatus==='Y'">已领取</p>
        </div>
    </div>
    <div class="firstCont clearFix">
        <div class="contTitle"></div>
        <div class="good" v-for="item in content.oneLevelGoodsInfo.goodsList" @click="goodClick(item)">
            <p class="goodImg"><img class="lazy" :data-original="item.goodsIcon"></p>
            <p class="goodDes">{{txtFix(item.goodName,8)}}</p>
            <p class="goodPrice clearFix"><span class="originPrice">￥{{item.saleAmount}}</span><span class="fan"></span><span class="fanMoney">￥{{item.rebateAmount}}</span></p>
            <p class="monthPrice" v-if="item.nperMap.isFree==='1'|| item.nperMap.isFree==='2'">月供￥{{item.nperMap.freeAmount}}起</p>
            <p class="monthPrice" v-if="item.nperMap.isFree==='0'">月供￥{{item.nperMap.amount}}起</p>
        </div>
    </div>
    <div class="firstCont secondCont clearFix">
        <div class="contTitle"></div>
        <div class="good" v-for="item in content.twoLevelGoodsInfo.goodsList" @click="goodClick(item)">
            <p class="goodImg"><img class="lazy" :data-original="item.goodsIcon"></p>
            <p class="goodDes">{{txtFix(item.goodName,8)}}</p>
            <p class="goodPrice clearFix"><span class="originPrice">￥{{item.saleAmount}}</span><span class="fan"></span><span class="fanMoney">￥{{item.rebateAmount}}</span></p>
            <p class="monthPrice" v-if="item.nperMap.isFree==='1'|| item.nperMap.isFree==='2'">月供￥{{item.nperMap.freeAmount}}起</p>
            <p class="monthPrice" v-if="item.nperMap.isFree==='0'">月供￥{{item.nperMap.amount}}起</p>
        </div>
    </div>
</div>
<script type="text/javascript" src="/dist/activity/08/appleStartSchool.js?version=$version"></script>
</body>
</html>