<!DOCTYPE html>
<html lang="en">
<head>
    #set($version="20170909")
    #set($src="https://img.51fanbei.com/h5/app/activity/10")
    <meta charset="UTF-8">
    <title>浙商银行</title>
    <style>
        .btn{
            font-size: .34rem;
            position: fixed;
            bottom:0;
            height: 1.2rem;
            width: 7.5rem;
            background: white;
        }
        .btn a {
            background: #e70012;
            color:white;
            width: 7.2rem;
            margin: .16rem auto;
            height: .88rem;
            line-height: .88rem;
            text-align: center;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<img src="$src/zhe1 (1).jpg" />
<img src="$src/zhe1 (2).jpg" />
<img src="$src/zhe1 (3).jpg" />
<img src="$src/zhe1 (4).jpg" />
<img src="$src/zhe1 (5).jpg" />
<img src="$src/zhe1 (6).jpg" />
<img src="$src/zhe1 (7).jpg" />
<img src="$src/zhe1 (8).jpg" />
<img src="$src/zhe1 (9).jpg" />
<div class="btn"><a onclick="mai()" href="https://e.czbank.com/weixinHTML/outInterface/creditCardApplyTemplateOutside.html?apOrigin=1348&pageFlag=a1111">立即办卡</a></div>
</body>
<script src="/dist/activity/10/czbank.js"></script>
</html>