<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>activepart</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/06/activepart.css">
</head>

<body>
    <!-- 主题 -->
    <div class="theme">
    <!-- 头部 -->
        <div class="theme-top">
            <a href="#"><</a>
            <span>...618主题</span>
        </div>
        <img src="" alt="" style="background-color: red; height:5.0rem;">
    <!-- 精品推荐 -->
        <div class="theme-main">
          <div class="pic-head" style="text-align:center">
                <div class="line-out">
                    <span class="line"></span>
                </div>
                <span class="txt">精品推荐</span>
                <div class="line-out">
                     <span class="line"></span>
                </div>
        </div>
            <ul class="bootique">
                <li class="boot-1">
                    <a href="#"></a>
                    <div class="b-1-r">
                        <p class="discount">618折上更有超级返利</p>
                        <p class="price"><u>￥</u>5.20</p>
                        <p class="back"><u class="return">返</u><u>￥</u>1.20*2</p>
                        <p class="rob">马上抢</p>
                    </div>
                </li>
                <li class="boot-1">
                    <a href="#"></a>
                    <div class="b-1-r">
                        <p class="discount">618折上更有超级返利</p>
                        <p class="price"><u>￥</u>5.20</p>
                        <span class="buy">值得买</span>
                        <p class="rob">马上抢</p>
                    </div>
                </li>
                <li class="boot-1">
                    <a href="#"></a>
                    <div class="b-1-r">
                        <p class="discount">618折上更有超级返利</p>
                        <p class="price"><u>￥</u>5.20</p>
                        <span class="buy">值得买</span>
                        <p class="rob">马上抢</p>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <!-- 类目图片1 -->
        <div class="theme-main">
          <!-- 菜单栏 -->
           <div class="picture-menu">
               <ul class="menu">
                   <li><a href="javascript:;">新机专场</a></li>
                   <li><a href="javascript:;">电脑办公</a></li>
                   <li><a href="javascript:;">娱乐影音</a></li>
                   <li><a href="javascript:;">小家电</a></li>
                   <li><a href="javascript:;">大家电</a></li>
               </ul>
           </div>
           <div class="pic-head" style="text-align:center">
                <div class="line-out">
                    <span class="line"></span>
                </div>
                <span class="txt">类目图片</span>
                <div class="line-out">
                     <span class="line"></span>
                </div>
         </div>
            <ul class="bootique">
                 <li class="boot-1">
                    <a href="#"></a>
                    <div class="b-1-r">
                        <p class="discount">618折上更有超级返利</p>
                        <p class="price"><u>￥</u>5.20</p>
                        <p class="back"><u class="return">返</u><u>￥</u>1.20*2</p>
                        <p class="rob">马上抢</p>
                    </div>
                </li>
                <li class="boot-1">
                    <a href="#"></a>
                    <div class="b-1-r">
                        <p class="discount">618折上更有超级返利</p>
                        <p class="price"><u>￥</u>5.20</p>
                        <span class="buy">值得买</span>
                        <p class="rob">马上抢</p>
                    </div>
                </li>
                <li class="boot-1">
                    <a href="#"></a>
                    <div class="b-1-r">
                        <p class="discount">618折上更有超级返利</p>
                        <p class="price"><u>￥</u>5.20</p>
                        <span class="buy">值得买</span>
                        <p class="rob">马上抢</p>
                    </div>
                </li>
                <li class="boot-1">
                    <a href="#"></a>
                    <div class="b-1-r">
                        <p class="discount">618折上更有超级返利</p>
                        <p class="price"><u>￥</u>5.20</p>
                        <p class="back"><u class="return">返</u><u>￥</u>1.20*2</p>
                        <p class="rob">马上抢</p>
                    </div>
                </li>
                <li class="boot-1">
                    <a href="#"></a>
                    <div class="b-1-r">
                        <p class="discount">618折上更有超级返利</p>
                        <p class="price"><u>￥</u>5.20</p>
                        <span class="buy">值得买</span>
                        <p class="rob">马上抢</p>
                    </div>
                </li>
                <li class="boot-1" id="more">
                    <a href="#"></a>
                    <div class="b-1-r">
                        <p class="discount">618折上更有超级返利</p>
                        <p class="price"><u>￥</u>5.20</p>
                        <span class="buy">值得买</span>
                        <p class="rob">马上抢</p>
                    </div>
                     <p class="more">更多</p>
                </li>
            </ul>
        </div>
    <!--  类目图片2 -->
         <div class="theme-main">
           <div class="pic-head" style="text-align:center">
                <div class="line-out">
                    <span class="line"></span>
                </div>
                <span class="txt">类目图片</span>
                <div class="line-out">
                     <span class="line"></span>
                </div>
         </div>
            <ul class="bootique">
                <li class="boot-1">
                    <a href="#"></a>
                    <div class="b-1-r">
                        <p class="discount">618折上更有超级返利</p>
                        <p class="price"><u>￥</u>5.20</p>
                        <p class="back"><u class="return">返</u><u>￥</u>1.20*2</p>
                        <p class="rob">马上抢</p>
                    </div>
                </li>
                <li class="boot-1">
                    <a href="#"></a>
                    <div class="b-1-r">
                        <p class="discount">618折上更有超级返利</p>
                        <p class="price"><u>￥</u>5.20</p>
                        <span class="buy">值得买</span>
                        <p class="rob">马上抢</p>
                    </div>
                </li>
                <li class="boot-1">
                    <a href="#"></a>
                    <div class="b-1-r">
                        <p class="discount">618折上更有超级返利</p>
                        <p class="price"><u>￥</u>5.20</p>
                        <span class="buy">值得买</span>
                        <p class="rob">马上抢</p>
                    </div>
                </li>
            </ul>
        </div>
</body>
</html>
<script type="text/javascript" src="/dist/activity/06/activepart.js"></script>