<!DOCTYPE html>
<html>
<head>
    #set($version="20170602")
	#set($commonUrl="https://fs.51fanbei.com/h5/app/activity/06")
    <meta charset="UTF-8">
    <title>获奖名单滚动显示</title>
    <link rel="stylesheet" type="text/css" href="/dist/activity/06/gunlun.css?version=$version">
</head>
<body>
<div id="scrollData">
	<h1>恭喜您获得实物大奖！点击右下角+号查看和提交个人信息！</h1>
	<!-- <h1>很遗憾，您暂未中奖，请静等下一波！</h1> -->
	<!-- <h1>恭喜您获得幸运大奖，奖项已发送至：我的-抵用券!</h1> -->
	<div id="roll">
        <ul>
          <!-- <li>
             <div class="personImg"></div>
             <h2><span>15666666666</span>获得<span>100抵10元优惠券</span></h2>
          </li>
          <li>
             <div class="personImg"></div>
             <h2><span>15777777777</span>获得<span>100抵10元优惠券</span></h2>
          </li>
          <li>
             <div class="personImg"></div>
             <h2><span>15888888888</span>获得<span>100抵10元优惠券</span></h2>
          </li>
          <li>
             <div class="personImg"></div>
             <h2><span>15999999999</span>获得<span>100抵10元优惠券</span></h2>
          </li> -->
        </ul>
    </div>
	<a class="linkPersonInfo" href="personInfo.html">+</a>
	<div id="countDownTime">
		<h3></h3>
		<h4>开奖倒计时</h4>
	</div>
</div>

<script type="text/javascript" src="/dist/activity/06/gunlun.js?version=$version"></script>
</body>
</html>