/*
* @Author: Yangyang
* @Date:   2017-02-18 16:32:54
* @Last Modified by:   Yangyang
* @Last Modified time: 2017-02-20 14:16:17
* @title:  公用的样式
*/

/*公用的字体颜色*/
.clr_1 { color: #111; }
.clr_6 { color: #666; }
.clr_9 { color: #999; }
.clr_red { color: #EB0000; }

/*公用的背景色*/
.bgc_orange { background-color: #FE963B; }
.bgc_cf { background-color: #CFCFCF; }
.bgc_white { background-color: #fff; }
.bgc_e { background-color: #eee; }

/*公用的字体大小*/
.fs_11 { font-size: 0.275rem; }
.fs_12 { font-size: 0.3rem; }
.fs_13 { font-size: 0.325rem; }
.fs_14 { font-size: 0.35rem; }
.fs_16 { font-size: 0.4rem; }
.fs_18 { font-size: 0.45rem; }
.fsc_f { color: #fff; }

/*浮动、居中、圆角*/
.fl { float: left; }
.fr { float: right; }
.tal { text-align: left; }
.tac { text-align: center; }
.tar { text-align: right; }
.brd_4 { border-radius: 0.1rem; }
.bdr_cb { border: 1px solid #CBCBCB; }





