/*
* @Author: Yangyang
* @Date:   2017-02-13 14:20:33
* @Last Modified by:   Yangyang
* @Last Modified time: 2017-04-18 11:43:58
* @title:  领取优惠券
*/


.receiveCoupons_main{
	margin-top: 0.8rem;
}
.receiveCoupons_main li,.receiveCoupons_ylq,.receiveCoupons_ylw{
	position: relative;
	width: 7.24rem;
	height: 2.28rem;
	margin: 0 auto 0.2rem;
	background-image: url(/images/app/user/0206yhq.png);
}
.receiveCoupons_main .receiveCoupons_ylq{
	background-image: url(/images/app/user/0206yhqlq.png);
}
.receiveCoupons_main .receiveCoupons_ylw{
	background-image: url(/images/app/user/0206yhqylw.png);
}
.receiveCoupons_priceInfo{
	width: 2.6rem;
	height: 1.7rem;
	line-height: 1.7rem;
	margin-left: -0.06rem;
	font-size: 0.5rem;
}
.receiveCoupons_priceInfo span{
	margin-left: -0.06rem;
	font-size: 0.92rem;
}
.receiveCoupons_text{
	height: 1.62rem;
}
.receiveCoupons_text p:nth-child(1){
	margin-top: 0.22rem;
	font-size: 0.32rem;
}
.receiveCoupons_text p:nth-child(2){
	margin: 0.056rem 0;
}
.receiveCoupons_date{
	height: 0.52rem;
	line-height: 0.52rem;
	padding-left: 0.3rem;
	font-size: 0.22rem;
}
.receiveCoupons_btn{
	width: 1.92rem;
	height: 2.28rem;
	opacity: 0;
}